.site-header {
	background-color: #fff;
	z-index: 1;
}

.header-wrap {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	height: 60px;

	.font-icon {
		&::before {
			font-size: 16px;
			color: #58c9a6;
			margin-right: 10px;
		}
	}

	@include media-q(min, 768) {
		padding: 10px 0;
	}
}

.header-logo {
	margin: 0 auto;
	width: 90px;
	height: 43px;
	position: absolute;
	left: 0;
	top: 0;

	@include media-q(min, 768) {
		margin: 0;
		width: 170px;
	}
}

.header-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
	font-size: 14px;
	width: 770px;

}

.header-item {
	display: none;

	@include media-q(min, 768) {
		display: flex;
	}
}

.header-item-phones {
	display: flex;
	justify-content: space-between;
	margin-left: 97px;

	@include media-q(min, 768) {
		flex-direction: row;
		margin-left: 0;
	}

		a {
		font-size: 15px;
		font-weight: $f_bold;
		color: #2b2a29;

		&:hover {
			text-decoration: underline;
		}
	}
}

.header-item-phones__wrap {
	display: flex;
	flex-direction: column;

	@include media-q(min, 768) {
		flex-direction: row;
	}
}

.header-phone-right {

	@include media-q(min, 768) {
		margin-left: 15px;
	}
}

.menu-wrap{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.menu {
	padding: 64px 0;
	display: none;

	@include media-q(min, 768) {
		display: flex;
		justify-content: flex-end;
	}

	.opened-mobile-main-menu & {
		display: flex;
	}
}

.menu-group {
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: #fff;
	padding: 23px 32px;
	position: absolute;
	right: 0;
	top: 47%;
	width: 59%;
	box-shadow:0 12px 8px rgba(0, 0, 0, 0.3);

	@include media-q(min, 768) {
		white-space: nowrap;
    max-width: 220px;
    margin: 0 auto;
		background: transparent;
		padding: 0;
		width: 100%;
		box-shadow: none;
		position: static;
	}

	@include media-q(min, 1024) {
		flex-direction: row;
		max-width: 815px;
		margin: 0;
	}

}

.menu-item {
	color: #000;
	font-weight: 600;
  letter-spacing: 0.7px;
  margin-left: -26px;
	text-transform: uppercase;
	font-size: 14px;
	transition: .5s linear;
	white-space: nowrap;
	border-bottom: 4px solid transparent;

	&:hover {
		border-bottom: 4px solid #58c9a6;
		color: #000;

		@include media-q(min, 768) {
			color: #fff;
		}
	}

	@include media-q(min, 375) {
		margin-left: 0;
  }

	@include media-q(min, 768) {
		padding: 0 10px 4px;
		white-space: normal;
		color: #fff;
	}
}

ul {
	list-style: none;

	li {
		padding-top: 10px;
		padding-bottom: 10px;

		@include media-q(min, 768) {
		}
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.open-main-menu {
	position: absolute;
	right: 0;
	top: 18px;
	display: block;
  background: transparent;
	z-index: 1;
	outline: none;

  @include media-q(min, 1024) {
    display: none;
  }

  .icon-menu {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background: #000;
      margin-bottom: 6px;
      transition: transform .2s, opacity .2s ease;

      &:nth-of-type(3) {
        margin-bottom: 0;
      }

      .opened-mobile-main-menu & {
        &:nth-of-type(1) {
          transform: rotate(-135deg);
          margin-bottom: -11px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(135deg);
        }
      }
    }
  }
}

.sub-menu {
	position: relative;
	font-weight: 700;

	@include media-q(min, 768) {
	}

	> a {
		@include media-q(max, 767) {
		}
	}


	ul {
		padding-left: 30px;
		padding-top: 15px;

		@include media-q(min, 768) {
			margin-left: 32px;
			display: none;
			right: 0;
			bottom: -90px;
			animation: fadeInDown .3s ease;
			animation-fill-mode: both;
			z-index: 10;
			padding-left: 30px;
			padding-top: 20px;
		}

		@include media-q(min, 1024) {
			top: 100%;
			bottom: auto;
			position: absolute;
			margin-left: 0;
			padding: 5px 15px;
		}

		a {
			padding: 5px 0;

			@include media-q(min, 768) {
				text-align: center;
			}
		}
	}

	li {
		@include media-q(max, 767) {
			padding: 7px 0;
		}
	}

	&:hover {
		ul {
			display: block;
			color: #000;
			background: transparent;

			@include media-q(min, 768) {
				color: $white;
			}

				li {
				a {
					color: #000;

					@include media-q(min, 768) {
						color: $white;
					}
				}
			}
		}
	}
}

.has-children {
	&::after {
		content: '∨';
		display: inline-block;
		transform: scaleX(1.6);
		margin-left: 8px;
	}
}











