footer.site-footer
	.container
		.footer-column.footer-logos
			.footer-logos-group
				img(src='img/footer-logo-00.jpg' alt='Логотип')
				img(src='img/footer-logo-01.jpg' alt='Логотип')
				img(src='img/footer-logo-02.jpg' alt='Федерация лифтовых предприятий')
			p.footer-logos-text Поставка, монтаж лифтов, грузовых и инвалидных подъемников по всей России
			button.footer-logos-call.open-form-popup Звонок специалиста
		.footer-column.footer-column-menus
			include footer-menu
		.footer-column.footer-contacts
			.footer-contacts-tel-item
				a(href='tel:8 (800) 700-36-05') 8 (800) 700-36-05
			.footer-contacts-tel-item
				img(src='img/icon-viber.png' width='20px' height='23px' alt='Viber')
				img(src='img/icon-whatsapp.png' width='20px' height='20px' alt='WhatsApp')
				a(href='tel:8 (960) 813-27-11') 8 (960) 813-27-11
			.footer-contacts-email
				p Для связи с технических отделом
				a(href='mailto:titan@titan-lift.ru') titan@titan-lift.ru

	.footer-bottom
		.container
			p © 2018-2019 Лифтовой Производственный Центр "ТИТАН".
			a(href='#') Пользовательское соглашение

// choose city popup
include ../sections/popups/choose-city

// product info popup
include ../sections/popups/popup-product-info

// form popup
include ../sections/popups/form-popup
