header#header.site-header
	.header-topline
		.container
			button.header-topline-item.header-topline-city
				span Самара
			a.header-topline-item.header-topline-phone(href='tel:8(800) 700-36-05') 8(800) 700-36-05
			a.header-topline-item.header-topline-mail(href='mailto:titan@titan-lift.ru') titan@titan-lift.ru

	.header-general
		.container
			a.header-general-logo(href='/')
				img(src='img/titan-logo.png' width='313px' height='102px' alt='Лифтовый производиственный центр "ТИТАН"')
			include main-menu
			button.header-open-mobile-menu Меню
				span.icon-menu-wrap
					i.icon-animated-menu

