section.about-content
  .container
    h2 О воде
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et diam eu suscipit eleifend donec congue integer semper. Felis aliquet mus porttitor ipsum. Congue enim ullamcorper sed pretium sit. In quis egestas senectus et, molestie a enim. Tortor, lorem nulla ut odio odio orci sit. Diam bibendum turpis dui, ultrices egestas sodales venenatis integer. Libero netus risus egestas lacus aliquet diam enim. Ut et odio enim egestas pharetra. Nec id venenatis, et, orci eget eu vulputate. Velit auctor et amet, sit odio sodales sit.
    p Venenatis auctor volutpat non fringilla id dui senectus. Pharetra etiam non consectetur dictum pretium. Pellentesque ut quisque gravida morbi. Massa arcu molestie egestas habitant sagittis. Velit enim est sit porta morbi. Ornare in laoreet malesuada malesuada a et nunc. Ac pellentesque dignissim vitae metus, urna a. Interdum elit ultrices aliquet facilisi facilisis eu. Mauris est eros dolor ut vestibulum sed morbi feugiat nisi.
    p Auctor sagittis odio netus id scelerisque morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.
    .about-content__group.flex
      .about-content__item
        .about-content__item-img
          img(src="img/water-icon-01.png" alt="капля воды")
        p Описание качества воды...venenatis auctor volutpat
      .about-content__item
        .about-content__item-img
          img(src="img/water-icon-02.png" alt="капля воды")
        p Описание качества воды...venenatis auctor volutpat
      .about-content__item
        .about-content__item-img
          img(src="img/water-icon-03.png" alt="капля воды")
        p Описание качества воды...venenatis auctor volutpat
      .about-content__item
        .about-content__item-img
          img(src="img/water-icon-04.png" alt="капля воды")
        p Описание качества воды...venenatis auctor volutpat
    p Venenatis auctor volutpat non fringilla id dui senectus. Pharetra etiam non consectetur dictum pretium. Pellentesque ut quisque gravida morbi. Massa arcu molestie egestas habitant sagittis. Velit enim est sit porta morbi. Ornare in laoreet malesuada malesuada a et nunc. Ac pellentesque dignissim vitae metus, urna a. Interdum elit ultrices aliquet facilisi facilisis eu. Mauris est eros dolor ut vestibulum sed morbi feugiat nisi.
    p Auctor sagittis odio netus id scelerisque morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.
    .about-content__slider
      each item in [1,2,3]
        div
          .about-content__slider-item.show-from-tablet
            img(src="img/about-content-banner.jpg" alt="баннер")
          .about-content__slider-item.show-before-tablet
            img(src="img/about-content-banner-mob.jpg" alt="баннер")