section.about-history
  .container
    h2 История
    div
      .about-history__item
        img(src="img/about-history-01.png" alt="1").about-history__item-img
        p Auctor sagittis odio netus id scelerisque morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.
      .about-history__item
        img(src="img/about-history-02.png" alt="2").about-history__item-img.show-before-tablet
        p Auctor sagittis odio netus id scelerisque morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.
        img(src="img/about-history-02.png" alt="2").about-history__item-img.show-from-tablet
      .about-history__item
        img(src="img/about-history-03.png" alt="3").about-history__item-img
        p Auctor sagittis odio netus id scelerisque morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.
      .about-history__item
        img(src="img/about-history-04.png" alt="4").about-history__item-img.show-before-tablet
        p Auctor sagittis odio netus id scelerisue morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.
        img(src="img/about-history-04.png" alt="4").about-history__item-img.show-from-tablet
      .about-history__item
        img(src="img/about-history-05.png" alt="5").about-history__item-img
        p Auctor sagittis odio netus id scelerisque morbi. Ipsum cras enim, dictum nisl. Elementum dui nec est id porta. Pellentesque nulla adipiscing eget risus egestas cras morbi iaculis ipsum. Ornare suspendisse turpis augue lacus, curabitur scelerisque. Feugiat ac suscipit tristique non risus. Arcu habitant morbi lorem dictum adipiscing. Adipiscing quam luctus commodo in bibendum eu nunc. Facilisis pellentesque enim lorem mi maecenas. Viverra scelerisque diam egestas id faucibus vitae odio posuere. Sapien pellentesque suscipit risus suspendisse blandit metus.