section.section-404
    .container
        .section-404__title 404
            span Похоже что-то пошло не так...
        .section-thanks__btns
            a(href="#").btn На главную
            a(href="#").btn.btn-secondary КАТАЛОГ ТОВАРОВ