section.cart-popup.cart-popup-empty.section-popup
  .popup-overlay
  .section-popup__content
    .cart-popup__top.flex
      button.popup-close-icon Закрыть
      .cart-popup__title
        i.font-icon-cart
        | Корзина
    .cart-popup__content
      .cart-popup__text Ваша корзина пуста!<br> Выберите товары
      a(href="#").btn Каталог