section.cookies-popup.section-popup
  .popup-overlay
  .section-popup__content
    button.popup-close-icon
    h2  У нас тут cookies....
    p На сайте используются файлы cookies. Продолжая использование сайта, вы соглашаетесь с этим. Подробности об обработке ваших данных — в &nbsp
      a(href="#") политике конфиденциальности.