section.new-address-popup.section-popup.personal-area
  .popup-overlay
  .section-popup__content
    button.popup-close-icon
    h2  Добавить новый адрес
    .personal-area__addresses-input
      p Город
      input.input-text(type="text" placeholder="Lorem ipsum")
      p Улица
      input.input-text(type="text" placeholder="Lorem ipsum")
      .personal-area__addresses-group-input.flex
        div
          p Дом
          input.input-text(type="text" placeholder="Lorem ipsum")
        div
          p Квартира
          input.input-text(type="text" placeholder="Lorem ipsum")