section.section-thanks
    .container
        h1.section-thanks__title Дякуємо за замовлення!
        .section-thanks__sub-title Очікуйте на дзвінок для підтвердження замовлення
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .section-thanks__btns
            a(href="#").btn На главную
            a(href="#").btn.btn-secondary КАТАЛОГ ТОВАРОВ