@charset "UTF-8";
.element-hidden, .js-hide, .form-checkboxes .form-checkbox, .form-radios .form-radio,
.element-invisible {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

ul, ol, .content ol,
.content ul,
.cke_editable ol,
.cke_editable ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.group::after {
  content: '';
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.responsive-video,
.video-embed-field-responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0 !important;
  overflow: hidden;
  display: block;
}

.responsive-video iframe, .video-embed-field-responsive-video iframe,
.responsive-video object,
.video-embed-field-responsive-video object,
.responsive-video embed,
.video-embed-field-responsive-video embed,
.responsive-video .video-js,
.video-embed-field-responsive-video .video-js {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@font-face {
  font-family: 'font-icon';
  src: url("../f-icons/f-icons.eot");
  src: url("../f-icons/f-icons.eot?#iefix") format("embedded-opentype"), url("../f-icons/f-icons.woff") format("woff"), url("../f-icons/f-icons.ttf") format("truetype"), url("../f-icons/f-icons#font-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}


.font-icon-logo:before {
  content: "\e900";
}


.font-icon-arrow-top:before {
  content: "\e901";
}


.font-icon-arrow:before {
  content: "\e902";
}


.font-icon-design:before {
  content: "\e903";
}


.font-icon-development:before {
  content: "\e904";
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-ms-clear {
  display: none;
}

*::-ms-reveal {
  display: none;
}

::-webkit-input-placeholder {
  color: #1C1C1C;
}

::-moz-placeholder {
  color: #1C1C1C;
}

:-ms-input-placeholder {
  color: #1C1C1C;
}

::-ms-input-placeholder {
  color: #1C1C1C;
}

::placeholder {
  color: #1C1C1C;
}

::-moz-selection {
  background: rgba(28, 28, 28, 0.2);
}

::selection {
  background: rgba(28, 28, 28, 0.2);
}

html,
body {
  font-size: 18px;
}

html {
  font-family: Gilroy, Arial, sans-serif;
  min-height: 100vh;
}

body {
  color: #1C1C1C;
  background: #fff;
  height: auto;
  min-width: 320px;
  font-weight: 400;
  line-height: 1.14;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}

.active-menu {
  overflow: hidden;
}

.active-menu::before {
  opacity: 1;
  visibility: visible;
  z-index: 30;
}

img {
  max-width: 100%;
  height: auto;
  display: inherit;
}

figure {
  margin: 0 0 40px 0;
  text-align: center;
}

figure img {
  margin-bottom: 20px;
}

figcaption {
  font-size: 0.6875rem;
  line-height: 2em;
}

a {
  color: #1C1C1C;
  text-decoration: none;
  outline: none;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

a:hover {
  color: #1C1C1C;
}

.ext .ext {
  display: none;
}

iframe {
  max-width: 100%;
}

.mobile #livechat-compact-container {
  max-width: 80px;
  -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../img/body-bg.png") center;
}

section {
  padding: 50px 0;
}

.page-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.1;
  margin-bottom: .85em;
  font-weight: 700;
  color: #1C1C1C;
}

h1 {
  font-size: 2.0625rem;
  margin: 0 0 .75em;
  line-height: 1;
}

.headline {
  display: block;
  background-color: #ffcf59;
  margin-bottom: 40px;
}

.headline span {
  font-size: 26px;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.125rem;
  margin-bottom: .75em;
}

h5,
h6 {
  font-size: 0.9375rem;
  line-height: 1.13;
}

p {
  line-height: 1.33;
  margin: 0 0 1em;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: 600;
}

.content ol,
.content ul,
.cke_editable ol,
.cke_editable ul {
  margin: 0 0 1.5em 20px;
  padding: 0;
}

.content ol li,
.content ul li,
.cke_editable ol li,
.cke_editable ul li {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.content ol,
.cke_editable ol {
  counter-reset: section;
  padding-left: 10px;
}

.content ol li::before,
.cke_editable ol li::before {
  counter-increment: section;
  content: counter(section) ". ";
  margin-left: -15px;
}

.content ul:last-child,
.cke_editable ul:last-child {
  margin-bottom: 0;
}

.content ul li,
.cke_editable ul li {
  padding-left: 15px;
  position: relative;
}

.content ul li::before,
.cke_editable ul li::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  background: #1C1C1C;
}

blockquote {
  display: inline-block;
  font-style: italic;
  margin: 0;
}

blockquote p {
  font-size: 18px;
  line-height: 1.2;
  display: inline;
  margin: 0;
  font-family: inherit;
}

.low-margin-bottom {
  margin-bottom: 5px;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

.rtejustify {
  text-align: justify;
}

table {
  margin: 3.1em 0 2em;
  text-align: left;
  border: 0;
  color: #1C1C1C;
  width: 100%;
}

table caption {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
  color: #1C1C1C;
}

table tr:nth-child(even) {
  background: rgba(28, 28, 28, 0.25);
}

table tr td {
  border-bottom: 1px solid #1C1C1C;
}

table td {
  border: 0;
  padding: 20px;
}

table td h1:last-child,
table td h2:last-child,
table td h3:last-child,
table td h4:last-child,
table td h5:last-child,
table td h6:last-child,
table td p:last-child {
  margin-bottom: 0;
}

.gray-bg table tr:last-child td {
  border: none;
}

.table-wrapper {
  overflow-x: auto;
  margin-top: 3.1em;
  position: relative;
  background: -o-radial-gradient(0% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -o-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
  background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;
}

.table-wrapper table {
  min-width: 640px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, white), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, right top, left top, color-stop(30%, white), to(rgba(255, 255, 255, 0))) 100% 0;
  background: -o-linear-gradient(left, white 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(right, white 30%, rgba(255, 255, 255, 0)) 100% 0;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
  background-size: 50px 100%;
  background-repeat: no-repeat;
  max-width: none;
  margin-bottom: 0;
  margin-top: 0;
  width: 100% !important;
}

th {
  background: #1C1C1C;
  color: #fff;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

thead th {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

thead th:last-child {
  border-right: 0;
}

.form-item {
  margin-bottom: 20px;
}

.form-item label {
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}

.form-item .form-text {
  margin-bottom: 5px;
}

.form-item .description {
  font-style: italic;
}

.form-item .form-required {
  color: #f4371e;
}

.form-actions {
  margin-top: 40px;
}

.webform-component--form-message-row .messages {
  margin-bottom: 20px;
}

.fieldset-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

fieldset .form-item {
  width: 100%;
}

.recaptcha {
  min-width: 304px;
  margin-left: -11px;
}

.form-text,
.form-email {
  background: #fff;
  border-bottom: 1px solid #1C1C1C;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  padding: 8px 12px 9px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color .3s ease-out;
  -o-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
}

.form-text:focus,
.form-email:focus {
  outline: none;
  border-color: #1C1C1C;
  color: #1C1C1C;
}

.form-text.error,
.form-email.error {
  border-color: #f4371e;
  background-color: rgba(244, 55, 30, 0.05);
}

textarea {
  background: #fff;
  border-bottom: 1px solid #1C1C1C;
  font-family: inherit;
  font-size: inherit;
  max-width: 100%;
  width: 100%;
  padding: 12px;
  resize: vertical;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color .3s ease-out;
  -o-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
}

textarea:focus {
  outline: none;
  border-bottom-color: #1C1C1C;
}

textarea.error {
  border-color: #f4371e;
  background-color: rgba(244, 55, 30, 0.05);
}

.ie10 .form-checkboxes p {
  max-width: 90%;
}

.desktop .form-checkboxes .form-checkbox:hover + label::before {
  background: rgba(28, 28, 28, 0.6);
  border-color: rgba(28, 28, 28, 0.6);
}

.desktop .form-checkboxes .form-checkbox:hover + label::after {
  opacity: .8;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.desktop .form-checkboxes .form-checkbox:disabled + label {
  cursor: not-allowed;
  color: #1C1C1C;
}

.desktop .form-checkboxes .form-checkbox:disabled + label::before {
  background: rgba(28, 28, 28, 0.2);
}

.desktop .form-checkboxes .form-checkbox:disabled + label::after {
  opacity: .8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.desktop .form-checkboxes .form-checkbox:disabled:checked + label::before {
  background: rgba(28, 28, 28, 0.7);
}

.desktop .form-checkboxes .form-checkbox:disabled:checked + label::after {
  opacity: .8;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-checkboxes .form-checkbox:checked + label::before {
  background: #1C1C1C;
  border-color: #1C1C1C;
}

.form-checkboxes .form-checkbox:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-checkboxes .form-checkbox:disabled + label {
  cursor: not-allowed;
  color: #1C1C1C;
}

.form-checkboxes .form-checkbox:disabled + label::before {
  background: rgba(28, 28, 28, 0.2);
}

.form-checkboxes .form-checkbox:disabled + label::after {
  opacity: .8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-checkboxes .form-type-checkbox > label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 0;
}

.form-checkboxes .form-type-checkbox > label::before {
  display: inline-block;
  vertical-align: text-bottom;
  content: ' ';
  background: #1C1C1C;
  border: 1px solid #1C1C1C;
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

.form-checkboxes .form-type-checkbox > label::after {
  content: ' ';
  background: url(../img/check.svg) no-repeat center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .2s ease;
  transition: opacity .3s ease, -webkit-transform .2s ease;
  -o-transition: opacity .3s ease, transform .2s ease;
  transition: opacity .3s ease, transform .2s ease;
  transition: opacity .3s ease, transform .2s ease, -webkit-transform .2s ease;
  color: #fff;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.form-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 10px;
  position: relative;
}

.form-radios .form-radio:checked + .option::after {
  opacity: 1;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  background: #1C1C1C;
}

.form-radios .form-radio:disabled + .option {
  cursor: not-allowed;
}

.form-radios .form-radio:disabled + .option::before {
  background: #1C1C1C;
}

.description-content .form-radios .form-radio:disabled + .option::before {
  background: rgba(28, 28, 28, 0.7);
}

.form-radios .form-radio:disabled + .option:hover::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-radios .form-radio:disabled:checked + .option::after {
  opacity: 1;
  background: #1C1C1C;
}

.description-content .form-radios .form-radio:disabled:checked + .option::after {
  background: rgba(28, 28, 28, 0.5);
}

.form-radios .form-radio:disabled:checked + .option:hover::after {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.form-radios .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.45;
  position: relative;
}

.form-radios .option::before, .form-radios .option::after {
  content: ' ';
}

.form-radios .option::before {
  display: inline-block;
  height: 20px;
  min-width: 20px;
  background: #1C1C1C;
  border: 1px solid #1C1C1C;
  border-radius: 50%;
  margin: 2px 8px 0 0;
}

.form-radios .option::after {
  width: 20px;
  height: 20px;
  background: #1C1C1C;
  border-radius: 100%;
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-radios .option:hover::after {
  opacity: 1;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

select {
  font-size: 16px;
  color: #1C1C1C;
  border: 1px solid #1C1C1C;
  padding: 8px 12px 9px;
  margin-bottom: 10px;
  min-width: 280px;
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select:focus {
  outline: none;
}

.header {
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 14px rgba(0, 0, 0, 0.05);
}

.header .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo {
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.header__logo .font-icon-logo {
  margin-right: 20px;
  color: #4D90F4;
}

.header__logo span {
  display: block;
  font-weight: 400;
  font-style: italic;
}

.header__nav {
  display: none;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li a {
  padding: 15px 30px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.header__nav ul li:hover a {
  color: #4D90F4;
}

footer {
  background: #1C1C1C;
  padding: 50px 0;
}

.bs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bs-item {
  color: #1C1C1C;
  margin-bottom: 3px;
}

.bs-item::after {
  content: '\203A';
  margin: 0 10px;
  color: #1C1C1C;
}

.bs-item:last-child::after {
  display: none;
}

.bs-item a {
  color: #1C1C1C;
  text-decoration: none;
}

.bs-item a:hover {
  color: #1C1C1C;
}

.pager {
  font-size: 1rem;
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.pager .pager-item,
.pager .pager-current {
  width: 30px;
  height: 30px;
  border: 1px solid #1C1C1C;
  color: #1C1C1C;
  margin: 0 3px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pager .pager-item a,
.pager .pager-current a {
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 4px;
  -webkit-transition: color 0s ease;
  -o-transition: color 0s ease;
  transition: color 0s ease;
}

.desktop .pager .pager-item:not(.disabled):not(.skip):hover, .desktop
.pager .pager-current:not(.disabled):not(.skip):hover {
  background-color: #1C1C1C;
  color: #1C1C1C;
}

.pager .pager-current {
  background-color: #1C1C1C;
  color: #fff;
}

.pager .prev,
.pager .next {
  display: none;
}

.pager .skip {
  border-color: transparent;
  margin: 0;
  color: #1C1C1C;
}

.pager .disabled {
  color: #1C1C1C;
}

.pager .pager-previous,
.pager .pager-next,
.pager .pager-first,
.pager .pager-last {
  display: none;
}

.form-submit,
.btn, .btn--link, .slick-dots li button {
  border: none;
  outline: none;
}

.form-submit,
.btn {
  background-color: #4D90F4;
  color: #fff;
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 600;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  display: inline-block;
  text-align: center;
}

.form-submit:hover,
.btn:hover {
  color: #fff;
  opacity: .9;
}

.btn--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4D90F4;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.btn--link:hover {
  opacity: .8;
  color: #4D90F4;
}

.btn--link .font-icon-arrow {
  margin-left: 15px;
}

.btn--link .font-icon-arrow::before {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.btn--link-secondary {
  font-size: 16px;
  opacity: .6;
  color: #4D90F4;
  text-decoration: underline;
}

.form-submit {
  font-size: 1rem;
  padding: 11px 24px 12px;
  min-width: 150px;
}

.sm-list {
  margin: 80px 0;
}

.sm-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  position: relative;
}

.sm-item:hover {
  background-color: rgba(28, 28, 28, 0.15);
}

.sm-item:last-child {
  border-bottom: 0;
}

.sm-item span {
  padding: 15px;
}

.sm-link {
  color: #1C1C1C;
  text-decoration: none;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.sm-link:hover {
  color: #1C1C1C;
}

.sm-link {
  padding: 15px;
}

.page-status {
  text-transform: capitalize;
  position: absolute;
  right: 0;
}

.page-status::after {
  font-size: 0.6875rem;
  content: '';
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-transform: capitalize;
}

.page-status.ready::after {
  background: #56c02b;
}

.page-status.ready:hover::after {
  background: #50ce1d;
}

.page-status.in-progress::after {
  background: #f87c00;
}

.page-status.in-progress::after:hover::after {
  background: #f87c00;
}

.page-status.todo::after {
  background: #f4371e;
}

.page-status.todo::after:hover::after {
  background: #ff2f13;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ECECEC;
  margin: 0 10px;
}

.slick-dots li.slick-active button {
  background-color: #ffcf59;
}

.hero-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section__img {
  margin-bottom: 20px;
}

.hero-section .btn--link {
  margin-top: 30px;
}

.portfolio__tabs-nav {
  margin-bottom: 30px;
}

.portfolio__tabs-nav .btn {
  border: 1px solid #4D90F4;
  background: transparent;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 20px;
}

.portfolio__tabs-nav .btn.active {
  border: 1px solid transparent;
  background-color: #4D90F4;
  color: #fff;
}

.portfolio__tabs-nav .btn.active:hover {
  border-color: transparent;
}

.portfolio__tabs-nav .btn:hover {
  border-color: #1C1C1C;
}

.portfolio__tabs-content {
  display: none;
}

.portfolio__tabs-content.active {
  display: block;
}

.portfolio__item {
  padding: 0 15px;
}

.portfolio__item-img {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.49%, #AAF1F8), color-stop(51.42%, #F3B3CB), to(#F8CEA4));
  background: -o-linear-gradient(left, #AAF1F8 -2.49%, #F3B3CB 51.42%, #F8CEA4 100%);
  background: linear-gradient(90deg, #AAF1F8 -2.49%, #F3B3CB 51.42%, #F8CEA4 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.portfolio__item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  max-width: 220px;
}

.portfolio__item-category {
  margin-bottom: 10px;
}

.portfolio__item .btn--link-secondary {
  margin-bottom: 10px;
  display: inline-block;
}

.portfolio__item-info {
  position: relative;
}

.portfolio__item-info .font-icon {
  position: absolute;
  right: 25px;
  top: 0;
  color: #ffcf59;
}

.portfolio__item-info .font-icon::before {
  font-size: 38px;
}

.skills .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__item {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.49%, #AAF1F8), color-stop(51.42%, #F3B3CB), to(#F8CEA4));
  background: -o-linear-gradient(left, #AAF1F8 -2.49%, #F3B3CB 51.42%, #F8CEA4 100%);
  background: linear-gradient(90deg, #AAF1F8 -2.49%, #F3B3CB 51.42%, #F8CEA4 100%);
  border-radius: 20px;
  margin-bottom: 35px;
  padding: 40px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__item:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__item:last-child {
  width: 100%;
}

.skills__item-title {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

.skills__item:not(:last-child) .skills__item-title {
  margin-bottom: 30px;
}

.skills__item:last-child .skills__item-title {
  margin-right: 50px;
  margin-bottom: 30px;
}

.skills__item ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.skills__item ul li {
  font-size: 18px;
  position: relative;
}

.skills__item ul li::before {
  content: '✓';
  margin-right: 10px;
}

.skills__item:not(:last-child) ul li {
  margin-bottom: 15px;
}

.skills__item:last-child ul li {
  margin-bottom: 15px;
}

.contacts {
  text-align: center;
}

.contacts p {
  font-size: 24px;
  margin-bottom: 40px;
}

.contacts__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 55px;
  display: block;
}

.contacts__item {
  padding: 0 7px;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.contacts__item:hover {
  opacity: .9;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media only screen and (min-width: 340px) {
  .recaptcha {
    margin-left: 0;
  }
}

@media only screen and (min-width: 680px) {
  figure {
    text-align: inherit;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.375rem;
  }
  .headline {
    margin-bottom: 80px;
  }
  .headline span {
    font-size: 40px;
  }
  .table-wrapper {
    border: 0;
    background: transparent;
  }
  .table-wrapper table {
    background: none;
  }
  .header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    margin-bottom: 0;
    font-size: 18px;
  }
  .slick-dots {
    margin-top: 50px;
  }
  .hero-section .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-section__img {
    margin-right: 60px;
    width: 30%;
    margin-bottom: 0;
  }
  .hero-section__content {
    width: 80%;
    max-width: 550px;
  }
  .portfolio__tabs-nav {
    margin-bottom: 60px;
  }
  .portfolio__tabs-nav .btn {
    margin-right: 15px;
    margin-bottom: 0;
    width: inherit;
  }
  .portfolio__tabs-content {
    margin-left: -15px;
  }
  .portfolio__item-title {
    font-size: 20px;
    max-width: 260px;
  }
  .skills .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills__item {
    width: 49%;
    padding: 50px 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills__item:not(:last-child) .skills__item-title {
    margin-bottom: 40px;
  }
  .skills__item:last-child .skills__item-title {
    margin-bottom: 0;
  }
  .skills__item ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__item:last-child ul li {
    margin-bottom: 0;
    width: 50%;
  }
  .skills__item:last-child ul li:nth-child(1) {
    margin-bottom: 15px;
  }
  .contacts__item {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1024px) {
  section {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  fieldset .form-item {
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
  }
  fieldset .form-item:nth-child(2n) {
    margin-right: 0;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-section .btn--link {
    margin-top: 70px;
  }
  .skills__item:last-child .skills__item-title {
    margin-right: 150px;
  }
  .skills__item:last-child ul li:nth-child(1) {
    margin-bottom: 0;
  }
  .skills__item:last-child ul li {
    width: auto;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .active-menu {
    overflow-y: auto;
  }
}

/*# sourceMappingURL=main.css.map */
