*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
}

/* base */

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1100px;
}

.general-section {
    padding: 40px 0;
}

.site-main {
    padding-top: 70px;
}

.general-title {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}

/* header */

.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 8px 0;
    background-color: #f2efe8;
    z-index: 2;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .site-header .container {
        flex-direction: row;
    }
}

.site-header__logo__name {
    font-size: 18px;
    margin: 0;
}

.site-header__logo__position {
    font-size: 15px;
    font-style: italic;
    margin: 0;
    opacity: .7;
}

/* navigation */
.header-nav__list {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header-nav__item {
    margin: 0 15px;
}

.header-nav__link {
    color: #000;
    text-decoration: none;
    padding: 5px 0;
    transition: color .2s ease;
}

.header-nav__link:hover {
    color: #355fff;
}

/* portfolio grid */

.portfolio-group {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-group__item {
    width: 100%;
    margin: 20px;
    border: 2px solid #666;
    text-decoration: none;
    transition: box-shadow .2s ease;
}

.portfolio-group__item:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
}

@media only screen and (min-width: 768px) {
    .portfolio-group__item {
        width: calc(33% - 40px);
    }
}

.portfolio-group__item__image {
    overflow: hidden;
    position: relative;
}

.portfolio-group__item__image::after {
    content: '';
    display: block;
    padding-top: 120%;
}

.portfolio-group__item__img {
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: auto;
    transition: transform .2s ease;
}

.portfolio-group__item__image:hover .portfolio-group__item__img {
    transform: scale(1.1);
}

.portfolio-group__item__name {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: #000;
}

/* summary */
.summary {
    background-color: #f2efe8;
}

/* contacts */
.table__item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
    margin: 0 auto;
    max-width: 600px;
}

.table__type {
    font-style: italic;
    margin: 0;
    width: 30%;
}

.table__value {
    margin: 0;
    line-height: 1.2;
}

.table__value ul {
    margin: 5px 0;
    padding-left: 20px;
}

.table__value a {
    color: #355fff;
    text-decoration: none;
}

.table__value a:hover {
    text-decoration: underline;
}

/* footer */

.site-footer {
    padding: 10px 0;
    background-color: #322f32;
    color: #fff;
    text-align: center;
}