header#header.site-header
	.container
		.header-wrap
			.header-logo
				a(href="/")
					img(src="/img/header-logo.png", alt="logo")
			a.open-main-menu.icon-menu-inside(href='#')
				i.icon-menu
					span
					span
					span
			nav.menu
				//ul.menu-group
					li
						a(href="/").menu-item Преимущества        
					li.sub-menu
						a(href="#production" data-anchor='production').menu-item  О нас ▼
						ul
							li
								a(href='#') текст-текст
							li текст-текст
							li текст-текст
					li
						a(href="#results" data-anchor='results').menu-item Применение
					li
						a(href="#services" data-anchor='services').menu-item Примеры работ
					li
						a(href="#services" data-anchor='services').menu-item ...
				ul.menu-group
					+main_menu(main_menu)