include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
  include ../common_meta/head
  body
    main.page-container
      include ../sections/_404






    include ../common_meta/footer_scripts
