include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
  include ../common_meta/head
  body
    include ../components/_header
    main.page-container
      include ../sections/about/_about-hero
      include ../sections/about/_about-text-block
      include ../sections/about/_about-images
      include ../sections/about/_about-partners
      include ../sections/_contacts

    include ../components/_footer
    include ../common_meta/footer_scripts
