include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
  include ../common_meta/head
  body
    include ../components/_header
    main.page-container
      include ../sections/categories/categories-hero
      include ../sections/categories/categories-list
      include ../sections/categories/categories-products
      include ../sections/brands

    include ../components/_footer
    include ../common_meta/footer_scripts
