include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
  include ../common_meta/head
  body.front-page
    include ../components/_header
    main.page-container
      include ../sections/hero-section

    include ../components/_write-to-us
    - var use_fullwidth = true
    include ../common_meta/footer_scripts
