include ../common_help/variables
include ../common_help/mixins

-
  var sitemap_links = [
    {
      title: 'Home',
      href: 'home'
    },
    {
      title: 'Category page',
      href: 'category-page'
    },
    {
      title: 'Categories page',
      href: 'categories-page'
    },
    {
      title: 'Brands',
      href: 'brands-page'
    },
    {
      title: 'Brand',
      href: 'brand-page'
    },
    {
      title: 'About',
      href: 'about-page'
    },
    {
      title: 'Text page',
      href: 'text-page'
    },
    {
      title: '404',
      href: '404'
    },
    {
      title: 'Product Page',
      href: 'product-page'
    },
    {
      title: 'Request Page',
      href: 'request-page'
    },
    {
      title: 'Thanks Page',
      href: 'thanks-page'
    },
  ]

style
  | .sitemap-links {display: flex;flex-wrap: wrap}
  | .sitemap-links a {display: block;margin: 20px;width: 100%;max-width: 300px;}
doctype html
html(lang='en')
  include ../common_meta/head
  body
    main.page-container
      .container
        br
        br
        h1 Axel medical prototype sitemap
        br
        .sitemap-links
          each item in sitemap_links
            a.btn__light(href=item.href + '.html')=item.title

    include ../common_meta/footer_scripts
