include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
  include ../common_meta/head
  body.active-request-popup
    main.page-container
      include ../sections/thanks

    include ../common_meta/footer_scripts
