section.section-404
  .container
    .section-404__header
      .section-404__menu-group
        nav
          ul
            li.menu-item
              a(href="/") Главная
            li.menu-item
              a(href="#") Каталог
            li.menu-item
              a(href="#") Контакты
    .section-404__title 404
    .section-404__text Похоже что-то <br>пошло не так!
    a(href="/").btn__light на главную