section.contacts
  .container
    .hero-section__content-wrap.flex
      .hero-section__content-item.flex
        .hero-section__content-info
          h2.hero-section__title Контакты
          a(href="tel:+3 800 000 00 00").hero-section__contact-group.flex
            i.font-icon.icon-phone-2
            p +3 800 000 00 00
          a(href="mailto:email@omg.com").hero-section__contact-group.flex
            i.font-icon.icon-mail-contacts
            p email@omg.com
          .flex.hero-section__contact-group
            i.font-icon.icon-location
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit

          p.hero-section__contact-text Наши социальные сети
          .hero-section__socials
            a(href="")
              i.font-icon.icon-facebook
            a(href="")
              i.font-icon.icon-instagram
            a(href="")
              i.font-icon.icon-linkedin


        .hero-section__form
          .hero-section__form-content
            h3.hero-section__title Напишите нам
            form
              .form-item.form-type-text
                input(type="text" placeholder="Имя")
              .form-item.form-type-text
                input(type="text" placeholder="E-mail")
              .form-item.form-type-text
                input(type="tel" placeholder="Телефон")
              .form-item.form-type-text
                input(type="text" placeholder="Название компании")
              .form-item.form-type-textarea
                label Оставьте свой комментарий
                  textarea
              .form-item.form-type-checkbox
                input(type="checkbox" id="police")
                label(for="police") Я согласен с политикой обработки персональных данных
              .form-actions
                input(type='submit' value='Отправить')