.hero-section__content.hero-section__product(data-anchor='product')
  .hero-section__content-container
    a(href="/").hero-section__content-logo
      img(src="img/main-logo-full.svg" alt="axel medical logo")

    .hero-section__content-wrap.flex.hero-section__slider
      each item in [1,2,3,4]
        div
          .hero-section__content-item.flex
            .hero-section__content-info
              .hero-section__padding-left
                if item == 1
                  h1.hero-section__title Заголовок о товаре МРТ будет здесь
                else
                  h2.hero-section__title Заголовок о товаре МРТ будет здесь
                .hero-section__sub-title Лучшие товары от лучших производителей
              a(href="product-page.html").hero-section__show-more.btn__light Детальней о товаре
            .hero-section__img
              img.main-img(src="img/hero-img-vector.png" alt="MRT vector")
              img.main-img-hover(src="img/hero-img.png" alt="MRT")

    button.hero-section__arrow
      i.font-icon.icon-arrows-down
