.hero-section__content.hero-section__about(data-anchor='about')
  .hero-section__content-container
    .hero-section__content-wrap.flex
      .hero-section__content-item.flex
        .hero-section__content-info
          h3.hero-section__title О компании
          p.hero-section__about-text.hero-section__padding-left - это ...  текст о компании orem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est
          a(href="about-page.html").hero-section__show-more.btn__light Детальней о компании
        .hero-section__img
          img.main-img(src="img/hero-img-vector.png" alt="mrt vector")

    button.hero-section__arrow
      i.font-icon.icon-arrows-down
