section.text-page
  .container
    include ../components/breadcrumbs
    .content
      h1 Заголовок H1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est
      h2 Заголовок H2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est
      h3 Заголовок H3
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est
      ul
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet

