section.request-hero.contacts
	.home-container.flex
		.request-hero__left
			a(href="/").request-hero__link Вернуться назад
			img(src="img/request-bg-img.svg" alt="axelmedical")
		.hero-section__form
			.hero-section__form-content
				h3.hero-section__title Оставьте заявку
				p.request-text и наш представитель предоставит всю необходимую информацию
				form
					.form-item.form-type-text
						input(type="text" placeholder="Имя")
					.form-item.form-type-text
						input(type="text" placeholder="E-mail")
					.form-item.form-type-text
						input(type="tel" placeholder="Телефон")
					.form-item.form-type-text
						input(type="text" placeholder="Название компании")
					.form-item.form-type-textarea
						label Оставьте свой комментарий
							textarea
					.form-item.form-type-checkbox
						input(type="checkbox" id="police")
						label(for="police") Я согласен с политикой обработки персональных данных
					.form-actions
						input(type='submit' value='Отправить')
			.mobile-active
				img(src="img/reauest-mob-logo.svg" alt="axelmedical")