section.request-hero.request-hero-thanks.contacts
	.home-container.flex
		.request-hero__left
			img(src="img/request-bg-img.svg" alt="axelmedical")
		.hero-section__form
			.hero-section__form-content
				h3.hero-section__title Благодарим!
				p.request-text Ваша заявка успешно отправлена
				a(href="/").btn__light на главную
			.mobile-active
				img(src="img/reauest-mob-logo.svg" alt="axelmedical")