footer.footer
	.container
		p © 2009–2020 ecodecor.by — Частное предприятие «Эко Декор» УНП 190906760
		.footer-logo-wrap
			p Создание и <br>продвижение сайтов
			a(href="http://kryuchkin-web.ru/")
				img.footer-logo(src="img/footer-logo.png" alt="Крючкин web")

