header#header.site-header
  .container
    a(href="/").h-logo
      img(src="img/logo.png" alt="logo")
    .header-group
      .header-item
        i.font-icon.icon-location
        p г. Минск ул. Куйбышева, 10
      .header-item
        i.font-icon.icon-clock
        p пн.–пт: 10:00 – 19:00
        p сб: 10:00 – 17:00
        p вc: выходной
      .header-item
        i.font-icon.icon-phone
        a.yandex-metrika-event(data-goal='zvonok' href="tel: +375 29 334-44-22") +375 29 334-44-22
        a.yandex-metrika-event(data-goal='zvonok' href="tel: +375 17 334-44-44") +375 17 334-44-44
