.pager
  a(href='#' class='pager-item prev disabled') Prev
  a(href='#' class='pager-item active') 1
  a(href='#' class='pager-item') 2
  a(href='#' class='pager-item') 3
  a(href='#' class='pager-item') 4
  a(href='#' class='pager-item') 5
  span(class='pager-item skip') ...
  a(href='#' class='pager-item') 10
  a(href='#' class='pager-item next') Next
