section.individual-order-hero
  .container
    include ../components/breadcrumbs
    .for-designers__wrap.flex
      .individual-order__info
        h2 Індивідуальне замовлення
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit.
        form.request-from
          p Ваше ім’я
          input.input-text(type="text" placeholder="Прізвище та ім’я")
          p Ваш номер телефону
          input.input-text(type="text" placeholder="+38 000 000 00 00")
          p Ваша електронна пошта
          input.input-text(type="text" placeholder="email@gmail.com")
          input.btn(type="submit" value="Відправити")
      .individual-order__img
        include ../../img/individual-order-img.svg

