section.section-ordering
  .container
    include ../components/breadcrumbs
    h2 Оформлення замовлення
    form.section-ordering__wrap
      .section-ordering__tabs
        .product-tabs__nav.flex.show-from-tablet
          each item, index in product_ordering
            button.product-tabs__nav-item(class=index === 0 ? 'active' : '')=item
        .product-tabs__content
          each item, index in product_ordering
            button.product-tabs__nav-item.show-before-tablet=item
            .product-tabs__content-item(class=index === 0 ? 'active' : '')
              .request-section__wrap
                .request-from
                  p Ваше ім’я (!{item})
                  input.input-text(type="text" placeholder="Прізвище та ім’я")
                  p Ваш номер телефону
                  input.input-text(type="text" placeholder="+38 000 000 00 00")
                  p Ваша електронна пошта
                  input.input-text(type="text" placeholder="E-mail@gmail.com")
                  input.btn(type="submit" value="Далі")
      .cart-block__wrap
        .cart-block__title Товари у кошику
        each item in [1,2,3,4,5]
          .cart-block__item.flex
            .cart-block__item-left.flex
              .cart-block__img
                img(src="img/product-img.png" alt="sofa")
              div
                a(href="#").cart-block__item-title Назва товару
                .cart-block__item-code Арт. 000000
                .cart-block__item-variant Название ткани
                .cart-block__item-color(style="background-color: #EB2E2E")
                .cart-block__item-price 50 000 грн
        .cart-block__final
          .cart-block__final-wrap
            .cart-block__price Всього: 250 000 грн
