section.request-popup.section-popup
  .popup-overlay
  .section-popup__content
    button.popup-close-icon
    .section-popup__title Залиште свій номер телефону і ми вам зателефонуємо
    form.request-from
        p Ваше ім’я
        input.input-text(type="text" placeholder="Прізвище та ім’я")
        p Ваш номер телефону
        input.input-text(type="text" placeholder="+38 000 000 00 00")
        p Ваше повідомлення
        input.input-text(type="text" placeholder="Повідомлення")
        input.btn(type="submit" value="Відправити" data-show-popup='thanks-popup')