section.section-video
  .container
    include ../components/breadcrumbs
    h2 Відео
    .section-video__wrap
      each item in [1,2,3,4]
        .section-video__item
          .product-video__frame
            <iframe src="https://www.youtube.com/embed/a8HOOc-bkic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .section-video__info
            .section-video__title Назва відео
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis sed adipiscing et pulvinar amet, hendrerit est. Porta nec tellus duis tortor risus velit mauris urna. Netus quis vel varius lacus, sit. Tempus varius tristique sed ullamcorper cursus urna. Faucibus id ac nisi odio amet, augue viverra adipiscing.
    ul.pagination
      li.arrow.prev.disabled
        a(href="#")
      li.active
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") 4
      li
        a(href="#") 5
      li.arrow.next
        a(href="#")