.header {
	&__nav {
		margin-top: 20px;
		margin-bottom: 50px;
		@include media-q(min, 1024) {
			margin-top: 0;
			margin-bottom: 0;
		}

		&-catalog {

			@include media-q(max, 1023) {
				position: relative;
				z-index: 2;
				width: 100%;
			}

			&-item {
				border-right: 1px solid $c-light;
				border-left: 1px solid $c-light;
				padding: 26px 0;
				cursor: pointer;
				display: flex;
				position: relative;
				text-transform: uppercase;

				@include media-q(min, 1024) {
					width: rem-calc(160);
				}

				@include media-q(min, 1200) {
					width: rem-calc(240);
				}

				a {
					text-transform: uppercase;
				}

				&:hover {
					a {
						color: $c-light-blue;
					}
				}

				&::before {
					content: '';
					position: absolute;
					left: 60px;
					top: 0;
					height: 100%;
					width: 1px;
					background-color: $c-light;
				}

				&::after {
					content: '';
					position: absolute;
					left: -34px;
					right: -34px;
					top: 100%;
					height: 1px;
					background-color: $c-light;

					@include media-q(min, 1024) {
						display: none;
					}
				}
			}

			&-list {
				display: none;
				width: 100%;
				padding-top: 20px;
				padding-bottom: 20px;
				border-right: 1px solid $c-light;
				border-left: 1px solid $c-light;
				border-bottom: 1px solid $c-light;
				animation: showNavList .2s ease;
				background-color: $white;
				margin-top: 2px;

				@include media-q(min, 1024) {
					width: rem-calc(160);
					position: absolute;
				}

				@include media-q(min, 1200) {
					width: rem-calc(240);
				}

				.active-catalog-menu & {
					display: block;
				}

				li {
					&:not(:last-child) {
						.catalog-item {
							border-bottom: 1px solid $c-light;
						}
					}
				}

				.catalog-item {
					padding: 20px;
					display: block;
					background-color: $white;

					@include media-q(min, 1200) {
						padding: 20px 40px;
					}

					&:hover {
						color: $c-light-blue;
					}
				}
			}
		}
	}
}

.menu-item {
	@include font-size(18);
	padding: 10px 5px;
	display: inline-block;
	cursor: pointer;

	@include media-q(min, 1024) {
		padding: 25px 5px;
		@include font-size(14);
	}

	@include media-q(min, 1200) {
		@include font-size(16);
	}

	@include media-q(min, 1280) {
		padding: 25px 15px;
	}

	@include media-q(min, 1440) {
		@include font-size(18);
	}

	&:hover {
		a {
			color: $c-light-blue;
		}
	}
}

@keyframes showNavList {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: none;
	}
}


