.about-hero {
	background: url("../img/hero-bg-v2.png") no-repeat center $c_dark_blue;
	background-size: cover;
	position: relative;
	margin-bottom: rem-calc(80);

	@include media-q(min, 1280) {
		margin-bottom: rem-calc(180);
	}

	.breadcrumbs {
		opacity: .6;

		a {
			color: $white;
		}
		.bs-item  {
			color: $white;

			&::after {
				color: $white;
			}
			&.active {
				color: $white;
			}
		}
	}

	&__logo {

		&-mob {
			padding-top: rem-calc(80);

			@include media-q(min, 1024) {
				display: none;
			}
		}

		&-desktop {
			display: none;

			@include media-q(min, 1024) {
				display: block;
				margin: 0 auto;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
			}
		}

		img {
			@include media-q(min, 1024) {
				margin: 0 auto;
			}
		}
	}

	&__group {
		padding-bottom: rem-calc(80);
		flex-direction: column;

		@include media-q(min, 1024) {
			flex-direction: row;
		}

		@include media-q(min, 1440) {
			padding-top: rem-calc(100);
			padding-bottom: rem-calc(20);
		}

		@include media-q(min, 1850) {
			padding-top: rem-calc(140);
		}
	}

	&__img {
		position: relative;
		z-index: 2;

		@include media-q(min, 1024) {
			width: 49%;
			margin-bottom: rem-calc(-120);
		}
	}

	&__text {
		color: $white;
		padding-top: rem-calc(50);
		margin-bottom: rem-calc(50);

		@include media-q(min, 1024) {
			padding-right: rem-calc(50);
			padding-top: rem-calc(140);
			margin-bottom: 0;
		}
	}
}