.about-text-block {
	@extend %section-margin-bottom;
	position: relative;

	&::before,
	&::after {
		display: none;

		@include media-q(min, 1024) {
			display: block;
			content: '';
			position: absolute;
			background: url("../img/decor-element.svg") no-repeat center;
			background-size: cover;
			width: rem-calc(450);
			height: rem-calc(900);
		}
	}

	&::before {
		top: -64%;
		transform: rotate(35deg);
		left: -55px;
	}

	&::after {
		bottom: -35%;
		right: 0;
		transform: rotate(180deg);
	}

	.container {

		@include media-q(min, 1024) {
			padding: 0 10%;
		}
	}

	.main-title {
		@extend %line-after;
		display: inline-block;

		&::after {
			height: 12px;
			bottom: 0;

			@include media-q(min, 1024) {
				bottom: 22px;
			}
		}
	}

	[data-visible-items-count] {
		p:first-child {
			~ .visible-items-show {
				margin-top: -.9em;
			}
		}
	}

	.visible-items-show {
		display: block;
		margin-top: 0;
		font-weight: $fw_bold;
		color: $c_dark_blue;
	}
}