//- ---------------------------------------------------------------------------
//- Variables

//  Top menu (First level)
-
	var main_menu = [
		{
			title: 'Главная',
			url: '/'
		},
		{
			title: 'О компании',
			url: '#'
		},
		{
			title: 'Грузовые подъемники',
			url: 'freight-elevators.html',
			lvl_2: [
				{
					title: 'Тест один',
					url: '#'
				},
				{
					title: 'Тест два',
					url: '#',
				},
				{
					title: 'Тест три',
					url: '#'
				},
				{
					title: 'Тест четыре',
					url: '#'
				}
			]
		},
		{
			title: 'Подъемники для инвалидов',
			url: 'disabled-elevators.html'
		},
		{
			title: 'Лифты',
			url: '#'
		},
		{
			title: 'Контакты',
			url: '#'
		}
	];

//-  Top menu (Second level)

//-  Top menu (Third level)

//- Footer menu
-
	var footer_menu_left = [
		{
			title: 'ГРУЗОВЫЕ ПОДЪЕМНИКИ',
			url: '/',
			lvl_2: [
				{
					title: 'ГРУЗОВЫЕ ПОДЪЕМНИКИ',
					url: '#'
				},
				{
					title: 'ШАХТНЫЙ ПОДЪЕМНИК',
					url: '#',
				},
				{
					title: 'КОНСОЛЬНЫЙ (МАЧТОВЫЙ) ПОДЪЕМНИК',
					url: '#'
				},
				{
					title: 'СЕРВИСНЫЙ (МАЛОГРУЗОВОЙ) ПОДЪЕМНИК',
					url: '#'
				},
				{
					title: 'ПОДЪЕМНИК В ГЛУХУЮ ШАХТУ',
					url: '#'
				},
				{
					title: 'ПОДЪЕМНЫЙ СТОЛ',
					url: '#'
				},
				{
					title: 'НОЖНИЧНЫЕ',
					url: '#'
				},
				{
					title: 'ГИДРАВЛИЧЕСКИЕ',
					url: '#'
				},
				{
					title: 'МАЧТОВЫЕ',
					url: '#'
				},
				{
					title: 'ЭЛЕКТРИЧЕСКИЕ',
					url: '#'
				},
				{
					title: 'ГРУЗОВЫЕ ЛИФТЫ',
					url: '#'
				},
				{
					title: 'ФАСАДНЫЕ',
					url: '#'
				},
				{
					title: 'ПОДЪЕМНЫЕ ПЛАТФОРМЫ',
					url: '#'
				},
				{
					title: 'СТРОИТЕЛЬНЫЕ',
					url: '#'
				},
				{
					title: 'МАЛЫЕ ГРУЗОВЫЕ ЛИФТЫ',
					url: '#'
				},
				{
					title: 'ГРУЗОПАССАЖИРСКИЕ',
					url: '#'
				},
				{
					title: 'ЭЛЕКТРОГИДРАВЛИЧЕСКИЕ',
					url: '#'
				},
				{
					title: 'ПЛАТФОРМЕННЫЕ',
					url: '#'
				},
				{
					title: 'ПРОМЫШЛЕННЫЕ',
					url: '#'
				},
				{
					title: 'СТАЦИОНАРНЫЕ',
					url: '#'
				}
			]
		},
		{
			title: 'ПО ПРИМЕНЕНИЮ',
			url: '#',
			lvl_2: [
				{
					title: 'ДЛЯ ЗАМЕНЫ ГРУЗОВОГО ЛИФТА',
					url: '#'
				},
				{
					title: 'ДЛЯ ТОРГОВЫХ ЦЕНТРОВ',
					url: '#',
				},
				{
					title: 'ДЛЯ ПОГРЕБА ИЛИ ПОДВАЛА',
					url: '#'
				},
				{
					title: 'ДЛЯ БОЛЬНИЦ',
					url: '#'
				},
				{
					title: 'ДЛЯ ПРОИЗВОДСТВА',
					url: '#'
				},
				{
					title: 'ДЛЯ ДОМА ИЛИ КОТТЕДЖА',
					url: '#'
				},
				{
					title: 'ДЛЯ СКЛАДА',
					url: '#'
				},
				{
					title: 'ДЛЯ МАГАЗИНА',
					url: '#'
				},
				{
					title: 'ДЛЯ РЕСТОРАНА',
					url: '#'
				}
			]
		},
		{
			title: 'МЕТАЛЛОКОНСТРУКЦИИ',
			url: '#'
		}
	];

// footer right
-
	var footer_menu_right = [
		{
			title: 'ПОДЪЕМНИКИ для инвалидов',
			url: '#',
			lvl_2: [
				{
					title: 'ВЕРТИКАЛЬНЫЙ ПОДЪЕМНИК ДО 2 М',
					url: '#'
				},
				{
					title: 'ВЕРТИКАЛЬНЫЙ ПОДЪЕМНИК ДО 9 М',
					url: '#'
				},
				{
					title: 'НАКЛОННЫЙ ПОДЪЕМНИК',
					url: '#'
				},
				{
					title: 'ДЛЯ КОЛЯСОК',
					url: '#'
				},
				{
					title: 'ДЛЯ МГН',
					url: '#'
				},
				{
					title: 'ЛЕСТНИЧНЫЕ',
					url: '#'
				},
				{
					title: 'ВЕРТИКАЛЬНЫЕ',
					url: '#'
				},
				{
					title: 'ВНУТРЕННИЕ',
					url: '#'
				},
				{
					title: 'УЛИЧНЫЕ',
					url: '#'
				},
				{
					title: 'В ДОМ',
					url: '#'
				},
				{
					title: 'НА ЭТАЖ',
					url: '#'
				},
				{
					title: 'ИНВАЛИФТ',
					url: '#'
				},
				{
					title: 'ЭЛЕКТРИЧЕСКИЕ',
					url: '#'
				},
				{
					title: 'ПАНДУС-ПОДЪЕМНИКИ',
					url: '#'
				},
				{
					title: 'СТАЦИОНАРНЫЕ',
					url: '#'
				},
				{
					title: 'ГИДРАВЛИЧЕСКИЕ',
					url: '#'
				}
			]
		},
		{
			title: 'лифты',
			url: '#',
			lvl_2: [
				{
					title: 'ПАССАЖИРСКИЙ ЛИФТ',
					url: '#'
				},
				{
					title: 'КОТТЕДЖНЫЙ ЛИФТ',
					url: '#',
				}
			]
		},
		{
			title: 'о компании',
			url: '#',
			lvl_2: [
				{
					title: 'УСЛУГИ',
					url: '#'
				},
				{
					title: 'ФОТО ОБЪЕКТОВ',
					url: '#',
				},
				{
					title: 'СЕРТИФИКАТЫ',
					url: '#',
				},
				{
					title: 'ОТЗЫВЫ',
					url: '#',
				},
				{
					title: 'НАШИМ ПАРТНЕРАМ',
					url: '#',
				}
			]
		},
		{
			title: 'контакты',
			url: '#'
		}
	];
