header#header.site-header
	.container
		.header-wrap
			.header-logo
				a(href="/")
					img(src="img/logo.png", alt="logo")
			.header-right
				.header-group
					a(href="tel:+7 (917) 032 15 81").header-tel +7 (917) 032 15 81
					.header-address пн. - пт. с 9:00 по 18:00 (Мск)

			a.open-main-menu.icon-menu-inside(href='#')
				i.icon-menu
					span
					span
					span
	.menu-wrap
		.container
			nav.menu
				ul.menu-group
					+main_menu(main_menu)