section.section-comparison
	.container
		h2.title все подрядчики <br>будут Вам говорить:
		.comparison-item-wrap.comparison-item-wrap--top
			.comparison-item
				.comparison-item-img
					img(src="img/comparison-01.png")
				.comparison-item-group
					.comparison-item-text-wrap
						i.font-icon.icon-yes
						h4.comparison-item-title “Перевезем точно в срок”
					.comparison-item-text-wrap
						i.font-icon.icon-no
						p.comparison-item-text По факту машина за Вашим грузом может ехать и неделю
		.comparison-item-wrap.comparison-item-wrap--center
			.comparison-item
				.comparison-item-img
					img(src="img/comparison-02.png")
				.comparison-item-group
					.comparison-item-text-wrap
						i.font-icon.icon-yes
						h4.comparison-item-title “Перевезем дешево”
					.comparison-item-text-wrap
						i.font-icon.icon-no
						p.comparison-item-text Но дата забора груза может <br>потом несколько раз перенестись
		.comparison-item-wrap.comparison-item-wrap--bottom
			.comparison-item
				.comparison-item-img
					img(src="img/comparison-03.png")
				.comparison-item-group
					.comparison-item-text-wrap
						i.font-icon.icon-yes
						h4.comparison-item-title “Сэкономим на страховке”
					.comparison-item-text-wrap
						i.font-icon.icon-no
						p.comparison-item-text А потом Вы остаетесь без какой либо гарантии <br>за сохранность груза
		.comparison-text-wrap
			h3.comparison-text-bold Пожалуйста, отличайте пустые слова от твёрдых фактов, которые можно проверить. <br>
				span Так как вероятность получить компенсацию за нарушение сроков и потерю груза от таких подрядчиков равна 0,1 %