section.section-form-mokap
	.container
		.form-mokap-wrap
			.form-mokap-left
				h2.title Рассчитайте стоимость перевозки <br>груза по вашим параметрам
				p.form-mokap-text Ответьте на #[span 7 простых вопросов] и получите результат
				button.form-mokap-btn.is-blicked.js-show-popup-form.yandex-metrika-event(data-open="section-popup-request" data-goal='raschet-footer') Рассчитать стоимость
			.form-mokap-right
				img.form-mokap-img(src="img/form-mokap-img.png")