section.section-bottom-form
	.container
		h2.title Рассчитайте стоимость перевозки <br>Вашего груза
		.site-form-wrapper
			form.site-form.js-form-submit.js-form-transition
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				.address-group
					.address-wrap
						.address-title-wrap
							i.font-icon.icon-location
							p.address-title От куда:
						input.input-text.input-address-wherefrom(type="text" name='contact_from' placeholder='Введите адрес' required)
					.address-wrap
						.address-title-wrap
							i.font-icon.icon-location
							p.address-title Куда:
						input.input-text.input-address-where(type="text" name='contact_to' placeholder='' required)
				.type-group
					.type-wrap
						img.checkbox-type-img(src="img/checkbox-type1.png")
						input.input-checkbox.input-type(type="radio" name='contact_type' id="checkbox-type1" checked value="Габаритный груз")
						label.input-checkbox-label(for="checkbox-type1") Габаритный груз
					.type-wrap.type-wrap2
						img.checkbox-type-img(src="img/checkbox-type2.png")
						input.input-checkbox.input-type(type="radio" name="contact_type" id="checkbox-type2" value="Негабаритный груз")
						label.input-checkbox-label(for="checkbox-type2") Негабаритный груз
				button.bottom-form-request.is-blicked.yandex-metrika-event(type="submit" data-goal='raschet-std-1') Рассчитать стоимость
				.form-errors-cont