section.section-portfolio
	.container
		h2.title с 2003 года совершили более 2500 перевозок <br>различного груза
		.section-result-slider
			each item in [1,2]
				.section-result-slide-wrap
					.section-result-slide-content
						.portfolio-item
							.portfolio-content
								.portfolio-photo-cont
									.portfolio-photo(style='background-image: url(../img/portfolio-01.jpg) ;')
									.portfolio-photo-group
										a.portfolio-photo-item.active(href='img/portfolio-01.jpg' style='background-image: url(../img/portfolio-01.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-01.jpg' style='background-image: url(../img/portfolio-01.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-01.jpg' style='background-image: url(../img/portfolio-01.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-01.jpg' style='background-image: url(../img/portfolio-01.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-01.jpg' style='background-image: url(../img/portfolio-01.jpg) ;')
								.portfolio-info
									.portfolio-info-group
										.portfolio-info-title-wrap
											i.font-icon.icon-user
											h3.portfolio-info-title клиент:
										p.portfolio-info-text Название организации
									.portfolio-info-group
										.portfolio-info-title-wrap
											i.font-icon.icon-location2
											h3.portfolio-info-title от куда:
										p.portfolio-info-text Самара
									.portfolio-info-group
										.portfolio-info-title-wrap
											i.font-icon.icon-location2
											h3.portfolio-info-title  куда:
										p.portfolio-info-text Москва
									.portfolio-info-group
										.portfolio-info-title-wrap
											i.font-icon.icon-type-cargo
											h3.portfolio-info-title тип груза:
										p.portfolio-info-text Габаритный
									.portfolio-info-group
										.portfolio-info-title-wrap
											i.font-icon.icon-weight
											h3.portfolio-info-title вес груза:
										p.portfolio-info-text 10 т
									.portfolio-info-group
										.portfolio-info-title-wrap
											i.font-icon.icon-dimensions
											h3.portfolio-info-title габариты (Шхвхд):
										p.portfolio-info-text 10х20х10м
									.portfolio-info-group.init-lightbox
										.portfolio-info-title-wrap
											i.font-icon.icon-quoter
											h3.portfolio-info-title отзыв:
										a.portfolio-info-reviews(href='img/portfolio-review.jpg' style='background-image: url(../img/portfolio-review.jpg) ;')
									.portfolio-cost
										.portfolio-cost-title-wrap
											i.font-icon.icon-ruble
											h4.portfolio-cost-title стоимость<br>перевозки:
										p.portfolio-cost-price 200 000 руб

