section.section-delivery
	.container
		h2.title 6 шагов как будет проходить <br>доставка Вашего груза
		.delivery-group
			.delivery-item
				p.delivery-item-number 01
				i.font-icon.icon-step1
				h4.delivery-item__title 1. ОСТАВьте ЗАЯВКУ<br>или позвоните нам
				p.delivery-item__text Созваниваемся, консультируем по всем вопросам, уточняем все ньансы относительно Вашего груза, понимаем на что надо обратить внимае в первую очередь.
			.delivery-item
				p.delivery-item-number 02
				i.font-icon.icon-step2
				h4.delivery-item__title 2. расчет стоимости,<br>перевозки
				p.delivery-item__text У нас прозрачное ценообразование, быстрый расчет стоимости доставки. Наши клиенты никогда не переплачивают. Мы всегда стремимся стать лучше!
			.delivery-item
				p.delivery-item-number 03
				i.font-icon.icon-step3
				h4.delivery-item__title 3. Подготовка договора <br>на перевозку
				p.delivery-item__text Наш специалист оперативно подготовит договор на перевозку Вашего груза, без скрытых пунктов “мелким шрифтом”.
			.delivery-item
				p.delivery-item-number 04
				i.font-icon.icon-step4
				h4.delivery-item__title 4. полная Оплата <br>перевозки
				p.delivery-item__text После того как мы составим договор на перевозку с учетом всех Ваших пожеланий и требованием, согласуем и подпишем его,  Вы полностью оплачивает грузоперевозку.
			.delivery-item
				p.delivery-item-number 05
				i.font-icon.icon-step5
				h4.delivery-item__title 5. Страхование груза, <br>оформление Документации
				p.delivery-item__text Мы несем полную ответсвенность за транспортируемый груз, поэтому страхование - очень важный момент в доставке Вашего груза. Мы обеспечение максимальной безопасности грузоперевозок.
			.delivery-item
				p.delivery-item-number 06
				i.font-icon.icon-step6
				h4.delivery-item__title 6. ОСуществление перевозки<br>вашего груза
				p.delivery-item__text Наши специалисты бережно осуществляют погрузку, перевозку и выгрузку груза. Вы получите Ваш груз в полной сохранности в максимально быстрые сроки.