section.section-warranty
	.container
		h2.title Гарантии сохранности груза
			span Не на словах, а на бумаге.
		.warranty-cont
			.warranty-left
				.warranty-group
					.warranty-item
						i.font-icon.icon-contract
						.warranty-item-info
							h3.warranty-item__title договор
							p.warranty-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.warranty-item
						i.font-icon.icon-contract
						.warranty-item-info
							h3.warranty-item__title договор
							p.warranty-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.warranty-item
						i.font-icon.icon-insurance
						.warranty-item-info
							h3.warranty-item__title страхование каждого груза
							p.warranty-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.warranty-item
						i.font-icon.icon-insurance
						.warranty-item-info
							h3.warranty-item__title страхование каждого груза
							p.warranty-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.site-form-wrapper
					form.site-form.js-form-submit
						input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
						input.input-text.input-phone(type="text" placeholder='+7 (___) __ - __ - ___')
						input.request.yandex-metrika-event(type="submit" value='услышать директора' data-goal='uslyshat')
						.form-errors-cont

			.warranty-right
				.warranty-director-cont
					.warranty-director-wrap
						img(src="img/director.png")
					p.warranty-director-name Имя Фамилия
					p.warranty-director-status Директор компании
					.warranty-quote-wrap
						i.font-icon.icon-quoter
						p.warranty-quote-text “Ваш груз повезут ответственные <br>водители с многолетним опытом <br>работы”
