section.section-fr-screen
	.container
		p.section-fr-screen__question Требуется перевезти груз?
		h1.section-fr-screen__title Перевезем Ваш груз <br>из Самары в Москву<br>
			span Точно в срок и со страхованием груза
		.section-fr-screen__group
			.section-fr-screen__group--item
				img.section-fr-screen__img(src="img/fr-screen-check.png")
				p.section-fr-screen__text Работаем более <br>10 лет
			.section-fr-screen__group--item
				img.section-fr-screen__img(src="img/fr-screen-check.png")
				p.section-fr-screen__text Собственный <br>автопарк
			.section-fr-screen__group--item
				img.section-fr-screen__img(src="img/fr-screen-check.png")
				p.section-fr-screen__text Большая сеть надежных <br>партнеров-перевозчиков
		button.section-fr-screen__btn.is-blicked.js-show-popup-form.yandex-metrika-event(data-open="section-popup-request" data-goal="raschet") Рассчитать стоимость перевозки
		.fr-screen__car-wrap
			img.fr-screen__car(src="img/fr-screen-car.png" style="max-width: 836px;")