//- ---------------------------------------------------------------------------
//- Variables

//  Top menu (First level)
-
  var main_menu_left = [
    {
      title: 'Оборудование',
      href: 'equipment',
    },
    {
      title: 'объекты',
      href: 'portfolio',
    },
    {
      title: 'О нас',
      href: 'video',
    },
  ]

-
  var main_menu_right = [
    {
      title: 'Отзывы',
      href: 'reviews',
    },
    {
      title: 'сертификаты',
      href: 'certificates',
    },
    {
      title: 'Контакты',
      href: 'contacts',
    },
  ]

-
  var equipment_items = [
    {
      title: 'Асфальтный мобильный \n' +
              'завод SLB-8',
      text: 'Производительность:  <span>8 т/ч</span>',
      cost: 'Цена:  <span>2 895 347 руб</span>',
    },
    {
      title: 'Асфальтный мобильный завод QLB - 20',
      text: 'Производительность:  <span>20 т/ч</span>',
      cost: 'Цена:  <span>7 720 924 руб</span>',
    },
    {
      title: 'Асфальтный мобильный завод QLB - 40',
      text: 'Производительность:  <span>40 т/ч</span>',
      cost: 'Цена:  <span>14 878 863 руб</span>',
    },
    {
      title: 'Асфальтный мобильный завод YLB 1000',
      text: 'Производительность:  <span>80 т/ч</span>',
      cost: 'Цена:  <span>42 625 932 руб</span>',
    },
    {
      title: 'Асфальтный мобильный завод YLB 1500',
      text: 'Производительность:  <span>120 т/ч</span>',
      cost: 'Цена:  <span>53 081 349 руб</span>',
    },
    {
      title: 'Асфальтный мобильный завод YLB 2000',
      text: 'Производительность:  <span>160 т/ч</span>',
      cost: 'Цена:  <span>62 732 503 руб</span>',
    },
  ]

-
  var portfolio_items = [
    {
      title: 'срок поставки',
      text: 'от 40 до 50 дн.',
    },
    {
      title: 'срок монтажа и пуско-наладки',
      text: 'от 25 до 30 дн.',
    },
    {
      title: 'производительность',
      text: '80 т/час',
    },
  ]

-
  var reviews_items = [
    {
      img: 'img/review-01.jpg',
    },
    {
      img: 'img/review-02.jpg',
    },
    {
      img: 'img/review-03.jpg',
    },
    {
      img: 'img/review-04.jpg',
    },
    {
      img: 'img/review-05.jpg',
    },
    {
      img: 'img/review-06.jpg',
    }
  ];

-
  var certificates_items = [
    {
      img: 'img/certificate-01.jpg',
    },
    {
      img: 'img/certificate-02.jpg',
    },
    {
      img: 'img/certificate-03.jpg',
    },
    {
      img: 'img/certificate-04.jpg',
    },
    {
      img: 'img/certificate-05.jpg',
    },
    {
      img: 'img/certificate-06.jpg',
    },
    {
      img: 'img/certificate-07.jpg',
    },
  ];