doctype html
html(lang='ru')
	include ../common_meta/head
	body.home-page

		include ../components/header

		main
			include ../sections/section_first_screen
			include ../sections/section_tariffs
			include ../sections/section_calculator
			include ../sections/section_request
			include ../sections/section_cost
			include ../sections/section_portfolio
			include ../sections/section_advantage
			include ../sections/section_documents
			include ../sections/section_dont-do
			include ../sections/section_scheme
			include ../sections/section_reviews
			include ../sections/section_contacts
			include ../sections/section_map

		include ../components/footer
		include ../common_meta/footer_scripts
