header#header.header
    .container.container--header.flex
        a(href="/").header__logo
            .show-before-tablet
                span Конфигуратор<br> медоборудования
            .show-after-tablet
                span Конфигуратор медицинского оборудования
            i.font-icon.icon-logo
        .header__menu-icon
            span
            span
            span
        .header__menu
            .close-menu
                i.font-icon.icon-close
            .show-before-tablet
                nav.header__menu-nav
                    ul
                        li
                            a(href="#") УЗИ
                        li
                            a(href="#") ИВЛ
                        li
                            a(href="#") НДА
                        li
                            a(href="#") Монитор пациента
            a(href="#").header__item Готовые комплекты
            a(href="#").header__signin Вход
            .show-before-tablet
                a(href="tel:+7 (499) 495-48-21").footer__number +7 (499) 495-48-21
                a.footer__link(href="#") Обратный звонок