nav(class='main-nav' aria-label='Eliquis')
  .container
    ul(class='nav-list menu menu-level-1' role='menubar' aria-label='Eliquis')
      each item in main_menu
        li.menu-item.nav-item.menu-item-lv1
          a(href=item.url role='menuitem' aria-haspopup=item.lvl_2 != undefined ? 'true' : 'false')=item.title
          if(item.lvl_2 != undefined)
            ul.menu.menu-level-2
              each m2 in item.lvl_2
                li.menu-item.menu-item-lv2
                  a(href=m2.url class=m2.lvl_3 != undefined ? 'active' : '')=m2.title
                  if(m2.lvl_3 != undefined)
                    ul.menu.menu-level-3
                      each m3 in m2.lvl_3
                        li.menu-item.menu-item-lv3
                          a(href=m3.url class=m3.active == true ? 'active' : '')=m3.title
