section.advantages
	.container
		h2.basic-title ¿Porque nosotros? Revise la diferencia de OnlineDivorce.com
		.advantages-wrap
			.advantages-left
				h3.advantages-title Divorcio disputado <br>
					span Los precios promedio comienzan a partir <br>de $2000 dólares
				p Proceso fuera de línea e inconveniente con representación de abogado para cada cónyuge. Costos de honorarios de abogados que resultan en gastos impredecibles. En general, un camino largo y costoso a seguir.
				ul
					li La disponibilidad del abogado afecta el tiempo de finalización
					li Cada cónyuge tiene que contratar a un abogado, que duplica automáticamente los honorarios legales
					li Posibles batallas judiciales que se suman a los altos niveles de estrés
				h3.advantages-title Otros servicios de divorcio en línea	<br>
					span Los precios promedio comienzan a partir de $300 dólares
				ul
					li Preparación automatizada de documentos
					li El tiempo de procesamiento varía, pero puede demorar más de tres días hábiles
					li Atención al cliente a pedido, la calidad varía
					li Una tarifa fija reclamada, sin embargo, muchos sitios tienen tarifas ocultas
					li Sin experiencia: muchos sitios comenzaron a funcionar hace solo unos años
			.advantages-right
				.advantages-right-wrap
					.advantages-right-logo
						img(src="img/advantages-logo.svg")
					h3.advantages-title La principal herramienta de divorcio disputado
					p Proceso totalmente guiado, rápido y económico. Servicio de divorcio en línea experimentado y confiable que utiliza tecnología de primer nivel
					ul
						li Los documentos de divorcio listos para presentar pueden completarse a su propio ritmo con fácil acceso para ambos cónyuges
						li Atención al cliente galardonado Una tarifa fija (para ambos cónyuges) para acceder a todos los documentos completados para la presentación
						li Revisiones gratuitas y cambio de nombre gratuito, sin tarifas ocultas
						li Instrucciones detalladas de presentación específicas del estado
						li Revise todo y realice cambios desde la comodidad de su hogar
					button.request.request-desk Comience ahora por solo $139 dólares
					button.request.request-mob Start now for just 139$
				.advantages-brands
					a(href="#").advantages-brands-item
						img(src="img/advantages-brand-01.png" alt="truste")
					a(href="#").advantages-brands-item
						img(src="img/advantages-brand-02.png" alt="norton")
					a(href="#").advantages-brands-item
						img(src="img/advantages-brand-03.png" alt="mcafee")
					a(href="#").advantages-brands-item
						img(src="img/advantages-brand-04.png" alt="godaddy")


