section.commitment
	.container
		h2.basic-title.basic-title-desk Compromiso con los clientes <br>
		h2.basic-title.basic-title-mob Our commitment to our customers
		p.basic-sub-title Nuestras herramientas han ayudado a más de 500,000 personas a divorciarse rápidamente y sin estrés mientras ahorran dinero en el proceso.
		.commitment-group
			.commitment-item
				.commitment-item-img-wrap
					i.font-icon.icon-adventage-1
				div.commitment-item-content
					h3.commitment-item-title Aprobación judicial garantizada
					p Si los formularios no son aprobados por el tribunal, reembolsaremos el dinero del cliente
			.commitment-item
				.commitment-item-img-wrap
					i.font-icon.icon-adventage-2
				div.commitment-item-content
					h3.commitment-item-title Ofrecemos el mejor precio (sin cargos ocultos) en Internet
					p Nuestras herramientas han ayudado a completar más de 500,000 casos
			.commitment-item
				.commitment-item-img-wrap
					i.font-icon.icon-adventage-3
				div.commitment-item-content
					h3.commitment-item-title Rellenado de <br>instruccionespaso a paso
					p Nuestras instrucciones de presentación fáciles de seguir guían al cliente a través del proceso
			.commitment-item
				.commitment-item-img-wrap
					i.font-icon.icon-adventage-4
				div.commitment-item-content
					h3.commitment-item-title Ahorre dinero
					p Los clientes ahorran al menos $1,700 dólares en honorarios de abogados
			.commitment-item
				.commitment-item-img-wrap
					i.font-icon.icon-adventage-5
				div.commitment-item-content
					h3.commitment-item-title Atención al cliente en línea
					p Nuestro dedicado equipo de atención al cliente brinda instrucciones durante todo el proceso
			.commitment-item
				.commitment-item-img-wrap
					i.font-icon.icon-adventage-6
				div.commitment-item-content
					h3.commitment-item-title Disponible en cualquier dispositivo
					p Manejar los documentos de divorcio en línea nunca ha sido más conveniente