section.divorcio-news
	.container
		h2.basic-title Divorcio en línea en las noticias
		.divorcio-news-group
			a(href="#").divorcio-news-item
					img(src="img/news-01.png" alt="nbc news radio")
			a(href="#").divorcio-news-item
					img(src="img/news-02.png" alt="good morning america")
			a(href="#").divorcio-news-item
					img(src="img/news-03.png" alt="abc")
			a(href="#").divorcio-news-item
					img(src="img/news-04.png" alt="cbs")
			a(href="#").divorcio-news-item
					img(src="img/news-05.png" alt="time")
			a(href="#").divorcio-news-item
				img(src="img/news-06.png" alt="usa today")