section.firstscreen
	.container
		h1.main-title Comience Su Divorcio Online Sin Honorarios de Abogados
		ul.firstscreen-list
			li Comience su divorcio en línea Sin honorarios de abogado
			li Nuestro sistema fue pionero en la industria del divorcio en línea
			li Durante 19 años, más de 500,000 personas han usado nuestras herramientas
			li Ofrecemos el mejor precio del mercado.
		.main-form-wrap
			.form-top-group
				h2.form-title Vea si califica
				.form-sentence
					.form-sentence-left
						.warranty 100%
						p DE GARANTÍA DE APROBACIÓN EN EL TRIBUNAL #[span o le devolvemos su dinero]
					.form-sentence-price
						span $139
						p BEST PRICE
			form.form-body
				.form-body-left
					.form-checkbox
						fieldset.form-group.form-item
							legend ¿Sabe la ubicación de su cónyuge?
							.form-radio-group
								.form-radio
									input(type="radio" value="Sí" name="location" id="locationYes" checked)
									label(for="locationYes") Sí
								.form-radio
									input(type="radio" value="No" name="location" id="locationNo")
									label(for="locationNo") No
						fieldset.form-group.form-item
							legend Can you and your spouse agree to the division of property, debts and all  child related issues?
							.form-radio-group
								.form-radio
									input(type="radio" value="Sí" name="divide" id="divideYes" checked)
									label(for="divideYes") Sí
								.form-radio
									input(type="radio" value="No" name="divide" id="divideNo")
									label(for="divideNo") No

				.form-body-right
					.form-right-group
						div.form-right-group-column
							input.form-text.form-email(type="text" name="email" placeholder="Ingrese su email" required)
							.form-stat-wrap
								select.form-text.form-stat(name="select" required)
									option Seleccione su estado
									option(value="state1") estado1
									option(value="state2") estado2
									option(value="state3") estado3
						div.form-right-group-column
							input.form-text.form-name(type="text" name="name" placeholder="Nombre" required)
							input.form-text.form-surname(type="text" name="surname" placeholder="Apellido" required)
					.form-actions
						input.request(type="submit" value='Verificar elegibilidad')
					p.form-test-ps.form-test-pc-ps Al hacer clic en “Verificar Elegibilidad”, usted acepta los Términos y Condiciones
					p.form-test-ps.form-test-mob-ps By clicking "Continue" you agree to the Terms & Conditions




