section.offer
	.container
		h2.basic-title Obtenga un divorcio en línea fácil
		.offer-content
			h3.offer-title Barato y conveniente
			p Nuestro proceso simple y económico le permitirá completar sus documentos de divorcio desde la comodidad de su hogar, sin incurrir en el costo de un abogado o lidiar con una larga finalización
			h3.offer-title Profesional y con experiencia
			p Somos uno de los principales proveedores de divorcios en línea en los Estados Unidos y Canadá. Hacemos que el divorcio sea fácil porque nuestro proceso garantiza que sus documentos esten hechos correctamente. No hay necesidad de buscar formularios o leer instrucciones largas y confusas
			h3.offer-title 100% aprobado por el tribunal
			p Sin espera. Nuestro servicio de preparación de divorcios con todo incluido está garantizado para proporcionarle formularios aceptados por el tribunal actualizados y completos



