section.reviews
	.container
		h2.basic-title Opiniones de OnlineDivorce
		.reviews-slider
			.reviews-slider-item
				.reviews-photo
					img(src="img/reviews-photo.png" alt="user")
				.reviews-info-group
					p.reviews-name Kilpatrick B., Ontario
					.reviews-stars
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
				p.reviews-date Aug 2018
				p OD proporciona una guía clara, incluso para mi inusual y bastante especifico caso, resultó ser muy útil. Pensarías que no puedes esperar recibir soporte online profesional. Pero OD sorprende. Todos los formularios estuvieron preparados a tiempo. ¡Lo recomiendo!
				p.reviews-confirmed Verified Buyer
			.reviews-slider-item
				.reviews-photo
					img(src="img/reviews-photo.png" alt="user")
				.reviews-info-group
					p.reviews-name Kilpatrick B., Ontario
					.reviews-stars
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
				p.reviews-date Aug 2018
				p OD proporciona una guía clara, incluso para mi inusual y bastante especifico caso, resultó ser muy útil. Pensarías que no puedes esperar recibir soporte online profesional. Pero OD sorprende. Todos los formularios estuvieron preparados a tiempo. ¡Lo recomiendo!
				p.reviews-confirmed Verified Buyer
			.reviews-slider-item
				.reviews-photo
					img(src="img/reviews-photo.png" alt="user")
				.reviews-info-group
					p.reviews-name Kilpatrick B., Ontario
					.reviews-stars
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
						i.font-icon.icon-star
				p.reviews-date Aug 2018
				p OD proporciona una guía clara, incluso para mi inusual y bastante especifico caso, resultó ser muy útil. Pensarías que no puedes esperar recibir soporte online profesional. Pero OD sorprende. Todos los formularios estuvieron preparados a tiempo. ¡Lo recomiendo!
				p.reviews-confirmed Verified Buyer
		a(href="#").reviews-more Ver todas las opiniones de los clientes