section.steps
	.container
		h2.basic-title Solo cuatro pasos
		.steps-group
			.steps-item
				.steps-item-img-wrap
					i.font-icon.icon-step-1
				p Compruebe Si Califica
			.steps-item
				.steps-item-img-wrap
					i.font-icon.icon-step-2
				p Responda Preguntas Detalladas
			.steps-item
				.steps-item-img-wrap
					i.font-icon.icon-step-3
				p Revise Formularios Completados
			.steps-item
				.steps-item-img-wrap
					i.font-icon.icon-step-4
				p Llene los Documentos