@import "util/assets/mixins";
@import "util/assets/variables";

.proto-sitemap-body {
  background-color: #eeeff4;
  padding: 50px 0;
}

.proto-sitemap-header {
  background-color: #000;

  .container {
    display: flex;
    justify-content: center;
  }
}

.proto-sitemap-links-cont {
  display: flex;
  flex-wrap: wrap;
}

.proto-sitemap-link {
  @include font-size(24);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 60px;
  color: $c_grey_heading;
  border: 3px solid $c_grey_heading;
  border-radius: 25px;
  margin: 1.5%;
  transition: background-color .3s, color .3s ease;

  @include media-q(min, 768) {
    width: 47%;
  }

  @include media-q(min, 992) {
    width: 30%;
  }

  &:hover {
    background-color: $c_grey_heading;
    color: #fff;
  }
}
