// Global forms
.form-item {
  margin-bottom: 20px;

  label {
    font-weight: $f_medium;
    margin-bottom: 5px;
    display: inline-block;
  }

  .form-text {
    margin-bottom: 5px;
  }

  .description {
    font-style: italic;
  }
}

.form-actions {
  margin-top: 40px;
}

.webform-component--form-message-row {
  .messages {
    margin-bottom: 20px;
  }
}

// Form fieldsets
.fieldset-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;

  .form-item {
    width: 100%;

    @include media-q(min, 1024) {
      width: calc(50% - 10px);
      margin: 0 20px 20px 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}



// Recaptcha
.recaptcha {
  min-width: 304px;
  margin-left: -11px;

  @include media-q(min, 340) {
    margin-left: 0;
  }
}

