section.hero-section
    .container
        p.hero-section__text Подберите датчики, принтеры, шнуры, програмное обеспечение и обслуживание для медицинского аппарата
    .hero-section__group.flex
        a(href="#").hero-section__item
            .hero-section__content
                i.font-icon.icon-ultrason
                span УЗИ
        a(href="#").hero-section__item
            .hero-section__content
                i.font-icon.icon-lungs
                span ИВЛ
        a(href="#").hero-section__item
            .hero-section__content
                i.font-icon.icon-nda
                span НДА
        a(href="#").hero-section__item
            .hero-section__content
                i.font-icon.icon-monitor
                span Монитор пациента
