.product-tabs {
	padding-bottom: 100px;
	padding-top: 50px;
	overflow: hidden;
	position: relative;

	//&::before {
	//	display: none;
	//
	//	@include media-q(min, 1280) {
	//		display: block;
	//		content: '';
	//		position: absolute;
	//		background-size: contain !important;
	//		width: 344px;
	//		height: 530px;
	//		pointer-events: none;
	//		top: 20%;
	//		background: url("../img/decorate-item-04.png") no-repeat center;
	//		left: -15%;
	//	}
	//
	//	@include media-q(min, 1920) {
	//		left: -10%;
	//	}
	//}

	@include media-q(min, 768) {
		padding-top: 80px;
	}

	&__sticky {
		margin-bottom: 20px;

		@include media-q(min, 1280) {
			margin-bottom: 50px;
		}
	}

	&__nav {
		background-color: $white;
		padding-bottom: 30px;
		padding-top: 30px;
		overflow-x: auto;

		.fixed > & {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 3;
			left: 15px;

			//@include media-q(min, 1024) {
			//	left: 28px;
			//}
			//
			//@include media-q(min, 1280) {
			//	left: 30px;
			//	padding-left: 85px;
			//}
			//
			//@include media-q(min, 1366) {
			//	padding-left: 48px;
			//}

			@include media-q(min, 1024) {
				padding-left: 13px;
			}

			@include media-q(min, 1366) {
				padding-left: 63px;
			}

			@include media-q(min, 1440) {
				padding-left: 100px;
			}

			@include media-q(min, 1920) {
				left: 48px;
				padding-left: 51px;
			}
		}

		&-item {
			@extend %reset-button;
			font-size: 18px;
			font-weight: $f_medium;
			line-height: 1.3;
			padding: 0 15px;
			white-space: nowrap;

			@include media-q(min, 768) {
				font-size: 24px;
				line-height: normal;
				white-space: normal;
				padding: 0 30px;
			}

			@include media-q(min, 1441) {
				font-size: 36px;
			}

			@include media-q(min, 1920) {
				padding: 0 60px;
				font-size: 48px;
			}

			&.active {
				color: $c_blue;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 0;
					width: calc(100% - 30px);
					height: 1px;
					background-color: $c_blue;

					@include media-q(min, 1024) {
						width: calc(100% - 60px);
					}

					@include media-q(min, 1920) {
						width: calc(100% - 120px);
					}
				}
			}
		}
	}

	&__content {
		&-item {
			display: none;

			&.active {
				display: block;
				font-size: 18px;

				@include media-q(min, 1441) {
					font-size: 24px;
				}

				p {
					font-size: 18px;

					@include media-q(min, 1441) {
						font-size: 24px;
					}
				}

				span {
					color: $c_blue;
					font-weight: $f_medium;
				}
			}
		}
	}

	&__label {
		align-items: center;
		color: $c_blue;
		font-weight: $f_medium;

		svg {
			margin-right: 5px;
		}
	}

	&__characteristic {
		&-group {
			justify-content: space-between;
			flex-wrap: wrap;

			@include media-q(min, 1441) {
				padding: 0 120px;
			}
		}

		&-item {
			text-align: center;
			width: 50%;
			margin: 0 auto 30px;

			@include media-q(min, 768) {
				width: 20%;
				margin: 0;
			}
		}

		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 114px;
			margin-bottom: 15px;

			img {
				max-width: 80px;

				@include media-q(min, 1280) {
					max-width: 100%;
				}
			}
		}

		&-info {
			font-size: 16px;

			@include media-q(min, 1441) {
				font-size: 24px;
			}

			span {
				display: block;
				margin-top: 10px;
			}
		}
	}

	&__delivery {
		justify-content: space-between;
		flex-wrap: wrap;

		@include media-q(min, 1280) {
			justify-content: center;
		}

		&-item {

			@include media-q(min, 768) {
				width: 47%;
			}

			@include media-q(min, 1280) {
				margin: 0 100px;
				width: 33%;
			}
		}

		&-title {
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: $f_medium;
			text-align: center;

			@include media-q(min, 768) {
				font-size: 36px;
				text-align: left;
				margin-bottom: 32px;
			}
		}

		p {
			margin-bottom: 30px;
		}

		&-time {
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;

			@include media-q(min, 768) {
				justify-content: flex-start;
				margin-bottom: 36px;
			}

			svg {
				margin-right: 11px;
				width: 38px;

				@include media-q(min, 768) {
					width: 50px;
				}
			}
		}
	}

	&__reviews {
		&-item {
			border: 3px solid $c_blue;
			padding: 7%;
			font-size: 18px;

			@include media-q(min, 768) {
				border: 1px solid $c_blue;
				padding: 5%;
			}

			@include media-q(min, 1280) {
				padding: 7% 13%;
			}

			@include media-q(min, 1441) {
				font-size: 24px;
			}

			svg {
				width: 36px;

				@include media-q(min, 768) {
					width: 66px;
					margin-bottom: 25px;
				}
			}
		}

		&-content {
			display: block;
			position: relative;

			@include media-q(min, 768) {
				display: flex;
			}

			&-item {

				@include media-q(min, 1280) {
					margin: 0 50px;
				}

				&.second {
					position: absolute;
					top: 0;
					right: 0;
					max-width: 36%;

					@include media-q(min, 768) {
						position: static;
						max-width: none;
					}
				}
			}
		}

		&-title {
			font-size: 18px;
			font-weight: $f_medium;
			color: $c_blue;
			margin-bottom: 30px;
			padding-right: 80px;

			@include media-q(min, 768) {
				font-size: 24px;
				padding-right: 0;
			}

			@include media-q(min, 1280) {
				margin-bottom: 60px;
			}

			@include media-q(min, 1441) {
				font-size: 36px;
			}
		}

		&-img {
			width: 75px;
			height: 75px;
			border-radius: 50%;
			background-color: $c_blue;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto 6px;

			@include media-q(min, 768) {
				width: 150px;
				height: 150px;
				margin: 0 auto 25px;
			}

			@include media-q(min, 1441) {
				width: 250px;
				height: 250px;
			}
		}

		&-name {
			text-align: center;
			font-size: 12px;

			@include media-q(min, 768) {
				font-size: 18px;
			}
		}

		&-slider {
			max-width: 1330px;
			margin: 0 auto;

			.slick-track {
				display: flex;
			}

			.slick-slide {
				margin: 0 auto;

				@include media-q(min, 1280) {
					padding: 20px;
				}

				@include media-q(min, 1920) {
					transform: scale(.85);
					transition: transform .2s ease;
					margin: 0 -65px;
				}

				&.slick-center {
					transform: none;
				}
			}

			.slick-list {

				@include media-q(min, 1920) {
					overflow: visible;
				}
			}
		}
	}
}