.product-description {
	margin-bottom: rem-calc(30);

	@include media-q(min, 1024) {
		margin-bottom: rem-calc(100);
	}

	&__tabs {
		@include font-size(14);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $c_light_green;
		padding: rem-calc(15 0);
		overflow-x: auto;
		overflow-y: hidden;
		background-color: $white;

		@include media-q(max, 1023) {
			left: 0;
			transition: left .2s ease;
		}

		@include media-q(min, 1024) {
			@include font-size(18);
		}

		@include media-q(min, 1280) {
			padding: rem-calc(15 100);
			@include font-size(24);
		}

		.fixed > & {
			position: fixed;
			top: 0;
			left: 15px;
			right: 15px;
			z-index: 3;

			@include media-q(max, 1023) {
				padding-top: 26px;
				left: 70px;
			}
		}

		&-wrap {
			margin-bottom: rem-calc(30);

			@include media-q(min, 1024) {
				margin-bottom: rem-calc(50);
			}

			@include media-q(min, 1440) {
				margin-bottom: rem-calc(80);
			}

			&.fixed {
				&::before {
					@include media-q(max, 1023) {
						position: fixed;
						content: '';
						width: 80px;
						height: 57px;
						left: 0;
						top: 0;
						background-color: $white;
						z-index: 2;
					}
				}
			}
		}

		&-item {
			text-transform: uppercase;
			font-weight: $fw_semibold;
			cursor: pointer;
			transition: color .2s ease;
			margin-right: rem-calc(30);

			@include media-q(min, 768) {
				margin-right: 0;
			}

			&:hover {
				color: $c_green;
			}

			&.active {
				color: $c_green;
				position: relative;

				&::before {
					@include font-size(12);
					bottom: rem-calc(-16);
					left: 50%;
					transform: translateX(-50%);
					position: absolute;

					@extend %font-icon;
					@extend %icon-product-tab-arrow;
				}
			}
		}
	}

	&__advantages {
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: rem-calc(10);

		@include media-q(min, 1024) {
			margin-bottom: rem-calc(60);
		}

		@include media-q(min, 1280) {
			padding: 0 10%;
		}

		&-item {
			text-align: center;
			width: 50%;
			margin-bottom: rem-calc(30);

			@include media-q(min, 1024) {
				width: auto;
				margin-bottom: 0;
			}
		}

		&-title {
			@include font-size(18);
			font-weight: $fw_semibold;
			margin-bottom: rem-calc(15);

			@include media-q(min, 1024) {
				@include font-size(24);
			}
		}
	}

	&__circle {
		background-color: #C4C4C4;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin: 0 auto 20px;
	}

	.content {
		p {
			margin-bottom: rem-calc(60);
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	&__video {
		width: 100%;
		overflow: hidden;
		max-height: 250px;

		@include media-q(min, 1024) {
			max-height: 560px;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__application {
		justify-content: center;
		flex-wrap: wrap;

		&-item {
			margin: rem-calc(0 10 60 10);
			//min-height: 300px;
			overflow: hidden;
			width: 100%;

			@include media-q(min, 1024) {
				width: calc(33.33% - 20px);
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}