.product-offer {
	background: linear-gradient(to top, #000C0F 0%, #0B303E 100%);
	position: relative;
	padding: rem-calc(50 0 0 0);

	@extend %section-margin-bottom;

	@include media-q(min, 1024) {
		padding: rem-calc(50 0);
		background: linear-gradient(179.07deg, #0B3442 17.48%, #0B3442 54.19%, #031D25 121.33%);
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		background: url("../img/hero-bg-v2.png") no-repeat center;
		background-size: cover;
	}

	.container {
		align-items: center;
		position: relative;
		justify-content: space-between;
		z-index: 1;
		flex-direction: column-reverse;

		@include media-q(min, 1024) {
			flex-direction: row;
			padding-right: 10%;
		}
	}

	&__info {
		text-align: center;

		@include media-q(min, 1024) {
			width: 60%;
		}

		@include media-q(min, 1280) {
			width: 40%;
		}
	}

	&__img {

		@include media-q(min, 1024) {
			width: 40%;
		}

		@include media-q(min, 1280) {
			width: 60%;
		}
	}

	&__title {
		@include font-size(36);
		color: $c_light_green;

		@include media-q(min, 1850) {
			@include font-size(48);
		}
	}

	&__text {
		@include font-size(18);

		color: $white;
		text-align: center;
		margin-bottom: rem-calc(66);

		@include media-q(min, 1024) {
			@include font-size(20);
		}

		@include media-q(min, 1280) {
			@include font-size(24);
		}
	}

	.btn__light {
		width: 100%;
		margin: 0 auto;

		@include media-q(min, 1024) {
			width: 80%;
		}
	}
}