footer.footer
	.container
		p.footer-text © 2012 - 2020 "ОЙЛПОСТ". Все права защищены.
		a.footer-logo-wrap(href="http://kryuchkin-web.ru/")
			p.footer-logo-text Создание и <br>продвижение сайтов
			img.footer-logo-img(src="img/footer-logo.png")