header#header.site-header
	.header-top
		.container
			.header-logo-wrap
				img.header-logo-img(src="img/header-logo.png", alt="logo")
				p.header-logo-text Оптовые поставки смазочных <br>материалов по России
			.header-group
				.header-item
					.header-item__left.header-item__left-first
						i.font-icon.icon-mail
						a(href="mailto: office@oilpost.ru") office@oilpost.ru
					.header-item__left
						i.font-icon.icon-clock
						p Пн.-Пт. с 9:00 до 18:00
				.header-item
					.header-item__right.header-item__right-first
						i.font-icon.icon-phone
						a(href="tel:+7 (812) 425-30-55") +7 (812) 425-30-55
					.header-item__right
						i.font-icon.icon-phone
						a(href="tel:+7 (812) 907-03-88") +7 (812) 907-03-88

	.menu-wrap
		.container
			a.open-main-menu.icon-menu-inside(href='#')
				i.icon-menu
					span
					span
					span
			nav.menu
				ul.menu-group
					+main_menu(main_menu)
