.section-advantages {
	background: #f7f7f7;
	padding-top: 42px;
	padding-bottom: 30px;
}

.advantages-title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
}

.advantages-text {
	font-size: 15px;
	text-align: center;
	position: relative;
	margin-bottom: 72px;

	&::after {
		position: absolute;
		content: '';
		bottom: -25px;
		left: calc(50% - 30px);
		background: #90c3e9;
		width: 60px;
		height: 1px;
	}
}

.advantages-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantages-item {
	width: 370px;
	border-radius: 15px;
	position: relative;
	padding: 213px 29px 27px;
	margin-bottom: 40px;
	background: no-repeat center top 17% #fff;
	text-align: center;
}

.advantages-item-title {
	font-size: 20px;
	font-weight: 600;
	color: #1d3d2f;
	line-height: 1.4;
	margin-bottom: 12px;
}

.advantages-item-text {
	font-size: 14px;
	color: #8c9791;
	line-height: 1.5;
}

.advantages-item-button {
	font-size: 15px;
	background: #298fda;
	color: #fff;
	text-transform: uppercase;
	border-radius: 30px;
	padding: 11px;
	border: none;
	width: 200px;
	transition: opasity .2s ease;

	&:hover {
		background: #4ab4ff;
	}
}