.section-reviews {
	padding-top: 42px;
	padding-bottom: 47px;
	background: linear-gradient(to right, #489fdd, #1e608e);
}

.section-reviews-title {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	position: relative;
	margin-bottom: 59px;

	&::after {
		position: absolute;
		content: '';
		bottom: -18px;
		left: calc(50% - 30px);
		background: #fff;
		width: 60px;
		height: 1px;
	}
}

.reviews-slider {
	max-width: 970px;
	margin: 0 auto;


	.slick-arrow {
		appearance: none;
		border:none;
		outline: none;
		font-size: 0;
		color: transparent;
		position: absolute;
		width: 12%;
		height: 100%;
		background: center no-repeat transparent;
		background-image: url(../img/icon-slider-arrow.png);
		background-size: 14px 27px;
		z-index: 2;
		bottom: 60%;

		@include media-q(min, 768) {
			width: 6%;
			bottom: 10%;
		}

		&:hover {
			opacity: .8;
		}

		&:active {
			transform: scale(.9);
		}
	}

	.slick-prev {
		left: 0;
		transform: scale(-1);

		@include media-q(min, 768) {
			left: -9%;
		}
	}

	.slick-next {
		right: 0;

		@include media-q(min, 768) {
			right: -9%;
		}

		&:active {
			transform: scale(-.9);
		}
	}
}

.reviews-slider-cont {
	background: #fff;
	border-radius: 10px;
	margin: 0 auto;
	padding: 38px 54px 32px;
}

.reviews-slider-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews-slider-cont-text {
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
	padding: 0px 11px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 23px;
}

.reviews-slider-name {
	font-size: 16px;
	font-weight: 600;
	color: #298fda;
	margin-right: 21px;
}

.reviews-slider-date {
	font-size: 14px;
	color: #22272b;
	opacity: .6;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 26px;
}

.slick-dots li {
	list-style: none;
	font-size: 0;
	color: transparent;
	padding: 0 10px;

	button {
		appearance: none;
		padding: 0;
		border: none;
		outline: none;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background: #fff;
		opacity: .5;
	}

	&.slick-active {
		button {
			opacity: 1;
		}
	}
}








