.section-first-screen {
	background: no-repeat 94% 0 #fff;
	padding-top: 46px;
	padding-bottom: 55px;
	position: relative;
	margin-top: 65px;

	&::after {
		position: absolute;
		content: '';
		bottom: 3%;
		right: 9%;
		width: 371px;
		height: 520px;
		background: url("../img/first-screen-phone-img.png") no-repeat center;
		background-size: 371px 520px;
		display: none;

		@include media-q(min, 768) {
			display: block;
		}
	}

  @include media-q(min, 768) {
		padding-top: 56px;
		padding-bottom: 90px;
		background: no-repeat center -160% #fff;
	}

	@include media-q(min, 1441) {
		background-size: 100% 90%;
	}
}

.apple-form-wrapper {
	max-width: 752px;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 72px;
	padding-top: 27px;
	padding-bottom: 15px;
	border-radius: 5px;

	@include media-q(min, 768) {
		margin-bottom: 142px;
	}

	.apple-form-top {
		text-align: left;

		@include media-q(min, 768) {
		}
	}
}

.apple-form {
	flex-wrap: wrap;
	padding: 0 15px;

	@include media-q(min, 768) {
		padding: 0 27px;
	}

	input {
		color: rgba(43, 50, 56, 0.8);
		font-size: 14px;
		border: 2px solid #e5e5e5;
		border-radius: 5px;
		padding: 22px 21px;
		margin: 0 5px 15px 5px;
		letter-spacing: -0.9px;
		outline: none;
		width: 300px;
		background: no-repeat 95% #fff;

		@include media-q(min, 768) {
			padding: 10px 21px;
			width: 220px;
		}

		&::placeholder {
			color: #000;
		}

		&:focus {
			border-bottom-color: #298fda;
		}
	}

	.input-name {
		background-size: 15px 18px;
		background-image: url(../img/input-name-icon.png);
	}

	.input-phone {
		background-size: 19px 18px;
		background-image: url(../img/input-phone-icon.png);
	}

	.input-model {
		background-size: 16px 20px;
		background-image: url(../img/input-model-icon.png);
	}

	.input-problem {
		width: 98.7%;
		margin-bottom: 20px;
		background-size: 20px 20px;
		background-image: url(../img/input-problem-icon.png);
	}

	.request {
		margin-bottom: 12px;
		background: #298fda;
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		border-radius: 30px;
		border: none;
		width: 300px;
		transition: opasity .2s ease;

		@include media-q(min, 768) {
			width: 240px;
		}

			&:hover {
			background: #4ab4ff;
		}
	}
}

.apple-form-text-ps {
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 1.3;
	font-weight: 100;
	margin-right: 9px;
	margin-top: 4px;

	a {
		color: #1d3d2f;
		border-bottom: none;
	}

	@include media-q(min, 768) {
		text-align: right;
	}
}


.form-bottom-group {
	display: flex;
	flex-direction: column;

	@include media-q(min, 768) {
		flex-direction: row-reverse;
	}
}

.apple-form-title {
	font-size: 26px;
	font-weight: 700;
	color: #4ab4ff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 11px;
}

.apple-form-text {
	margin-bottom: 27px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding: 0 42px;

	@include media-q(min, 768) {
		padding-left: 0;
	}
}

.first-screen-title {
	font-size: 34px;
	color: #fff;
	line-height: 1.2;
	margin-bottom: 18px;
	font-weight: 700;
	position: relative;
	text-align: center;

	@include media-q(min, 768) {
		font-size: 46px;
	}
}

.first-screen-text {
	font-size: 21px;
	color: #fff;
	margin-bottom: 52px;
	letter-spacing: 0.6px;
	text-align: center;

	@include media-q(min, 768) {
		margin-bottom: 62px;
	}
}

.first-screen-group {
	display: flex;
	justify-content: space-between;
	max-width: 770px;
	flex-wrap: wrap;

	@include media-q(min, 768) {
		flex-wrap: nowrap;
	}
}

.first-screen-item {
	flex-basis: 47%;
	background: #f7f7f7;
	text-align: center;
	padding: 32px 0 24px;
	border-radius: 3px;
	margin-bottom: 15px;

	@include media-q(min, 768) {
		flex-basis: 170px;
		margin-bottom: 0;
	}
}

.first-screen-img-wrap {
	height: 51px;
	margin-bottom: 28px;

	.first-screen-img {
		display: block;
		margin: 0 auto;
	}
}

.first-screen-item-text {
	font-size: 16px;
	text-align: center;
}

