.section-delivery {
	padding-top: 48px;
	padding-bottom: 25px;

	h2.title {
		margin-bottom: 66px;
	}
}

.delivery-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.delivery-item-number {
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 120px;
	font-weight: 800;
	color: $black;
	opacity: .1;
	display: none;
}

.delivery-item {
	flex-basis: 100%;
	text-align: center;
	position: relative;
	border-radius: 7px;
	padding: 30px;

	@include media-q(min, 768) {
		flex-basis: 32%;
	}

		.font-icon {
		&::before {
			font-size: 60px;
			color: $c_yellow;
			margin-bottom: 21px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 15px;
		line-height: 1.6;

		@include media-q(min, 1830) {
			padding: 0 50px;
		}
	}

	&:hover {
		background: linear-gradient(#f2ac0c, #d98000);
		color: $white;
		cursor: pointer;

		.delivery-item-number {
			display: block;
		}

		.font-icon {
			&::before {
				color: $white;
			}
		}

		.delivery-item__title {
			color: $white;
		}
	}


}