.section-warranty {
	background: url("../img/warranty-bg.jpg") no-repeat center;
	background-size: cover;
	padding-top: 50px;
	color: $white;

	h2.title {
		color: $white;
		margin-bottom: 67px;

		span {
			color: $white;
		}
	}

	.warranty-cont {
		display: flex;
		flex-direction: column;

		@include media-q(min, 768) {
			flex-direction: row;
		}
	}

	.site-form-wrapper {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background: url("../img/warranty-arrow.png") no-repeat center;
			background-size: 125px 50px;
			width: 125px;
			height: 50px;
			right: 9%;
			top: 0;
			bottom: 0;
			transform: translateY(150px);

			@include media-q(min, 768) {
				transform: none;
			}
		}
	}

	.site-form {
		display: flex;
		flex-direction: column;

		@include media-q(min, 768) {
			flex-direction: row;
		}
	}

	.input-text,
	.request {
		padding: 15px;
		border-radius: 5px;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.7);
		border: none;
		outline: none;
		font-size: 17px;
		text-align: center;
		width: 100%;
		margin-bottom: 15px;

		@include media-q(min, 768) {
			margin-bottom: 0;
			width: 300px;
		}

		@include media-q(min, 1830) {
			width: 390px;
		}
	}

	.input-text {
		margin-right: 40px;
	}

	.request {
		text-transform: uppercase;
		color: $white;
		background-color: $c_yellow;
		font-weight: 800;
	}
}

.warranty-left {
	max-width: 320px;
	margin-right: -13px;

	@include media-q(min, 768) {
		max-width: 890px;
	}

		@include media-q(min, 1830) {
		max-width: 1177px;
	}
}

.warranty-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 25px;
}

.warranty-item {
	flex-basis: 100%;
	display: flex;
	margin-bottom: 40px;

	@include media-q(min, 768) {
		flex-basis: 49%;
	}

		@include media-q(min, 1830) {
		margin-bottom: 70px;
	}

		&__title {
		color: $white;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 800;
		letter-spacing: 0.7px;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 13px;
		font-weight: 300;
		font-family: $sans-open;
		line-height: 1.8;
		max-width: 280px;

		@include media-q(min, 1830) {
			max-width: 100%;
		}
	}

	.font-icon {
		margin-right: 7px;

		@include media-q(min, 1830) {
			margin-right: 26px;
		}
			&::before {
			font-size: 47px;
			color: $c_yellow;
		}
	}
}

.warranty-director-cont {
	position: relative;
	display: flex;
	max-width: 600px;
}

.warranty-director-wrap {
	max-width: 246px;
}

.warranty-director-name {
	color: $white;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	padding: 14px;
	border-radius: 5px;
	min-width: 170px;
	right: 48%;
	bottom: 16%;

	@include media-q(min, 768) {
		min-width: 270px;
		right: 36%;
		bottom: 14%;
	}
}

.warranty-director-status {
	font-size: 14px;
	color: $c_yellow;
	text-align: center;
	bottom: 9%;
	right: 53%;

	@include media-q(min, 768) {
		right: 50%;
	}
}

.warranty-director-name,
.warranty-director-status {
	position: absolute;
}

.warranty-quote-wrap {
	margin-top: 89px;
	margin-left: 12px;

	@include media-q(min, 768) {
		margin-top: 129px;
	}

	.font-icon {
		&::before {
			font-size: 24px;
			color: $c_yellow;
			margin-bottom: 13px;
		}
	}
}

.warranty-quote-text {
	line-height: 1.6;
	font-size: 14px;
}