.inview {
  @include media-q(min, 768) {
    animation-play-state: paused;
  }

  &.enter {
    animation-play-state: running;
  }
}

%animation-base {
  opacity: 0;
  animation-fill-mode: both;

  .ie {
    opacity: 1;
  }
}

$animation-list: (
        "fade-in" "fade-in-left" "fade-in-right" "fade-in-up" "fade-in-down" "scale-in"
);

@each $current-animation in $animation-list {
  .#{$current-animation} {
    @extend %animation-base;
    animation-name: #{$current-animation};
    animation-duration: .3s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
