include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='no')
	include ../common_meta/head
	body.front
		include ../components/_header
		main.page-container
			// ===================================================
			-
				var firstscreen_background = 'contacts-firstscreen-bg.jpg',
						firstscreen_title = 'контакты',
						firstscreen_subtitle = false,
						firstscreen_class = 'page-firstscreen',
						disable_icons = true;
			include ../sections/product-page/section-firstscreen
			+product_section_firstscreen(firstscreen_background, firstscreen_title, firstscreen_subtitle, firstscreen_class, disable_icons)


			// ===================================================
			include ../sections/contacts/section-contacts-main

		include ../components/_footer
		include ../common_meta/footer_scripts
