include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='no')
	include ../common_meta/head
	body.front
		include ../components/_header
		main.page-container


			// ===================================================
			-
				var firstscreen_background = 'freight-elevators-firstscreen-bg.jpg',
						firstscreen_title = 'Подъемники для инвалидов\n',
						firstscreen_subtitle = 'Напрямую от производителя';
			include ../sections/product-page/section-firstscreen
			+product_section_firstscreen(firstscreen_background, firstscreen_title, firstscreen_subtitle)

			// ===================================================
			-
				var product_title = 'Наша продукция',
						product_items = [
							{
								image: 'product-slider-03.png',
								name: 'Вертикальный подъемник до 2 м',
								costs: 'от 199 000 руб',
								capacity: 'до 400 кг',
								height: 'до 2 м',
								speed: 'до 0,15 м/с',
								size: '940 х 1300',
								power: 'от 0,55 до 1,4 кВт'
							},
							{
								image: 'product-slider-04.png',
								name: 'Вертикальный подъемник до 9 м',
								costs: 'от 350 000 руб',
								capacity: 'до 250 кг',
								height: 'до 9 м',
								speed: 'до 0,15 м/с',
								size: '1100 х 1400 х 2000 и 1250 х 1250 х 2000',
								power: 'до 1,4 кВт'
							},
							{
								image: 'product-slider-05.png',
								name: 'Наклонный подъемник',
								costs: 'от 250 000 руб',
								capacity: 'до 225 кг',
								height: 'до 20 м',
								speed: 'от 18 до 42 градусов',
								size: '960 х 850',
								power: '0,8 кВт'
							}
						],
						product_items_count = [1],
						product_section_class = 'grey-background';
			include ../sections/product-page/section-products
			+products_slider(product_title, product_items, product_items_count, product_section_class)


			// ===================================================
			-
				var advantage_heading = 'Преимущества подъёмников',
						advantage_class = 'four-in-row',
						advantage_folder = 'adventage-disabled-icons',
						advantages_items = [
							{
								title: 'Быстрый и удобный монтаж',
							},
							{
								title: 'Бюджетная стоимость',
							},
							{
								title: 'Безопасность использования по всем нормам',
							},
							{
								title: 'Надежность механизмов',
							},
							{
								title: 'Цвет окраски и отделки подбирается индивидуально под интерьер или под фасад здания',
							},
							{
								title: 'Механизм подъема с направляющими в защищенном исполнении',
							},
							{
								title: 'Антивандальные кнопки вызова расположены на верхних и нижних площадках',
							},
							{
								title: 'Пол площадки и пандус выполнены из нескользящего рифленого алюминиевого листа',
							},
							{
								title: 'В комплекте все необходимые элементы для крепления, паспорт и руководство по эксплуатации',
							},
							{
								title: 'Организационно-техническая поддержка при монтаже',
							},
							{
								title: 'Подходит для установки снаружи здания (на улице) и внутри помещения',
							},
							{
								title: 'Каждый подъемник после изготовления проходит испытания',
							},
						],
						advantage_note = 'Соответствует ГОСТ Р 55555-2013 и  ТР ТС 010/2011 <br> (для наклонного: Соответствует ГОСТ Р 55556-2013 и  ТР ТС 010/2011)';
			include ../sections/product-page/section-freight-advantages
			+products_advantages(advantage_heading, advantage_class, advantage_folder, advantages_items, advantage_note)

			include ../sections/home-page/section-objects
			include ../sections/product-page/secton-controls-five-items
			-
				var reviews_bg = 'home-reviews-bg.jpg';
			include ../sections/home-page/section-reviews
			+section_reviews(reviews_bg)
			include ../sections/home-page/section-partners
			include ../sections/home-page/section-certificate
			include ../sections/product-page/section-wysiwyg
			include ../sections/product-page/section-quality
			include ../sections/home-page/section-commercial
			include ../sections/home-page/section-services
			include ../sections/home-page/section-contacts

		include ../components/_footer
		include ../common_meta/footer_scripts
