include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='no')
	include ../common_meta/head
	link(rel='stylesheet' href='css/proto-sitemap.css')
	body.front
		header.proto-sitemap-header
			.header-general
				.container
					a.header-general-logo(href='/')
						img(src='img/titan-logo.png' width='313px' height='102px' alt='Лифтовый производиственный центр "ТИТАН"')
		main.page-container.proto-sitemap-body
			.container
				h1.default-section-heading Prototype sitemap

				.proto-sitemap-links-cont
					a.proto-sitemap-link(href='home.html') Главная
					a.proto-sitemap-link(href='freight-elevators.html') Грузовые подъемники
					a.proto-sitemap-link(href='disabled-elevators.html') Лифты для инвалидов
					a.proto-sitemap-link(href='disabled-nine.html') Инвалидный до 9м
					a.proto-sitemap-link(href='lifts.html') Лифты
					a.proto-sitemap-link(href='lifts-detail.html') Коттеджный лифт
					a.proto-sitemap-link(href='shaft-lift.html') Шахтный подъемник
					a.proto-sitemap-link(href='for-mall.html') Подъемники для ТЦ
					a.proto-sitemap-link(href='contacts.html') Контакты
					a.proto-sitemap-link(href='reviews.html') Отзывы
					a.proto-sitemap-link(href='objects.html') Сданные объекты






		include ../components/_footer
		include ../common_meta/footer_scripts
