section.hero-screen
  .container.flex
    .hero-screen-info
      h1.hero-screen-title=hero_screen.title
      .hero-bg-img.show-before-tablet
        include ../../img/hero-img.svg
      p.charrycoin-text=hero_screen.text
      a(href=hero_screen.cta.href).charrycoin-btn=hero_screen.cta.title

    .hero-bg-img.show-from-tablet
      include ../../img/hero-img.svg
