section.how-it-works
  .container
    h2=how_it_works.title
    .how-it-group.flex.mobile-slick
      each item in how_it_works.items
        .how-it-item
          .box-shadow
            i.font-icon(class='icon-' + item.icon)
            .how-it-item__title=item.title
            p.how-it-item__text=item.text
