section.road-map
  .container
    h2=road_map.title
    .road-map__group
      each group in road_map.items
        .road-map__container.flex
          each item in group
            .road-map__item.flex(class=item.class)
              .road-map__info
                .road-map__title=item.title
                .road-map__text
                  p=item.text
              .road-map__circle
                .road-map__circle-icon
              .road-map__info
