section.our-team#our-team
  .container
    h2=our_team.title
    .our-team__group.flex.mobile-slick
      each item in our_team.items
        .our-team__item
          .box-shadow
            .our-team__item-photo
              img(src="img/" + item.photo + '.jpg')
            .our-team__title=item.name
            p.our-team__position=item.position
            if item.socials
              .our-team__socials
                if item.socials.twitter
                  a(href="#").our-team__socials-item
                    i.font-icon.icon-twitter
                if item.socials.telegram
                  a(href="#").our-team__socials-item
                    i.font-icon.icon-telegram
                if item.socials.facebook
                  a(href="#").our-team__socials-item
                    i.font-icon.icon-facebook
    button.our-team__other.show-from-tablet=our_team.text_more
