section.section-payment#payment
	.container
		.payment-group.inview.fade-in-right
			.payment-item.payment-item-01(style="background-image: url(img/payment-item-01.png)")
			.payment-item.payment-item-02(style="background-image: url(img/payment-item-02.png)")
		.payment-title Оплата <br> #[span при получении!]