section.section-map#map
	.container
		.map-item.map-wrap
			.map
				<script async type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=aoQTsfiiiOqV3LdCfVJ_R-GipUOt7hWXUkJw4jKWnFwLJk67T2oYSu_23lE0m4JxY51ZTtHL8AiwjIEsvwXaPLm8WmW8mZYtNneDNCTEjGlLfFtddwaLYfJ-YDR0veKmp8QBZxH5_PuyFLjoMGT0tw" charset="UTF-8"></script><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac77e6548f6e7fe34c9d2e2774b952bfccb4af291ecad04530f836fc3ff912e0f&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
		.map-item.map-content.inview.fade-in-left
			.map-title Наш центральный склад <br> в Москве
			.map-item-group
				.map-tel-wrap
					a(href="tel: +7 (917) 032-15-81").map-tel.map-text +7 (917) 032-15-81
				.map-text.map-address Самарская область с.Богатое ул. Строителей, д. 47 А/8.
				.map-text.map-time Пн.-Пт. с 9-00 до 18-00,Сб. с 8-00 до 17-00, <br> Вс Выходной
