section.section-popup-thanks
	.popup-wrap
		.container
			.popup-overlaw
			.popup-content
				button.popup-close-icon
				.popup-thanks-title спасибо за заявку!
				.popup-thanks-text Мы перезвоним Вам в течении 5 минут