section.section-delivery#delivery
	.container
		h2.title Удобные способы доставки
		.delivery-text.delivery-top-text Стоимость доставки всего #[span от 300 рублей.]
		.delivery-group
			.delivery-item(style="background-image: url(img/delivery-item-bg-01.png)").inview.fade-in-up
				.delivery-item-check
				.delivery-item-title по Москве
				.delivery-item-text.delivery-item-way #[span способ] - курьером
				.delivery-item-text.delivery-item-term #[span срок] - 1-2 дня
			.delivery-item(style="background-image: url(img/delivery-item-bg-02.png)").inview.fade-in-up
				.delivery-item-check
				.delivery-item-title по России
				.delivery-item-text.delivery-item-way #[span способ] - Почта России
				.delivery-item-text.delivery-item-term #[span срок] -  5-14 дней
			.delivery-item(style="background-image: url(img/delivery-item-bg-03.png)").inview.fade-in-up
				.delivery-item-check
				.delivery-item-title Курьером
				.delivery-item-text.delivery-item-way #[span способ] - Почта России
				.delivery-item-text.delivery-item-term #[span срок] -  5-14 дней
		.delivery-text.delivery-bottom-text Курьерские службы с которыми сотрудничаем: #[span СДЭК, DPD, B2CPL, BOXBERRY] и многие другие
