section.section-brands#brands
	.container
		.brands-left
			h3.brands-title В наличии более #[span 200 видов] поршневых под самые популярные бренды
			.brands-group
				.brands-item
					img(src="img/brands-img-01.png").brands-img
				.brands-item
					img(src="img/brands-img-02.png").brands-img
				.brands-item
					img(src="img/brands-img-03.png").brands-img
				.brands-item
					img(src="img/brands-img-04.png").brands-img
				.brands-item
					img(src="img/brands-img-05.png").brands-img
				.brands-item
					img(src="img/brands-img-06.png").brands-img
				.brands-item
					img(src="img/brands-img-07.png").brands-img
				.brands-item
					img(src="img/brands-img-08.png").brands-img
				.brands-item
					img(src="img/brands-img-09.png").brands-img
			.brands-text ...и многие другие

		.mvt-form-wrapper.inview.fade-in-left
			.mvt-form-top
				.mvt-form-title Подберем подходящую деталь для Вашей техники
				.mvt-form-text и перезвоним в течении 5 минут

			form.mvt-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-detals(type="text" placeholder='Название детали:')
				input.input-text.input-scooter(type="text" placeholder='Название вашего скутера:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.request.yandex-metrika-event(type="submit" value='ОТПРАВИТЬ' data-goal='otpravit-verh')
				.form-errors-cont
			.mvt-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих
				a(href="#") персональных данных.
		.brands-moto