section.section-questions
	.container
		h2.questions-title У ВАС ОСТАЛИСЬ ВОПРОСЫ? <br>ИЛИ не получается подобрать деталь?
		.questions-text оставьте заявку и перезвоним в течении 5 минут
		.mvt-form-wrapper
			form.mvt-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-detals(type="text" placeholder='Название детали:')
				input.input-text.input-scooter(type="text" placeholder='Название вашего скутера:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.request.yandex-metrika-event(type="submit" value='ОТПРАВИТЬ' data-goal='otpravit-verh')
				.form-errors-cont
		.mvt-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих #[a(href="#") персональных данных.]

