.category-page {
	&__sidebar {
		width: rem-calc(300);
		border: 1px solid $c-light;
		float: left;
		padding: 20px 0;
		margin-right: 20px;
		position: absolute;
		left: 0;
		top: calc(100% - 50px);
		z-index: 1;
		background-color: $white;
		display: none;

		@include media-q(min, 768) {
			top: 100%;
		}

		@include media-q(min, 1024) {
			position: static;
			display: block;
		}

		@include media-q(min, 1440) {
			width: rem-calc(460);
		}
	}
}

.sidebar-item {
	padding: 20px 40px;

	&:not(:last-child) {
		border-bottom: 1px solid $c-light;
	}

	&__title {
		@include font-size(24);
		font-weight: $f_medium;
		margin-bottom: rem-calc(30);
	}
}

.sidebar-group {
	&__item {
		display: block;
		margin-bottom: 14px;
	}
}

.sidebar-range {
	input[type=range] {
		box-sizing: border-box;
		appearance: none;
		width: 155px;
		margin: 0;
		padding: 0 2px;
		overflow: hidden;
		border: 0;
		border-radius: 1px;
		outline: none;
		background: linear-gradient(#eee, #eee) no-repeat center;
		background-size: 100% 1px;
		pointer-events: none;

		&:active,
		&:focus {
			outline: none;
		}

		&::-webkit-slider-thumb {
			height: 11px;
			width: 11px;
			border-radius: 50%;
			background-color: $c-blue;
			position: relative;
			margin: 5px 0;
			cursor: pointer;
			appearance: none;
			pointer-events: all;
			z-index: 2;
			display: block;

			&::before {
				content: ' ';
				display: block;
				position: relative;
				top: 13px;
				left: 100%;
				width: 2000px;
				height: 2px;
				background: #1BAE73;
			}
		}
	}

	.multirange {
		position: relative;
		height: 25px;

		input[type=range] {
			position: absolute;

			&:nth-child(1) {
				&::-webkit-slider-thumb::before {
					background-color: #1BAE73;
				}
			}

			&:nth-child(2) {
				background: none;

				&::-webkit-slider-thumb::before {
					background-color: #979797;
				}
			}
		}
	}

	.line {
		position: absolute;
		left: calc(4px + 15px);
		top: calc(50% - 2px);
		content: "";
		display: block;
		width: calc(100px - 19px);
		background: $c-blue;
		height: 1px;
		z-index: 0;
	}
}

.range-price-group {
	display: flex;
	margin-bottom: 20px;

	p {
		margin-right: 47px;
		margin-bottom: 0;
	}
}