.catalog-list {
	&__group {
		flex-wrap: wrap;
	}

	.product-gallery__wrap {
		position: relative;
	}

	.product-gallery__item {
		display: inline-block;

		@include media-q(min, 1024) {
			width: 49%;
		}

		//&:nth-child(2),
		//&:nth-child(3),
		//&:nth-child(4),
		//&:nth-child(5),
		&.item-small {

			@include media-q(min, 1024) {
				width: calc(50% - 190px);
			}

			@include media-q(min, 1440) {
				width: calc(50% - 280px);
			}
		}

		&:nth-child(2),
		&:nth-child(3) {

			@include media-q(min, 1024) {
				margin-top: 55px;
			}
		}
	}

	&__slider {
		.slick-arrow {
			top: 103%;

			&::after {
				font-size: 24px;
				color: $c-blue;
			}
		}

		.slick-next {
			right: 40%;
		}

		.slick-prev {
			left: 40%;
		}
	}
}

.filters-wrap {
	margin-bottom: 70px;
	position: relative;
	float: left;

	@include media-q(max, 1023) {
		width: 100%;
	}

	@include media-q(min, 768) {
		display: flex;
		align-items: center;
	}

	&.active {
		.category-page__sidebar {
			display: block;
		}
	}
}

.filters-btn {
	@include font-size(20);
	border: 1px solid $c-light;
	padding: 15px 30px;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin-bottom: 30px;

	@include media-q(min, 768) {
		@include font-size(22);
		display: inline-flex;
		width: auto;
		justify-content: flex-start;
		margin-bottom: 0;
	}

	@extend %reset-button;

	&::after {
		@include font-size(24);
		color: $c-blue;
		margin-left: 5px;

		@extend %font-icon;
		@extend %icon-arrow-small;
	}
}

.filters-sorting {
	display: inline-flex;
	white-space: nowrap;
	margin-left: auto;

	&.show-from-tablet {


		@include media-q(min, 1024) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	select {
		display: inline-block;
		min-width: inherit;
		margin-left: 5px;
		background: url('../img/filter-arrow-icon.svg') no-repeat right;
		padding-right: 30px;

		@extend %reset-button;
	}
}