footer.footer
    .container.flex
        .footer__item
            a(href="#").footer__logo
                i.font-icon.icon-footer-logo-icon
                i.font-icon.icon-footer-logo-text
        .footer__item
            p © 2021 ООО «Медфорд» — официальный дистрибьютор и главный сервисный партнер Mindray в России
            .show-after-tablet
                a.footer__link(href="#") Политика конфиденциальности
        .footer__call-wrap.footer__item
            a(href="tel:+7 (499) 495-48-21").footer__number +7 (499) 495-48-21
            a.footer__link(href="#") Обратный звонок
        .footer__item
            p Ленинский пр-т. 146, Москва <br>Пн–Пт: с 9:00 до 19:00 МСК
        .footer__item.flex
            .show-before-tablet
                a.footer__link(href="#") Политика конфиденциальности
            a(href="#").footer__dev-logo dev by
                i.font-icon.icon-dev-by



