.apple-footer {
	background: #22272b;
	font-style: normal;
	// padding: 17px 0;
	letter-spacing: 0.2px;
	height: 100px;

	@include media-q(min, 768) {
		height: 57px;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 100px;
		padding: 20px 0;

		@include media-q(min, 768) {
			flex-direction: row;
			padding: 0;
			height: 57px;
		}
	}
}

.apple-footer-text {
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.apple-footer-group-text {
	text-align: right;
	color: #fff;
	margin-right: 15px;
	font-size: 13px;
	font-weight: 300;
}

.apple-footer-group {
	display: flex;
	align-items: center;
}