.palisandr-header-space
header.palisandr-header
		.container

				.main-menu-cont
					.header-nav-item-cont.have-arrow
						a(href='#').header-nav-item Тарифы
						.sub-menu
							.header-nav-item-cont
								a(href='#').header-nav-item тексттексттекст
							.header-nav-item-cont.have-arrow
								a(href='#').header-nav-item тексттексттекст
								.sub-menu
									.header-nav-item-cont
										a(href='#').header-nav-item тексттексттекст
									.header-nav-item-cont
										a(href='#').header-nav-item тексттексттекст
							.header-nav-item-cont
								a(href='#').header-nav-item тексттексттекст
							.header-nav-item-cont
								a(href='#').header-nav-item тексттексттекст
					.header-nav-item-cont
						a(href='#' data-anchor='Calculator').header-nav-item Калькулятор
						.sub-menu
					.header-nav-item-cont 
						a(href='#' data-anchor='Cost').header-nav-item Цены
						.sub-menu
					.header-nav-item-cont
						a(href='#' data-anchor='Portfolio').header-nav-item Портфолио
						.sub-menu
					.header-nav-item-cont
						a(href='#' data-anchor='Advantage').header-nav-item Преимущества
						.sub-menu
					.header-nav-item-cont
						a(href='#' data-anchor='Scheme').header-nav-item Этапы ремонта
						.sub-menu
					.header-nav-item-cont
						a(href='#' data-anchor='Reviews').header-nav-item Отзывы
						.sub-menu
					.header-nav-item-cont
						a(href='#' data-anchor='Contacts').header-nav-item Контакты
						.sub-menu

				.header-item.header-number
					a(href='tel: +7 (918) 204-05-06') +7 (918) 204-05-06<br>
					a(href='#').header-item-text Заказать звонок
				a.open-main-menu.icon-menu-inside(href='#')
					i.icon-menu
						span
						span
						span
