[class*='cusmenu-icon'] {
  position: relative;
  
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    transition: all .2s ease;
    background: center no-repeat transparent;
  }

  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}

.cusmenu-icon-key {

  &::before,
  &::after {
    width: 21px;
    background-size: 21px 21px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-key.png);
  }
  &::after {
    background-image: url(../img/icon-key-w.png);
  }
}

.cusmenu-icon-bath {

  &::before,
  &::after {
    width: 26px;
    background-size: 26px 20px;
    left: 21px;
  }

  &::before {
    background-image: url(../img/icon-bath.png);
  }
  &::after {
    background-image: url(../img/icon-bath-w.png);
  }
}

.cusmenu-icon-cup {

  &::before,
  &::after {
    width: 21px;
    background-size: 21px 21px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-cup.png);
  }
  &::after {
    background-image: url(../img/icon-cup-w.png);
  }
}

.cusmenu-icon-square {

  &::before,
  &::after {
    width: 21px;
    background-size: 21px 21px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-square.png);
  }
  &::after {
    background-image: url(../img/icon-square-w.png);
  }
}

.cusmenu-icon-brush {

  &::before,
  &::after {
    width: 21px;
    background-size: 21px 21px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-brush.png);
  }
  &::after {
    background-image: url(../img/icon-brush-w.png);
  }
}

.cusmenu-icon-palette {

  &::before,
  &::after {
    width: 26px;
    background-size: 26px 21px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-palette.png);
  }
  &::after {
    background-image: url(../img/icon-palette-w.png);
  }
}

.cusmenu-icon-trash {

  &::before,
  &::after {
    width: 18px;
    background-size: 18px 20px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-trash.png);
  }
  &::after {
    background-image: url(../img/icon-trash-w.png);
  }
}

.cusmenu-icon-window {

  &::before,
  &::after {
    width: 18px;
    background-size: 18px 20px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-window.png);
  }
  &::after {
    background-image: url(../img/icon-window-w.png);
  }
}

.cusmenu-icon-curtains {

  &::before,
  &::after {
    width: 21px;
    background-size: 21px 21px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-curtains.png);
  }
  &::after {
    background-image: url(../img/icon-curtains-w.png);
  }
}

.cusmenu-icon-bed {

  &::before,
  &::after {
    width: 26px;
    background-size: 26px 20px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-bed.png);
  }
  &::after {
    background-image: url(../img/icon-bed-w.png);
  }
}

.cusmenu-icon-kithcen {

  &::before,
  &::after {
    width: 25px;
    background-size: 25px 24px;
    left: 24px;
  }

  &::before {
    background-image: url(../img/icon-kithcen.png);
  }
  &::after {
    background-image: url(../img/icon-kithcen-w.png);
  }
}


























