.section-map {
  background: url(../img/map-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 25.01%;

  .container {
  }
}

.section-map-cont {
  position: relative;
  padding-bottom: 4.51%;
}

.section-map-address {
  width: 35px;
  height: 55px;
  position: absolute;
}