.section-first-screen {
  background: url(../img/first-screen-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 37px;
  font-family: 'Gotham Pro';
  padding-bottom: 24px;
}

.first-screen-logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 29px;

  img {
    height: auto;
    width: 220px;
  }
}

.first-screen-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include media-q(min, 375) {
    font-size: 26px;
  }

  @include media-q(min, 768) {
    font-size: 38px;
  }

  @include media-q(min, 1024) {
    font-size: 47px;
  }
}

.first-screen-form-wrapper {
  background: url(../img/first-screen-form-bg.png) no-repeat center;
  background-size: cover;
  max-width: 950px;
  margin: 0 auto;
  padding: 27px 17px;
  padding-bottom: 15px;
  margin-bottom: 29px;

  @include media-q(min, 375) {
    padding: 27px;
  }

  .form-wrapper-text {
    font-size: 18px;
    color: #f7d89c;
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 24px;

    @include media-q(min, 768) {
      font-size: 22px;
    }

    .form-wrapper-text-surprise {
      color: #fff;
    }
  }

  form {

    @include media-q(min, 768) {
      padding: 27px 17px;
      display: flex;
      justify-content: space-between;
    }

    input {
      font-size: 16px;
      color: #6c6c6c;
      border-bottom: 2px solid #e0e0e0;
      padding: 18px 21px;
      margin-bottom: 14px;
      width: 100%;
      border-radius: 7px;

      @include media-q(min, 768) {
        width: 243px;
        padding: 5px 21px;
        margin-left: 8px;
        margin-right: 8px;
      }

      @include media-q(min, 1024) {
        // margin-left: 0;
        // margin-right: 0;
        width: 303px;
      }

      &:focus {
        border-bottom: 2px solid #f7d89c;
      }
    }

    .request {
      border-bottom: none;
      font-size: 15px;
      color: #000;
      text-transform: uppercase;
      transition: opacity .3s ease;
      padding: 15px;
      background: #f7d89c;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        opacity: .9;
      }
    }
  }
}

.first-screen-form-errors,
.first-screen-form-success {
  display: none;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: red;
  opacity: .9;
}

.first-screen-form-success {
  color: #fff;
}

.first-screen-group {

  @include media-q(min, 768) {
    display: flex;
    justify-content: space-between;
  }

  @include media-q(min, 1024) {
    padding: 0 68px;
  }
}

.first-screen-item {
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding-top: 51px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  margin-bottom: 15px;

  @include media-q(min, 768) {
    margin-bottom: 0;
  }

  @include media-q(min, 1024) {
    font-size: 16px;
  }
}

.first-screen-item-01 {
  background: url(../img/first-screen-item-01.png) no-repeat center top;
  background-size: 36px 32px;
}

.first-screen-item-02 {
  background: url(../img/first-screen-item-02.png) no-repeat center top;
  background-size: 38px 38px;
}

.first-screen-item-03 {
  background: url(../img/first-screen-item-03.png) no-repeat center top;
  background-size: 38px 38px;
}

.first-screen-item-04 {
  background: url(../img/first-screen-item-04.png) no-repeat center top;
  background-size: 39px 30px;
}