.section-advantage {
	background: url(../img/advantage-bg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 38px;
	padding-bottom: 20px;
	font-family: 'Open Sans';
}

.section-advantage-title {
	font-size: 24px;
	font-weight: 900;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 16px;
	position: relative;
	z-index: 1;
	line-height: 1.2;

  @include media-q(min, 375) {
		font-size: 26px;
  }

	@include media-q(min, 768) {
		margin-bottom: 11px;
		font-size: 36px;
	}

	@include media-q(min, 1024) {
	}
}

.advantage-group {
	padding: 7px;
	margin-left: -15px;
	margin-right: -15px;

	@include media-q(min, 768) {
		display: flex;
		flex-wrap: wrap;
	}
}

.advantage-item {
	display: block;
	border-bottom: 1px solid #6b6865;
	padding-top: 30px;
	padding-right: 23px;
	padding-left: 34px;

	@include media-q(min, 768) {
		width: 33.3333%;
		border-right: 1px solid #6b6865;
	}
}

.advantage-item-title {
	letter-spacing: 1.1px;
	font-size: 20px;
	color: #f7d89c;
	padding-right: 33px;
	margin-bottom: 25px;
	text-align: left;

	@include media-q(min, 1024) {
	}

	@include media-q(min, 1200) {
		font-size: 20px;
		white-space: nowrap;
	}

	img {
		margin-right: 10px;
		transition: transform .2s ease;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.advantage-item-text {
	font-size: 15px;
	color: #fff;
	line-height: 1.4;
	padding-bottom: 41px;
	letter-spacing: .6px;
}

.advantage-item-04,
.advantage-item-05,
.advantage-item-06 {

	@include media-q(min, 768) {
		border-bottom: none;
	}
}

.advantage-item-03,
.advantage-item-06 {
	border-right: none !important;
}







