// External
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

// Custom scripts
script(src='js/slick.min.js')
script(src='js/slick-lightbox.min.js')
script(src='js/jquery.maskedinput.min.js')
//script(src='js/jquery-2.2.4.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/datepicker-ru.js')
script(src='js/es2015/main.js')
