include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ua')
  include ../common_meta/head
  body.front
    include ../components/_header
    main.page-container.contacts-page
      include ../sections/404-page

    include ../components/_footer
    include ../common_meta/footer_scripts
