include ../common_help/variables
include ../common_help/mixins

-
	var sitemap = [
		{
			title: 'Home page',
			href: 'home',
		},
		{
			title: 'Catalog Page',
			href: 'catalog',
		},
		{
			title: 'Caralog main',
			href: 'catalog-main',
		},
		{
			title: 'Product',
			href: 'product-page',
		},
		{
			title: 'Contacts',
			href: 'contacts',
		},
		{
			title: 'About company',
			href: 'about-company',
		},
		{
			title: 'Sign in',
			href: 'personal-area-registration',
		},
		{
			title: 'My data',
			href: 'personal-area-data',
		},
		{
			title: 'Orders history',
			href: 'personal-area-history',
		},
		{
			title: 'Opened order',
			href: 'personal-area-order',
		},
		{
			title: 'Addresses',
			href: 'personal-area-addresses',
		},
		{
			title: 'Thanks page',
			href: 'thanks',
		},
		{
			title: 'Text page',
			href: 'text-page',
		},
		{
			title: '404 Page',
			href: '404-page',
		},
		{
			title: 'Ordering Page',
			href: 'ordering',
		}
	];

doctype html
html(lang='ua')
	include ../common_meta/head
	body.front
		main.page-container
			.container
				div(style="padding: 50px")
					h1 Site Prototype
					each item in sitemap
						a(href=item.href +'.html' style="margin-bottom: 20px; display: block;")=item.title


		include ../common_meta/footer_scripts
