section.section-types.types-shop#types
	.container
		h2.equipment-title Популярные <br> #[span сферы магазинов]
		.types-text Выберите направление деятельности:
		.types-group
			a(href="").types-item.types-item-01.show-popup-order
				.types-item-text Продуктовый магазин
			a(href="").types-item.types-item-02.show-popup-order
				.types-item-text магазин
			a(href="").types-item.types-item-03.show-popup-order
				.types-item-text супермаркет
			a(href="").types-item.types-item-04.show-popup-order
				.types-item-text торговые ряды
			a(href="").types-item.types-item-05.show-popup-order
				.types-item-text склад
			a(href="").types-item.types-item-06.show-popup-order
				.types-item-text отдел в ТЦ

		.equipment-form-wrapper
			.equipment-form-wrap
				.equipment-form-cont
					.equipment-form-top
						.equipment-form-title Подберем необходимое оборудование для Вашего предприятия
						.equipment-form-text Заполните форму и наш специалист свяжется с Вами в течение 5 минут

					form.equipment-form.js-form-submit
						|<input type="hidden" name="recaptcha_response" id="recaptchaResponse">
						input.input-text.input-name(type="text" placeholder='Ваше имя:')
						input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
						input.input-text.input-email(type="text" placeholder='Ваш e-mail:')
						input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='otpravit-niz')
						.form-errors-cont
					.equipment-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих 
						a(href="#") персональных данных.