section.section-partners#partners
	.container
		h2.equipment-title #[span наши партнеры]
		.section-partners-slider
			each item in [1,2]
				.partners-item-wrap
					img.partners-item(src="img/partner-shop-01.png", alt="")
				.partners-item-wrap
					img.partners-item(src="img/partner-shop-02.png", alt="")
				.partners-item-wrap
					img.partners-item(src="img/partner-shop-03.png", alt="")
				.partners-item-wrap
					img.partners-item(src="img/partner-shop-04.png", alt="")
				.partners-item-wrap
					img.partners-item(src="img/partner-shop-05.png", alt="")
				.partners-item-wrap
					img.partners-item(src="img/partner-shop-06.png", alt="")

