section.section-results#results.results-shop
	.container
		h2.equipment-title примеры <br> #[span реализованных объектов]
		.section-result-slider
			each item in [1,2]
				.section-result-slide-wrap
					.section-result-slide-content
						.results-item
							.results-photo-cont
								a.results-photo(href='img/results-shop-img.jpg' style='background-image: url(../img/results-shop-img.jpg) ;')
								.results-photo-group
									a.results-photo-item.active(href='img/results-shop-img.jpg' style='background-image: url(../img/results-shop-item-img-01.jpg) ;')
									a.results-photo-item(href='img/results-shop-item-img-02.jpg' style='background-image: url(../img/results-shop-item-img-02.jpg) ;')
									a.results-photo-item(href='img/results-shop-item-img-02.jpg' style='background-image: url(../img/results-shop-item-img-02.jpg) ;')
									a.results-photo-item(href='img/results-shop-item-img-04.jpg' style='background-image: url(../img/results-shop-item-img-04.jpg) ;')
									a.results-photo-item(href='img/results-shop-item-img-05.jpg' style='background-image: url(../img/results-shop-item-img-05.jpg) ;')
									a.results-photo-item(href='img/results-shop-item-img-06.jpg' style='background-image: url(../img/results-shop-item-img-06.jpg) ;')
							.results-info
								.results-info-title Магазин "Yamaha"
								.results-info-list Вам нравится фильмы про преображение❓Где из обычной девушки делают сногсшибательную красотку)
								.results-info-list Давайте понаблюдаем за тем, как из обычного помещения можно сделать отличный магазин❗В данном случае это магазин "Yamaha". 
								.results-info-list Делимся не только фото готовой работы с выкладкой товаров, но и фото "до монтажа".