section.section-first-shop(style='background-image: url(img/first-shop-bg.jpg)')
	.container.container-shop
		.first-shop-left
			h1.first-shop-title Комплексное оснащение магазинов <br> оборудованием для торговли
			.first-shop-text На сегодняшний день мы – надежный поставщик торгового оборудования, входящий в десятку лидеров Московского региона.
			img(src="img/first-shop-img.png", alt="").first-shop-img
		img(src="img/first-shop-arrow.png", alt="").first-shop-arrow

			
		.first-shop-form-wrapper
			.first-shop-form-top
				.first-shop-form-title Подберем необходимое оборудование для Вашей организации
				.first-shop-form-text Заполните форму и наш специалист свяжется с Вами в течение 5 минут

			form.first-shop-form.js-form-submit
				|<input type="hidden" name="recaptcha_response" id="recaptchaResponse">
				input.input-text.input-name(type="text" placeholder='Ваше имя:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.input-text.input-email(type="text" placeholder='Ваш e-mail:')
				input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='otpravit-verh')
				.form-errors-cont
			.first-shop-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих 
				a(href="#") персональных данных.