section.section-contacts.contacts-shop#contacts
	.container
		.contacts-cont
			h2.equipment-title  #[span наши ] <br> контакты
			.header-cont
				.header-group
					.header-item.header-phone 
						a(href="tel:8 (499) 113 04 33") 8 (499) 113 04 33
						a(href="tel:8 (908) 066 78 35") 8 (908) 066 78 35
					.header-item.header-mail info@era-trade.ru
				.header-group
					.header-item.header-address 129090, г. Москва, ул. Щепкина, д. 28, оф. 713
					.header-item.header-time Мы работаем Пн—Пт с 9:00 до 18:00