.site-header {
	background-color: #fff;
	padding-bottom: 2px;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	align-items: center;
	flex-wrap: wrap;

	@include media-q(min, 768) {
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 16px 0;
	}
}

.header-logo {
	padding: 2px 0;
	width: 80%;

	@include media-q(min, 768) {
		margin: 0 auto;
		padding-top: 15px;
		width: 100%;
	}
}

.header-group {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;

	@include media-q(min, 768) {
		flex-direction: column;
		margin: 0;
	}
}

.menu {
	padding: 5px;
	display: none;

	@include media-q(min, 1024) {
		display: block;
	}

	.opened-mobile-main-menu & {
		display: block;
	}
}

.menu-group {
	font-size: 15px;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-right: -29px;

	@include media-q(min, 768) {
		white-space: nowrap;
    max-width: 220px;
    margin: 0 auto;
	}

	@include media-q(min, 1024) {
		padding: 10px 0;
		flex-direction: row;
		max-width: inherit;
		margin: 0;
	}

	@include media-q(min, 1200) {
		padding: 10px 0;
	}
}

.menu-item {
	color: #000;
	font-size: 14px;
	padding: 46px 12px;
  letter-spacing: 0.7px; 
	border-top: 8px solid transparent;

	&:hover {
		border-top: 8px solid #0bb366;
		color: #000;
	}

	@include media-q(min, 375) {
		margin-left: 0;
  }
}

ul {
	list-style: none;

	li {
		padding-top: 10px;
		padding-bottom: 10px;

		@include media-q(min, 768) {
		}
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.header-request {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px solid #ffda72;
	border-radius: 50px;
  padding: 14px 22px;
  margin-left: 22px;
	display: none;

	@include media-q(min, 768) {
		display: block;
	}

		&:hover {
		border: 2px solid #000;
  }
}


.open-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 60px;

  @include media-q(min, 1024) {
    display: none;
  }

  .icon-menu {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background: #000;
      margin-bottom: 6px;
      transition: transform .2s, opacity .2s ease;

      &:nth-of-type(3) {
        margin-bottom: 0;
      }

      .opened-mobile-main-menu & {
        &:nth-of-type(1) {
          transform: rotate(-135deg);
          margin-bottom: -11px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(135deg);
        }
      }
    }
  }
}











