section.section-services#services
	.container
		h2.title Самые востребованные услуги
		.section-cost-subclasses
			a.section-cost-subclass.active iPhone
				.cost-triangle
			a.section-cost-subclass.section-cost-subclass-right iPad
		each index, item in [1,2]
			.cost-work-group(style=(index == 1) ? 'display:flex;' : 'display:none')
				.cost-work-left-group
					.cost-work-item
						.cost-work-item-info
							.cost-work-item-title Диагностика
							.cost-work-item-price Бесплатно
					.cost-work-item
						.cost-work-item-info
							.cost-work-item-title Замена стекла
							.cost-work-item-price от 1 650 руб
					.cost-work-item
						.cost-work-item-info
							.cost-work-item-title Замена дисплея (Original)
							.cost-work-item-price от 1 650 руб
					.cost-work-item
						.cost-work-item-info
							.cost-work-item-title Замена аккумулятора (Original)
							.cost-work-item-price от 1 000 руб
					.cost-work-item
						.cost-work-item-info
							.cost-work-item-title Замена задней крышки
							.cost-work-item-price от 1 850 руб
					.cost-work-item
						.cost-work-item-info
							.cost-work-item-title Замена кнопки Home (домой)
							.cost-work-item-price от 1 050 руб
					button.services-button-more Показать больше
					.cost-work-item.hidden
						.cost-work-item-info
							.cost-work-item-title Диагностика
							.cost-work-item-price Бесплатно
					.cost-work-item.hidden
						.cost-work-item-info
							.cost-work-item-title Замена стекла
							.cost-work-item-price от 1 650 руб
					.cost-work-item.hidden
						.cost-work-item-info
							.cost-work-item-title Замена дисплея (Original)
							.cost-work-item-price от 1 650 руб
					.cost-work-item.hidden
						.cost-work-item-info
							.cost-work-item-title Замена аккумулятора (Original)
							.cost-work-item-price от 1 000 руб
					.cost-work-item.hidden
						.cost-work-item-info
							.cost-work-item-title Замена задней крышки
							.cost-work-item-price от 1 850 руб
					.cost-work-item.hidden
						.cost-work-item-info
							.cost-work-item-title Замена кнопки Home (домой)
							.cost-work-item-price от 1 050 руб

	.cost-work-bottom
		.cost-work-bottom-info
			img.cost-work-bottom-img(src="img/services-apple-icon.png")
			.cost-work-bottom-text Осуществляем ремонт и другой продукции Apple