section.section-range
	.container
		.range-wrap
			.range-item.range-left
				.range-left-title Большой ассортимент запчастей
				.range-left-text В наличии и под заказ
			.range-item.range-right
				.range-right-bg
				.apple-form-wrapper
					.apple-form-top
						.apple-form-title Оставьте заявку на ремонт
						.apple-form-text И наш менеджер свяжется с вами в течении 5 минут

						form.apple-form.js-form-submit
							input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
							input.input-text.input-name(type="text" placeholder='Ваше имя')
							input.input-text.input-phone(type="text" placeholder='Номер телефона')
							input.input-text.input-model(type="text" placeholder='Модель устройства:')
							input.input-text.input-problem(type="text" placeholder='Описание проблемы:')
							input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='otpravit-verh')
							.apple-form-text-ps Нажимая кнопку “Отправить”, вы принимаете условия обработки данных
							.form-errors-cont