section.section-popup-thanks
	.popup-wrap
		.container
			.popup-overlaw
			.popup-content
				button.popup-close-icon
				img.popup-thanks-img(src="img/popup-thanks-img.png")
				.popup-form-title-thanks спасибо за заявку!
				.popup-form-text Мы свяжемся с Вами в течении 5 минут