section.section-contacts#contacts
	.container
		h2.contacts-title Контакты
		.contacts-group
			.contacts-item
				.contacts-item-title.contacts-item-title-01 Телефон
				.contacts-item-text +7(4852)70-02-70
			.contacts-item
				.contacts-item-title.contacts-item-title-02 Почта
				.contacts-item-text mail@iroom.pro
			.contacts-item
				.contacts-item-title.contacts-item-title-03 Адрес
				.contacts-item-text г.Ярославль, улица Свободы, дом 32
			.contacts-item
				.contacts-item-title.contacts-item-title-04 График работы
				.contacts-item-text с 10:00 до 20:00