section.section-reviews
	.container
		h2.section-reviews-title Отзывы
		.reviews-slider
			each item in [1,2,3]
				.reviews-slider-cont
					.reviews-slider-cont-text «Очень рад - быстрое и качественное обслуживание : пунктуальность, профессионализм в диагностике ; качественный ремонт и консультация по эксплуатации ; сравнительно недорогая цена и гарантия.»
					.reviews-slider-bottom
						.reviews-slider-name Вячеслав Кириллов
						.reviews-slider-date 1 марта 2020
