section.section-map
	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af257d2af8ddf8c7c6244dbab0244160d7d40ac5438071f07962848a8ffc2f0da&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
