section.section-popup-form.section-popup-call.js-popup-form-call
	.popup-wrap
		.container
			.popup-overlaw
			.popup-form-content
				button.popup-close-icon
				.popup-form-title Наш консультант <br>перезвонит Вам и ответит на <br>все интересующие вопросы
				.apple-form-wrapper
					form.apple-form.js-form-submit
						input.input-text.input-name(type="text" placeholder='Ваше имя')
						input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
						input.request.yandex-metrika-event(type="submit" value='заказать звонок' data-goal='otpravit-verh')
						.form-errors-cont