include ../sections/quik-order-popup_
include ../sections/cart-popup-empty
include ../sections/cart-popup-full
include ../sections/new-address-popup
include ../sections/cookies-popup
include ../sections/make-an-order
footer.footer
  .container
    a(href="/").footer__logo
      //include ../../img/footer-logo.svg
      img(src="img/footer-logo.png" alt="AT Market")
    p.footer__text Доставка здійснюється нашими кур'єрами по Києву. Відправлення в інші міста здійснюються за тарифами "Нової Пошти" до найближчого відділення.
    .footer__group.flex
      .footer__item
        .footer__item-title Графік доставки<br>
          span (КИЇВ):
        p Понеділок – П’ятниця
        p з 9:00 до 18:00
        p.footer__item-ps *якщо замовлення отримано до 18:00 попереднього дня
      .footer__item
        .footer__item-title Робочі Години
        p Понеділок – П’ятниця
        p з 9:00 до 17:30
      .footer__item
        .footer__item-title ІНФОРМАЦІЯ
        ul
          li
            a(href="#") Про компанію
          li
            a(href="#") Оплата/доставка
          li
            a(href="#") Повернення товару
          li
            a(href="#") Контакти
      .footer__item
        .footer__item-title Контакти
        a.footer__item-contact(href="tel:+38 067 662 67 67") +38 067 662 67 67
        a.footer__item-contact(href="mailto:zakaz@voda.ua") zakaz@voda.ua
        .footer__socials.flex
          a(href="#").footer__socials-item
            include ../../img/icon-instagram.svg
          a(href="#").footer__socials-item
            include ../../img/icon-telegram.svg
          a(href="#").footer__socials-item
            include ../../img/icon-whatsapp.svg
        .footer__payment.flex
          a(href="#").footer__payment-item
            include ../../img/icon-privatbank.svg
          a(href="#").footer__payment-item
            include ../../img/icon-mastercard.svg
          a(href="#").footer__payment-item
            include ../../img/icon-visa.svg
    .footer__links-group.flex
      a(href="#").footer__links-item Політіка Конфіденційності
      a(href="#").footer__links-item Публічний договір (ОФЕРТА)
      p.footer__links-item © Copyright of AT Market. 2021 All rights reserved.
    a(href="#").footer__design-logo
      include ../../img/footer-design-logo.svg
