.section-questions {
	background: #f2f0f0;
	padding-top: 63px;
	padding-bottom: 46px;

	h2.title {
		margin-bottom: 76px;
	}
}

.accordion-group {
	max-width: 1170px;

	@include media-q(min, 768) {
		padding-left: 71px;
	}
}

.accordion-item {
	background: #fff;
	margin-bottom: 26px;
	position: relative;
	border-radius: 10px;

	&::before {
		content: '';
		position: absolute;
		width: 35px;
		height: 46px;
		background: url("../img/accordion-before.png") no-repeat center;
		background-size: 35px 46px;
		left: -5%;
		top: 15%;
		display: none;

		@include media-q(min, 768) {
			display: block;
		}
	}

	&.active {
		.accordion-item-qestion {
		}

		.accordion-icon {
			transform: rotate(90deg);
		}
	}
}

.accordion-item-title {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 22px 15px 22px 27px;
	cursor: pointer;
	border-radius: 10px;

}

.accordion-icon-wrap {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 40px;
		background: #f2f0f0;
		right: -50%;
		top: -18%;
		border-radius: 5px;

		@include media-q(min, 768) {
			right: -12%;
			top: -55%;
		}
	}
}

.accordion-icon {
	height: 18px;
	transition: transform .3s ease;
	position: relative;
	z-index: 1;
	margin-right: 17px;
}

.accordion-item-qestion {
	font-size: 18px;
	font-weight: 400;
	color: #1d3d2f;
}

.accordion-item-answer {
	background: #fff;
	font-size: 14px;
	color: #5b6a63;
	padding: 0 29px 30px 29px;
	line-height: 2;
	display: none;
}

.accordion-item {

	label,
	.accordion-item-answer {
		display: none;
	}

	.accordion-item-title:checked + label {
	}

	.accordion-item-title:checked + label + .accordion-item-answer {
		display: block;
	}

}