.section-stocks {
	background: url("../img/stocks-bg.jpg") no-repeat fixed center;
	background-size: cover;
	padding-top: 46px;
	padding-bottom: 19px;

	h2.title {
		color: #fff;
		margin-bottom: 75px;

		&::after {
			background: #fff;
		}
	}

	.subtitle {
		text-align: center;
		margin-bottom: 37px !important;

		&::after {
			display: none;
		}
	}
}

.stocks-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 23px;
}

.stocks-item {
	background: #fff;
	border-radius: 10px;
	width: 570px;
	display: flex;
	justify-content: space-between;
	padding: 12px 13px 13px;
	position: relative;
	margin-bottom: 20px;

	@include media-q(min, 768) {
		padding: 22px 13px 13px;
	}

		&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 80%;
		background: #f2f0f0;
		border-radius: 4px;
		left: 2%;
		top: 10%;
	}

	&:hover {
		background: #24312b;
		cursor: pointer;

		.stocks-item-title,
		.stocks-item-text {
			color: #fff;
		}

		.stocks-item-old-price {
			&::after {
				background: #fff;
			}
		}
	}
}

.stocks-item-last {
	width: 100%;
}

.stocks-item-info {
	padding: 15px 17px;

	@include media-q(min, 768) {
		padding: 15px 34px;
	}
}

.stocks-item-title,
.stocks-item-old-price {
	font-size: 22px;
	font-weight: 600;
	color: #1d3d2f;
}

.stocks-item-text {
	font-size: 14px;
	color: #bdbdbd;
}

.stocks-item-old-price {
	color: #bdbdbd;
	position: relative;
	white-space: nowrap;

	&::after {
		content: '';
		position: absolute;
		width: 70px;
		background: #85d9b2;
		height: 2px;
		bottom: 50%;
		left: 0;
		right: 0;
	}
}

.stocks-item-new-price {
	font-size: 24px;
	font-weight: 700;
	color: #0bb366;
	margin-bottom: 9px;
	white-space: nowrap;
}