.section-reviews {
	background: url("../img/reviews-bg.jpg") no-repeat fixed center;
	background-size: cover;
	padding-top: 61px;
	padding-bottom: 60px;

	h2.title {
		color: #fff;
		margin-bottom: 81px;

		&::after {
			background: #fff;
		}
	}
}

.reviews-slider {
	max-width: 100%;
	position: relative;

	.slick-arrow {
		appearance: none;
		border:none;
		outline: none;
		font-size: 0;
		color: transparent;
		position: absolute;
		width: 12%;
		height: 100%;
		background: center no-repeat transparent;
		background-image: url(../img/icon-slider-arrow.png);
		background-size: 46px;
		z-index: 2;
		bottom: 60%;

		@include media-q(min, 768) {
			background-size: 56px;
			width: 6%;
			bottom: 100%;
		}

		&:hover {
			opacity: .8;
		}

		&:active {
			transform: scale(.9);
		}
	}

	.slick-prev {
		left: 58%;
		transform: scale(-1);

		@include media-q(min, 768) {
			left: 88%;
		}
	}

	.slick-next {
		left: 84%;

		@include media-q(min, 768) {
			left: 94%;
		}

			&:active {
			transform: scale(-.9);
		}
	}
}

.reviews-slider-cont-text {
	margin-bottom: 52px;
}

.reviews-slider-cont-text,
.reviews-slider-bottom-text {
	font-size: 16px;
	color: #fff;
	line-height: 1.4;
}

.reviews-slider-bottom-text {
	font-weight: 600;

	span {
		color: #1d3d2f;
	}
}