.section-advantages {
	background: #f2f0f0;
	padding-top: 64px;
	padding-bottom: 0;

	h2.title {
		margin-bottom: 120px;
	}
}

.advantages-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantages-item {
	width: 370px;
	background: #fff;
	border-radius: 15px;
	position: relative;
	padding: 81px 29px 50px;
	margin-bottom: 93px;
}

.advantages-item-img {
	position: absolute;
	top: -14%;
	left: 7%;
	display: block;
}

.advantages-item-title {
	font-size: 20px;
	font-weight: 600;
	color: #1d3d2f;
	line-height: 1.4;
	margin-bottom: 18px;
	padding-right: 32px;
}

.advantages-item-text {
	font-size: 14px;
	color: #8c9791;
	line-height: 1.5;
}