.section-popup-thanks {
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
}
.section-popup-thanks {
	.opened-popup-thanks & {
		display: block;
	}
}

.popup-wrap {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.popup-overlaw {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	cursor:pointer;

	&:hover {
		opacity: 0.4;
	}
}

@keyframes fadeInDown {
	from {
		transform: translateY(-15px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.popup-content {
	position: relative;
	max-width: 470px;
	margin: 0 auto;
	animation: fadeInDown .3s ease;
	animation-fill-mode: both;
	background: url(../img/popup-thanks-bg.jpg) no-repeat center;
	background-size: contain;
	padding: 100px 0 50px 0;
	margin-top: 180px;
	width: 320px;
	text-align: center;

	@include media-q(min, 768) {
		width: 470px;
	}
}


.popup-close-icon {
	position: absolute;
	background: url(../img/popup-close-icon.png) no-repeat center;
	right: -3px;
	top: -50px;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	display: block;
	border: none;

	@include media-q(min, 768) {
		right: -43px;
		top: -50px;
	}
}


.popup-form-title {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 5px;

	@include media-q(min, 768) {
		font-size: 26px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
}

.popup-form-text {
	font-size: 15px;
	line-height: 1.8;
	color: #fff;
}

