section.cooperation
  .container
    h2 Умови співробітництва
    .cooperation-wrap
      each item in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis sed adipiscing et pulvinar amet, hendrerit est. Porta nec tellus duis tortor risus velit mauris urna. Netus quis vel varius lacus, sit. Tempus varius tristique sed ullamcorper cursus urna. Faucibus id ac nisi odio amet, augue viverra adipiscing.