//- ---------------------------------------------------------------------------
//- Variables

-
  var catalog_menu = [
    {
      href: '#',
      title: 'Дивани прямі'
    },
    {
      href: '#',
      title: 'Дивани кутові'
    },
    {
      href: '#',
      title: 'Дивани модульні'
    },
    {
      href: '#',
      title: 'Ліжка'
    },
    {
      href: '#',
      title: 'Крісла'
    },
    {
      href: '#',
      title: 'Матраци'
    },
    {
      href: '#',
      title: 'Аксесуари'
    },
    {
      href: '#',
      title: 'Дисконт'
    },
    {
      href: '#',
      title: 'Акції'
    },
  ];

-
  var product_colors = [
    {
      color: 'EB2E2E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '8D0202',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '730A68',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'C29E9E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'CD59BB',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '67893C',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '3D6C7E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '8D0202',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '730A68',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'C29E9E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'CD59BB',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '67893C',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'EB2E2E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '8D0202',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '730A68',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'C29E9E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },

    {
      color: '8D0202',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: '730A68',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
    {
      color: 'C29E9E',
      name: 'Название ткани',
      price: 'от 10 000 грн'
    },
  ];

-
  var product_tabs = [

    {
      title: 'Характеристики',
    },
    {
      title: 'Відгуки',
    },
    {
      title: 'Термін виготовлення',
    },
    {
      title: 'Оплата та доставка',
    },
  ]

-
  var reviews = [
    {
      name: 'Марія',
      advantages: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque',
      limitations: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque'
    },
    {
      name: 'Володимир',
      advantages: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque',
      limitations: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque'
    },
    {
      name: 'Марія',
      advantages: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque',
      limitations: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque'
    },
    {
      name: 'Володимир',
      advantages: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque',
      limitations: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque'
    },
  ]

-
  var product_ordering = [
    'Покупець',
    'Доставка',
    'Оплата'
  ]