.footer {
  padding: 70px 0 20px;

  @include media-q(min, 1024) {
    padding: 80px 0 30px;
  }

  .container {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-q(min, 1024) {
      flex-wrap: nowrap;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    .icon-footer-logo-icon {
      color: $c-blue;
      margin-right: 12px;

      &::before {
        font-size: 32px;

        @include media-q(min, 768) {
          font-size: 18px;
        }

        @include media-q(min, 1280) {
          font-size: 32px;
        }
      }
    }

    .icon-footer-logo-text {
      transition: color.2s ease;
      &::before {
        font-size: 14px;

        @include media-q(min, 1280) {
          font-size: 16px;
        }
      }
    }

    &:hover {
      .icon-footer-logo-text {
        color: $c-blue;
      }
    }
  }

  &__link {
    color: $c-blue;
    display: block;
  }

  &__call-wrap {
    font-weight: $f-normal;
    font-family: $sans-brand;
  }

  &__number {
    @extend %fs-regular-24;
    white-space: nowrap;
    display: block;
    margin-bottom: 10px;
  }

  &__item {
    padding: 0 13px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @include media-q(min, 1024) {
      width: auto;
      margin-bottom: 0;
    }

    @include media-q(min, 1280) {
      max-width: 24%;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @include media-q(min, 1024) {
        margin-bottom: 0;
      }
    }
  }

  &__dev-logo {
    display: flex;
    align-items: center;
    white-space: nowrap;

    .font-icon {
      margin-left: 10px;
      transition: color .2s ease;
    }

    &:hover {
      text-decoration: none;

      .font-icon {
        color: $c-blue;
      }
    }
  }
}
