@charset "UTF-8";
.element-hidden,.js-hide,.form-checkboxes .form-checkbox,.form-radios .form-radio,.element-invisible{position:absolute!important;width:1px!important;height:1px!important;margin:-1px!important;padding:0!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;border:0!important}
ul,ol,.content ol,.content ul,.cke_editable ol,.cke_editable ul{padding:0;margin:0;list-style:none}
.group::after{content:'';clear:both;display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.responsive-video,.video-embed-field-responsive-video{position:relative;padding-bottom:56.25%;height:0!important;overflow:hidden;display:block}
.responsive-video iframe,.video-embed-field-responsive-video iframe,.responsive-video object,.video-embed-field-responsive-video object,.responsive-video embed,.video-embed-field-responsive-video embed,.responsive-video .video-js,.video-embed-field-responsive-video .video-js{border:0;position:absolute;top:0;left:0;width:100%!important;height:100%!important}
@font-face{font-family:'font-icon';src:url(../f-icons/f-icons.eot);src:url(../f-icons/f-icons.eot?#iefix) format("embedded-opentype"),url(../f-icons/f-icons.woff) format("woff"),url(../f-icons/f-icons.ttf) format("truetype"),url(../f-icons/f-icons#font-icons) format("svg");font-weight:400;font-style:normal}
[class*='font-icon']::before,[class*='font-icon']::after{display:inline-block;font-family:'font-icon';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:30px}
.connection-group__item::after{font-size:1.875rem;display:inline-block;font-family:'font-icon';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.connection-group__item::after,.icon-arrows:before{content:"\e900"}
.icon-check:before{content:"\e901"}
.icon-phone:before{content:"\e902"}
.icon-sim:before{content:"\e903"}
.icon-tv:before{content:"\e904"}
.icon-wifi:before{content:"\e905"}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;-moz-appearance:button;appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
::-ms-clear{display:none}
::-ms-reveal{display:none}
::-webkit-input-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
::-ms-input-placeholder{color:#000}
::placeholder{color:#000}
::-moz-selection{background:rgba(0,0,0,0.2)}
::selection{background:rgba(0,0,0,0.2)}
html,body{font-size:16px}
html{font-family:Open Sans,Helvetica,Arial,sans-serif;min-height:100vh;color:#101828}
body{color:#000;background:#fff;height:auto;min-width:320px;font-weight:400;line-height:1.14;overflow-x:hidden;-webkit-font-smoothing:antialiased;min-height:inherit;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.no-scroll{overflow:hidden}
.active-menu{overflow:hidden}
.active-menu::before{opacity:1;visibility:visible;z-index:30}
img{max-width:100%;height:auto;display:inherit}
figure{margin:0 0 40px;text-align:center}
figure img{margin-bottom:20px}
figcaption{font-size:.6875rem;line-height:2em}
a{color:#000;text-decoration:none;outline:none;-webkit-transition:color .3s ease;-o-transition:color .3s ease;transition:color .3s ease}
a:hover{color:#000}
.ext .ext{display:none}
iframe{max-width:100%}
.mobile #livechat-compact-container{max-width:80px;-webkit-transform:translate(0,0)!important;-ms-transform:translate(0,0)!important;transform:translate(0,0)!important}
.page-container{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}
.container{max-width:1200px;padding:0 15px;margin:auto}
.scroll-prevented{width:100vw;height:100vh;overflow:hidden}
body{color:#101828}
@font-face{font-family:'Gotham Pro';src:url(../fonts/GothamPro-Black.eot);src:local(GothamPro-Black),url(../fonts/GothamPro-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro-Black.woff2) format("woff2"),url(../fonts/GothamPro-Black.woff) format("woff"),url(../fonts/GothamPro-Black.ttf) format("truetype"),url(../fonts/GothamPro-Black.svg#GothamPro-Black) format("svg");font-weight:900;font-style:normal;font-display:swap}
@font-face{font-family:'Gotham Pro';src:url(../fonts/GothamPro-Bold.eot);src:local(GothamPro-Bold),url(../fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro-Bold.woff2) format("woff2"),url(../fonts/GothamPro-Bold.woff) format("woff"),url(../fonts/GothamPro-Bold.ttf) format("truetype"),url(../fonts/GothamPro-Bold.svg#GothamPro-Bold) format("svg");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Gotham Pro';src:url(../fonts/GothamPro.eot);src:local(GothamPro),url(../fonts/GothamPro.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro.woff2) format("woff2"),url(../fonts/GothamPro.woff) format("woff"),url(../fonts/GothamPro.ttf) format("truetype"),url(../fonts/GothamPro.svg#GothamPro) format("svg");font-weight:400;font-style:normal;font-display:swap}
h1,h2,h3,h4,h5,h6{margin:0;line-height:1.1;margin-bottom:.85em;font-weight:700;color:#000}
h2.title{font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-size:36px;text-align:center;font-weight:900;text-transform:uppercase;position:relative;margin-left:23px;letter-spacing:-1px}
h1{font-size:2.0625rem;margin:0 0 .75em;line-height:1}
h2{font-size:1.75rem;line-height:1.2}
h3{font-size:1.25rem;line-height:1.2;margin-bottom:1em}
h4{font-size:1.125rem;margin-bottom:.75em}
h5,h6{font-size:.9375rem;line-height:1.13}
p{line-height:1.33;margin:0 0 1em}
.text-center{text-align:center}
strong{font-weight:600}
.content ol,.content ul,.cke_editable ol,.cke_editable ul{margin:0 0 1.5em 20px;padding:0}
.content ol li,.content ul li,.cke_editable ol li,.cke_editable ul li{margin-bottom:.5em;line-height:1.2}
.content ol,.cke_editable ol{counter-reset:section;padding-left:10px}
.content ol li::before,.cke_editable ol li::before{counter-increment:section;content:counter(section) ". ";margin-left:-15px}
.content ul:last-child,.cke_editable ul:last-child{margin-bottom:0}
.content ul li,.cke_editable ul li{padding-left:15px;position:relative}
.content ul li::before,.cke_editable ul li::before{content:' ';position:absolute;left:0;top:8px;width:5px;height:5px;background:#000}
.content blockquote,.cke_editable blockquote{font-weight:700;position:relative;padding:0 30px;display:inline-block;font-style:italic;margin:20px auto}
.content blockquote::before,.content blockquote::after,.cke_editable blockquote::before,.cke_editable blockquote::after{font-size:2.0625rem;content:'"';position:absolute}
.content blockquote::before,.cke_editable blockquote::before{left:0;top:0}
.content blockquote p,.cke_editable blockquote p{font-size:1.625rem;line-height:1.2;display:inline;margin:0;font-family:inherit}
.low-margin-bottom{margin-bottom:5px}
.rtecenter{text-align:center}
.rteright{text-align:right}
.rtejustify{text-align:justify}
table{margin:3.1em 0 2em;text-align:left;border:0;color:#000;width:100%}
table caption{margin-bottom:10px;text-align:left;padding-left:20px;font-size:15px;color:#000}
table tr:nth-child(even){background:rgba(0,0,0,0.25)}
table tr td{border-bottom:1px solid #000}
table td{border:0;padding:20px}
table td h1:last-child,table td h2:last-child,table td h3:last-child,table td h4:last-child,table td h5:last-child,table td h6:last-child,table td p:last-child{margin-bottom:0}
.gray-bg table tr:last-child td{border:none}
.table-wrapper{overflow-x:auto;margin-top:3.1em;position:relative;background:-o-radial-gradient(0% 50%,farthest-side,rgba(0,0,0,0.2),rgba(0,0,0,0)),-o-radial-gradient(100% 50%,farthest-side,rgba(0,0,0,0.2),rgba(0,0,0,0)) 100% 0;background:radial-gradient(farthest-side at 0% 50%,rgba(0,0,0,0.2),rgba(0,0,0,0)),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,0.2),rgba(0,0,0,0)) 100% 0;background-color:#fff;background-repeat:no-repeat;background-size:10px 100%;margin-bottom:15px}
.table-wrapper table{min-width:640px;background:-webkit-gradient(linear,left top,right top,color-stop(30%,white),to(rgba(255,255,255,0))),-webkit-gradient(linear,right top,left top,color-stop(30%,white),to(rgba(255,255,255,0))) 100% 0;background:-o-linear-gradient(left,white 30%,rgba(255,255,255,0)),-o-linear-gradient(right,white 30%,rgba(255,255,255,0)) 100% 0;background:linear-gradient(to right,white 30%,rgba(255,255,255,0)),linear-gradient(to left,white 30%,rgba(255,255,255,0)) 100% 0;background-size:50px 100%;background-repeat:no-repeat;max-width:none;margin-bottom:0;margin-top:0;width:100%!important}
th{background:#000;color:#fff;padding:20px;border:0;border-bottom:1px solid rgba(255,255,255,0.5)}
thead th{border-right:1px solid rgba(255,255,255,0.5)}
thead th:last-child{border-right:0}
.stylegude{font-family:Open Sans,Helvetica,Arial,sans-serif}
.stylegude section{padding:100px 0}
.s-guide-intro h1{font-size:3.75rem;margin-bottom:.5em}
.s-guide-intro p{font-size:1.125rem}
.form-item{margin-bottom:15px}
.form-item label{font-weight:600;margin-bottom:5px;display:inline-block}
.form-item .form-text{margin-bottom:5px}
.form-item .description{font-style:italic}
.form-actions{margin-top:40px}
.webform-component--form-message-row .messages{margin-bottom:20px}
.fieldset-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}
fieldset{margin:0;padding:0;border:0;width:100%}
fieldset .form-item{width:100%}
.recaptcha{min-width:304px;margin-left:-11px}
.form-text,.form-email{background:#fff;border-bottom:1px solid #000;font-family:inherit;font-size:inherit;width:100%;max-width:100%;padding:8px 12px 9px;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-transition:border-color .3s ease-out;-o-transition:border-color .3s ease-out;transition:border-color .3s ease-out}
.form-text:focus,.form-email:focus{outline:none;border-color:#000;color:#000}
.form-text.error,.form-email.error{border-color:red;background-color:rgba(255,0,0,0.05)}
textarea{background:#fff;border-bottom:1px solid #000;font-family:inherit;font-size:inherit;max-width:100%;width:100%;padding:12px;resize:vertical;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-transition:border-color .3s ease-out;-o-transition:border-color .3s ease-out;transition:border-color .3s ease-out}
textarea:focus{outline:none;border-bottom-color:#000}
textarea.error{border-color:red;background-color:rgba(255,0,0,0.05)}
.ie10 .form-checkboxes p{max-width:90%}
.desktop .form-checkboxes .form-checkbox:hover + label::before{background:rgba(0,0,0,0.6);border-color:rgba(0,0,0,0.6)}
.desktop .form-checkboxes .form-checkbox:hover + label::after{opacity:.8;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.desktop .form-checkboxes .form-checkbox:disabled + label{cursor:not-allowed;color:#000}
.desktop .form-checkboxes .form-checkbox:disabled + label::before{background:rgba(0,0,0,0.2)}
.desktop .form-checkboxes .form-checkbox:disabled + label::after{opacity:.8;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.desktop .form-checkboxes .form-checkbox:disabled:checked + label::before{background:rgba(0,0,0,0.7)}
.desktop .form-checkboxes .form-checkbox:disabled:checked + label::after{opacity:.8;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.form-checkboxes .form-checkbox:checked + label::before{background:#000;border-color:#000}
.form-checkboxes .form-checkbox:checked + label::after{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.form-checkboxes .form-checkbox:disabled + label{cursor:not-allowed;color:#000}
.form-checkboxes .form-checkbox:disabled + label::before{background:rgba(0,0,0,0.2)}
.form-checkboxes .form-checkbox:disabled + label::after{opacity:.8;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.form-checkboxes .form-type-checkbox > label{position:relative;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;font-weight:400;line-height:1.45;margin-bottom:0}
.form-checkboxes .form-type-checkbox > label::before{display:inline-block;vertical-align:text-bottom;content:' ';background:#000;border:1px solid #000;height:20px;width:20px;min-width:20px;margin:0 10px 0 0;-webkit-transition:background .3s ease;-o-transition:background .3s ease;transition:background .3s ease}
.form-checkboxes .form-type-checkbox > label::after{content:' ';background:url(../img/check.svg) no-repeat center;position:absolute;left:0;top:0;opacity:0;-webkit-transition:opacity .3s ease,-webkit-transform .2s ease;transition:opacity .3s ease,-webkit-transform .2s ease;-o-transition:opacity .3s ease,transform .2s ease;transition:opacity .3s ease,transform .2s ease;transition:opacity .3s ease,transform .2s ease,-webkit-transform .2s ease;color:#fff;-webkit-transform:scale(0.4);-ms-transform:scale(0.4);transform:scale(0.4);-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center}
.form-radios{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-line-pack:center;align-content:center;margin-bottom:10px;position:relative}
.form-radios .form-radio:checked + .option::after{opacity:1;-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);background:#000}
.form-radios .form-radio:disabled + .option{cursor:not-allowed}
.form-radios .form-radio:disabled + .option::before{background:#000}
.description-content .form-radios .form-radio:disabled + .option::before{background:rgba(0,0,0,0.7)}
.form-radios .form-radio:disabled + .option:hover::after{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.form-radios .form-radio:disabled:checked + .option::after{opacity:1;background:#000}
.description-content .form-radios .form-radio:disabled:checked + .option::after{background:rgba(0,0,0,0.5)}
.form-radios .form-radio:disabled:checked + .option:hover::after{-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5)}
.form-radios .option{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-bottom:0;cursor:pointer;font-weight:400;line-height:1.45;position:relative}
.form-radios .option::before,.form-radios .option::after{content:' '}
.form-radios .option::before{display:inline-block;height:20px;min-width:20px;background:#000;border:1px solid #000;border-radius:50%;margin:2px 8px 0 0}
.form-radios .option::after{width:20px;height:20px;background:#000;border-radius:100%;position:absolute;top:2px;left:0;opacity:0;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.form-radios .option:hover::after{opacity:1;-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5)}
select{font-size:16px;color:#000;border:1px solid #000;padding:8px 12px 9px;margin-bottom:10px;min-width:280px;max-width:100%;width:100%;border-radius:3px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select:focus{outline:none}
.site-header{width:100%;position:fixed;z-index:10}
.header-top{background-color:#fff;z-index:10;position:relative}
.header-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;text-align:right;margin-bottom:15px}
.header-item .font-icon{margin-right:15px}
.header-item .font-icon::before{font-size:18px}
.header-item__phone{font-size:20px;font-weight:700}
.header-item__phone:hover{text-decoration:underline}
.menu-wrap{margin-bottom:-1px}
.menu-wrap .container{padding:0}
.menu-item{color:#101828;font-size:14px;font-weight:400;margin-left:11px;padding:13px 0;letter-spacing:-.3px;margin-right:45px}
.menu-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin:0 auto;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:15px 0}
.menu-group > li{font-size:18px;padding:5px 0}
.menu-group > li > a{font-size:15px}
.menu{display:none}
.opened-mobile-main-menu .menu{display:block}
.open-main-menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:transparent;height:60px}
.open-main-menu .icon-menu{width:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.open-main-menu .icon-menu span{display:block;width:100%;height:3px;margin-bottom:6px;-webkit-transition:opacity .2s ease,-webkit-transform .2s;transition:opacity .2s ease,-webkit-transform .2s;-o-transition:transform .2s,opacity .2s ease;transition:transform .2s,opacity .2s ease;transition:transform .2s,opacity .2s ease,-webkit-transform .2s;background-color:#000}
.open-main-menu .icon-menu span:nth-of-type(3){margin-bottom:0}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(1){-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);margin-bottom:-11px}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(2){opacity:0}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(3){-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.footer{background-color:#f6f8f9;padding:15px}
.footer .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.footer-text{font-size:13px;color:#000}
.footer-develop{height:27px;width:auto}
.bs-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.bs-item{color:#000;margin-bottom:3px}
.bs-item::after{content:'\203A';margin:0 10px;color:#000}
.bs-item:last-child::after{display:none}
.bs-item a{color:#000;text-decoration:none}
.bs-item a:hover{color:#000}
.pager{font-size:1rem;margin:0 0 30px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;color:#fff}
.pager .pager-item,.pager .pager-current{width:30px;height:30px;border:1px solid #000;color:#000;margin:0 3px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.pager .pager-item a,.pager .pager-current a{color:inherit;display:block;width:100%;height:100%;text-align:center;padding:4px;-webkit-transition:color 0 ease;-o-transition:color 0 ease;transition:color 0 ease}
.desktop .pager .pager-item:not(.disabled):not(.skip):hover,.desktop
.pager .pager-current:not(.disabled):not(.skip):hover{background-color:#000;color:#000}
.pager .pager-current{background-color:#000;color:#fff}
.pager .prev,.pager .next{display:none}
.pager .skip{border-color:transparent;margin:0;color:#000}
.pager .disabled{color:#000}
.pager .pager-previous,.pager .pager-next,.pager .pager-first,.pager .pager-last{display:none}
.form-submit,.btn{background-color:#000;border:1px solid transparent;color:#fff;text-transform:uppercase;padding:9px 24px 10px;display:inline-block;-webkit-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease}
.form-submit:hover,.btn:hover{color:#fff;background-color:#000}
.form-submit{font-size:1rem;padding:11px 24px 12px;min-width:150px}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-lightbox{position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;background:#000;-webkit-transition:opacity .5s ease;-o-transition:opacity .5s ease;transition:opacity .5s ease}
.slick-lightbox .slick-loading .slick-list{background-color:transparent}
.slick-lightbox .slick-prev{left:15px}
.slick-lightbox .slick-next{right:15px}
.slick-lightbox-hide{opacity:0}
.slick-lightbox-hide.slick-lightbox-ie{filter:alpha(opacity=0)}
.slick-lightbox-hide-init{position:absolute;top:-9999px;opacity:0}
.slick-lightbox-hide-init.slick-lightbox-ie{filter:alpha(opacity=0)}
.slick-lightbox-inner{position:fixed;top:0;left:0;width:100%;height:100%}
.slick-lightbox-slick-item{text-align:center;overflow:hidden}
.slick-lightbox-slick-item:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{position:absolute;bottom:0;left:0;text-align:center;width:100%;margin-bottom:20px}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{display:block;text-align:center}
.slick-lightbox-slick-item-inner{display:inline-block;vertical-align:middle;max-width:90%;max-height:90%}
.slick-lightbox-slick-img{margin:0 auto;display:block;max-width:90%;max-height:90%}
.slick-lightbox-slick-caption{margin:10px 0 0;color:#fff}
.slick-lightbox-close{position:absolute;top:15px;right:15px;display:block;height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:transparent;color:transparent;padding:0;border:none;z-index:10}
.slick-lightbox-close:focus{outline:none}
.slick-lightbox-close:before{font-family:"slick";font-size:20px;line-height:1;color:#fff;opacity:.85;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'×'}
.section-firstscreen{background-image:url(../img/firstscreen-bg.jpg);background-repeat:no-repeat;background-position:right;background-attachment:fixed;background-size:cover;padding-top:85px;padding-bottom:30px;position:relative;color:#fff}
.firstscreen-top{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-bottom:10px}
.firstscreen-logo-wrap,.firstscreen-contacts{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.firstscreen-logo-wrap{position:relative;margin-bottom:30px}
.firstscreen-logo-wrap::before{content:'';position:absolute;right:48%;height:100%;width:1px;background-color:#70f}
.firstscreen-logo-text{font-size:15px;text-transform:uppercase;margin-left:55px;line-height:1.6;margin-bottom:0}
.firstscreen-logo{max-width:149px;margin-top:-15px}
.firstscreen-cont-wrap{display:block;background:rgba(0,0,0,0.5);height:100%;padding-top:164px;padding-bottom:100px}
.firstscreen-contacts{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:400px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.firstscreen-contacts-text{font-size:14px;color:#c3c3c3;margin-bottom:10px}
.firstscreen-contacts-item{position:relative;margin-bottom:15px}
.firstscreen-contacts-item i.font-icon{position:absolute;left:-30%;top:22%}
.firstscreen-contacts-item i.font-icon::before{color:#70f;font-size:30px}
.firstscreen-contacts-number{font-size:22px;font-weight:700;white-space:nowrap;color:#fff}
.firstscreen-contacts-number:hover{color:#70f}
.firstscreen__title{font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-size:44px;font-weight:900;color:#47b312;line-height:1.15;position:relative;letter-spacing:1.6px;margin-bottom:0}
.firstscreen__title::after{content:'';position:absolute;left:0;bottom:-20px;height:1px;width:100px}
.firstscreen__title span{font-weight:900}
.firstscreen__text{font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-size:28px;font-weight:700;color:#fff;margin-bottom:0}
.firstscreen-checks,.firstscreen-checks-item{display:-webkit-box;display:-ms-flexbox;display:flex}
.firstscreen-checks{margin-top:30px;margin-bottom:20px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.firstscreen-checks-item{margin-right:80px}
.firstscreen-checks-item i.font-icon::before{font-size:24px;color:#47b312;margin-right:15px}
.firstscreen-checks-text{font-size:15px;color:#fff}
.frscreen-button-group{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:51px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.frscreen-button-item{width:100%;background:transparent;outline:none;color:#fff;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:5px;padding:13px 0;margin-bottom:15px;border:1px solid #47b312;margin-right:20px}
.frscreen-button-item1{background-color:#47b312}
.frscreen-button-item1:hover{-webkit-box-shadow:0 0 30px rgba(71,179,18,0.5);box-shadow:0 0 30px rgba(71,179,18,0.5)}
.frscreen-button-item2{text-align:center}
.frscreen-button-item2:hover{-webkit-box-shadow:0 0 30px rgba(71,179,18,0.5);box-shadow:0 0 30px rgba(71,179,18,0.5)}
.section-tariffs{padding-top:60px;padding-bottom:35px;background-color:#f6f6f8}
.section-tariffs h2.title{margin-bottom:44px}
.tariffs-group{display:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-animation:fadeIn .5s ease;animation:fadeIn .5s ease;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.tariffs-group.active{display:-webkit-box;display:-ms-flexbox;display:flex}
.tariffs-item{-ms-flex-preferred-size:100%;flex-basis:100%;text-align:center;background-color:#fff;margin:0 0 30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-transition:-webkit-box-shadow .2s ease;transition:-webkit-box-shadow .2s ease;-o-transition:box-shadow .2s ease;transition:box-shadow .2s ease;transition:box-shadow .2s ease,-webkit-box-shadow .2s ease;border-radius:10px;padding:22px 30px;position:relative;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,0.08);box-shadow:0 5px 5px 0 rgba(0,0,0,0.08)}
.tariffs-item::before{content:'';position:absolute;bottom:43%;left:0;width:100%;height:2px;background-color:#fafafb}
.tariffs-item .tariff-hidden{display:none}
.tariffs-item__title{font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-size:20px;text-transform:uppercase;font-weight:700;padding:22px 0 8px;color:#70f;margin-bottom:30px}
.tariffs-item__promo{font-weight:900;font-size:16px;font-family:Open Sans,Helvetica,Arial,sans-serif;margin-bottom:24px}
.tariffs-item__content-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;cursor:pointer;padding:11px 20px 0;border-top:2px solid #fff}
.tariffs-item__content-wrap.active .tariffs-item__content-more img{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.tariffs-item__content-more{margin-top:4px}
.tariffs-item__content-more img{width:9px;height:15px;-webkit-transition:-webkit-transform .2s ease;transition:-webkit-transform .2s ease;-o-transition:transform .2s ease;transition:transform .2s ease;transition:transform .2s ease,-webkit-transform .2s ease;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.tariffs-item__content-item{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:7px;padding-top:9px}
.tariffs-item__content-item .font-icon{margin-right:14px;width:45px;height:45px;border-radius:50%;background:-webkit-gradient(linear,left top,left bottom,from(#3c29b1),to(#b865d3));background:-o-linear-gradient(#3c29b1,#b865d3);background:linear-gradient(#3c29b1,#b865d3);padding:9px}
.tariffs-item__content-item .font-icon::before{font-size:23px;color:#fff;z-index:5}
.tariffs-item__content-item--text{font-size:15px;opacity:.8;text-align:left;margin-bottom:12px;max-width:250px;font-family:Open Sans,Helvetica,Arial,sans-serif;letter-spacing:-.6px;line-height:1.5}
.tariffs-item__content-item--text span{font-size:16px;font-weight:700;color:#101828;font-family:Open Sans,Helvetica,Arial,sans-serif}
.tariffs-item__plug{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-top:auto}
.tariffs-item__plug-link{font-size:13px;font-family:Open Sans,Helvetica,Arial,sans-serif;color:#101828;opacity:.7;padding:5px 0 10px;border:none;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;border-radius:none;position:relative;margin-top:19px}
.tariffs-item__plug-link::after{content:'';position:absolute;bottom:9px;border-top:2px dashed #322f32;width:130px;left:calc(50% - 65px);opacity:.7}
.tariffs-item__plug-button{width:260px;outline:none;color:#fff;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:5px;padding:11px 0;display:block;margin:0 auto 15px;background-color:#47b312;border:none}
.tariffs-item__plug-button:hover{opacity:.9}
.fraction-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:12px}
.fraction-wrapp{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.fraction-item{margin:0;font-size:14px;font-weight:400}
.fraction-item-top{border-bottom:1px solid #000}
.tariffs-item-global-price{font-size:38px;padding:0;margin:0 15px 20px 0;font-weight:600}
.tariffs-item-global-price span{font-size:18px;margin-left:10px}
@-webkit-keyframes fadeIn {
from{opacity:0}
to{opacity:1}
}
@keyframes fadeIn {
from{opacity:0}
to{opacity:1}
}
.section-tariffs-subclasses{display:-webkit-box;display:-ms-flexbox;display:flex;text-align:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;margin-bottom:52px}
.section-tariffs-subclass{font-size:17px;font-weight:700;text-transform:uppercase;text-align:center;width:100%;letter-spacing:-.5px;position:relative;cursor:pointer;padding:15px;overflow:hidden;background-repeat:no-repeat;background-size:cover;background-position:center;color:#fff;margin:2px 2px 10px}
.section-tariffs-subclass--text{font-size:15px;text-transform:uppercase;font-weight:900;z-index:1;position:relative;margin-bottom:0}
.section-tariffs-subclass.active,.section-tariffs-subclass:hover{color:#fff}
.section-tariffs-subclass.active .tariffs-triangle,.section-tariffs-subclass:hover .tariffs-triangle{display:block}
.section-tariffs-subclass.active .font-icon::before,.section-tariffs-subclass:hover .font-icon::before{color:#fff}
.section-tariffs-subclass.active .section-tariffs-subclass--text,.section-tariffs-subclass:hover .section-tariffs-subclass--text{color:#fff}
.section-tariffs-subclass.active::after,.section-tariffs-subclass:hover::after{opacity:1}
.section-tariffs-subclass .font-icon::before{font-size:52px;margin-bottom:19px;color:#b7b9be}
.section-tariffs-subclass::before{content:'';position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,0.6)}
.section-tariffs-subclass::after{content:'';position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(119,0,255,0.4);opacity:0;-webkit-transition:opacity .2s ease;-o-transition:opacity .2s ease;transition:opacity .2s ease}
.tariffs-group-video .tariffs-item__promo{font-weight:400;font-size:14px;text-align:left;padding:0 20px}
.tariffs-group-video .tariffs-item__content-item--text{font-weight:900;color:#101828}
.tariffs-group-video .tariffs-item__content-item--text span{font-weight:400}
@-webkit-keyframes fadeInTariff {
from{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInTariff {
from{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
to{opacity:1;-webkit-transform:none;transform:none}
}
.tariffs-item__content-description{text-align:left;margin-left:52px;display:none;-webkit-animation:fadeInTariff .3s ease;animation:fadeInTariff .3s ease;-webkit-animation-fill-mode:both;animation-fill-mode:both;padding-bottom:30px}
.active + .tariffs-item__content-description{display:block}
.tariffs-list-wrap{list-style-type:none;margin-bottom:20px}
.tariffs-list-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative;padding-right:20px;font-size:13px;font-family:Open Sans,Helvetica,Arial,sans-serif}
.tariffs-list-item::before{position:absolute;content:'';left:-20px;top:calc(50% - 10px);width:7px;height:7px;background-color:#000;border-radius:50%}
.check{position:relative;font-size:13px;font-family:Open Sans,Helvetica,Arial,sans-serif;margin-bottom:15px;line-height:1.3}
.check::before{position:absolute;content:'';left:-25px;top:calc(50% - 5px);background:url(../img/small-check-icon.png) no-repeat center;width:14px;height:10px;background-size:14px 10px}
.check span{font-weight:700}
.tariffs-tariffs-01{background-image:url(../img/tariff-01.jpg);border-radius:10px 10px 0 0}
.tariffs-tariffs-02{background-image:url(../img/tariff-02.jpg)}
.tariffs-tariffs-03{background-image:url(../img/tariff-03.jpg);border-radius:0 0 10px 10px}
.tariffs-item__info--wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:40px}
.tariffs-item__info{display:-webkit-box;display:-ms-flexbox;display:flex}
.tariffs-item__info .font-icon{margin-top:8px;margin-right:-10px}
.tariffs-item__info .font-icon::before{font-size:19px;color:#70f}
.tariffs-info-text{line-height:2}
.tariffs-info-text span{font-size:18px;font-weight:700}
.section-gift{background:url(../img/gift-bg.png) no-repeat bottom right;background-size:85%;padding-top:68px;padding-bottom:50px}
.gift-title{font-size:28px;font-weight:900;font-family:Gotham Pro,Helvetica,Arial,sans-serif;line-height:1.4;margin-bottom:40px}
.gift-title span{text-transform:uppercase;color:#70f}
.form-gift-wrap{background-color:#f6f6f8;max-width:350px;text-align:center;padding:30px 40px 40px;-webkit-box-shadow:10px 10px 0 0 rgba(119,0,255,0.2);box-shadow:10px 10px 0 0 rgba(119,0,255,0.2)}
.form-gift-wrap .input-text{width:270px;border-radius:5px;border-top:none;border-right:none;border-left:none;border-bottom:2px solid #dddddf}
.form-gift-wrap .request{width:270px;border-radius:5px;background-color:#47b312;border:none;padding:15px;margin-top:25px;color:#fff;font-size:15px;text-transform:uppercase;font-weight:700}
.form-gift-title{font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-weight:900;font-size:22px;text-transform:uppercase;color:#70f;margin-bottom:18px}
.form-gift-text{font-size:14px;color:#454545;margin-bottom:30px}
.section-address{background:url(../img/address-bg.jpg) no-repeat center;background-size:cover;padding-top:45px;padding-bottom:61px}
.section-address h2.title{margin-bottom:30px;color:#fff;font-size:24px;font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-weight:700;line-height:1.3;text-align:left;text-transform:none;letter-spacing:.3px;margin-left:0}
.section-address h2.title::before{background-color:#fff}
.section-address h2.title span{font-weight:700}
.section-address .site-form-wrapper{text-align:center;border-radius:5px;max-width:730px;padding:2px}
.section-address .site-form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.section-address .input-text{padding:12px 22px;width:100%;font-size:14px;margin-bottom:15px;border-radius:5px;border:none}
.section-address .request{width:100%;outline:none;color:#fff;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:5px;padding:7px 0;border:none;background-color:#47b312;-webkit-transition:opacity .2s ease;-o-transition:opacity .2s ease;transition:opacity .2s ease}
.section-address .request:hover{opacity:.9}
.address-wrap{border-radius:20px;padding:25px 15px 34px}
.site-form-wrapper{text-align:center}
.site-form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.input-text{padding:14px;border:1px solid #dee1e3;border-radius:3px;outline:none;font-size:14px}
.section-advantages{padding-top:63px;background-color:#fff}
.section-advantages h2.title{margin-bottom:71px}
.advantages-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:40px}
.advantages-item{-ms-flex-preferred-size:32%;flex-basis:32%;background-color:#fff;padding:46px 12px 29px;position:relative;-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.2);box-shadow:5px 5px 5px rgba(0,0,0,0.2);margin-bottom:51px}
.advantages-item::before{position:absolute;top:0;right:22px;content:'';width:101px;height:61px;background:url(../img/advantages-check.png) no-repeat center;background-size:101px 61px}
.advantages-item__title{font-size:20px;font-weight:700;margin-bottom:18px}
.advantages-item__text{font-size:14px;color:#303334;font-weight:300;padding:0 20px;line-height:1.5}
.advantages-item__group{display:-webkit-box;display:-ms-flexbox;display:flex;margin-left:19px}
.advantages-item__group .font-icon{margin-right:14px;margin-top:-8px}
.advantages-item__group .font-icon::before{font-size:36px;color:#000}
.section-price{padding-top:66px;padding-bottom:86px;background:url(../img/price-bg.png) no-repeat bottom 15% left 140% #f5f7f9;background-size:80%}
.section-price h2.title{text-align:left;margin-bottom:85px;letter-spacing:-1.1px;line-height:1.2}
.section-price h2.title::after{left:0}
.section-price .container{display:-webkit-box;display:-ms-flexbox;display:flex}
.price-item1{display:none}
.price-item2{-ms-flex-preferred-size:100%;flex-basis:100%}
.price-button{width:270px;background-color:#ff161e;outline:none;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:3px;padding:12px 0;border:1px solid #ff161e;display:block;margin:0 auto}
.price-button:hover{background-color:#000;border:1px solid #000}
.section-connection{padding-top:40px;padding-bottom:10px}
.section-connection h2.title{margin-bottom:1.44em;letter-spacing:.2px}
.section-connection h2.title span{font-weight:900}
.connection-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.connection-group__item{width:100%;margin-bottom:30px;color:#101828;font-size:14px;line-height:1.5;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.connection-group__item::after{display:none}
.connection-group__item:nth-child(n+4){-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.connection-group__item:last-child::after,.connection-group__item:nth-of-type(3)::after{display:none}
.connection-group__item a{color:#101828;font-weight:700;display:block;margin-top:.15em}
.connection-group__item a:hover{text-decoration:underline}
.connection-group__item__text{margin-bottom:0}
.connection-group__item__image{width:40px;height:40px;margin-right:15px}
.section-bottom{background:no-repeat center;background-size:cover;padding:50px 0 75px;text-align:center;color:#fff}
.section-bottom h2.title{color:#fff;margin-bottom:.6em}
.section-bottom .site-form{display:-webkit-box;display:-ms-flexbox;display:flex;max-width:870px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:0 auto}
.section-bottom .input-text{border:none;outline:none;border-radius:5px;width:100%;padding:15px 20px;margin-bottom:15px;color:#000}
.section-bottom .request{border-radius:5px;border:none;width:100%;padding:15px;background-color:#47b312;-webkit-transition:opacity .2s ease;-o-transition:opacity .2s ease;transition:opacity .2s ease}
.section-bottom .request:hover{opacity:.9}
.section-bottom .bottom-text{font-size:12px;font-family:Open Sans,Helvetica,Arial,sans-serif;line-height:1.55;margin-bottom:4em}
.section-popup-form,.section-popup-thanks{position:fixed;z-index:30;top:0;bottom:0;right:0;left:0;display:none}
.section-popup-form .site-form,.section-popup-thanks .site-form{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.section-popup-form .request,.section-popup-thanks .request{width:300px;border-radius:5px;border:none;padding:15px;background-color:#47b312;margin:0 auto 15px;color:#fff;text-transform:uppercase;font-weight:700;font-size:15px}
.section-popup-form .input-text,.section-popup-thanks .input-text{width:100%;margin-bottom:15px;border-radius:5px;border:none;background-color:#f6f6f8;padding-left:30px;-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,0.1);box-shadow:0 2px 3px 0 rgba(0,0,0,0.1)}
.section-popup-form .checkbox + label,.section-popup-thanks .checkbox + label{padding-left:23px;font-size:13px;text-align:left}
.section-popup-form a.form-text-ps,.section-popup-thanks a.form-text-ps{font-size:13px;text-align:left;margin-left:22px}
.opened-popup-thanks .section-popup-thanks{display:block}
.opened-popup-form .section-popup-form{display:block}
.popup-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100vw;height:100vh;overflow:auto;padding:60px 0}
.popup-overlay{position:absolute;top:0;bottom:0;right:0;left:0;background:#000;opacity:.5;cursor:pointer}
.popup-overlay:hover{opacity:.4}
@-webkit-keyframes fadeInDown {
from{-webkit-transform:translateY(-15px);transform:translateY(-15px);opacity:0}
to{-webkit-transform:none;transform:none;opacity:1}
}
@keyframes fadeInDown {
from{-webkit-transform:translateY(-15px);transform:translateY(-15px);opacity:0}
to{-webkit-transform:none;transform:none;opacity:1}
}
.popup-form-content{position:relative;margin:auto;-webkit-animation:fadeInDown .3s ease;animation:fadeInDown .3s ease;-webkit-animation-fill-mode:both;animation-fill-mode:both;padding:22px 25px;text-align:center;background:#fff;max-width:350px}
.popup-close-icon{position:absolute;background:url(../img/popup-close-icon.png) no-repeat center;right:-3px;top:-50px;background-size:26px 26px;width:26px;height:26px;display:block;border:none}
.js-popup-form-call .form-title,.js-popup-form-price .form-title{padding:20px;font-size:18px}
.js-popup-form-call .form,.js-popup-form-price .form{padding-top:20px}
.js-popup-form-call .input-text,.js-popup-form-price .input-text{margin-bottom:0}
.js-popup-form-call .form-wrapper,.js-popup-form-price .form-wrapper{padding-bottom:20px}
.section-popup-thanks .popup-form-content{background:url(../img/popup-thanks-bg.jpg) no-repeat center;background-size:cover;border-radius:5px;border:2px solid #fff;padding:50px 20px;width:100%;max-width:350px}
.section-popup-thanks .popup-form-content .font-icon{margin:0 auto 20px;display:block}
.section-popup-thanks .popup-form-content .font-icon::before{font-size:46px;color:#ccc}
.section-popup-thanks .popup-form-content .popup-form-title{font-size:27px;font-family:Gotham Pro,Helvetica,Arial,sans-serif;font-weight:900;text-transform:uppercase;color:#fff;margin-bottom:5px}
.section-popup-thanks .popup-form-content .popup-form-text{font-size:13px;color:#fff}
.popup-title{font-family:"Gotham Pro";font-size:24px;font-weight:900;color:#70f;text-transform:uppercase;line-height:1.3;margin-bottom:10px;padding-bottom:0}
.popup-text{font-size:14px;color:#303334}
.input-wrap{position:relative;width:300px;display:block;margin:0 auto}
.input-wrap .font-icon{position:absolute;right:19px;top:11px}
.input-wrap .font-icon::before{color:#ccc;font-size:18px}
.popup-tariff-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:20px;background-color:#fff;padding:20px}
.popup-tariff-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.popup-tariff-item .font-icon{margin-right:2px}
.popup-tariff-item .font-icon::before{color:#ccc;font-size:31px}
.popup-tariff-item__text{font-size:16px;font-weight:700}
.popup-tariff-table__item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:5px 20px}
.popup-tariff-table__item-white{background-color:#fff}
.popup-tariff-table__item__text{font-size:13px;opacity:.8}
.popup-tariff-table__item__price{font-size:18px}
.popup-tariff-table__item-white{background:#fff}
.popup-tariff-text{font-size:13px;font-weight:700;text-align:left;margin-bottom:40px;padding:0 20px}
.popup-tariff-btn{width:220px;background-color:#ff161e;outline:none;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:3px;padding:11px 0;border:1px solid #ff161e;display:block;margin:0 auto 15px}
.popup-tariff-btn:hover{background-color:#000;border:1px solid #000}
.popup-choice .site-form-wrapper{padding:24px}
.popup-choice .fraction-wrapper{border-bottom:2px solid #f6f8f9}
.popup-choice .popup-form-content{padding:0;width:100px;max-width:350px}
.popup-choice .popup-title{background:transparent;padding:20px 20px 0}
.popup-choice .popup-tariff-more-wrap{background-color:#fff;padding-bottom:20px}
.popup-choice .popup-tariff-more{font-size:14px;opacity:.8;text-decoration:underline;position:relative}
.popup-choice .popup-tariff-more::after{content:'';width:8px;height:9px;position:absolute;right:-15px;top:5px;background:url(../img/popup-tariff-more-icon.png) no-repeat center;background-size:8px 9px}
.popup-choice .popup-tariff-group{margin-bottom:0;padding:20px}
.popup-choice .input-text,.popup-choice .request{max-width:300px;display:block;margin:0 auto 15px}
.popup-choice .request{padding:15px}
.popup-choice .input-wrap .font-icon{right:19px;top:13px}
.popup-tariff-price{font-size:14px;color:#000;margin-top:15px;margin-bottom:15px}
.popup-tariff-price span{font-size:40px;font-weight:700}
.section-popup-address .popup-form-content{max-width:350px}
.collapse{font-size:13px;font-family:Open Sans,Helvetica,Arial,sans-serif;color:#101828;opacity:.7;padding:5px 0 10px;border:none;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;border-radius:none;position:relative}
.collapse::after{content:'';position:absolute;bottom:9px;border-top:2px dashed #322f32;width:70px;left:calc(50% - 35px);opacity:.7}
.popup-tariff .popup-form-content,.popup-choice .popup-form-content{width:100%;max-width:350px}
.checkbox{position:absolute;z-index:-1;opacity:0;margin:10px 23px 0 20px}
label.checkbox-label{padding-left:23px}
.checkbox + label{position:relative;padding:0 0 0 30px;cursor:pointer}
.checkbox + label:before{content:'';position:absolute;top:0;left:0;width:16px;height:16px;background:#fff;-webkit-transition:.2s;-o-transition:.2s;transition:.2s;border:1px solid #87888a}
.checkbox + label:after{content:'';position:absolute;top:4px;left:3px;width:11px;height:8px;-webkit-transition:.2s;-o-transition:.2s;transition:.2s;background:url(../img/checkbox-icon.png) no-repeat center;background-size:11px 8px;font-size:7px;opacity:0}
.checkbox:checked + label:after{opacity:1}
.checkbox + label,a.form-text-ps{font-size:12px;color:#000;opacity:.5}
.plug-button-popup{width:100%;border-radius:30px;border:none;outline:none;color:#fff;font-weight:700;text-transform:uppercase;font-size:15px;font-family:Open Sans,Helvetica,Arial,sans-serif;padding:15px}
@media only screen and (min-width: 340px) {
.recaptcha{margin-left:0}
}
@media only screen and (min-width: 680px) {
figure{text-align:inherit}
}
@media only screen and (min-width: 768px) {
h2.title{font-size:36px}
h1{font-size:2.375rem}
h2{font-size:2rem}
.table-wrapper{border:0;background:transparent}
.table-wrapper table{background:none}
.site-header{z-index:10;background:transparent}
.header-top .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.header-item{margin-bottom:0}
.menu-group > li{font-size:15px}
.menu-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-firstscreen{background-position:center;padding-bottom:60px;background-size:cover}
.firstscreen-top{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:115px}
.firstscreen-logo-wrap{margin-bottom:0}
.firstscreen-logo-wrap::before{right:36%}
.firstscreen-logo{max-width:229px}
.firstscreen-cont-wrap{background:transparent}
.firstscreen-contacts{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.firstscreen-contacts-item{margin-bottom:0}
.firstscreen__title{font-size:32px;line-height:1.4;font-size:46px}
.firstscreen-checks{margin-top:65px;margin-bottom:87px;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.frscreen-button-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.frscreen-button-item{width:240px}
.tariffs-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 14px}
.tariffs-item{-ms-flex-preferred-size:31%;flex-basis:31%;margin:0 10px 50px}
.section-tariffs-subclasses{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.section-tariffs-subclass{width:38%;margin-bottom:0;padding:50px}
.tariffs-tariffs-01{border-radius:10px 0 0 10px}
.tariffs-tariffs-03{border-radius:0 10px 10px 0}
.gift-title{font-size:36px;margin-bottom:90px}
.section-address h2.title{margin-bottom:50px;font-size:34px;font-size:30px}
.section-address .site-form-wrapper{background-color:#fff}
.section-address .site-form{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-address .input-text{width:590px;margin-bottom:0;border-radius:30px}
.section-address .request{width:270px;margin-left:30px}
.address-wrap{padding:35px 0 54px 41px}
.advantages-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-price{background:url(../img/price-bg.png) no-repeat bottom 85% left 10% #f5f7f9}
.price-item1{-ms-flex-preferred-size:51.5%;flex-basis:51.5%;display:block}
.price-item2{-ms-flex-preferred-size:49%;flex-basis:49%}
.price-button{margin:0}
.section-bottom .site-form{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-bottom .input-text{margin-bottom:0;width:285px}
.section-bottom .input-phone{margin:0 11px}
.section-bottom .request{width:285px;padding:10px}
.section-bottom .bottom-text{font-size:14px}
.popup-form-content{max-width:400px}
.popup-close-icon{right:-43px;top:-50px}
.section-popup-thanks .popup-form-content{max-width:370px}
.popup-tariff-item .font-icon{margin-right:15px}
.popup-choice .popup-form-content{max-width:400px}
.popup-tariff .popup-form-content,.popup-choice .popup-form-content{max-width:400px}
}
@media only screen and (min-width: 1024px) {
fieldset .form-item{width:calc(50% - 10px);margin:0 20px 20px 0}
fieldset .form-item:nth-child(2n){margin-right:0}
.menu{display:block}
.open-main-menu{display:none}
.connection-group__item{width:23%;margin:0 5% 60px}
.connection-group__item::after{display:block;font-size:33px;color:#c6c5c6;position:absolute;top:16px;left:115%}
.connection-group__item__image{width:60px;height:60px}
}
@media only screen and (min-width: 1025px) {
.active-menu{overflow-y:auto}
}
@media only screen and (max-width: 767px) {
.fixed-menu .section-firstscreen{margin-top:60px}
}