.site-header {
	background-color: #fff;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 3px;
	align-items: center;
	flex-wrap: wrap;

	@include media-q(min, 768) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.header-logo {
	padding: 2px 0;
	margin: 0 auto;
	width: 170px;
	height: 43px;

	@include media-q(min, 768) {
		margin: 0;
	}
}

.header-right {
	font-family: $sans;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	padding-top: 12px;
	padding-bottom: 5px;
}

.header-group {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: right;

	@include media-q(min, 768) {
		flex-direction: column;
		margin: 0;
	}
}

.header-tel,
.header-address {
	font-weight: 700;
	font-size: 20px;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
	display: none;
	color: #000;

	@include media-q(min, 768) {
		display: flex;
	}
}

.header-tel {
	letter-spacing: 0.9px;
	//transition: color .2s ease;
	text-decoration: none;
	position: relative;

	&::after {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
		content: "";
		transition: transform .3s ease-out;
		transform: scaleX(0);
		transform-origin: left;
	}

	&:hover,
	&:focus {
		&::after {
			transform: none;
		}
	}
}

.header-address {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 0;
}

.menu-wrap{
	background: #608ace;
}

.menu {
	padding: 5px;
	display: none;

	@include media-q(min, 1024) {
		display: block;
	}

	.opened-mobile-main-menu & {
		display: block;
	}
}

.menu-group {
	font-family: $fira;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 40px;

	@include media-q(min, 768) {
		white-space: nowrap;
    max-width: 220px;
    margin: 0 auto;
		padding: 0 140px;
	}

	@include media-q(min, 1024) {
		flex-direction: row;
		max-width: inherit;
		margin: 0;
	}

	@include media-q(min, 1200) {
	}

}

.menu-item {
	color: #fff;
	font-weight: 600;
  letter-spacing: 0.7px;
  margin-left: -26px;
	text-transform: uppercase;
	font-size: 14px;
	transition: .5s linear;
	white-space: nowrap;

	@include media-q(min, 375) {
		margin-left: 0;
  }
	a {
		&:hover {
			color: #000;
		}
	}

	@include media-q(min, 768) {
		padding: 0 10px;
		white-space: normal;
	}
}

ul {
	list-style: none;

	li {
		padding-top: 10px;
		padding-bottom: 10px;

		@include media-q(min, 768) {
		}
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.header-request {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px solid #ffda72;
	border-radius: 50px;
  padding: 14px 22px;
  margin-left: 22px;
	display: none;

	@include media-q(min, 768) {
		display: block;
	}

		&:hover {
		border: 2px solid #000;
  }
}


.open-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 60px;

  @include media-q(min, 1024) {
    display: none;
  }

  .icon-menu {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background: #000;
      margin-bottom: 6px;
      transition: transform .2s, opacity .2s ease;

      &:nth-of-type(3) {
        margin-bottom: 0;
      }

      .opened-mobile-main-menu & {
        &:nth-of-type(1) {
          transform: rotate(-135deg);
          margin-bottom: -11px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(135deg);
        }
      }
    }
  }
}











