-
  var main_menu = [
    {
      title: 'Cómo funciona',
      href: '#',
    },
    {
      title: '¿Por Qué Nosotros?',
      href: '#',
    },
    {
      title: 'Comentarios',
      href: '#',
    },
    {
      title: 'FAQ',
      href: '#',
    },
    {
      title: 'Contáctenos',
      href: '#',
    },
  ]