header#header.site-header
	.header-top
		.container
			.header-logo-wrap
				img.header-logo-img(src="img/header-logo.png", alt="logo")
				p.header-logo-text Официальный <br>партнер
			.header-group
				.header-item
					p.header-item__text Подключение новых клиентов:
					.header-item-group
						i.font-icon.icon-phone-header
						a.header-item__phone(href="tel:+7 (846)225-04-01") +7 (846)225-04-01
				.header-item
					p.header-item__text Техподдержка текущих клиентов:
					.header-item-group
						i.font-icon.icon-phone-header
						a.header-item__phone(href="tel:+7 (846)225-04-01") +7 (846)225-04-01

	.menu-wrap
		.container
			a.open-main-menu.icon-menu-inside(href='#')
				i.icon-menu
					span
					span
					span
			nav.menu
				ul.menu-group
					+main_menu(main_menu)
