//- Meta
-
  var meta = {
    lang: 'ru',
    title: 'CharryCoin',
    description: 'description'
  };

//- Header
-
  var header = {
    main_menu: [
      {
        title: 'О проекте',
        href: '#project-info'
      },
      {
        title: 'Наша команда',
        href: '#our-team'
      },
      {
        title: 'Партнеры',
        href: '#partners'
      }
    ],
    cta: {
      title: 'Связаться с нами',
      href: '#'
    }
  };

//- Hero screen
-
  var hero_screen = {
    title: 'Сделайте пожертвование, измените жизнь ребенка',
    text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
    cta: {
      title: 'Присоединиться',
      href: '#'
    }
  };

//- Introduction
-
  var introduction = {
    title: 'Как часто у вас бывало такое, что:',
    list: [
      'В доме скапливалась куча старых <br> или просто не нужных вещей?',
      'Вы переезжаете и не хотите забирать <br> с собой некоторые вещи?',
      'Вы купили новую новую газонокосилку <br> и не знаете теперь куда деть старую?',
      'Вам досталась оооочень большая коллекция одеял и вы не знаете что теперь с ними делать?'
    ],
    offer: {
      title: 'У нас есть предложение!',
      text: 'Зарегистрируйтесь у нас, выставьте вещи для покупки, <br> за на ваш взгляд самую справедливую цену и станьте участником всемирной благотворительной сети.',
      text_medium_italic: 'Проект будет размещён на ICO в качестве сбора средств!'
    }
  };

//- How it works
-
  var how_it_works = {
    title: 'How it Works',
    items: [
      {
        icon: 'hello',
        title: 'Зайти к нам',
        text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.'
      },
      {
        icon: 'barter',
        title: 'Обмен товарами',
        text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.'
      },
      {
        icon: 'magic',
        title: 'Магия',
        text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.'
      },
      {
        icon: 'people',
        title: 'Получение товара нуждающимися.',
        text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.'
      },
    ]
  };

//- Advantages
-
  var advantages = {
    title: 'Advantages',
    items: [
      'Мы не собираем деньги <br>на непонятные нужды.',
      'Мы не жертвуем ваши товары фондам.',
      'Прямая доставка товара <br>от продавца к покупателю/приюту(нуждающимся)',
      'Отслеживание товаров <br>по почтовым механизмам'
    ]
  };

//- Project info
-
  var project_info = {
    title: 'project info',
    tabs: [
      {
        title: 'Основная идея',
        items: [
          {
            text: [
              'Идея возникла как небольшое улучшение имеющимся на данный момент системам благотворительности и заодно помощь людям в избавлении от ненужных вещей.',
              'Конечным продуктом проекта должен стать большой агрегатор, который будет работать со всеми регионами цивилизованного мира(где мы сможем наладить контакты с благотворительными организациями и получить списки как можно большего кол-ва (общими словами детских хосписов, приютов и т.д.))',
              'Предварительный старт и отладка проекта будет запущена для Украины, после испытаний будут постепенно добавляться разные страны, в зависимости от скорости предоставления и обработки данных от благ.'
            ]
          }
        ],
        image: 'project-img'
      },
      {
        title: 'Взаимодействие с пользователем',
        items: [
          {
            text: [
              'На взаимодействие с пользователем можно смотреть с двух сторон:',
              'Первая - это пользователь, который хочет разместить свой (ненужный??) товар для продажи, таким образом не только жертвуя свой товар на благотворительность но и имея возможность получить за него (компенсацию, какие-никакие деньги). Имея возможность выбора какой процент от покупки пойдет на благотворительность(10% по дефолту), или же указать, что данный товар полностью для благотворительности и должен быть доставлен в указанное место(перефразировать, выбранное из списка может??);',
              'Вторая - это пользователь который хочет поучаствовать в благотворительности или же купить какой-то товар для себя, оплатив небольшую комиссию в размере 10%.'
            ]
          }
        ],
        image: 'interaction-img'
      },
      {
        title: 'Описание проекта и технологии',
        items: [
          {
            text: [
              'Проект будет включать в себя сайт для размещения/приобретения товаров, иметь регистрацию пользователей, проводить оборот средств используя крипту(переписать предложение!). И впоследствии иметь мобильное приложение.',
              'В зависимости от собранных средств будет варьироваться используемые технологии и кол-во рабочих(перефразировать, расширить).'
            ]
          },
          {
            text: [
              '$300к - 2 бекенд девелопера 1 фронт, 1 - кто-то(добавить еще пару человек) + доширак, Drupal 9 как система хранения/редактирования/отображения контента, покупка интернет еквайеринга, договора(описать договора с разными конторами).',
              '$600-800к - 3-4 бекенд 2 фронт, 1 - кто-то(добавить еще пару человек) + пицца и суши по выходным, Хедлес Drupal 9 как система хранения/редактирования контента, React фронтенд часть, разработка мобильного приложения Flutter. (ещё добавить)',
              '$1кк - 5 бекенд 2 фронт, сколько-то кто-то + собственная кухня + поход в бар в конце месяца.',
              'Как хранение контента - firebase, фронтенд на реакте …. добавить из пердыдущего - придумать.'
            ]
          }
        ],
        image: 'description-img'
      },
      {
        title: 'Этапы прохождения ICO',
        items: [
          {
            text: [
              'Продажа монет будет осуществляться в 3 этапа',
              '1й этап стартует 00,00,0000 (вставить дату) на продажу выставляется 1кк монет стоимостью $300к + бонус (придумать бонус)',
              '2й этап стартует сразу после первого, 00,00,0000 (вставить дату) на продажу выставляется 1кк монет стоимостью $600к + бонус (придумать бонус)',
              '3й этап стартует сразу после второго, 00,00,0000 (вставить дату) на продажу выставляется 1кк монет стоимостью $900к + бонус (придумать бонус)'
            ]
          }
        ],
        image: 'process-img'
      },
    ]
  };

//- Chart
-
  var chart = {
    title: 'Charity chart',
    labels: {
      red: 'needed',
      green: 'donations',
      purple: 'donations'
    }
  };

//- Road map
-
  var road_map = {
    title: 'Road map',
    items: [
      //- class: 'filled-line' for green line
      //- class: 'filled-circle' for green circle
      //- class: 'filled-line filled-circle' for both
      //- grouped by five
      [
        {
          title: '2018',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
          class: 'filled-line filled-circle'
        },
        {
          title: '2019',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
          class: 'filled-line filled-circle'
        },
        {
          title: '2020',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
          class: 'filled-line filled-circle'
        },
        {
          title: '2021',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
          class: 'filled-circle'
        },
        {
          title: '2022',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
        }
      ],
      //- grouped by five
      [
        {
          title: '2023',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
        },
        {
          title: '2024',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. '
        },
        {
          title: '2025',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. '
        },
        {
          title: '2026',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. '
        },
        {
          title: '2027',
          text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. '
        }
      ]
    ]
  };

//- Out team
-
  var our_team = {
    title: 'Our team',
    text_more: 'Other members',
    items: [
      {
        photo: 'team-item-1',
        name: 'Ryan Grant',
        position: 'Chief Executive Officer',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-2',
        name: 'Edward Pinchard',
        position: 'Chief Commercial Officer',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-3',
        name: 'Peter de Wit',
        position: 'Development Director',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-4',
        name: 'Rayner Bauer',
        position: 'IT Director',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-5',
        name: 'Ryan Grant',
        position: 'Chief Executive Officer',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-6',
        name: 'Edward Pinchard',
        position: 'Chief Commercial Officer',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-6',
        name: 'Edward Pinchard',
        position: 'Chief Commercial Officer',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      },
      {
        photo: 'team-item-6',
        name: 'Edward Pinchard',
        position: 'Chief Commercial Officer',
        socials: {
          twitter: '#',
          telegram: '#',
          facebook: '#'
        }
      }
    ]
  }

// Our partners
-
  var our_partners = {
    title: 'our Partners',
    subtitle: 'Amet minim mollit non deserunt ullamco est sit',
    items: [
      {
        image: 'partner-01.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-02.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-03.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-04.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-05.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-05.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-04.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-03.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-02.png',
        alt: 'красный крест'
      },
      {
        image: 'partner-01.png',
        alt: 'красный крест'
      },
    ]
  }

//- Footer
-
  var footer = {
    socials: {
      twitter: '#',
      telegram: '#',
      github: '#'
    },
    copy_text: 'Все права защищены',
  }
