include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='en')
  include ../common_meta/head
  body.front
    include ../components/_header
    main.page-container
     include ../sections/fr-screen
     include ../sections/collections
     include ../sections/brands
     include ../sections/delivery
     include ../sections/payment
     include ../sections/request
     include ../sections/products
     include ../sections/cooperation
     include ../sections/contacts
     include ../sections/popups


    include ../components/_footer
    include ../common_meta/footer_scripts
