//- ---------------------------------------------------------------------------
//- Variables

-
	var main_menu = [
		{
			title: 'Преимущества',
			href: 'advantages',
		},
		{
			title: 'Применение',
			href: 'application',
		},
		{
			title: 'Примеры работ',
			href: 'portfolio',
		},
		{
			title: 'Отзывы ',
			href: 'reviews',
		},
		{
			title: 'Нам доверяют ',
			href: 'partners',
		},
		{
			title: 'Видео   ',
			href: 'angar',
		},
		{
			title: 'Сертификаты   ',
			href: 'sertificates',
		},
		{
			title: 'Контакты',
			href: 'contacts',
		},
	];