include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='en')
  include ../common_meta/head
  body.front
    include ../components/_header
    main.page-container
      include ../sections/section_firstscreen
      include ../sections/section_equipment
      include ../sections/section_center_form
      include ../sections/section_portfolio
      include ../sections/section_video
      include ../sections/section_reviews
      include ../sections/section_certificates
      include ../sections/section_bottom_form
      include ../sections/section_contacts
      include ../sections/section_popup
      include ../sections/secrion_popup_thanks

    include ../components/_footer
    include ../common_meta/footer_scripts
