//- ---------------------------------------------------------------------------
//- Variables
-
  var menu_left = [
    {
      title: 'О компании',
      href: 'about-page.html',
      class: 'active'
    },
    {
      title: 'Оборудование',
      href: 'categories-page.html',
      children: [
        {
          title: 'Радиологическое оборудование',
          href: 'category-page.html'
        },
        {
          title: 'Радиологическое оборудование',
          href: 'category-page.html'
        },
        {
          title: 'Радиологическое оборудование',
          href: 'category-page.html'
        },
        {
          title: 'Медицинская мебель',
          href: 'category-page.html'
        },
        {
          title: 'Консоли и панели',
          href: 'category-page.html'
        },
        {
          title: 'Эндоскопическое оборудование',
          href: 'category-page.html'
        },
        {
          title: 'Лор-оборудование',
          href: 'category-page.html'
        },
        {
          title: 'Офтальмология',
          href: 'category-page.html'
        },
        {
          title: 'Гинекология/урология',
          href: 'category-page.html'
        },
        {
          title: 'Хирургическое оборудование',
          href: 'category-page.html'
        },
        {
          title: 'Ультразвуковая диагностика',
          href: 'category-page.html'
        }
      ]
    }
  ];

-
  var menu_right = [

    {
      title: 'Все бренды',
      href: 'brands-page.html'
    },
    {
      title: 'Контакты',
      href: 'home.html#contacts'
    }
  ];

-
  var footer_nav_left = [
    {
      title: 'О компании',
      href: 'about-page.html',
      class: 'active'
    },
    {
      title: 'Оборудование',
      href: 'categories-page.html'
    },
    {
      title: 'Контакты',
      href: 'home.html#contacts'
    }
  ];

-
  var footer_nav_right = [
    {
      title: 'Все бренды',
      href: 'brands-page.html'
    },
    {
      title: 'пункт меню',
      href: '#'
    },
    {
      title: 'пункт меню',
      href: '#'
    },
  ];
