.contact-hero {
	&__group {
		flex-direction: column;

		@include media-q(min, 1024) {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__item {

		&:not(:last-child) {
			margin-bottom: 60px;
		}

		@include media-q(min, 1024) {
			width: 29%;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 20px;
		}

		a {
			transition: color .2s ease;

			&:hover {
				color: $c-blue;
			}
		}
	}

	&__title {
		font-size: 24px;
		font-weight: $f_medium;
		margin-bottom: 40px;
	}

	&__phones {
		flex-wrap: wrap;
		justify-content: space-between;

		a {
			margin-bottom: 20px;
			margin-right: 20px;
			white-space: nowrap;
			width: 45%;

			@include media-q(min, 1024) {
				width: auto;
			}
		}
	}
}