.contact-addresses {

	&__title {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.show-before-tablet {

		@include media-q(max, 768) {
			display: inline-block;
			min-width: 48%;
		}

		.contact-addresses__city {
			width: 100%;

			&::after {
				right: 14px;
			}
		}
	}

	&__city {
		position: relative;
		margin-bottom: 50px;
		width: 50%;
		display: inline-block;

		@include media-q(min, 768) {
			max-width: 220px;
			width: auto;
			display: block;
		}

		&.select-address {
			display: none;

			&.active {
				display: inline-block;

				@include media-q(min, 768) {
					display: block;
				}
			}
		}

		&::after {
			font-size: 24px;
			position: absolute;
			right: 19px;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			color: $c-blue;

			@include media-q(min, 768) {
				right: 14px;
			}

			@extend %font-icon;
			@extend %icon-arrow-small;
		}

		select {
			font-size: 18px;
			border: 1px solid $c-light;
			padding: 15px 20px;
			min-width: auto;
			cursor: pointer;
			width: 100%;

			@include media-q(max, 768) {
			}
		}
	}

	&__content {
		box-shadow: 0 5px 20px rgba(50, 50, 50, .05);
		display: none;

		&.active {
			display: block;

			@include media-q(min, 768) {
				display: flex;
			}
		}
	}

	&__map {

		@include media-q(min, 768) {
			width: 50%;
		}

		@include media-q(min, 1024) {
			width: 67%;
		}

		img,
		iframe {
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		padding: 20px;

		@include media-q(min, 768) {
			width: 50%;
		}

		@include media-q(min, 1024) {
			width: 33%;
		}

		&-item {
			display: flex;
			margin-bottom: 30px;
		}

		&-img {
			margin-right: 20px;

			img {
				//height: 100%;
				//object-fit: cover;
			}
		}

		&-title {
			@include font-size(20);
			font-weight: $f_medium;
			margin-bottom: 10px;

			@include media-q(min, 1200) {
				@include font-size(24);
			}
		}

		&-text {
			font-size: 14px;
		}

		&-tel {
			font-size: 14px;
			margin-top: 10px;

			a {
				transition: color .2s ease;

				&:hover {
					color: $c-blue;
				}
			}
		}
	}
}