.home-section-objects,
.section-objects-main {
  padding-top: 43px;
  padding-bottom: 31px;

  .slick-slide-wrap {
    @include media-q(min, 992) {
      padding: 0 30px;
    }
  }

  .slick-slide-content {
    background: $white;
    box-shadow: 4px 4px 10px transparentize($black, .92);
    border-radius: 5px;

    @include media-q(min, 768) {
      display: flex;
    }
  }
}

.home-objects-image-wrap {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px 0 0 5px;

  @include media-q(min, 768) {
    width: 41.3%;
    flex-basis: 41.3%;
  }

  .objects-main-wrap & {
    flex-basis: 59%;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 60%;

    @include media-q(min, 768) {
      padding-top: 105%;
    }
  }
}

.home-objects-image {
  position: absolute;
  min-width: 100%;
  width: auto;
  height: 100%;
  max-width: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.home-objects-data {
  @include font-size(16);
  color: $c_grey_heading;
  padding: 20px;

  @include media-q(min, 768) {
    @include font-size(18);
  }

  @include media-q(min, 1200) {
    @include font-size(20);
    padding: 35px 38px;
  }
}

.home-objects-title {
  @include font-size(22);
  font-family: $sans-room;
  font-weight: $f_bold;
  color: $c_orange_button;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  text-align: center;

  @include media-q(min, 768) {
    @include font-size(24);
    text-align: left;
  }

  @include media-q(min, 1200) {
    @include font-size(30);
  }
}

.home-objects-info {
  margin-bottom: 22px;

  p {
    margin-bottom: .6em;
    line-height: 1.2;
  }
}

.home-objects-cost {
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    @include font-size(20);
    font-weight: $f_bold;
    color: $c_orange_button;

    @include media-q(min, 1200) {
      @include font-size(22);
    }
  }
}

// previous markup from site
.home-objects-slider {
  .slick-slide {
    @include media-q(min, 992) {
      padding: 0 30px;
    }

    > .object-link {
      display: flex;
      background: $white;
      box-shadow: 4px 4px 10px transparentize($black, .92);
      border-radius: 5px;
      flex-direction: column;

      @include media-q(min, 768) {
        flex-direction: row;
      }

      > figure {
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        border-radius: 5px 0 0 5px;
        margin-bottom: 0;

        @include media-q(min, 768) {
          width: 41.3%;
          flex-basis: 41.3%;
        }

        &::before {
          content: '';
          display: block;
          padding-top: 60%;

          @include media-q(min, 768) {
            padding-top: 105%;
          }
        }

        img {
          position: absolute;
          min-width: 100%;
          width: auto;
          height: 100%;
          max-width: none;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      > span {
        @include font-size(16);
        color: $c_grey_heading;
        padding: 20px;

        @include media-q(min, 768) {
          @include font-size(18);
        }

        @include media-q(min, 1200) {
          @include font-size(20);
          padding: 35px 38px;
        }
      }

      > span:first-of-type {
        @include font-size(22);
        font-family: $sans-room;
        font-weight: $f_bold;
        color: $c_orange_button;
        text-transform: uppercase;
        margin-bottom: 1.5em;
        text-align: center;

        @include media-q(min, 768) {
          @include font-size(24);
          text-align: left;
        }

        @include media-q(min, 1200) {
          @include font-size(30);
        }
      }
    }
  }
}
