.home-section-services {
  background-color: $c_yellow_text;
  padding-top: 50px;
  padding-bottom: 50px;

  .default-section-heading {
    color: $white
  }
}

.home-services-image-wrap {
  padding: 6px 0 10px 3%;
}

.home-services-image {
  display: block;
  margin: 0 auto;
}
