.home-section-ceo {
  padding: 60px 0 70px;

  .container {
    @include media-q(min, 768) {
      display: flex;
      align-items: center;
    }

    @include media-q(min, 992) {
      align-items: flex-start;
    }
  }
}

.home-ceo-image-wrap {
  width: 100%;
  position: relative;
  border: 7px solid $c_white_text;
  overflow: hidden;
  margin-right: 25px;
  margin-bottom: 20px;

  @include media-q(min, 768) {
    flex-basis: 39.5%;
    flex-shrink: 0;
    width: 39.5%;
    margin-bottom: 0;
  }

  @include media-q(min, 992) {
    margin-right: 40px;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.home-ceo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-ceo-info {
  padding-top: 10px;

  @include media-q(min, 1200) {
    padding-top: 26px;
  }
}

.home-ceo-heading {
  @include font-size(20);
  font-family: $sans-room;
  font-weight: $f_bold;
  line-height: $headings-line-height;
  color: $c_orange_button;
  text-transform: uppercase;
  margin-bottom: .1em;

  @include media-q(min, 768) {
    @include font-size(26);
  }

  @include media-q(min, 992) {
    @include font-size(34);
  }

  @include media-q(min, 1200) {
    @include font-size(44);
  }
}

.home-ceo-position {
  @include font-size(18);
  color: $c_grey_heading;
  margin-bottom: 1.5em;

  @include media-q(min, 1200) {
    margin-bottom: 3.06em;
  }
}

.home-ceo-text {
  @include font-size(15);
  color: $c_grey_text;
  line-height: 1.3;
  margin-bottom: 1.3em;

  @include media-q(min, 1200) {
    @include font-size(16);
    margin-bottom: 1.5em;
    line-height: 1.5;
  }

}
