.home-section-work {
  padding-top: 43px;
  padding-bottom: 44px;

  .default-section-heading {
    margin-bottom: .7em;
  }
}

.home-work-group {
  @include media-q(min, 768) {
    display: flex;
    justify-content: space-between;
  }
}

.home-work-group-item {
  flex-basis: calc(33.33333% - 15px);
}

.home-work-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $sans-room;
  font-weight: $f_bold;
  line-height: $line_height_normal;
  margin-bottom: 13px;

  @include media-q(min, 992) {
    padding-left: 60px;
    justify-content: flex-start;
  }

  .counter {
    @include font-size(60);
    color: $c_orange_button;
    margin-right: .2em;
    padding-top: .05em;

    @include media-q(min, 1200) {
      @include font-size(74);
      margin-right: .35em;
    }
  }

  .title {
    @include font-size(22);
    color: $c_grey_heading;

    @include media-q(min, 1200) {
      @include font-size(28);
    }
  }
}

.home-work-item {
  background: url('../img/home-work-bg.jpg') no-repeat center;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.home-work-item-text {
  @include font-size(14);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
  background-color: $c_white_text;
  margin: -1px; // fix to hide parent bg
  height: 120px;
  padding: 10px;
  transition: background-color .3s, color .3s ease;

  @include media-q(min, 992) {
    @include font-size(15);
    padding: 15px 25px;
  }

  @include media-q(min, 1200) {
    @include font-size(16);
  }

  &:hover {
    background-color: transparent;
    color: $white;
  }
}
