.home-section-reviews {
  background: no-repeat center;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 55px;

  .default-section-heading {
    color: $c_yellow_text;
  }
}

.home-reviews-slider,
.reviews-main-wrap {
  margin-top: 46px;

  .slick-arrow {
    height: calc(100% - 40px);
  }

  .slick-slide-wrap {
    padding: 0 12px;
  }

  .slick-slide-content {
    display: block;
    border: 7px solid $c_white_text;
    border-radius: 5px;
    position: relative;
    background: $white;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      padding-bottom: 147.8%;
    }
  }

  .slick-slide-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    max-width: 150%;
    min-width: 100%;
  }

  .slick-slide-caption {
    @include font-size(16);
    width: 100%;
    text-align: center;
    color: $white;
    margin-top: 17px;
    margin-bottom: 0;

    @include media-q(min, 992) {
      @include font-size(18);
    }
  }
}
