.home-section-certificate {
  padding-top: 44px;
  padding-bottom: 74px;

  .slick-arrow {
    height: 332px;

    @include media-q(min, 1200) {
      height: 450px;
    }
  }

  .slick-slide-wrap {
    padding: 0 12px;
  }

  .slick-slide-content {
    width: 100%;
    display: block;
    position: relative;
    background: $white;
    overflow: hidden;

    @include media-q(min, 1200) {
      width: 320px;
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: 140.7%;
    }
  }

  .slick-slide-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  .slick-slide-caption {
    @include font-size(13);
    width: 100%;
    color: $c_grey_heading;
    margin-top: 17px;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .certificate-without-text-marker + & {
    .slick-slide-caption {
      display: none;
    }
  }
}
