section.personal-area-history.personal-area
    .container
        include ../../components/breadcrumbs
        include personal-area-siderbar
        .personal-area__content
            .personal-area__title Мои заказы
            each item in [1,2,3]
                .history-item.flex
                    .history-item__content
                        .history-item__title Заказ номер
                            span №123456
                        .history-item__info 06.09.21
                    .history-item__content
                        .history-item__title Сумма заказа
                        .history-item__info 3 000 грн.
                    .history-item__content
                        .history-item__title Категория
                        .history-item__info Вода и Напитки
                    a(href="#").btn.btn-third ПРОСМОТР
