section.personal-area-data.personal-area
    .container
        include ../../components/breadcrumbs
        include personal-area-siderbar
        .personal-area__content
            .personal-area__title Мои данные
            form.request-form
                .personal-area__input-wrap
                    input.input-text(type="text" placeholder="Lorem ipsum")
                    p Фамилия
                    i.font-icon.font-icon-personal-area-check
                .personal-area__input-wrap
                    input.input-text(type="text" placeholder="Lorem ipsum")
                    p Имя
                    i.font-icon.font-icon-personal-area-check
                .personal-area__input-wrap
                    input.input-text(type="text" placeholder="Lorem ipsum")
                    p E-mail
                    i.font-icon.font-icon-personal-area-check
                .personal-area__input-wrap
                    input.input-text(type="text" placeholder="Lorem ipsum")
                    p Телефон
                    i.font-icon.font-icon-personal-area-check
                .personal-area__input-wrap
                    input.input-text(type="password" placeholder="Lorem ipsum")
                    p Пароль
                    i.font-icon.font-icon-personal-area-check
                input.btn(type="submit" value="сохранить все изменения")