aside.personal-area__sidebar.personal-area
    .personal-area__info.flex
        .personal-area__img
        div
            .personal-area__name Имя пользователя
            .personal-area__email e-mail пользователя
    .personal-area__nav
        a(href="personal-area-data.html").personal-area__nav-item.active
            i.font-icon.font-icon-register-date-user
            | Мои данные
        a(href="personal-area-history.html").personal-area__nav-item
            i.font-icon.font-icon-time
            | История заказов
        a(href="personal-area-addresses.html").personal-area__nav-item
            i.font-icon.font-icon-register-date-location
            | Адреса доставок
