// Default select styles (for mobile devices)
select {
  font-size: 16px;
  color: $black;
  border: 1px solid $black;
  padding: 8px 12px 9px;
  margin-bottom: 10px;
  min-width: 280px;
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;

  &:focus {
    outline: none;    
  }
}
