//- ---------------------------------------------------------------------------
//- Variables

//  Top menu (First level)
-
  var main_menu = [
  {
    title: 'Hjem',
    url: '/'
  },
  {
    title: 'PRAKTISK BRUK AV ELIQUIS',
    url: '#'
  },
  {
    title: 'Om eliquis',
    url: 'landing.html',
    lvl_2: [
      {
        title: 'Sed ut perspiciatis unde lorem',
        url: '#'
      },
      {
        title: 'Omnis iste natus error sit',
        url: '#',
        lvl_3: [
          {title: 'Sed ut perspiciatis unde lorem ipsum', url: '#', active: false},
          {title: 'Omnis iste natus error sit', url: '#', active: true},
          {title: 'Voluptatem accusantium que vedus', url: '#', active: false},
          {title: 'Doloremque laudant totam rem', url: '#', active: false},
          {title: 'Aperiam, eaque ipsa quae ab illo', url: '#', active: false}
        ]
      },
      {
        title: 'Voluptatem accusantium que vedus',
        url: '#'
      },
      {
        title: 'Doloremque laudant totam rem',
        url: '#'
      }
    ]
  },
  {
    title: 'SIKKERHETSINFORMASJON',
    url: '#'
  },
  {
    title: 'ATRIEFLIMMER (NVAF)',
    url: '#'
  }
  ];

//-  Top menu (Second level)

//-  Top menu (Third level)

//- Footer menu
-
  var footer_menu = [
    {title: 'Bruksvilkår', url: '#'},
    {title: 'Personvernpolicy ', url: '#'},
    {title: 'Cookiepolicy', url: '#'},
    {title: 'Rapportering av bivirkning', url: '#'},
    {title: 'Kontakt oss', url: '#'},
  ];
//- Footer text paragraphs
-
  var footer_paragraphs = [
  {
    title: 'ELIQUIS Preparatomtale',
    content: '<ul><li><a href="/node/181" title="Bivirkninger">Bivirkninger</a></li> <li><a href="/node/186" title="Forsiktighetsregler">Forsiktighetsregler</a></li><li><a href="/node/xxx" title="Interaksjoner legemidler">Interaksjoner legemidler</a></li><li><a href="/node/196" title="Kontraindikasjoner">Kontraindikasjoner</a></li><li><a href="/node/191" title="Blødningshåndtering">Blødningshåndtering</a></li></ul>'
  },
  {
    title: 'Informasjonsfilmer',
    content: '<ol><li><a href="/node/181" title="Bivirkninger">Bivirkninger</a></li> <li><a href="/node/186" title="Forsiktighetsregler">Forsiktighetsregler</a></li><li><a href="/node/xxx" title="Interaksjoner legemidler">Interaksjoner legemidler</a></li><li><a href="/node/196" title="Kontraindikasjoner">Kontraindikasjoner</a></li><li><a href="/node/191" title="Blødningshåndtering">Blødningshåndtering</a></li></ol>'
  },
  {
    title: 'Nyttige lenker',
    content: 'Omnis iste natus error sit Voluptatem accusantium que vedus Doloremque laudant totam rem Aperiam, eaque ipsa quae ab illo Sed ut perspiciatis unde lorem ipsum Voluptatem accusantium que vedus Doloremque laudant totam rem Aperiam eaque ipsa quae ab illo'
  },
  {
    title: 'Publikasjoner',
    content: 'Sed ut perspiciatis unde lorem ipsum Omnis iste natus error sit Voluptatem accusantium que vedus Doloremque laudant totam rem Aperiam eaque ipsa quae ab illo',
    btn_title: 'Join the mailing list'
  }
  ];

//- Promo Tiles
-
  var promo_tiles = [
    {
      img_url: 'img/promo/minum-vitamin.jpg',
      title: 'PRAKTISK BRUK AV ELIQUIS',
      description: '130 character limit here Uta enimot ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exe commodo consequ.',
      url: '#'
    },
    {
      img_url: 'img/promo/heart-hands.jpg',
      title: 'consectetur adipiscing elit, sed do eiusmod tempor incididunt',
      description: '130 character limit here Uta imot ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exe commodo consequ.',
      url: '#'
    },
    {
      img_url: 'img/promo/bioengineering.jpg',
      title: 'PRAKTISK BRUK AV ELIQUIS',
      description: '130 character limit here Utenimot ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exe commodo consequ.',
      url: '#'
    }
  ];

-
  var ft_list = [
    {
      category: 'ATRIEFLIMMER (NVAF)',
      title: 'Anbefalinger for pasienter med AF',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/ft-bg1.jpg',
      url: 'article.html',
      bg: true
    },
    {
      category: 'ATRIEFLIMMER (NVAF)',
      title: 'Praktisk veileder AF',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/icons/heart-icon-r.png',
      icon: 'icon-apple',
      url: 'article.html',
      bg: false
    },
    {
      category: 'Dyp venetrombose og lungeemboli',
      title: 'Doseringsveiledning ved DVT/LE',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/icons/info-icon-r.png',
      url: 'article.html',
      icon: 'icon-paper',
      bg: false
    },
    {
      category: 'SOLOR DELORIUM VEDUS',
      title: 'Lorem ipsum dolor sit amet, consectetur adipiscing que vedus',
      description: '90 character limit  that will be cut short on titles with three lines...',
      img_url: 'img/f-teasers/icons/doc-icon-r.png',
      icon: 'icon-round-arr',
      url: 'article.html',
      bg: false
    },
    {
      category: 'Dyp venetrombose og lungeemboli',
      title: 'Doseringsveiledning ved DVT/LE',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/icons/gm-icon-r.png',
      icon: 'icon-cog-mgf',
      url: 'article.html',
      bg: false
    },
    {
      category: 'VTE PROFYLAKSE ETTER PROTESEKIRURGI',
      title: 'Blødninger ved forebygging av VTE lorem ipsum solor',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/ft-bg2.jpg',
      url: 'article.html',
      bg: true
    },
    {
      category: 'Dyp venetrombose og lungeemboli',
      title: 'Doseringsveiledning ved DVT/LE',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/icons/info-icon-r.png',
      icon: 'icon-doc',
      url: 'article.html',
      bg: false
    },
    {
      category: 'ATRIEFLIMMER (NVAF)',
      title: 'Anbefalinger for pasienter med AF',
      description: '90 character limit on these consectetur adipiscing elit, sed do eiusr incididunis nostrud.',
      img_url: 'img/f-teasers/ft-bg1.jpg',
      url: 'article.html',
      bg: true
    },
    {
      category: 'SOLOR DELORIUM VEDUS',
      title: 'Lorem ipsum dolor sit amet, consectetur adipiscing que vedus',
      description: '90 character limit  that will be cut short on titles with three lines...',
      img_url: 'img/f-teasers/icons/doc-icon-r.png',
      url: 'article.html',
      icon: 'icon-heart',
      bg: false
    },
    {
      category: 'Fabio vel iudice vincam',
      title: 'Prima luce, cum quibus mons aliud consensu ab eo.',
      description: '90 character limit that will be cut short on titles with three lines...',
      img_url: 'img/f-teasers/icons/info-icon-r.png',
      url: 'article.html',
      icon: 'icon-info',
      bg: false
    }
  ];

//- Contact persons
-
  var contact_persons = [
  {
    img_url: 'img/contacts/lars.jpg',
    first_name: 'Lars',
    last_name: 'Rune Aadland',
    job_title: 'Country Brand Lead Pfizer',
    phone: '913 78 559',
    email: 'lars.rune@pfizer.no'
  },
  {
    img_url: 'img/contacts/krister.jpg',
    first_name: 'Krister',
    last_name: 'Nyløkken',
    job_title: 'Country Brand Lead BMS',
    phone: '411 26 919',
    email: 'krister@pfizer.no'
  }
  ]

//- Search results
-
  var search_results = [
  {
    title: 'Sed do eiusmod tempor incididunt',
    description: 'Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut et quasi architecto beatae vitae.',
    breadcrumbs: [
      {
        url: '/',
        title: 'Hjem'
      },
      {
        url: '#',
        title: 'Doloremque laudantium'
      },
      {
        url: '#',
        title: 'Rem aperiam'
      }
    ]
  },
  {
    title: 'Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ',
    description: 'Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut et quasi architecto beatae vitae.',
    breadcrumbs: [
      {
        url: '/',
        title: 'Hjem'
      },
      {
        url: '#',
        title: 'Solor delorium'
      },
      {
        url: '#',
        title: 'Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat '
      }
    ]
  },
  {
    title: 'Eiusmod tempor incididunt',
    description: 'Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut et quasi',
    breadcrumbs: [
      {
        url: '/',
        title: 'Hjem'
      },
      {
        url: '#',
        title: 'Eiusmod tempor incididunt'
      }
    ]
  },
  {
  title: 'Nisi ut aliquip ex ea commodo consequat ',
    description: 'Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut et quasi architecto beatae vitae.',
    breadcrumbs: [
      {
        url: '/',
        title: 'Hjem'
      },
      {
        url: '#',
        title: 'Doloremque laudantium'
      },
      {
        url: '#',
        title: 'Nisi ut aliquip ex ea commodo consequat'
      }
    ]
  },
  {
  title: 'Ullamco laboris nisi ut aliquip ex ea commodo consequat ',
  description: 'Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut et quasi architecto beatae vitae.',
  breadcrumbs: [
    {
      url: '/',
      title: 'Hjem'
    },
    {
      url: '#',
      title: 'Lorem ipsum'
    },
    {
      url: '#',
      title: 'Ullamco laboris nisi ut aliquip ex ea commodo consequat'
    }
    ]
  }
  ];

-
  var site_map = [
  {
    title: 'Home',
    url:'/',
    label: 'ready'
  },
  {
    title: 'Article',
    url:'article.html',
    label: 'ready'
  },
  {
    title: 'Contact form',
    url:'contact-us.html',
    label: 'ready'
  },
  {
    title: 'Section page',
    url:'landing.html',
    label: 'ready'
  },
  {
    title: 'Search results',
    url:'search.html',
    label: 'ready'
  },
  {
    title: 'Page 404',
    url:'page-404.html',
    label: 'ready'
  },
  {
    title: 'Misc',
    url: false,
    label: 'in-progress'
  }
  ]
