section.brand-hero.main-hero
  .container.flex
    .main-hero__left
      include ../../components/breadcrumbs
      .main-hero__left-content
       img(src="img/brand-img.svg" alt="siemenc" width="678")
    .main-hero__right
      h1.main-title SIEMENS
      a.brand-hero__link
        i.font-icon.icon-internet
        span siemens.kiev.ua

      p - это ...  краткое описание оборудования Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.

