@keyframes sidebarGroupContentFadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

%sidebar-text {
  @include font-size(18);

  @include media-q(min, 1440) {
    @include font-size(24);
  }
}

.hidden {
  display: none !important;
}

.category-page {
  @include media-q(min, 1024) {
    background: linear-gradient(to right, #F7F8F7 50%, $white 50%);
  }

  .hidden-before-desktop {
    @include media-q(max, 1023) {
      display: block !important;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      pointer-events: none;
      opacity: 0;
    }
  }

  &__sidebar {
    flex-shrink: 0;
    padding: rem-calc(0 15);
    margin-bottom: rem-calc(60);

    @include media-q(min, 1024) {
      background-color: #F7F8F7;
      width: rem-calc(280);
      padding: rem-calc(35 20 35 40);
      margin-bottom: 0;
    }

    @include media-q(min, 1440) {
      width: rem-calc(336);
    }

    .visible-items-show {
      @include media-q(max, 1023) {
        @include font-size(18);
      }
    }
  }

  &__content {
    background-color: $white;

    @include media-q(min, 1024) {
      width: calc(100% - 280px);
    }

    @include media-q(min, 1440) {
      width: calc(100% - 336px);
    }

    .container {
      max-width: 1414px; // 1750 - 336
    }
  }
}

.sidebar-item {
  &__title {
    font-weight: $fw_semibold;
    text-transform: uppercase;
    margin-bottom: .65em;
    display: flex;
    align-items: center;
    padding-left: calc(39% - 45px);
    padding-top: rem-calc(8);
    padding-bottom: rem-calc(8);
    border: 1px solid $c_dark_blue;
    cursor: pointer;

    @extend %sidebar-text;

    @include media-q(min, 1024) {
      margin-bottom: 1.25em;
      padding: 0;
      border: none;
      cursor: default;
    }

    svg {
      margin-right: 20px;
      overflow: visible;

      @include media-q(min, 1024) {
        display: none;
      }

      path {
        transition: transform .4s ease;
      }
    }

    @include media-q(max, 1023) {
      ~ .sidebar-group {
        display: none;
      }

      &.active {
        ~ .sidebar-group {
          display: block;
        }

        + .sidebar-group {
          padding-top: 7px;
        }

        path {
          &:nth-of-type(1) {
            transform: translate(56%, 55%);
          }

          &:nth-of-type(2) {
            transform: translate(57%, -55%);
          }

          &:nth-of-type(3) {
            transform: translate(-57%, 55%);
          }

          &:nth-of-type(4) {
            transform: translate(-56%, -55%);
          }
        }

        .sidebar-categories & {
          path {
            &:nth-of-type(1) {
              transform: rotate(45deg) translate(88%, -24%);
            }
          }
        }

        .sidebar-filters & {
          path {
            &:nth-of-type(2) {
              transform: rotate(-45deg) translate(17%, -7%);
            }
          }
        }
      }

      .sidebar-filters & {
        background: linear-gradient(90.16deg, #0B3442 29.16%, #0B3442 56.13%, #031D25 101.28%);
        color: $white;

        path {
          fill: $white;
        }
      }
    }
  }
}

.sidebar-group {
  @include media-q(max, 1023) {
    animation: sidebarGroupContentFadeIn .2s ease;
    animation-fill-mode: both;
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: $fw_medium;
    cursor: pointer;
    transition: color .2s ease;

    @extend %sidebar-text;

    @include media-q(max, 1023) {
      @include font-size(20);
    }

    @include media-q(min, 1024) {
      padding-left: 0;
    }

    &:hover {
      color: $c_green;
    }

    &::after {
      @include font-size(9);
      display: block;
      color: inherit;
      margin-left: rem-calc(12);
      transition: transform .2s ease;
      font-weight: inherit;

      @extend %font-icon;
      @extend %icon-arrow-small;

      @include media-q(min, 1024) {
        @include font-size(7);
        margin-left: rem-calc(6);
      }
    }

    &.active {
      &::after {
        transform: rotate(-180deg) translateY(-15%);
      }

      @include media-q(max, 1023) {
        font-weight: $fw_semibold;
        color: $c_green;
      }
    }

    &:not(.active) + .sidebar-group__content {
      display: none;
    }
  }

  &__content {
    animation: sidebarGroupContentFadeIn .2s ease;
    animation-fill-mode: both;
    padding-bottom: rem-calc(40);

    @include media-q(min, 1440) {
      padding-bottom: rem-calc(60);
    }

    .sidebar-filters & {
      @include media-q(max, 1023) {
        padding-left: 18px;
      }
    }
  }

  &__item {
    display: block;
    margin-bottom: .5em;
    padding-left: rem-calc(32);
    position: relative;

    @extend %sidebar-text;

    @include media-q(min, 1024) {
      padding-left: rem-calc(42);
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::before {
      content: '';
      width: 22px;
      height: 22px;
      border: 1px solid $c_dark_blue;
      transform: translateY(-50%);
    }

    &::after {
      @include font-size(50);
      content: '+';
      font-weight: $fw_light;
      color: $white;
      transform: translate(2%, -50%) rotate(45deg);
    }

    &:hover {
      color: $c_green;
    }

    &.active {
      color: $c_green;
      font-weight: $fw_semibold;

      &::before {
        background: linear-gradient(180deg, #000C0F 0%, #0B303E 100%);
      }
    }

    .sidebar-categories & {
      @include media-q(min, 1024) {
        padding-left: 0;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

.sidebar-reset-filters {
  @include font-size(18);
  color: $c_light_green;
  text-decoration: underline;

  @include media-q(min, 1024) {
    @include font-size(16);
    text-decoration: none;
    font-weight: $fw_medium;
    display: block;
    width: 100%;
    padding: 10px;
    color: #5F5F5F;
    border: 1px solid #606060;
    transition: border-color .2s, color .2s ease;
  }

  @extend %reset-button;

  @include media-q(min, 1440) {
    @include font-size(18);
  }

  &:hover {
    border-color: $c_green;
    color: $c_green;
  }
}

.active-filters {
  margin-left: -4px;
  margin-right: -4px;
  padding-top: 10px;

  @include media-q(min, 1024) {
    display: none;
  }

  &__item {
    @include font-size(12);
    font-weight: $fw_semibold;
    display: inline-block;
    padding: rem-calc(6 26 6 12);
    border: 1px solid;
    margin: 4px;
    position: relative;

    &::after {
      @include font-size(40);
      content: '+';
      display: block;
      font-weight: 100;
      line-height: 0;
      transform: rotate(43deg) translateY(-50%);
      position: absolute;
      top: 50%;
      right: 3px;
    }
  }
}

.visible-items-show {
  @include font-size(24);
  display: inline-block;
  color: $c_green;
  font-weight: $fw_medium;
  margin-top: .35em;
  border-bottom: 1px solid;
  line-height: 1;

  @extend %reset-button;

  &:hover {
    border-bottom-color: transparent;
  }
}
