.section-reviews {
	background: url("../img/reviews-bg.jpg") no-repeat center;
	padding-top: 49px;
	padding-bottom: 78px;
	background-size: cover;

	h2 {
		color: $white;
		margin-bottom: 105px;

		@include media-q(min, 768) {
			margin-bottom: 55px;
		}

			&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 2px;
			width: 8px;
			height: 90%;
			background-color: $white;
		}

		&::after {
			left: 8px;
		}
	}
}

.section-reviews-slide-wrap {
	display: flex;
	align-items: center;
}

.reviews-item-wrap {
	outline: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	//flex-basis: 270px;
	height: 465px;
	border: 4px solid #9cc241;
	border-radius: 5px;
	overflow: hidden;

	@include media-q(min, 768) {
		height: 355px;
	}

		img {
		width: 100%;
		height: auto;
	}
}

.section-reviews-slider {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;

	.slick-slide {
		padding: 0 15px;
	}

	.slick-track {
		display: flex;
		align-items: center;
	}

	.slick-arrow {
		position: absolute;
		display: flex;
		justify-content: center;
		top: -20%;
		bottom: 0;
		font-size: 0;
		appearance: none;
		background: transparent;
		outline: none;
		z-index: 1;
		border: 1px solid $white;
		max-height: 50px;
		padding: 11px 30px;

		@include media-q(min, 768) {
			top: -33%;
		}

			&::before {
			@extend %icon-arrow-slider;
			@extend %font-icon;
			font-size: 28px;
			color: #9cc241;
			z-index: 5;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.slick-prev {
		transform: scale(-1);
		right: 30%;

		@include media-q(min, 768) {
			right: 8.5%;
		}

			&:active {
			transform: scale(-.9);
		}
	}

	.slick-next {
		right: 5%;

		@include media-q(min, 768) {
			right: 2%;
		}

			&:active {
			transform: scale(.9);
		}
	}

	.slick-slide img {
		margin: 0 auto;
	}
}
