.section-video {
	padding-top: 42px;
	padding-bottom: 68px;
	background: url("../img/video-bg.jpg") no-repeat center;
	background-size: cover;

	h2.title {
		margin-bottom: 9px;
		color: $white;
		text-align: center;
	}
}

.video-text {
	color: $white;
	text-align: center;
	font-size: 14px;
	line-height: 1.7;
	padding: 0 15px;
	margin-bottom: 70px;

	br {
		display: none;
	}

	@include media-q(min, 768) {
		margin-bottom: 30px;
		padding: 0;
		br {
			display: block;
		}
	}
}

.video-slider {
	max-width: 770px;
	margin: 0 auto;

	.slick-arrow {
		position: absolute;
		display: flex;
		justify-content: center;
		top: -134%;
		bottom: 0;
		font-size: 0;
		appearance: none;
		border: none;
		background: transparent;
		outline: none;
		z-index: 1;

		@include media-q(min, 768) {
			top: 0;
		}

			&::before {
			@extend %icon-arrow-slider;
			@extend %font-icon;
			font-size: 28px;
			color: $white;
		}

		&:hover {
			opacity: .8;
		}
	}

	.slick-prev {
		right: 20%;
		transform: scale(-1);


		@include media-q(min, 768) {
			left: -15%;
		}


		&:active {
			transform: scale(-.9);
		}
	}

	.slick-next {
		right: 5%;
		top: -132%;

		@include media-q(min, 768) {
			top: 0;
			right: -15%;
		}

		&:active {
			transform: scale(.9);
		}
	}
}

.video-wrap {
	border: 10px solid $white;
	position: relative;

	@include media-q(min, 768) {
		border: 10px solid $white;
	}

	&::before {
		content: '';
		padding-top: 62%;
		display: block;
	}

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}