// ----------------------------------------------------------------------------
// Set box sizing to border-box
*,
::after,
::before {
  box-sizing: border-box;
}

// Remove custom browser elements
*::-ms-clear {
  display: none;
}

*::-ms-reveal {
  display: none;
}

// Placeholders
::-webkit-input-placeholder {
  color: $black;
}

::-moz-placeholder {
  color: $black;
}

// Firefox 19+
:-moz-placeholder {
  color: $black;
}

// Firefox 18-
:-ms-input-placeholder {
  color: $black;
}

::selection {
  background: rgba($black, .2);
}

// ----------------------------------------------------------------------------
// Global styles
html,
body {
  font-size: $fs-base;
}

html {
  font-family: $sans;
  min-height: 100vh;
}

body {
  color: $black;
  background: $white;
  height: auto;
  min-width: 320px;
  font-weight: $fw_normal;
  line-height: $line-height-base;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}


.js-hide {
  @extend %element-invisible;
}

// Mobile menu active need add overlay to the page
.active-menu {
  overflow: hidden;

  &::before {
    opacity: 1;
    visibility: visible;
    z-index: 30;
  }

  @include media-q(min, 1280) {
    overflow-y: auto;
  }
}

// ----------------------------------------------------------------------------
// Set all images  max size
img {
  max-width: 100%;
  height: auto;
  display: inherit;
}

figure {
  margin: 0 0 40px 0;
  text-align: center;

  @include media-q(min, 680) {
    text-align: inherit;
  }

  img {
    margin-bottom: 20px;
  }
}

figcaption {
  @include font-size(11);
  line-height: 2em;
}

// ----------------------------------------------------------------------------
// Global links styles
a {
  @include links($c_dark_blue);
  outline: none;
  transition: color .3s ease;

  //&:visited {
  //  color: $secondary;
  //}
}

.ext {
  .ext {
    display: none;
  }
}

// Video
.responsive-video,
.video-embed-field-responsive-video {
  @extend %responsive-video;
}

iframe {
  max-width: 100%;
}

// ----------------------------------------------------------------------------
// Global ul reset
ul {
  @extend %reset-list;
}

#livechat-compact-container {
  .mobile & {
    max-width: 80px;
    transform: translate(0,0) !important;
  }
}

.flex {
  display: flex;
}

%line-after {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background: url("../img/blue-line.svg") no-repeat center;
    //background-size: calc(100vw - 30px);
    //width: calc(100vw - 30px);
    background-size: 100%;
    width: 100%;
    height: rem-calc(6);
    bottom: rem-calc(-29);
    left: 0;

    @include media-q(min, 1024) {
      background: url("../img/blue-line.svg") no-repeat center;
      background-size: rem-calc(180);
      width: rem-calc(180);
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-q(min, 1280) {
      background-size: 100%;
      width: 100%;
    }
  }
}

%img-hover {
  &:hover {
    .main-img-hover {
      opacity: 1;
    }

    .main-img {
      opacity: 0;
    }
  }

  .main-img {
    transition: opacity .2s ease;
  }

  .main-img-hover {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity .2s ease;
  }

  .main-img-mob {

    @include media-q(min, 1024) {
      display: none;
    }
  }
}

%section-margin-bottom {
  margin-bottom: rem-calc(100);

  @include media-q(min, 1850) {
    margin-bottom: rem-calc(180);
  }
}

.content {
  padding: 30px 0;
  @include media-q(min, 1024) {
    padding: 0;
  }
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hidden-before-desktop {
  @include media-q(max, 1023) {
    display: none !important;
  }
}

.hidden-from-desktop {
  @include media-q(min, 1024) {
    display: none !important;
  }
}

.text-page {
  padding-top: rem-calc(70);
}
