
.page-container {
  flex: 1 1 auto;
}

// Page inner container
.container {
  width: 100%;
  max-width: 1750px;
  padding: 0 15px;
  margin: auto;
}

.home-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  @include media-q(min, 768) {
    display: flex;
  }
}
