h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: $headings-line-height;
  margin-bottom: .85em;
  font-weight: $fw_bold;
  color: $c_dark_blue;
  text-align: center;
}

h1 {
  @include font-size(33);
  margin: 0 0 .75em;
  line-height: 1;

  @include media-q(min, 1024) {
    @include font-size(72);
  }
}

h2 {
  @include font-size(28);
  line-height: 1.2;
  margin-bottom: 2.14em;

  @include media-q(min, 1024) {
    @include font-size(36);
  }
}

h3 {
  @include font-size(20);
  line-height: 1.2;
  margin-bottom: 1em;

  @include media-q(min, 1024) {
    @include font-size(24);
  }
}

h4 {
  @include font-size(18);
  margin-bottom: .75em;
}

h5,
h6 {
  @include font-size(15);
  line-height: 1.13;
}

p {
  line-height: 1.33;
  margin: 0 0 1em;
  @extend %main-text;
  color: $c_dark_blue;
}

.text-center {
  text-align: center;
}

ol {
  @extend %reset-list;
}

strong {
  font-weight: $fw_medium;
}

// WYSIWYG content styles

.content {
  ol,
  ul {
    @extend %reset-list;
    padding: 0;

    li {
      margin-bottom: .5em;
      line-height: 1.2;
    }
  }

  ol {
    counter-reset: section;
    padding-left: 10px;

    li {
      &::before {
        counter-increment: section;
        content: counter(section) '. ';
        margin-left: -15px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
    margin-bottom: rem-calc(60);

    &:last-child {
      margin-bottom: 0;
    }

    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 1.25em;
      @include media-q(min, 1024) {
        width: 50%;
      }

      @extend %main-text;

      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: calc(50% - 8px);
        width: 17px;
        height: 17px;
        transform: rotate(45deg);
        background: $c_green;
      }
    }
  }

  // Update color for bullets inside table

  blockquote {
    font-weight: $fw_bold;
    position: relative;
    padding: 0 30px;
    display: inline-block;
    font-style: italic;
    margin: 20px auto;

    &::before,
    &::after {
      @include font-size(33);
      content: '"';
      position: absolute;
    }

    &::before {
      left: 0;
      top: 0;
    }

    p {
      @include font-size(26);
      line-height: 1.2;
      display: inline;
      margin: 0;
      font-family: inherit;
    }
  }
}

.low-margin-bottom {
  margin-bottom: 5px;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

.rtejustify {
  text-align: justify;
}

// Table
table {
  margin: 3.1em 0 2em;
  text-align: left;
  border: 0;
  color: $c_dark_blue;
  width: 100%;

  caption {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    color: $c_dark_blue;
  }

  tr {
    &:nth-child(even) {
      background: rgba($c_dark_blue, .25);
    }

    td {
      //background: $white;
      border-bottom: 1px solid $c_dark_blue;
    }
  }

  td {
    border: 0;
    padding: 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }


  }

  .gray-bg & {
    tr {
      &:last-child {
        td {
          border: none;
        }
      }
    }
  }
}

// Responsive tables wrapper
.table-wrapper {
  overflow-x: auto;
  margin-top: 3.1em;
  position: relative;

  background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;

  @include media-q(min, 768) {
    border: 0;
    background: transparent;
  }

  table {
    min-width: 640px;

    background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
    background-size: 50px 100%;
    background-repeat: no-repeat;
    max-width: none;
    margin-bottom: 0;
    margin-top: 0;
    width: 100% !important;

    @include media-q(min, 768) {
      background: none;
    }
  }
}

th {
  background: $c_dark_blue;
  color: $white;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid rgba($white, .5);
}

thead {
  th {
    border-right: 1px solid rgba($white, .5);

    &:last-child {
      border-right: 0;
    }
  }
}

body {
  font-family: $ff_raleway;
  color: $c_dark_blue;
  font-size: 24px;
}

%main-menu-links {
  @include font-size(24);

  @include media-q(min, 768) {
    @include font-size(16);
  }

  @include media-q(min, 1280) {
    @include font-size(18);
  }

  @include media-q(min, 1850) {
    @include font-size(24);
  }
}

%main-text,
.main-text {
  @include font-size(24);

  @include media-q(min, 1024) {
    @include font-size(18);
  }

  @include media-q(min, 1280) {
    @include font-size(24);
  }
}

%main-title,
.main-title {
  @include font-size(24);
  font-weight: $fw_semibold;
  margin-bottom: 2.25em;
  color: #002A35;
  text-align: center;

  @include media-q(min, 1280) {
    @include font-size(28);
    font-weight: $fw_medium;
  }

  @include media-q(min, 1850) {
    @include font-size(36);
  }
}