// -----------------------------------------------------------------------------
// All icons font set
@font-face {
  font-family: 'font-icon';
  src: url('../f-icons/f-icons.eot');
  src: url('../f-icons/f-icons.eot?#iefix') format('embedded-opentype'),
  url('../f-icons/f-icons.woff') format('woff'),
  url('../f-icons/f-icons.ttf') format('truetype'),
  url('../f-icons/f-icons#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

%font-icon {
  @include font-size(30);
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons set

.font-icon-apple-pay:before {
  content: "\e918";
  color: #002b4e;
}

.font-icon-plus:before {
  content: "\e917";
}

.font-icon-edit:before {
  content: "\e915";
}
.font-icon-delete:before {
  content: "\e916";
  color: #002b4e;
}

.font-icon-personal-area-check:before {
  content: "\e914";
  color: #17bfab;
}

.font-icon-register-date-location:before {
  content: "\e912";
}
.font-icon-register-date-user:before {
  content: "\e913";
}

.font-icon-facebook-signin:before {
  content: "\e910";
}
.font-icon-google:before {
  content: "\e911";
}

.font-icon-email:before {
  content: "\e90d";
}
.font-icon-phone:before {
  content: "\e90e";
}
.font-icon-time:before {
  content: "\e90f";
}

%icon-close,
.font-icon-close:before {
  content: "\e90c";
}

%icon-check,
.font-icon-check:before {
  content: "\e90b";
}

%icon-arrow-small,
.font-icon-arrow-small:before {
  content: "\e900";
}
%icon-arrow,
.font-icon-arrow:before {
  content: "\e901";
}
%icon-cart,
.font-icon-cart:before {
  content: "\e902";
}
%icon-facebook,
.font-icon-facebook:before {
  content: "\e903";
}
%icon-instagram,
.font-icon-instagram:before {
  content: "\e904";
}
%icon-search,
.font-icon-search:before {
  content: "\e905";
}
%icon-slider-arrow,
.font-icon-slider-arrow:before {
  content: "\e906";
}
%icon-tea,
.font-icon-tea:before {
  content: "\e907";
}
%icon-telegram,
.font-icon-telegram:before {
  content: "\e908";
}
%icon-user,
.font-icon-user:before {
  content: "\e909";
}
%icon-water,
.font-icon-water:before {
  content: "\e90a";
}