// External
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

//  Third party libraries
//- Put third party libraries here e.g. sliders, custom select etc.
script(src='js/slick.min.js')
script(src='js/chart/chart.min.js')

// Custom scripts
script(src='js/es2015/main.js')

<script>
|  /**
|   * Chart section.
|   */
|  (function chartSection() {
|    const chart = $('#chart');
|
|    // red color
|    var firstData = {
|      label: '#{chart.labels.red}',
|      data: [4900, 8000, 11000, 15500, 20500],
|      backgroundColor: '#dea093',
|      borderColor: '#dea093',
|    };
|
|    // green color
|    var secondData = {
|      label: '#{chart.labels.green}',
|      data: [6000, 4500, 15500, 49000, 85000],
|      backgroundColor: '#59ac80',
|      borderColor: '#59ac80',
|    };
|
|    // purple color
|    var thirdData = {
|      label: '#{chart.labels.purple}',
|      data: [8000, 10000, 20000, 55000, 70000],
|      backgroundColor: '#7A859E',
|      borderColor: '#7A859E',
|    };
|
|    // years
|    var chartData = {
|      labels: [2017, 2018, 2019, 2020, 2021],
|      datasets: [firstData, secondData, thirdData]
|    };
|
|    var chartOptions = {
|      scales: {
|        y: {
|          beginAtZero: true
|        }
|      }
|    };
|
|    new Chart(chart, {
|      type: 'bar',
|      data: chartData,
|      options: chartOptions
|    });
|  })();</script>
