.section-ordering {

	&__wrap {

		@include media-q(min, 1024) {
			display: flex;
		}
	}

	&__tabs {

		@include media-q(min, 1024) {
			width: 60%;
		}

		@include media-q(min, 1200) {
			width: 65%;
		}
	}

	.product-tabs__content {
		padding: 0;

		@include media-q(min, 1024) {
			padding: 50px;
		}
	}

	.request-section__wrap {
		width: 100%;
		padding: 30px;

		@include media-q(min, 1024) {
			padding: 0;
		}
	}

	.cart-block__wrap {
		max-height: 858px;
		overflow: scroll;
		overflow-x: auto;
		margin-top: 70px;

		@include media-q(min, 768) {
			margin-left: 20px;
		}

		@include media-q(min, 1024) {
			width: 40%;
			margin-top: 0;
		}

		@include media-q(min, 1200) {
			width: 35%;
		}

		&::-webkit-scrollbar {
			width: 2px;
		}

		&::-webkit-scrollbar-track {
			background: #F2FAFC;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #3AA2DB;
			outline: 2px solid #3AA2DB;
		}
	}

	.cart-block__item,
	.cart-block__title {
		padding: 30px;

		@include media-q(min, 768) {
			padding: 20px 30px;
		}
	}

	.cart-block__img {
		width: 130px;
		height: 130px;

		@include media-q(min, 768) {
			width: 200px;
			height: 200px;
		}
	}

	.cart-block__item {
		display: block;

		&:not(:last-child) {
			border-bottom: none;
		}
	}

	.cart-block__final {
		padding: 30px;
		display: block;
		border-top: 1px solid $c-light;
	}

	.cart-block__price {
		margin-bottom: 0;
	}

	.product-tabs__nav-item {
		font-size: 20px;

		&.active {
			color: $black;
			background-color: $white;
			border: 1px solid $c-light;

			@include media-q(min, 1024) {
				border-bottom: 3px solid $c-blue;
			}

			&::after {
				display: none;
			}
		}

		@include media-q(min, 1024) {
			font-size: 24px;
		}

		@include media-q(max, 1023) {
			display: block;

			.active-nav &,
			&.active {
				display: block;
			}

			&.active {
				order: inherit;
			}
		}
	}

	.product-tabs__content-item {
		display: none;

		&.active {
			display: block;
		}

		p {
			margin-bottom: 20px;
		}
	}

	&__content {
		display: none;
		padding: 40px;
		border: 1px solid $c-light;
		border-left: 2px solid $c-blue;
	}

	.product-tabs__nav-item {
		&.active {

			@include media-q(max, 1023) {
				border-left: 2px solid $c-blue;
			}

			+ .product-tabs__content-item {
				display: block;
			}
		}
	}
}