//- ---------------------------------------------------------------------------
//- Variables

-
  var catalog_menu_drinks1 = [
    {
      href: '#',
      title: 'Smeraldina'
    },
    {
      href: '#',
      title: 'Vichy Catalan'
    },
    {
      href: '#',
      title: 'Горянка'
    },
    {
      href: '#',
      title: 'Smeraldina'
    }
  ]

-
  var catalog_menu_drinks2 = [
    {
      href: '#',
      title: 'Vichy Catalan'
    },
    {
      href: '#',
      title: 'Горянка'
    }
  ]

-
  var catalog_menu_teas = [
    {
      href: '#',
      title: 'Smeraldina'
    },
    {
      href: '#',
      title: 'Vichy Catalan'
    },
    {
      href: '#',
      title: 'Горянка'
    },
    {
      href: '#',
      title: 'Smeraldina'
    },
    {
      href: '#',
      title: 'Vichy Catalan'
    }
  ]

-
  var hero_section_slider = [
    {
      img: 'hero-bg',
      imgmob: 'hero-mob-bg-01'
    },
    {
      img: 'hero-bg-01',
      imgmob: 'hero-mob-bg-01'
    },
    {
      img: 'hero-bg-02',
      imgmob: 'hero-mob-bg-01'
    },
    {
      img: 'hero-bg-03',
      imgmob: 'hero-mob-bg-01'
    },
    {
      img: 'hero-bg-04',
      imgmob: 'hero-mob-bg-01'
    },
    {
      img: 'hero-bg-05',
      imgmob: 'hero-mob-bg-01'
    },
    {
      img: 'hero-bg-06',
      imgmob: 'hero-mob-bg-01'
    },
  ]

-
  var product_list = [
    {
      img: 'product-img-01',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-02',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-03',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-04',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-01',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-02',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-03',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-04',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-01',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-02',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-03',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    },
    {
      img: 'product-img-04',
      title: 'Smeraldina, 0,5 л, вода мінеральна газована, скло',
      price: '50.00 грн/ шт',
      count_for_one: '20',
      price_for_one: '1 000'
    }
  ]

-
  var brands = [
    {
      img: 'brand-01',
      title: 'Smeraldina'
    },
    {
      img: 'brand-02',
      title: 'Vichy Catalan'
    },
    {
      img: 'brand-03',
      title: 'Горянка'
    },
    {
      img: 'brand-04',
      title: 'Voda UA'
    },
    {
      img: 'brand-05',
      title: 'Карпатська джерельна високогірна'
    },
    {
      img: 'brand-06',
      title: 'Solan'
    },
    {
      img: 'brand-07',
      title: 'Grands Crus Prestige'
    },
    {
      img: 'brand-08',
      title: 'Mondariz'
    },
    {
      img: 'brand-09',
      title: 'Orientea'
    }
  ]

-
  var product_tabs = [

    {
      title: 'Описание',
    },
    {
      title: 'Характеристики',
    },
    {
      title: 'Доставка и оплата',
    },
    {
      title: 'Отзывы',
    },
  ]

-
  var product_tabs_characteristic = [
    {
      img: 'product-tabs-characteristic-01',
      title: 'Виробник',
      info: 'Італія'
    },
    {
      img: 'product-tabs-characteristic-02',
      title: 'Газованість',
      info: 'Негазована'
    },
    {
      img: 'product-tabs-characteristic-03',
      title: 'Кількість в упаковці',
      info: '20 шт'
    },
    {
      img: 'product-tabs-characteristic-04',
      title: 'Об’єм',
      info: '0,5л'
    },
    {
      img: 'product-tabs-characteristic-05',
      title: 'Упаковка',
      info: 'Скло'
    },
  ]
