//-----------------------------------------------------------------------------
// Fonts variable(s).
$sans: Normalidad Text, Arial, sans-serif;
$sans-brand: Normalidad Wide, Arial, sans-serif;

// Font weight variants
$f_light: 300;
$f_normal: 400;
$f_medium: 500;
$f_bold: 700;

//-----------------------------------------------------------------------------
// Image paths
$images: '../img/';

//-----------------------------------------------------------------------------
// Main theme colors

// Default colors
$white: #fff;
$black: #000;

// Main site color palette

$c-red: #EF3340;
$c-red-dark: #C32127;
$c-blue: #14C1DE;
$c-violet: #7D55C7;
$c-dark-blue: #0047BB;


// These colors for the Drupal messages style
// but also could be used for the other purposes
$red: #f4371e;
$green: #56c02b;
$orange: #f87c00;

//-----------------------------------------------------------------------------
// Other settings

// Font sizes
// Site base font size and line height
$fs-base: 14px;
$line-height-base: 1.14;

// Headings line-height
$headings-line-height: 1.1;
