@charset "UTF-8";
.element-hidden,.js-hide,.element-invisible{position:absolute!important;width:1px!important;height:1px!important;margin:-1px!important;padding:0!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;border:0!important}
ul,ol,.content ol,.content ul,.cke_editable ol,.cke_editable ul{padding:0;margin:0;list-style:none}
.group::after{content:'';clear:both;display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.responsive-video,.video-embed-field-responsive-video{position:relative;padding-bottom:56.25%;height:0!important;overflow:hidden;display:block}
.responsive-video iframe,.video-embed-field-responsive-video iframe,.responsive-video object,.video-embed-field-responsive-video object,.responsive-video embed,.video-embed-field-responsive-video embed,.responsive-video .video-js,.video-embed-field-responsive-video .video-js{border:0;position:absolute;top:0;left:0;width:100%!important;height:100%!important}
.inview.enter{-webkit-animation-play-state:running;animation-play-state:running}
.fade-in,.fade-in-left,.fade-in-right,.fade-in-up,.fade-in-down,.scale-in{opacity:0;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.fade-in .ie,.fade-in-left .ie,.fade-in-right .ie,.fade-in-up .ie,.fade-in-down .ie,.scale-in .ie{opacity:1}
.fade-in{-webkit-animation-name:fade-in;animation-name:fade-in;-webkit-animation-duration:.3s;animation-duration:.3s}
.fade-in-left{-webkit-animation-name:fade-in-left;animation-name:fade-in-left;-webkit-animation-duration:.3s;animation-duration:.3s}
.fade-in-right{-webkit-animation-name:fade-in-right;animation-name:fade-in-right;-webkit-animation-duration:.3s;animation-duration:.3s}
.fade-in-up{-webkit-animation-name:fade-in-up;animation-name:fade-in-up;-webkit-animation-duration:.3s;animation-duration:.3s}
.fade-in-down{-webkit-animation-name:fade-in-down;animation-name:fade-in-down;-webkit-animation-duration:.3s;animation-duration:.3s}
.scale-in{-webkit-animation-name:scale-in;animation-name:scale-in;-webkit-animation-duration:.3s;animation-duration:.3s}
@-webkit-keyframes fade-in {
0%{opacity:0}
100%{opacity:1}
}
@keyframes fade-in {
0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes fade-in-left {
0%{opacity:0;-webkit-transform:translateX(20px);transform:translateX(20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fade-in-left {
0%{opacity:0;-webkit-transform:translateX(20px);transform:translateX(20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes fade-in-right {
0%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fade-in-right {
0%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes fade-in-up {
0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fade-in-up {
0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes fade-in-down {
0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fade-in-down {
0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes scale-in {
0%{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes scale-in {
0%{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@font-face{font-family:'font-icon';src:url(../f-icons/f-icons.eot);src:url(../f-icons/f-icons.eot?#iefix) format("embedded-opentype"),url(../f-icons/f-icons.woff) format("woff"),url(../f-icons/f-icons.ttf) format("truetype"),url(../f-icons/f-icons#font-icons) format("svg");font-weight:400;font-style:normal}
[class*='font-icon']::before,[class*='font-icon']::after{display:inline-block;font-family:'font-icon';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:30px}
.icon-search::before{content:'\e900'}
.icon-zoom::before{content:'\e90d'}
.icon-mail::before{content:'\e901'}
.icon-phone::before{content:'\e903'}
.icon-apple::before{content:'\e909'}
.icon-paper::before{content:'\e90a'}
.icon-round-arr::before{content:'\e90b'}
.icon-warn::before{content:'\e90c'}
.icon-cog-mgf::before{content:'\e905'}
.icon-doc::before{content:'\e906'}
.icon-heart::before{content:'\e907'}
.icon-info::before{content:'\e908'}
.icon-arrow-r::before{content:'';width:10px;height:10px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);display:inline-block;-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;-moz-appearance:button;appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
::-ms-clear{display:none}
::-ms-reveal{display:none}
::-webkit-input-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
::-ms-input-placeholder{color:#000}
::placeholder{color:#000}
::-moz-selection{background:rgba(0,0,0,0.2)}
::selection{background:rgba(0,0,0,0.2)}
html,body{font-size:16px}
html{font-family:"Open Sans",Helvetica,Arial,sans-serif;min-height:100vh}
body{color:#000;background:#fff;height:auto;min-width:320px;font-weight:400;line-height:1.14;overflow-x:hidden;-webkit-font-smoothing:antialiased;min-height:inherit;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.no-scroll{overflow:hidden}
.active-menu{overflow:hidden}
.active-menu::before{opacity:1;visibility:visible;z-index:30}
img{max-width:100%;height:auto;display:inherit}
figure{margin:0 0 40px;text-align:center}
figure img{margin-bottom:20px}
figcaption{font-size:.6875rem;line-height:2em}
a{color:#000;text-decoration:none;outline:none;-webkit-transition:color .3s ease;-o-transition:color .3s ease;transition:color .3s ease}
a:hover{color:#000}
.ext .ext{display:none}
iframe{max-width:100%}
.hidden{display:none!important}
.page-container{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}
.container{max-width:1192px;padding:0 11px;margin:auto}
.front .container{width:320px;padding:0 10px;margin:0 auto}
.scroll-prevented{width:100vw;height:100vh;overflow:hidden}
h1,h2,h3,h4,h5,h6{margin:0;line-height:1.1;margin-bottom:.85em;font-weight:700;color:#141516}
h1{font-size:2.0625rem;margin:0 0 .75em;line-height:1}
h2{text-transform:uppercase;text-align:center;font-size:1.75rem;line-height:1.2}
h3{font-size:1.25rem;line-height:1.2;margin-bottom:1em}
h4{font-size:1.125rem;margin-bottom:.75em}
h5,h6{font-size:.9375rem;line-height:1.13}
p{line-height:1.33;margin:0 0 1em}
.text-center{text-align:center}
strong{font-weight:600}
.content ol,.content ul,.cke_editable ol,.cke_editable ul{margin:0 0 1.5em 20px;padding:0}
.content ol li,.content ul li,.cke_editable ol li,.cke_editable ul li{margin-bottom:.5em;line-height:1.2}
.content ol,.cke_editable ol{counter-reset:section;padding-left:10px}
.content ol li::before,.cke_editable ol li::before{counter-increment:section;content:counter(section) ". ";margin-left:-15px}
.content ul:last-child,.cke_editable ul:last-child{margin-bottom:0}
.content ul li,.cke_editable ul li{padding-left:15px;position:relative}
.content ul li::before,.cke_editable ul li::before{content:' ';position:absolute;left:0;top:8px;width:5px;height:5px;background:#000}
.content blockquote,.cke_editable blockquote{font-weight:700;position:relative;padding:0 30px;display:inline-block;font-style:italic;margin:20px auto}
.content blockquote::before,.content blockquote::after,.cke_editable blockquote::before,.cke_editable blockquote::after{font-size:2.0625rem;content:'"';position:absolute}
.content blockquote::before,.cke_editable blockquote::before{left:0;top:0}
.content blockquote p,.cke_editable blockquote p{font-size:1.625rem;line-height:1.2;display:inline;margin:0;font-family:inherit}
.low-margin-bottom{margin-bottom:5px}
.rtecenter{text-align:center}
.rteright{text-align:right}
.rtejustify{text-align:justify}
table{margin:3.1em 0 2em;text-align:left;border:0;color:#000;width:100%}
table caption{margin-bottom:10px;text-align:left;padding-left:20px;font-size:15px;color:#000}
table tr:nth-child(even){background:rgba(0,0,0,0.25)}
table tr td{border-bottom:1px solid #000}
table td{border:0;padding:20px}
table td h1:last-child,table td h2:last-child,table td h3:last-child,table td h4:last-child,table td h5:last-child,table td h6:last-child,table td p:last-child{margin-bottom:0}
.gray-bg table tr:last-child td{border:none}
.table-wrapper{overflow-x:auto;margin-top:3.1em;position:relative;background:-o-radial-gradient(0% 50%,farthest-side,rgba(0,0,0,0.2),rgba(0,0,0,0)),-o-radial-gradient(100% 50%,farthest-side,rgba(0,0,0,0.2),rgba(0,0,0,0)) 100% 0;background:radial-gradient(farthest-side at 0% 50%,rgba(0,0,0,0.2),rgba(0,0,0,0)),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,0.2),rgba(0,0,0,0)) 100% 0;background-color:#fff;background-repeat:no-repeat;background-size:10px 100%;margin-bottom:15px}
.table-wrapper table{min-width:640px;background:-webkit-gradient(linear,left top,right top,color-stop(30%,white),to(rgba(255,255,255,0))),-webkit-gradient(linear,right top,left top,color-stop(30%,white),to(rgba(255,255,255,0))) 100% 0;background:-o-linear-gradient(left,white 30%,rgba(255,255,255,0)),-o-linear-gradient(right,white 30%,rgba(255,255,255,0)) 100% 0;background:linear-gradient(to right,white 30%,rgba(255,255,255,0)),linear-gradient(to left,white 30%,rgba(255,255,255,0)) 100% 0;background-size:50px 100%;background-repeat:no-repeat;max-width:none;margin-bottom:0;margin-top:0;width:100%!important}
th{background:#000;color:#fff;padding:20px;border:0;border-bottom:1px solid rgba(255,255,255,0.5)}
thead th{border-right:1px solid rgba(255,255,255,0.5)}
thead th:last-child{border-right:0}
font-face{font-family:'Open Sans',sans-serif;font-family:'Roboto Condensed',sans-serif}
body{color:#141516}
h2.title{font-family:'Roboto Condensed';font-size:28px;color:#608ace;font-weight:700;text-transform:uppercase;position:relative}
h2.title::before,h2.title::after{position:absolute;content:'';top:19px;width:100px;height:2px;background:#292c2e;display:none}
h2.title::before{left:24%}
h2.title::after{right:24%}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-lightbox{position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;background:#000;-webkit-transition:opacity .5s ease;-o-transition:opacity .5s ease;transition:opacity .5s ease}
.slick-lightbox .slick-loading .slick-list{background-color:transparent}
.slick-lightbox .slick-prev{left:15px}
.slick-lightbox .slick-next{right:15px}
.slick-lightbox-hide{opacity:0}
.slick-lightbox-hide.slick-lightbox-ie{filter:alpha(opacity=0)}
.slick-lightbox-hide-init{position:absolute;top:-9999px;opacity:0}
.slick-lightbox-hide-init.slick-lightbox-ie{filter:alpha(opacity=0)}
.slick-lightbox-inner{position:fixed;top:0;left:0;width:100%;height:100%}
.slick-lightbox-slick-item{text-align:center;overflow:hidden}
.slick-lightbox-slick-item:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{position:absolute;bottom:0;left:0;text-align:center;width:100%;margin-bottom:20px}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{display:block;text-align:center}
.slick-lightbox-slick-item-inner{display:inline-block;vertical-align:middle;max-width:90%;max-height:90%}
.slick-lightbox-slick-img{margin:0 auto;display:block;max-width:90%;max-height:90%}
.slick-lightbox-slick-caption{margin:10px 0 0;color:#fff}
.slick-lightbox-close{position:absolute;top:15px;right:15px;display:block;height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:transparent;color:transparent;padding:0;border:none}
.slick-lightbox-close:focus{outline:none}
.slick-lightbox-close:before{font-family:"slick";font-size:20px;line-height:1;color:#fff;opacity:.85;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'×'}
.site-header{background-color:#fff}
.header-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:3px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.header-logo{padding:2px 0;margin:0 auto;width:170px;height:43px}
.header-right{font-family:"Open Sans",Helvetica,Arial,sans-serif;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;font-size:15px;padding-top:12px;padding-bottom:5px}
.header-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:0 auto;text-align:right}
.header-tel,.header-address{font-weight:700;font-size:20px;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:10px;display:none;color:#000}
.header-tel{letter-spacing:.9px;text-decoration:none;position:relative}
.header-tel::after{display:block;position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#000;content:"";-webkit-transition:-webkit-transform .3s ease-out;transition:-webkit-transform .3s ease-out;-o-transition:transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:scaleX(0);-ms-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:left;-ms-transform-origin:left;transform-origin:left}
.header-tel:hover::after,.header-tel:focus::after{-webkit-transform:none;-ms-transform:none;transform:none}
.header-address{font-weight:400;font-size:15px;margin-bottom:0}
.menu-wrap{background:#608ace}
.menu{padding:5px;display:none}
.opened-mobile-main-menu .menu{display:block}
.menu-group{font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:15px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:0 40px}
.menu-item{color:#fff;font-weight:600;letter-spacing:.7px;margin-left:-26px;text-transform:uppercase;font-size:14px;-webkit-transition:.5s linear;-o-transition:.5s linear;transition:.5s linear;white-space:nowrap}
.menu-item a:hover{color:#000}
ul{list-style:none}
ul li{padding-top:10px;padding-bottom:10px}
@-webkit-keyframes fadeInDown {
from{opacity:0;-webkit-transform:translateY(-15px);transform:translateY(-15px)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInDown {
from{opacity:0;-webkit-transform:translateY(-15px);transform:translateY(-15px)}
to{opacity:1;-webkit-transform:none;transform:none}
}
.header-request{font-size:14px;text-transform:uppercase;font-weight:700;border:2px solid #ffda72;border-radius:50px;padding:14px 22px;margin-left:22px;display:none}
.header-request:hover{border:2px solid #000}
.open-main-menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#fff;height:60px}
.open-main-menu .icon-menu{width:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.open-main-menu .icon-menu span{display:block;width:100%;height:3px;background:#000;margin-bottom:6px;-webkit-transition:opacity .2s ease,-webkit-transform .2s;transition:opacity .2s ease,-webkit-transform .2s;-o-transition:transform .2s,opacity .2s ease;transition:transform .2s,opacity .2s ease;transition:transform .2s,opacity .2s ease,-webkit-transform .2s}
.open-main-menu .icon-menu span:nth-of-type(3){margin-bottom:0}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(1){-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);margin-bottom:-11px}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(2){opacity:0}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(3){-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.bs-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.bs-item{color:#000;margin-bottom:3px}
.bs-item::after{content:'\203A';margin:0 10px;color:#000}
.bs-item:last-child::after{display:none}
.bs-item a{color:#000;text-decoration:none}
.bs-item a:hover{color:#000}
.pager{font-size:1rem;margin:0 0 30px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;color:#fff}
.pager .pager-item,.pager .pager-current{width:30px;height:30px;border:1px solid #000;color:#000;margin:0 3px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.pager .pager-item a,.pager .pager-current a{color:inherit;display:block;width:100%;height:100%;text-align:center;padding:4px;-webkit-transition:color 0 ease;-o-transition:color 0 ease;transition:color 0 ease}
.desktop .pager .pager-item:not(.disabled):not(.skip):hover,.desktop
.pager .pager-current:not(.disabled):not(.skip):hover{background-color:#000;color:#000}
.pager .pager-current{background-color:#000;color:#fff}
.pager .prev,.pager .next{display:none}
.pager .skip{border-color:transparent;margin:0;color:#000}
.pager .disabled{color:#000}
.pager .pager-previous,.pager .pager-next,.pager .pager-first,.pager .pager-last{display:none}
.form-submit,.btn{background-color:#000;border:1px solid transparent;color:#fff;text-transform:uppercase;padding:9px 24px 10px;display:inline-block;-webkit-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease}
.form-submit:hover,.btn:hover{color:#fff;background-color:#000}
.form-submit{font-size:1rem;padding:11px 24px 12px;min-width:150px}
.sm-list{margin:80px 0}
.sm-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-transition:background-color .3s ease;-o-transition:background-color .3s ease;transition:background-color .3s ease;position:relative}
.sm-item:hover{background-color:rgba(0,0,0,0.15)}
.sm-item:last-child{border-bottom:0}
.sm-item span{padding:15px}
.sm-link{color:#000;text-decoration:none;display:block;width:100%;position:relative;z-index:1}
.sm-link:hover{color:#000}
.sm-link{padding:15px}
.page-status{text-transform:capitalize;position:absolute;right:0}
.page-status::after{font-size:.6875rem;content:'';display:inline-block;margin-left:10px;color:#fff;right:10px;top:10px;width:10px;height:10px;border-radius:50%;text-transform:capitalize}
.page-status.ready::after{background:#56c02b}
.page-status.ready:hover::after{background:#50ce1d}
.page-status.in-progress::after{background:#f87c00}
.page-status.in-progress::after:hover::after{background:#f87c00}
.page-status.todo::after{background:#f4371e}
.page-status.todo::after:hover::after{background:#ff2f13}
.section-first-screen{background:no-repeat center #f9fafa;background-size:cover;padding-top:46px;padding-bottom:12px;position:relative}
.section-first-screen .section-first-screen-img{position:absolute;content:'';bottom:-7%;left:calc(50% - 161.5px);right:0;width:283px;height:251px;background:url(../img/first-screen-img.png) no-repeat center;background-size:283px 251px;display:none}
@-webkit-keyframes swing {
15%{-webkit-transform:translateX(9px);transform:translateX(9px)}
30%{-webkit-transform:translateX(-9px);transform:translateX(-9px)}
40%{-webkit-transform:translateX(6px);transform:translateX(6px)}
50%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}
65%{-webkit-transform:translateX(3px);transform:translateX(3px)}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes swing {
15%{-webkit-transform:translateX(9px);transform:translateX(9px)}
30%{-webkit-transform:translateX(-9px);transform:translateX(-9px)}
40%{-webkit-transform:translateX(6px);transform:translateX(6px)}
50%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}
65%{-webkit-transform:translateX(3px);transform:translateX(3px)}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
.swing:hover{-webkit-animation:swing .7s ease;animation:swing .7s ease;-webkit-animation-iteration-count:1;animation-iteration-count:1}
.first-screen-wrap{margin-bottom:42px}
.first-screen-left{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-width:785px;padding-top:11px;text-align:center}
.first-screen-title{font-size:38px;font-family:"Roboto Condensed";color:#141516;text-transform:uppercase;line-height:1.2;margin-bottom:29px;font-weight:700}
.first-screen-title span{color:#4c9ef1;background:#fff;font-size:16px;padding:12px 50px;-webkit-box-shadow:0 8px 4px -4px rgba(0,0,0,0.1);box-shadow:0 8px 4px -4px rgba(0,0,0,0.1);border-radius:0 10px 0 10px;-webkit-transition:border-radius .3s ease;-o-transition:border-radius .3s ease;transition:border-radius .3s ease}
.first-screen-title span:hover{border-radius:10px 0 10px 0}
.first-screen-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:342px;margin-bottom:29px}
.first-screen-group-item{width:171px;margin-bottom:20px}
.first-screen-group-item:hover .first-screen-img-wrap{-webkit-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
.first-screen-group-item:hover .first-screen-img-wrap::before{border-top-color:#4c9ef1;border-right-color:#4c9ef1;border-bottom-color:#4c9ef1;-webkit-transition:border-top-color .15s linear,border-right-color .15s linear 0.1s,border-bottom-color .15s linear .2s;-o-transition:border-top-color .15s linear,border-right-color .15s linear 0.1s,border-bottom-color .15s linear .2s;transition:border-top-color .15s linear,border-right-color .15s linear 0.1s,border-bottom-color .15s linear .2s}
.first-screen-group-item:hover .first-screen-img-wrap::after{border-top:2px solid #4c9ef1;border-left-width:2px;border-right-width:2px;-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);-webkit-transition:border-left-width 0 linear 0.35s,-webkit-transform .4s linear 0;transition:border-left-width 0 linear 0.35s,-webkit-transform .4s linear 0;-o-transition:transform .4s linear 0s,border-left-width 0 linear .35s;transition:transform .4s linear 0s,border-left-width 0 linear .35s;transition:transform .4s linear 0s,border-left-width 0 linear 0.35s,-webkit-transform .4s linear 0}
.first-screen-img-wrap{width:80px;height:80px;padding:10px;border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;-webkit-transition:-webkit-transform .2s ease;transition:-webkit-transform .2s ease;-o-transition:transform .2s ease;transition:transform .2s ease;transition:transform .2s ease,-webkit-transform .2s ease;margin:0 auto}
.first-screen-img-wrap::before,.first-screen-img-wrap::after{top:0;left:0;-webkit-box-sizing:inherit;box-sizing:inherit;content:'';position:absolute;width:100%;height:100%}
.first-screen-img-wrap::before{border:2px solid transparent}
.first-screen-img-wrap::after{border:0 solid transparent}
.circle{border-radius:100%;-webkit-box-shadow:none;box-shadow:none}
.circle::before,.circle::after{border-radius:100%}
.first-screen-item-img{display:block;margin:0 auto}
.first-screen-item-text{font-size:15px;font-weight:600;line-height:1.3}
.mvt-form-wrapper{padding-bottom:5px;text-align:center;background:#292c2e;margin:0 auto 34px;border-radius:10px;padding-bottom:25px}
.mvt-form-wrapper .mvt-form-top{padding:28px 17px 4px;position:relative}
.mvt-form-wrapper .mvt-form-title{font-family:"Roboto Condensed";font-size:26px;color:#fff;font-weight:700;margin-bottom:10px;line-height:1.2}
.mvt-form-wrapper .mvt-form-text{font-size:15px;color:#fff;padding:0 25px;margin-bottom:5px;line-height:1.2}
.mvt-form-wrapper .mvt-form-text-ps{font-size:13px;color:#fff;font-weight:300;padding:0 23px;margin-bottom:12px;margin-left:13px;text-align:left}
.mvt-form-wrapper .mvt-form-text-ps a{color:#fff;height:30px;border-bottom:1px solid #8d9396}
.mvt-form-wrapper .mvt-form .form-errors-cont{color:red;border-top:2px solid red;border-bottom:2px solid red}
.mvt-form-wrapper .mvt-form input,.mvt-form-wrapper .mvt-form select{font-size:14px;color:#000;background:#f0f4f7;padding:15px 21px;margin-bottom:8px;border-radius:5px;border:none;letter-spacing:-.9px;outline:none;border-bottom:2px solid transparent;width:260px}
.mvt-form-wrapper .mvt-form input::-webkit-input-placeholder,.mvt-form-wrapper .mvt-form select::-webkit-input-placeholder{color:#000}
.mvt-form-wrapper .mvt-form input::-moz-placeholder,.mvt-form-wrapper .mvt-form select::-moz-placeholder{color:#000}
.mvt-form-wrapper .mvt-form input:-ms-input-placeholder,.mvt-form-wrapper .mvt-form select:-ms-input-placeholder{color:#000}
.mvt-form-wrapper .mvt-form input::-ms-input-placeholder,.mvt-form-wrapper .mvt-form select::-ms-input-placeholder{color:#000}
.mvt-form-wrapper .mvt-form input::placeholder,.mvt-form-wrapper .mvt-form select::placeholder{color:#000}
.mvt-form-wrapper .mvt-form input:focus,.mvt-form-wrapper .mvt-form select:focus{border-bottom-color:#ffc82e}
.mvt-form-wrapper .mvt-form .request{font-size:15px;color:#fff;text-transform:uppercase;padding:13px;border-bottom:none;font-weight:600;margin-top:7px;margin-bottom:8px;width:300px;background:-webkit-gradient(linear,left top,left bottom,from(#fdd549),to(rgba(255,0,0,0))),#ff9207;background:-o-linear-gradient(top,#fdd549,rgba(255,0,0,0)),#ff9207;background:linear-gradient(180deg,#fdd549,rgba(255,0,0,0)),#ff9207;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s}
.mvt-form-wrapper .mvt-form .request:hover{background:-webkit-gradient(linear,left top,left bottom,from(#ff9207),to(rgba(255,0,0,0))),#fdd549;background:-o-linear-gradient(top,#ff9207,rgba(255,0,0,0)),#fdd549;background:linear-gradient(180deg,#ff9207,rgba(255,0,0,0)),#fdd549;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s}
.mvt-form-wrapper .mvt-form .request:focus{border-bottom-color:transparent}
.form-errors-cont{display:none;margin-left:10px;margin-bottom:10px;font-size:14px;color:red;opacity:.9}
.section-products{background:#fff;padding-top:29px;padding-bottom:23px}
.section-products .title{margin-bottom:32px}
.products-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.products-item{-ms-flex-preferred-size:370px;flex-basis:370px;background:#fcfcfc;border:2px solid #f2f2f2;padding:32px 12px 25px;text-align:center;margin-bottom:31px;position:relative;vertical-align:middle}
.products-item::before,.products-item::after{-webkit-box-sizing:inherit;box-sizing:inherit;content:'';position:absolute;width:100%;height:100%}
.draw{-webkit-transition:color .25s;-o-transition:color .25s;transition:color .25s}
.draw::before,.draw::after{border:2px solid transparent;width:0;height:0}
.draw::before{top:0;left:0}
.draw::after{bottom:0;right:0}
.draw:hover{color:#000;border:2px solid transparent}
.draw:hover::before,.draw:hover::after{width:100%;height:100%}
.draw:hover::before{border-top-color:#fdd549;border-right-color:#fdd549;-webkit-transition:width .25s ease-out,height .25s ease-out .25s;-o-transition:width .25s ease-out,height .25s ease-out .25s;transition:width .25s ease-out,height .25s ease-out .25s}
.draw:hover::after{border-bottom-color:#fdd549;border-left-color:#fdd549;-webkit-transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s;-o-transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s;transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s}
.products-item-img{width:300px;display:block;margin:0 auto 16px}
.products-item-title{font-size:16px;color:#292c2e;font-weight:700;padding:0 72px;line-height:1.4;margin-bottom:16px}
.products-item-text-01,.products-item-text-02{font-size:14px;color:#292c2e;margin-bottom:10px}
.products-item-text-01 span,.products-item-text-02 span{font-size:16px;font-weight:600;color:#608ace}
.products-item-button{font-size:15px;color:#fff;text-transform:uppercase;padding:13px;border-bottom:none;font-weight:600;width:300px;background:-webkit-gradient(linear,left top,left bottom,from(#fdd549),to(rgba(255,0,0,0))),#ff9207;background:-o-linear-gradient(top,#fdd549,rgba(255,0,0,0)),#ff9207;background:linear-gradient(180deg,#fdd549,rgba(255,0,0,0)),#ff9207;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s;display:block;margin:0 auto;margin-top:26px;margin-bottom:8px;text-align:center;position:relative;z-index:10}
.products-item-button:hover{background:-webkit-gradient(linear,left top,left bottom,from(#ff9207),to(rgba(255,0,0,0))),#fdd549;background:-o-linear-gradient(top,#ff9207,rgba(255,0,0,0)),#fdd549;background:linear-gradient(180deg,#ff9207,rgba(255,0,0,0)),#fdd549;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s;color:#fff}
.products-item-button:focus{border-bottom-color:transparent}
.section-brands{background:url(../img/brands-bg.jpg) no-repeat center;background-size:cover;padding-top:46px;position:relative;padding-bottom:1px}
.section-brands .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.brands-title{font-size:28px;font-family:"Roboto Condensed";font-weight:700;text-transform:uppercase;margin-bottom:52px}
.brands-title span{color:#4c9ef1}
.brands-left{max-width:770px;padding-top:12px}
.brands-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-width:570px}
.brands-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:48px;-webkit-transition:-webkit-transform .2s ease;transition:-webkit-transform .2s ease;-o-transition:transform .2s ease;transition:transform .2s ease;transition:transform .2s ease,-webkit-transform .2s ease}
.brands-item:hover{-webkit-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
.brands-text{text-align:center;font-size:15px;font-weight:600;margin-top:-10px;margin-bottom:29px}
.brands-moto{position:absolute;left:calc(61% - 114px);right:0;bottom:-8%;content:'';width:228px;height:281px;background:url(../img/brands-moto.png) no-repeat center;background-size:228px 281px;display:none}
.brands-moto:hover{-webkit-animation:swing .7s ease;animation:swing .7s ease;-webkit-animation-iteration-count:1;animation-iteration-count:1}
.section-delivery{padding-top:82px;background:#fff;padding-bottom:57px}
.section-delivery h2.title{margin-bottom:12px}
.section-delivery h2.title::before{left:18%}
.section-delivery h2.title::after{right:18%}
.delivery-text{font-size:15px;text-align:center}
.delivery-text span{font-weight:700}
.delivery-top-text{margin-bottom:38px}
.delivery-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:26px}
.delivery-item{-ms-flex-preferred-size:370px;flex-basis:370px;background:no-repeat bottom right #608ace;border:6px solid #dbecff;position:relative;padding-top:120px;padding-bottom:41px;margin-bottom:29px;-webkit-transition:color .25s;-o-transition:color .25s;transition:color .25s}
.delivery-item::before,.delivery-item::after{-webkit-box-sizing:inherit;box-sizing:inherit;content:'';position:absolute;width:100%;height:100%;border:2px solid transparent;width:0;height:0}
.delivery-item::before{top:0;left:0}
.delivery-item::after{bottom:0;right:0}
.delivery-item:hover{color:#000;border:6px solid transparent}
.delivery-item:hover::before,.delivery-item:hover::after{width:100%;height:100%}
.delivery-item:hover::before{border-top-color:#292c2e;border-right-color:#292c2e;-webkit-transition:width .25s ease-out,height .25s ease-out .25s;-o-transition:width .25s ease-out,height .25s ease-out .25s;transition:width .25s ease-out,height .25s ease-out .25s}
.delivery-item:hover::after{border-bottom-color:#292c2e;border-left-color:#292c2e;-webkit-transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s;-o-transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s;transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s}
.delivery-item .delivery-item-check{position:absolute;content:'';width:76px;height:64px;background:url(../img/delivery-check.png) no-repeat center;background-size:76px 64px;left:calc(52% - 38px);top:13%}
.delivery-item-title{font-size:22px;font-weight:700;color:#fff;margin-bottom:58px;position:relative;text-align:center}
.delivery-item-title::after{content:'';position:absolute;width:70px;height:1px;background:#292c2e;bottom:-25px;left:calc(50% - 35px)}
.delivery-item-text{font-size:15px;font-weight:600;position:relative;color:#fff;position:relative;text-align:left;margin-left:36%;margin-bottom:15px}
.delivery-item-text span{font-weight:400;text-transform:uppercase}
.delivery-item-text::after{position:absolute;left:-34px;top:0;bottom:0;background:no-repeat center;content:''}
.delivery-item-way::after{background-image:url(../img/delivery-way.png);width:26px;height:19px;background-size:26px 19px}
.delivery-item-term::after{background-image:url(../img/delivery-term.png);width:22px;height:22px;background-size:22px 22px}
.delivery-bottom-text{letter-spacing:.2px}
.section-payment{background:url(../img/payment-bg.jpg) no-repeat center;background-size:cover;padding-top:84px;padding-bottom:90px}
.payment-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:150px;position:relative;margin-bottom:15px}
.payment-group::before,.payment-group::after{content:'';position:absolute;width:31px;height:11px;background:url(../img/payment-arrow-left.png) no-repeat center;background-size:31px 11px;left:calc(50% - 15px);-webkit-transition:-webkit-transform .3s ease;transition:-webkit-transform .3s ease;-o-transition:transform .3s ease;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}
.payment-group::before{top:30%}
.payment-group::after{bottom:30%;-webkit-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1)}
.payment-group:hover::before{-webkit-transform:translateX(-7px);-ms-transform:translateX(-7px);transform:translateX(-7px)}
.payment-group:hover::after{-webkit-transform:scaleX(-1) translateX(-7px);-ms-transform:scaleX(-1) translateX(-7px);transform:scaleX(-1) translateX(-7px)}
.payment-item{width:51px;height:51px;background:no-repeat center}
.payment-item-01{background-size:51px 51px}
.payment-item-02{background-size:48px 50px}
.payment-title{font-family:"Roboto Condensed";font-size:39px;font-weight:700;text-transform:uppercase;line-height:1.5}
.payment-title span{color:#fff;background:#4c9ef1;padding:5px 19px;border-radius:5px}
.section-types{padding-top:53px;background:#fff;padding-bottom:33px}
.section-types h2.title{margin-bottom:9px}
.section-types h2.title::before{left:10%}
.section-types h2.title::after{right:10%}
.types-text{font-size:15px;text-align:center;line-height:1.4;margin-bottom:43px}
.types-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.types-item{-ms-flex-preferred-size:270px;flex-basis:270px;margin-left:11px;margin-right:11px;margin-bottom:18px;position:relative;-webkit-transition:color .25s;-o-transition:color .25s;transition:color .25s;border:1px solid transparent}
.types-item::before,.types-item::after{-webkit-box-sizing:inherit;box-sizing:inherit;content:'';position:absolute;width:100%;height:100%;border:1px solid transparent;width:0;height:0}
.types-item::before{top:0;left:0}
.types-item::after{bottom:0;right:0}
.types-item:hover{color:#000;border:1px solid transparent}
.types-item:hover::before,.types-item:hover::after{width:100%;height:100%}
.types-item:hover::before{border-top-color:#fdd549;border-right-color:#fdd549;-webkit-transition:width .25s ease-out,height .25s ease-out .25s;-o-transition:width .25s ease-out,height .25s ease-out .25s;transition:width .25s ease-out,height .25s ease-out .25s}
.types-item:hover::after{border-bottom-color:#fdd549;border-left-color:#fdd549;-webkit-transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s;-o-transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s;transition:border-color 0 ease-out 0.5s,width .25s ease-out 0.5s,height .25s ease-out .75s}
.types-item-img-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;min-height:137px;margin-bottom:13px}
.types-item-title{font-size:16px;font-weight:600;text-align:center}
.types-item-button{font-size:15px;color:#fff;text-transform:uppercase;padding:13px;border-bottom:none;font-weight:600;width:220px;background:-webkit-gradient(linear,left top,left bottom,from(#fdd549),to(rgba(255,0,0,0))),#ff9207;background:-o-linear-gradient(top,#fdd549,rgba(255,0,0,0)),#ff9207;background:linear-gradient(180deg,#fdd549,rgba(255,0,0,0)),#ff9207;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s;display:block;margin:0 auto;margin-top:26px;margin-bottom:8px;text-align:center;position:relative;z-index:10}
.types-item-button:hover{background:-webkit-gradient(linear,left top,left bottom,from(#ff9207),to(rgba(255,0,0,0))),#fdd549;background:-o-linear-gradient(top,#ff9207,rgba(255,0,0,0)),#fdd549;background:linear-gradient(180deg,#ff9207,rgba(255,0,0,0)),#fdd549;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s;color:#fff}
.types-item-button:focus{border-bottom-color:transparent}
.section-questions{background:url(../img/questions-bg.jpg) no-repeat center;background-size:cover;padding-top:42px;padding-bottom:25px;position:relative}
.section-questions::after{content:'';position:absolute;bottom:15%;height:1px;width:100%;background:#fff}
.section-questions .mvt-form-wrapper{width:auto;background:none;margin-left:0;margin-bottom:39px}
.section-questions .mvt-form-wrapper .mvt-form{padding:0}
.section-questions .mvt-form-wrapper .mvt-form input{width:277px;margin-left:5px;margin-right:5px}
.section-questions .mvt-form-text-ps{margin-left:0;text-align:center;color:#fff;font-size:13px}
.section-questions .mvt-form-text-ps a{color:#fff;text-decoration:underline}
.questions-title{font-size:26px;font-weight:700;font-family:"Roboto Condensed";text-transform:uppercase;color:#fff;margin-bottom:16px}
.questions-text{text-align:center;font-size:15px;color:#fff;margin-bottom:41px}
.section-map{background:#fff}
.section-map .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.map-item{width:100%}
.map-wrap{position:relative;min-height:500px}
.map{position:absolute;right:0;top:0;bottom:0;left:0;width:100%}
.map-title{font-family:"Roboto Condensed";font-size:26px;font-weight:700;color:#608ace;text-align:center;text-transform:uppercase;letter-spacing:.9px;margin-bottom:48px}
.map-content{padding-top:45px}
.map-item-group{margin-left:50px}
.map-tel-wrap{display:block}
.map-text{font-size:16px;position:relative;margin-bottom:24px;padding-right:82px;line-height:1.4}
.map-text::before{content:'';position:absolute;left:-35px;top:5px;background:no-repeat center}
.map-tel{font-weight:600;font-size:22px;display:block;text-transform:uppercase}
.map-tel::after{display:block;position:absolute;left:0;bottom:0;width:50%;height:2px;background-color:#000;content:"";-webkit-transition:-webkit-transform .3s ease-out;transition:-webkit-transform .3s ease-out;-o-transition:transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:scaleX(0);-ms-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:left;-ms-transform-origin:left;transform-origin:left}
.map-tel:hover::after,.map-tel:focus::after{-webkit-transform:none;-ms-transform:none;transform:none}
.map-tel::before{width:15px;height:23px;background-size:15px 23px;background-image:url(../img/map-tel-icon.png)}
.map-address::before{width:15px;height:23px;background-size:15px 23px;background-image:url(../img/map-address-icon.png)}
.map-time::before{width:19px;height:15px;background-size:19px 15px;background-image:url(../img/map-time-icon.png)}
.section-popup-thanks{position:fixed;z-index:30;top:0;bottom:0;right:0;left:0;display:none}
.opened-popup-thanks .section-popup-thanks{display:block}
.popup-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100vw;height:100vh;overflow:auto}
.popup-overlaw{position:absolute;top:0;bottom:0;right:0;left:0;background:#000;opacity:.5;cursor:pointer}
.popup-overlaw:hover{opacity:.4}
@keyframes fadeInDown {
from{-webkit-transform:translateY(-15px);transform:translateY(-15px);opacity:0}
to{-webkit-transform:none;transform:none;opacity:1}
}
.popup-content{position:relative;max-width:654px;margin:0 auto;-webkit-animation:fadeInDown .3s ease;animation:fadeInDown .3s ease;-webkit-animation-fill-mode:both;animation-fill-mode:both;background:url(../img/popup-thanks-bg.jpg) no-repeat center;background-size:contain;padding:10px 0 30px;margin-top:180px;width:340px;text-align:right}
.popup-close-icon{position:absolute;background:url(../img/popup-close-icon.png) no-repeat center;right:-3px;top:-50px;background-size:33px 33px;width:33px;height:33px;display:block;border:none}
.popup-thanks-title{font-family:"Roboto Condensed";font-size:22px;font-weight:700;color:#fff;text-transform:uppercase;margin-top:50px;padding-right:12px;margin-bottom:10px}
.popup-thanks-text{font-size:10px;color:#fff;padding-right:22px}
.section-popup-form{position:fixed;z-index:30;top:0;bottom:0;right:0;left:0;display:none}
.section-popup-form .mvt-form-wrapper{background:#fff;margin:0 auto;width:300px;padding:0}
.section-popup-form .mvt-form-wrapper .input-text{width:300px;background:no-repeat 3% #f0f4f7;padding-left:50px}
.section-popup-form .mvt-form-wrapper .input-detals{background-size:23px 16px}
.section-popup-form .mvt-form-wrapper .input-scooter{background-size:21px 17px}
.section-popup-form .mvt-form-wrapper .input-phone{background-size:17px 17px}
.section-popup-form .mvt-form-text-ps{color:#000;text-align:center}
.section-popup-form .mvt-form-text-ps a{color:#000}
.opened-popup-form .section-popup-form{display:block}
.popup-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100vw;height:100vh;overflow:auto}
.popup-overlaw{position:absolute;top:0;bottom:0;right:0;left:0;background:#000;opacity:.5;cursor:pointer}
.popup-overlaw:hover{opacity:.4}
@keyframes fadeInDown {
from{-webkit-transform:translateY(-15px);transform:translateY(-15px);opacity:0}
to{-webkit-transform:none;transform:none;opacity:1}
}
.popup-form-content{position:relative;max-width:700px;margin:0 auto;-webkit-animation:fadeInDown .3s ease;animation:fadeInDown .3s ease;-webkit-animation-fill-mode:both;animation-fill-mode:both;padding:10px 0 30px;margin-top:180px;width:340px;text-align:center;background:#fff;border:7px solid #b4d7ff;border-radius:7px}
.popup-close-icon{position:absolute;background:url(../img/popup-close-icon.png) no-repeat center;right:-3px;top:-50px;background-size:33px 33px;width:33px;height:33px;display:block;border:none}
.popup-form-title{font-family:"Roboto Condensed";font-size:22px;font-weight:700;color:#608ace;text-transform:uppercase;margin-top:50px;margin-bottom:10px}
.popup-form-text{font-size:10px;color:#000;padding:0 30px;margin-bottom:20px}
@media only screen and (min-width: 375px) {
.front .container{width:360px}
.menu-item{margin-left:0}
}
@media only screen and (min-width: 680px) {
figure{text-align:inherit}
}
@media only screen and (min-width: 768px) {
.inview{-webkit-animation-play-state:paused;animation-play-state:paused}
.front .container{width:740px}
h1{font-size:2.375rem}
h2{font-size:2.375rem}
.table-wrapper{border:0;background:transparent}
.table-wrapper table{background:none}
h2.title{font-size:34px}
h2.title::before,h2.title::after{display:block}
.header-wrap{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.header-logo{margin:0}
.header-group{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:0}
.header-tel,.header-address{display:-webkit-box;display:-ms-flexbox;display:flex}
.menu-group{white-space:nowrap;max-width:220px;margin:0 auto;padding:0 140px}
.menu-item{padding:0 10px;white-space:normal}
.header-request{display:block}
.section-first-screen .section-first-screen-img{display:block}
.first-screen-left{padding-top:11px;text-align:left}
.first-screen-title{font-size:48px;margin-bottom:49px}
.first-screen-title span{font-size:20px}
.first-screen-group{width:420px;margin-bottom:0}
.first-screen-img-wrap{margin:0}
.mvt-form-wrapper{width:370px;margin-left:83px}
.mvt-form-wrapper .mvt-form-text{margin-bottom:5px}
.mvt-form-wrapper .mvt-form{padding:14px 17px 0}
.mvt-form-wrapper .mvt-form input,.mvt-form-wrapper .mvt-form select{width:300px;padding:13px 21px}
.section-products{padding-top:78px}
.products-item{padding:32px 32px 25px}
.section-brands .container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-brands .mvt-form-wrapper{margin-left:33px}
.brands-title{font-size:34px}
.brands-text{margin-left:-161px;margin-bottom:0}
.brands-moto{display:block}
.delivery-item{margin-bottom:0}
.payment-title{font-size:40px}
.questions-title{font-size:34px}
.section-map .container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.map-item{width:50%}
.map{position:absolute;right:0;top:0;bottom:0;left:auto;width:50vw}
.map-title{font-size:30px}
.map-content{padding-top:104px}
.map-item-group{margin-left:150px}
.popup-content{width:614px;padding:50px 0 30px}
.popup-close-icon{right:-43px;top:-50px}
.popup-thanks-title{font-size:35px;padding-right:52px}
.popup-thanks-text{padding-right:72px;font-size:15px}
.section-popup-form .mvt-form-wrapper{width:500px;padding:20px}
.section-popup-form .mvt-form-wrapper .input-text{width:400px}
.popup-form-content{width:700px;padding:0}
.popup-close-icon{right:-43px;top:-50px}
.popup-form-title{font-size:35px}
.popup-form-text{font-size:15px;padding:0 180px;margin-bottom:0}
}
@media only screen and (min-width: 1024px) {
.front .container{width:1000px}
.menu{display:block}
.menu-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;max-width:inherit;margin:0}
.open-main-menu{display:none}
.section-first-screen .container{display:-webkit-box;display:-ms-flexbox;display:flex}
.first-screen-wrap{margin-bottom:0}
}
@media only screen and (min-width: 1025px) {
.active-menu{overflow-y:auto}
}
@media only screen and (min-width: 1200px) {
.front .container{width:1200px}
}