//- ---------------------------------------------------------------------------
//- Variables

//  Top menu (First level)
-
  var main_menu = [
    {
      title: 'Модели масел ',
      href: 'products',
    },
    {
      title: 'Бренды',
      href: 'brands',
    },
    {
      title: 'Способы доставки',
      href: 'delivery',
    },
    {
      title: 'Оплата   ',
      href: 'payment',
    },
    {
      title: 'Масла для техники',
      href: 'oils',
    },
    {
      title: 'Остались вопросы?',
      href: 'questions',
    },
    {
      title: 'Контакты',
      href: 'contacts',
    },
  ]

-
  var products_group = [
    {
      img: 'product-01.png',
      title: 'MASTERGOLD HSP 15w-40',
      button: 'узнать стоимость',
    },
    {
      img: 'product-02.png',
      title: 'MASTERTRAN Ultraction (UTTO)',
      button: 'узнать стоимость',
    },
    {
      img: 'product-03.png',
      title: 'MULTI G 10w-30 (UTTO)',
      button: 'узнать стоимость',
    },
    {
      img: 'product-04.png',
      title: 'HYDROSYSTEM 46HV\n' +
              '\n',
      button: 'узнать стоимость',
    },
    {
      img: 'product-05.png',
      title: 'HYPOID 90\n' +
              '\n',
      button: 'узнать стоимость',
    },
    {
      img: 'product-06.png',
      title: 'UNITEK 10w-40\n' +
              '\n',
      button: 'узнать стоимость',
    },
    {
      img: 'product-07.png',
      title: 'HYPOIDE 140\n' +
              '\n',
      button: 'узнать стоимость',
    },
    {
      img: 'product-08.png',
      title: 'Смазка пластичная GR 9\n' +
              '\n',
      button: 'узнать стоимость',
    },
  ]

-
  var brands_group_top = [
    {
      img: 'brands-img-01.png',
    },
    {
      img: 'brands-img-02.png',
    },
    {
      img: 'brands-img-03.png',
    },
    {
      img: 'brands-img-04.png',
    },
    {
      img: 'brands-img-05.png',
    },
    {
      img: 'brands-img-06.png',
    },
  ]

-
  var brands_group_bottom1 = [
    {
      img: 'brands-img-07.png',
    },
    {
      img: 'brands-img-08.png',
    },
    {
      img: 'brands-img-09.png',
    },
    {
      img: 'brands-img-10.png',
    },
  ]

-
  var brands_group_bottom2 = [
    {
      img: 'brands-img-11.png',
    },
    {
      img: 'brands-img-12.png',
    },
    {
      img: 'brands-img-13.png',
    },
    {
      img: 'brands-img-14.png',
    },
  ]

-
  var delivery_group = [
    {
      title: 'vozovoz',
      img: 'delivery-01.png',
    },
    {
      title: 'pamek',
      img: 'delivery-02.png',
    },
    {
      title: 'деловые линии',
      img: 'delivery-03.png',
    },
    {
      title: 'пэк',
      img: 'delivery-04.png',
    },
    {
      title: 'cargo',
      img: 'delivery-05.png',
    },
    {
      title: 'БТК',
      img: 'delivery-06.png',
    },
  ]

-
  var oils_group = [
    {
      img: 'oils-01.png',
      title: 'Масла и технические жидкости для бензиновых и дизельных двигателей',
      text: 'легковых автомобилей, микроавтобусов, мототехники и легких грузовиков',
      button: 'подробнее',
    },
    {
      img: 'oils-02.png',
      title: 'Масла и технические жидкости для дизельных двигателей',
      text: 'тяжелых грузовиков, шоссейной и внедорожной техники (Спецтехники).',
      button: 'подробнее',
    },
    {
      img: 'oils-03.png',
      title: 'Масла для применения в различном',
      text: 'промышленном оборудовании, гидравлических системах, редукторах, прессах, прокатных станах.',
      button: 'подробнее',
    },

  ]

