.section-products-application {
  background-color: $c_yellow_text;
  padding-top: 44px;
  padding-bottom: 38px;

  .default-section-heading {
    color: $white
  }
}

.products-application-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-application-item {
  width: 100%;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  min-height: 44px;

  @include media-q(min, 768) {
    width: calc(33.33333% - 15px);
  }

  @include media-q(min, 1200) {
    min-height: 52px;
  }

  &::after {
    @include font-size(14);
    @extend %font-family-icon;
    @extend %icon-arrows-right;
    margin-left: auto;
    margin-right: 10px;
    color: $c_grey_heading;
    transition: transform .3s ease;

    @include media-q(min, 1200) {
      @include font-size(16);
      margin-right: 14px;
    }
  }

  .font-icon {
    display: block;
    width: 44px;
    text-align: center;
    flex-shrink: 0;

    @include media-q(min, 992) {
      width: 34px;
    }

    @include media-q(min, 1200) {
      width: 60px;
    }

    &::before {
      color: $c_yellow_text;
      transition: color .3s ease;
      transform: scale(.75);

      @include media-q(min, 1200) {
        transform: none;
      }
    }
  }

  &:hover {
    &::after {
      transform: translateX(5px);
    }

    .font-icon {
      &::before {
        color: $c_yellow_text_hover;
      }
    }
  }
}

.product-application-item-text {
  @include font-size(14);
  font-weight: $f_medium;
  color: $c_grey_heading;
  margin-bottom: 0;
  text-transform: uppercase;

  @include media-q(min, 1200) {
    @include font-size(16);
  }
}
