.section-products-quality {
  padding-top: 40px;
  padding-bottom: 60px;

  .home-section-wysiwyg + & {
    padding-top: 0;
    margin-top: -11px;
  }

  .default-section-heading {
    @include media-q(min, 1200) {
      @include font-size(42);
    }
  }
}

.section-quality-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-q(min, 992) {
    flex-wrap: nowrap;
  }
}

.section-quality-item {
  width: 100%;
  border-radius: 5px;
  transition: background-color .3s ease;
  padding: 20px 10px 35px;
  margin-bottom: 20px;

  @include media-q(min, 768) {
    width: calc(50% - 15px);
  }

  @include media-q(min, 992) {
    width: calc(25% - 10px);
    margin-bottom: 0;
  }

  @include media-q(min, 1200) {
    width: calc(25% - 15px);
    padding-left: 22px;
    padding-right: 22px;
  }
}

.section-quality-image-wrap {
  width: 160px;
  margin: 0 auto 26px;
  border: 22px solid $c_orange_button;
  border-radius: 50%;
  position: relative;
  background-color: $white;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.section-quality-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-quality-title {
  @include font-size(17);
  font-weight: $f_bold;
  text-transform: uppercase;
  text-align: center;
  transition: color .3s ease;

  @include media-q(min, 1200) {
    @include font-size(18);
  }
}

.section-quality-line {
  width: 42px;
  display: block;
  margin: 0 auto 19px;
  border: 2px solid $c_orange_button;
  transition: border-color .3s ease;
}

.section-quality-text {
  @include font-size(14);
  color: $c_grey_text;
  text-align: center;
  line-height: 1.4;
  transition: color .3s ease;
}

.section-quality-item:hover {
  background-color: $c_orange_button;

  .section-quality-title,
  .section-quality-text {
    color: $white;
  }

  .section-quality-line {
    border-color: $c_yellow_text;
  }
}
