.section-products-advantages {
  padding-top: 52px;
  padding-bottom: 26px;

  .home-control-note {
    text-transform: none;
  }
}

.products-advantages-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products-advantage-item {
  margin-bottom: 37px;

  .three-in-row & {
    width: 48%;

    @include media-q(min, 768) {
      width: 200px;
    }

    @include media-q(min, 992) {
      width: 240px;
      margin-left: 25px;
      margin-right: 25px;
    }

    @include media-q(min, 1200) {
      margin-left: 65px;
      margin-right: 65px;
    }

    &:last-child {
      @include media-q(max, 767) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .four-in-row & {
    width: calc(50% - 15px);

    @include media-q(min, 768) {
      width: calc(25% - 15px);
    }
  }
}

.products-advantage-item-image {
  width: 90px;
  margin: 0 auto 16px;
  background: no-repeat center $c_yellow_text;
  border-radius: 50%;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.products-advantage-item-text {
  @include font-size(14);
  text-align: center;
  line-height: 1.4;

  @include media-q(min, 768) {
    @include font-size(15);
  }
}
