.section-tariffs {
	padding-top: 60px;
	padding-bottom: 35px;
	background-color: #f6f6f8;

	@include media-q(min, 768) {
	}

		h2.title {
		margin-bottom: 44px;
	}
}

.tariffs-group {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	animation: fadeIn .5s ease;
	animation-fill-mode: both;

	@include media-q(min, 768) {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 14px;
	}

		&.active {
		display: flex;
	}
}

.tariffs-item {
	flex-basis: 100%;
	text-align: center;
	background-color: $white;
	margin: 0 0 30px;
	display: flex;
	flex-direction: column;
	transition: box-shadow .2s ease;
	border-radius: 10px;
	padding: 22px 30px;
	position: relative;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);

	&::before {
		content: '';
		position: absolute;
		bottom: 43%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #fafafb;
	}

	@include media-q(min, 768) {
		flex-basis: 31%;
		margin: 0 10px 50px;
	}

	.tariff-hidden {
		display: none;
	}

	&__title {
		font-family: $sans-gotham;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: $f_bold;
		padding: 22px 0 8px 0;
		color: $c_violet;
		margin-bottom: 30px;
	}

	&__promo {
		font-weight: 900;
		font-size: 16px;
		font-family: $sans-brand;
		margin-bottom: 24px;
	}

	&__content {

		&-wrap {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			padding: 11px 20px 0 20px;
			border-top: 2px solid $white;

			&.active {
				.tariffs-item__content-more {
					img {
						transform: rotate(90deg);
					}
				}
			}
		}

		&-more {
			margin-top: 4px;

			img {
				width: 9px;
				height: 15px;
				transition: transform .2s ease;
				transform: rotate(90deg);
			}
		}
	}

	&__content-item {
		display: flex;
		margin-bottom: 7px;
		padding-top: 9px;

		.font-icon {
			margin-right: 14px;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background: linear-gradient(#3c29b1, #b865d3);
			padding: 9px;

			&::before {
				font-size: 23px;
				color: $white;
				z-index: 5;
			}
		}
	}

	&__content-item--text {
		font-size: 15px;
		opacity: .8;
		text-align: left;
		margin-bottom: 12px;
		max-width: 250px;
		font-family: $sans-brand;
		letter-spacing: -0.6px;
		line-height: 1.5;

		span {
			font-size: 16px;
			font-weight: $f_bold;
			color: #101828;
			font-family: $sans-brand;
		}
	}

	&__plug {
		display: flex;
		flex-direction: column;
		margin-top: auto;

		&-link {
			font-size: 13px;
			font-family: $sans-brand;
			color: #101828;
			opacity: .7;
			padding: 5px 0 10px 0;
			border: none;
			background-color: $white;
			appearance: none;
			outline: none;
			border-radius: none;
			position: relative;
			margin-top: 19px;

			&::after {
				content: '';
				position: absolute;
				bottom: 9px;
				border-top: 2px dashed #322f32;
				width: 130px;
				left: calc(50% - 65px);
				opacity: .7;
			}
		}

		&-button {
			width: 260px;
			outline: none;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 5px;
			padding: 11px 0;
			display: block;
			margin: 0 auto 15px;
			background-color: $c_green;
			border: none;

			&:hover {
				opacity: .9;
			}
		}
	}
}

.fraction-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

.fraction-wrapp {
	display: flex;
	flex-direction: column;
}

.fraction-item {
	margin: 0;
	font-size: 14px;
	font-weight: $f_normal;
}

.fraction-item-top {
	border-bottom: 1px solid $black;
}

.tariffs-item-global-price {
	font-size: 38px;
	padding: 0;
	margin: 0 15px 20px 0;
	font-weight: 600;

	span {
		font-size: 18px;
		margin-left: 10px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.section-tariffs-subclasses {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 52px;

	@include media-q(min, 768) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.section-tariffs-subclass {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	letter-spacing: -0.5px;
	position: relative;
	cursor: pointer;
	padding: 15px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $white;
	margin: 2px 2px 10px 2px;

	@include media-q(min, 768) {
		width: 38%;
		margin-bottom: 0;
		padding: 50px;
	}

	&--text {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 900;
		z-index: 1;
		position: relative;
		margin-bottom: 0;
	}

	&.active,
	&:hover {
		color: $white;

		.tariffs-triangle {
			display: block;
		}

		.font-icon {
			&::before {
				color: $white;
			}
		}

		.section-tariffs-subclass--text {
			color: $white;
		}

		&::after {
			opacity: 1;
		}
	}

	.font-icon {
		&::before {
			font-size: 52px;
			margin-bottom: 19px;
			color: #b7b9be;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: transparentize($black, .4);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: transparentize($c_violet, .6);
		opacity: 0;
		transition: opacity .2s ease;
	}
}

.tariffs-group-video {
	.tariffs-item__promo {
		font-weight: $f_normal;
		font-size: 14px;
		text-align: left;
		padding: 0 20px;
	}

	.tariffs-item__content-item--text {
		font-weight: 900;
		color: #101828;
		span {
			font-weight: $f_normal;
		}
	}
}

@keyframes fadeInTariff {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.tariffs-item__content-description {
	text-align: left;
	margin-left: 52px;
	display: none;
	animation: fadeInTariff .3s ease;
	animation-fill-mode: both;
	padding-bottom: 30px;

	.active + & {
		display: block;
	}
}

.tariffs-list-wrap {
	list-style-type: none;
	margin-bottom: 20px;
}

.tariffs-list-item {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-right: 20px;
	font-size: 13px;
	font-family: $sans-brand;

	&::before {
		position: absolute;
		content: '';
		left: -20px;
		top: calc(50% - 10px);
		width: 7px;
		height: 7px;
		background-color: #000;
		border-radius: 50%;
	}
}

.check {
	position: relative;
	font-size: 13px;
	font-family: $sans-brand;
	margin-bottom: 15px;
	line-height: 1.3;

	&::before {
		position: absolute;
		content: '';
		left: -25px;
		top: calc(50% - 5px);
		background: url("../img/small-check-icon.png") no-repeat center;
		width: 14px;
		height: 10px;
		background-size: 14px 10px;
	}

	span {
		font-weight: $f_bold;
	}
}

.tariffs-tariffs-01 {
	background-image: url("../img/tariff-01.jpg");
	border-radius: 10px 10px 0 0;

	@include media-q(min, 768) {
		border-radius: 10px 0 0 10px;
	}
}

.tariffs-tariffs-02 {
	background-image: url("../img/tariff-02.jpg");
}

.tariffs-tariffs-03 {
	background-image: url("../img/tariff-03.jpg");
	border-radius: 0 0 10px 10px;

	@include media-q(min, 768) {
		border-radius: 0 10px 10px 0;
	}
}

.tariffs-item__info--wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.tariffs-item__info {
	display: flex;

	.font-icon {
		margin-top: 8px;
		margin-right: -10px;
		&::before {
			font-size: 19px;
			color: $c_violet;
		}
	}
}

.tariffs-info-text {
	line-height: 2;

	span {
		font-size: 18px;
		font-weight: $f_bold;
	}
}

