.section-bottom {
  background: no-repeat center;
  background-size: cover;
  padding: 50px 0 75px;
  text-align: center;
  color: $white;

  h2.title {
    color: $white;
    margin-bottom: .6em;
  }

  .site-form {
    display: flex;
    max-width: 870px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;

    @include media-q(min, 768) {
      flex-direction: row;
    }
  }

  .input-text {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    color: #000;

    @include media-q(min, 768) {
      margin-bottom: 0;
      width: 285px;

    }
  }

  .input-phone {

    @include media-q(min, 768) {
      margin: 0 11px;
    }
  }

  .request {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 15px;
    background-color: $c_green;
    transition: opacity .2s ease;

    &:hover {
      opacity: .9;
    }

    @include media-q(min, 768) {
      width: 285px;
      padding: 10px;
    }
  }

  .bottom-text {
    font-size: 12px;
    font-family: $sans-brand;
    line-height: 1.55;
    margin-bottom: 4em;

    @include media-q(min, 768) {
      font-size: 14px;
    }
  }
}
