.section-popup-form,
.section-popup-thanks {
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;

	.site-form {
		flex-direction: column;
	}

	.request {
		width: 300px;
		border-radius: 5px;
		border: none;
		padding: 15px;
		background-color: $c_green;
		margin: 0 auto 15px;
		color: $white;
		text-transform: uppercase;
		font-weight: $f_bold;
		font-size: 15px;
	}

	.input-text {
		width: 100%;
		margin-bottom: 15px;
		border-radius: 5px;
		border: none;
		background-color: #f6f6f8;
		padding-left: 30px;
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	}

	.checkbox + label {
		padding-left: 23px;
		font-size: 13px;
		text-align: left;
	}

	a.form-text-ps {
		font-size: 13px;
		text-align: left;
		margin-left: 22px;
	}
}

.section-popup-thanks {
	.opened-popup-thanks & {
		display: block;
	}
}

.section-popup-form {
	.opened-popup-form & {
		display: block;
	}
}

.popup-wrap {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 60px 0;
}

.popup-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	cursor:pointer;

	&:hover {
		opacity: 0.4;
	}
}

@keyframes fadeInDown {
	from {
		transform: translateY(-15px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.popup-form-content {
	position: relative;
	margin: auto;
	-webkit-animation: fadeInDown .3s ease;
	animation: fadeInDown .3s ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	padding: 22px 25px;
	text-align: center;
	background: #fff;
	max-width: 350px;

	@include media-q(min, 768) {
		max-width: 400px;
	}
}


.popup-close-icon {
	position: absolute;
	background: url(../img/popup-close-icon.png) no-repeat center;
	right: -3px;
	top: -50px;
	background-size: 26px 26px;
	width: 26px;
	height: 26px;
	display: block;
	border: none;

	@include media-q(min, 768) {
		right: -43px;
		top: -50px;
	}
}

.js-popup-form-call,
.js-popup-form-price {
	.form-title {
		padding: 20px 20px;
		font-size: 18px;
	}

	.form {
		padding-top: 20px;
	}

	.input-text {
		margin-bottom: 0;
	}

	.form-wrapper {
		padding-bottom: 20px;
	}
}

.section-popup-thanks {
	.popup-form-content {
		background: url("../img/popup-thanks-bg.jpg") no-repeat center;
		background-size: cover;
		border-radius: 5px;
		border: 2px solid $white;
		padding: 50px 20px;
		width: 100%;
		max-width: 350px;

		@include media-q(min, 768) {
			max-width: 370px;
		}

		.font-icon {
			margin: 0 auto 20px;
			display: block;

			&::before {
				font-size: 46px;
				color: #cccccc;
			}
		}

		.popup-form-title {
			font-size: 27px;
			font-family: $sans-gotham;
			font-weight: $f_black;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 5px;
		}

		.popup-form-text {
			font-size: 13px;
			color: $white;
		}
	}
}
.popup-title {
	font-family: "Gotham Pro";
	font-size: 24px;
	font-weight: $f_black;
	color: $c_violet;
	text-transform: uppercase;
	line-height: 1.3;
	margin-bottom: 10px;
	padding-bottom: 0;
}

.popup-text {
	font-size: 14px;
	color: #303334;
}

.input-wrap {
	position: relative;
	width: 300px;
	display: block;
	margin: 0 auto;

	.font-icon {
		position: absolute;
		right: 19px;
		top: 11px;

		&::before {
			color: #cccccc;
			font-size: 18px;
		}
	}
}


.popup-tariff-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	background-color: $white;
	padding: 20px 20px;
}

.popup-tariff-item {
	display: flex;
	align-items: center;

	.font-icon {
		margin-right: 2px;

		@include media-q(min, 768) {
			margin-right: 15px;
		}
			&::before {
			color: #cccccc;
			font-size: 31px;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: $f_bold;
	}
}

.popup-tariff-table {
}

.popup-tariff-table__item {
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;

	&-white {
		background-color: $white;
	}

	&__text {
		font-size: 13px;
		opacity: .8;
	}

	&__price {
		font-size: 18px;
	}
	&-white {
		background: $white;
	}
}

.popup-tariff-text {
	font-size: 13px;
	font-weight: $f_bold;
	text-align: left;
	margin-bottom: 40px;
	padding: 0 20px;
}

.popup-tariff-btn {
	width: 220px;
	background-color: #ff161e;
	outline: none;
	color: #fff;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 11px 0;
	border: 1px solid #ff161e;
	display: block;
	margin: 0 auto 15px;

	&:hover {
		background-color: #000;
		border: 1px solid #000;
	}
}

.popup-choice {
	.site-form-wrapper {
		padding: 24px;

		@include media-q(min, 768) {
		}
	}

	.fraction-wrapper {
		border-bottom: 2px solid #f6f8f9;
	}

	.popup-form-content {
		padding: 0;
		width: 100px;
		max-width: 350px;

		@include media-q(min, 768) {
			max-width: 400px;
		}
	}

	.popup-title {
		background: transparent;
		padding: 20px 20px 0 20px;
	}

	.popup-tariff-more-wrap {
		background-color: $white;
		padding-bottom: 20px;
	}

	.popup-tariff-more {
		font-size: 14px;
		opacity: .8;
		text-decoration: underline;
		position: relative;

		&::after {
			content: '';
			width: 8px;
			height: 9px;
			position: absolute;
			right: -15px;
			top: 5px;
			background: url("../img/popup-tariff-more-icon.png") no-repeat center;
			background-size: 8px 9px;
		}
	}

	.popup-tariff-group {
		margin-bottom: 0;
		padding: 20px 20px;
	}

	.input-text,
	.request {
		max-width: 300px;
		display: block;
		margin: 0 auto 15px;
	}

	.request {
		padding: 15px;
	}

	.input-wrap .font-icon {
		right: 19px;
		top: 13px;
	}
}

.popup-tariff-price {
	font-size: 14px;
	color: $black;
	margin-top: 15px;
	margin-bottom: 15px;

	span {
		font-size: 40px;
		font-weight: $f_bold;
	}
}

.section-popup-address {
	.popup-form-content {
		max-width: 350px;
	}
}

.collapse {

	font-size: 13px;
	font-family: $sans-brand;
	color: #101828;
	opacity: .7;
	padding: 5px 0 10px 0;
	border: none;
	background-color: $white;
	appearance: none;
	outline: none;
	border-radius: none;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 9px;
		border-top: 2px dashed #322f32;
		width: 70px;
		left: calc(50% - 35px);
		opacity: .7;
	}
}

.popup-tariff,
.popup-choice {
	.popup-form-content {
		width: 100%;
		max-width: 350px;

		@include media-q(min, 768) {
			max-width: 400px;
		}
	}
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 23px 0 20px;
}

label.checkbox-label {
	padding-left: 23px;
}

.checkbox + label {
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background: $white;
	transition: .2s;
	border: 1px solid #87888a;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 3px;
	width: 11px;
	height: 8px;
	transition: .2s;
	background: url("../img/checkbox-icon.png") no-repeat center;
	background-size: 11px 8px;
	font-size: 7px;
	opacity: 0;
}
.checkbox:checked + label:before {
}
.checkbox:checked + label:after {
	opacity: 1;
}
.checkbox:focus + label:before {
}

.checkbox + label,
a.form-text-ps {
	font-size: 12px;
	color: $black;
	opacity: .5;
}

.plug-button-popup {
	width: 100%;
	border-radius: 30px;
	border: none;
	outline: none;
	color: $white;
	font-weight: $f_bold;
	text-transform: uppercase;
	font-size: 15px;
	font-family: $sans-brand;
	padding: 15px;
}

//.popup-tariff {
//	.tariffs-item__content-description{
//		display: block;
//	}
//}



