.divorcio-news {
	padding-top: 33px;
	padding-bottom: 30px;
	background-color: #F3F3F3;

	.basic-title {
		margin-bottom: 35px;
	}
}

.divorcio-news-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 707px;
	margin: 0 auto;
}

.divorcio-news-item {
	flex-basis: 33.33%;
	transition: transform .2s ease;
	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		flex-basis: 16%;
		margin-bottom: 0;
	}

	&:hover {
		transform: translate(0, -5px);
	}

	img {
		margin: 0 auto;
	}
}