.offer {
	padding-top: 50px;
	padding-bottom: 65px;
	background: url("../img/offer-bg-mob.png") no-repeat left top;

	@media screen and (min-width: 768px) {
		background: url("../img/offer-bg.png") no-repeat left -30% top;
		background-size: 500px;
	}

	@media screen and (min-width: 1300px) {
		background: url("../img/offer-bg.png") no-repeat left 17% top;
		background-size: contain;
	}

	.basic-title {
		margin-bottom: 250px;

		@media screen and (min-width: 768px) {
			margin-bottom: 54px;
		}
	}
}

.offer-title {
	color: $orange;
	font-size: 24px;
	margin-bottom: 16px;
}

.offer-content {

	@media screen and (min-width: 768px) {
		width: 70%;
		margin-left: auto;
	}

	@media screen and (min-width: 1300px) {
		width: 50%;
	}

	p {
		font-size: 16px;
		margin-bottom: 30px;
	}
}