.steps {
	padding-top: 30px;

	@media screen and (min-width: 768px) {
		padding-bottom: 86px;
	}

	.basic-title {
		color: $orange;
		margin-bottom: 60px;
	}
}

.steps-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.steps-item {
	position: relative;
	width: 100%;
	margin-bottom: 52px;

	@media screen and (min-width: 768px) {
		width: 50%;
		margin-bottom: 0;
	}

	@media screen and (min-width: 940px) {
		width: 25%;
	}

	p {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.3;
		padding: 0 80px;
		text-align: center;

		@media screen and (min-width: 768px) {
			padding: 0 70px;
		}
	}

	&:hover {
		.font-icon {
			&::before {
				color: $orange;
			}
		}
	}

	&::after {
		position: absolute;
		left: calc(50% - 9px);
		top: 100%;
		font-size: 15px;
		transform: rotate(90deg);

		@extend %icon-arrows;
		@extend %font-icon;

		@media screen and (min-width: 768px) {
			left: auto;
			right: -10px;
			top: calc(50% - 29px);
			transform: none;
		}
	}
}

.steps-item-img-wrap {
	border-radius: 50%;
	width: 78px;
	height: 78px;
	position: relative;
	opacity: .9;
	margin: 0 auto;
	margin-bottom: 15px;

	.font-icon {
		position: absolute;
		right: -7px;
		top: calc(50% - 30px);
		font-size: 60px;
		opacity: .5;

		&::before {
			color: #575C6B;
			transition: color .2s ease;
		}
	}
}

.steps-item:nth-child(1) {
	.steps-item-img-wrap {
		background-color: rgba(229, 229, 229, .7);
	}
 	p {
	 color: #B7B4B4;
  }
	&::after {
		color: #575C6B;
		opacity: .7;
	}
}

.steps-item:nth-child(2) {
	.steps-item-img-wrap {
		background-color: rgba(219, 219, 219, .8);
	}
	p {
		color: #575C6B;
		opacity: .7;
	}
	&::after {
		color: #FFC300;
	}
}

.steps-item:nth-child(3) {
	.steps-item-img-wrap {
		background-color: rgba(255, 191, 0, .4);
	}
	p {
		color: #FFC300;
	}
	&::after {
		color: #FF7300;
	}
}

.steps-item:nth-child(4) {
	.steps-item-img-wrap {
		background-color: rgba(254, 175, 77, .4);
	}
	p {
		color: #FF7300;;
	}
	&::after {
		display: none;
	}
}
