//- ----------------------------------------------------------------------------
//- Put mixin's here

mixin include-svg-project-img
  include ../../img/project-img.svg

mixin include-svg-interaction-img
  include ../../img/interaction-img.svg

mixin include-svg-description-img
  include ../../img/description-img.svg

mixin include-svg-process-img
  include ../../img/process-img.svg
