//- ---------------------------------------------------------------------------
//- Variables

//- Languages
-
  var languages = [
    {
      name: 'en',
      href: '/',
      image: 'flag-us.svg'
    },
    {
      name: 'ru',
      href: 'ru.html',
      image: 'flag-ru.svg'
    },
    {
      name: 'ua',
      href: 'ua.html',
      image: 'flag-ua.svg'
    }
  ]
