section.categories-products
  .container
    if !hide_this_heading
      h2.main-title Популярные товары
    .products__group.flex
      each item in [1,2,3,4,5,6,7,8,9,10]
        .product-item
          .product-img
            img.main-img(src="img/product-img.png")
          .product-item__title Enraf Nonius Sonopuls 190
          a(href="#").product-btn.btn__dark-2 подробнее