section.categories-list
  .container
    .categories-list__group.flex
      each item in [1,2,3,4,5,6,7,8,9,10,11,12]
        a(href="#").categories-list__item
          .categories-list__img
            img.main-img-mob(src="img/categories-img.svg")
            img.main-img(src="img/categories-img.svg")
            img.main-img-hover(src="img/hero-img.png" alt="MRT")
          .categories-list__item-title Реабилитационное
