section.contact-hero
  .container
    include ../../components/breadcrumbs
    h2 Наші магазини
    .contact-hero__group.flex
      .contact-hero__item
        .contact-hero__title Номери телефону
        .contact-hero__phones.flex
          a(href="tel:+380 00 000 00 00") +380 00 000 00 00
          a(href="tel:+380 00 000 00 00") +380 00 000 00 00
          a(href="tel:+380 00 000 00 00") +380 00 000 00 00
          a(href="tel:+380 00 000 00 00") +380 00 000 00 00
      .contact-hero__item
        .contact-hero__title Графік роботи call-центру
        p З понеділка по п’ятницю
        p 10:00 - 20:00
      .contact-hero__item
        .contact-hero__title Електронна пошта
        a(href="mailto: email@gmail.com") email@gmail.com