.brands {
	margin-bottom: 80px;
	overflow: hidden;

	@include media-q(min, 1441) {
		margin-bottom: 180px;
	}

	&-item {
		&__img {
			height: 180px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 15px;

			@include media-q(min, 768) {
			}

			@include media-q(min, 1441) {
				height: 260px;
				margin-bottom: 50px;
			}

			img {
				max-width: 150px;
				transition: filter .2s ease;

				@include media-q(min, 1280) {
					filter: grayscale(100%);
				}

				@include media-q(min, 1441) {
					max-width: 200px;
				}

				@include media-q(min, 1920) {
					max-width: 300px;
				}
			}
		}

		&__title {
			text-align: center;
			font-size: 18px;
			margin-bottom: 0;

			@include media-q(min, 1441) {
				font-size: 24px;
			}
		}

		&:hover {
			img {
				filter: none;
			}
		}
	}
}