.hero-section {
  position: relative;

  &-slider {
    padding-top: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    padding-bottom: 300px;
    flex-direction: column;

    @include media-q(min, 768) {
      padding-top: 150px;
      padding-bottom: 50px;
    }

    @include media-q(min, 1024) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 180px;
      padding-bottom: 130px;
    }

    @include media-q(min, 1280) {
      padding-top: 250px;
      padding-bottom: 140px;
    }

    @include media-q(min, 1920) {
      padding-top: 337px;
      padding-bottom: 500px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: top -40% right 54%;
    background-size: cover;

    @include media-q(min, 768) {
      background-position: top right;
    }

    &-mob {
      @include media-q(min, 768) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @include media-q(min, 768) {
        display: block;
      }
    }
  }

  .btn {
    max-width: 165px;
    padding: 9px 40px;

    @include media-q(min, 768) {
      max-width: 370px;
      padding: 20px 126px;
    }
  }

  &__info {
    padding-right: 25%;

    @include media-q(min, 1280) {
      padding-left: 15%;
      padding-right: 0;
    }

    @include media-q(min, 1441) {
      padding-left: 11%;
    }
  }

  &__socials {
    margin-top: 34px;
    margin-left: 25px;

    @include media-q(min, 1024) {
      margin-top: 0;
      margin-left: 0;
    }

    a {
      margin: 0 6px;

      @include media-q(min, 1024) {
        display: block;
        margin: 0;
      }

      &:not(:last-child) {

        @include media-q(min, 1024) {
          margin-bottom: 60px;
        }
      }

      &:hover {
        .font-icon {
          &::before {
            color: $c_blue;
          }
        }
      }
    }
  }

  .font-icon {
    &::before {
      font-size: 25px;
      transition: color .2s ease;

      @include media-q(min, 1280) {
        font-size: 40px;
      }

      @include media-q(min, 1441) {
        font-size: 50px;
      }
    }
  }
}

.hero-section-slider {
  margin-top: -121px;
  position: relative;

  .slick-dots {
    display: none !important;

    @include media-q(min, 1280) {
      top: 60%;
      position: absolute;
      left: 6%;
      display: block !important;
      transform: translateY(-50%);
      margin-top: 0;
    }

    @include media-q(min, 1920) {
      top: 45%;
    }

    li {
      position: relative;
      margin-bottom: 30px;

      button {
        @extend %reset-button;
        font-size: 24px;
        height: auto;
        color: #BAD2E5;
        background: transparent;

        @include media-q(min, 1441) {
          font-size: 36px;
        }
      }

      &:hover,
      &.slick-active {
        button {
          font-size: 36px;
          color: $c_green;

          @include media-q(min, 1441) {
            font-size: 48px;
          }

          &::after {
            content: '';
            position: absolute;
            right: calc(100% + 10px);
            top: 50%;
            width: 45px;
            height: 1px;
            background-color: $c_green;
          }
        }
      }
    }
  }

  .slick-dots li button::before {
    content: "0";
  }

  .slick-dots li:nth-child(n + 10) button::before {
    content: none;
  }
}