.hits-section {
	h2 {
		margin-bottom: 18px;
	}

	&::before {
		display: none !important;
	}

	&::after {
		top: 80%;
	}
}

.similar-products {
	padding-bottom: 100px;
	background: url(../img/similar-products-bg-mob.png) no-repeat center bottom -18%;
	background-size: contain !important;

	@include media-q(min, 768) {
		padding-bottom: 180px;
		background: url(../img/similar-products-bg.png) no-repeat center bottom -15%;
	}

	@include media-q(min, 1280) {
		background: url(../img/similar-products-bg.png) no-repeat center bottom -60%;
	}

	@include media-q(min, 1441) {
		background: url(../img/similar-products-bg.png) no-repeat center bottom -30%;
	}

	@include media-q(min, 1920) {
		background: url(../img/similar-products-bg.png) no-repeat center bottom -70%;
	}

	h2 {
		color: $c_blue;

		@include media-q(min, 768) {
			text-align: left;
		}
	}

	&::before,
	&::after {
		display: none !important;
	}
}