.quick-order {
	background: url("../img/quick-order-bg-mob.jpg") no-repeat center;
	background-size: cover !important;
	padding-top: 60px;
	padding-bottom: 80px;

	@include media-q(min, 768) {
		background: url("../img/quick-order-bg.jpg") no-repeat center;
		padding-bottom: 60px;
	}

	h2 {
		color: $white;
		margin-bottom: 30px;
		padding: 0 22px;

		@include media-q(min, 768) {
			padding: 0;
			margin-bottom: 35px;
		}
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		color: $c_green;
		letter-spacing: 2px;
		margin-bottom: 35px;

		@include media-q(min, 1441) {
			font-size: 30px;
			margin-bottom: 75px;
		}
	}

	.btn {
		width: 100%;

		@include media-q(min, 768) {
			max-width: 560px;
		}
	}
}