section.chemical-composition
  .container
    .chemical-composition__title Химический состав
    .chemical-composition__group.flex
      .chemical-composition__img
        img(src="img/chemical-table.png" alt="химический состав")
      .chemical-composition__info
        p HCO3 ~ 50,34 мг/л
        p Cl ~ 52,78 мг/л
        p SO4 ~ 10,62 мг/л
        p F ~ 0,15 мг/л
        p Са ~ 13,1 мг/л
        p Mg ~ 7,9 мг/л
        p Na ~ 30,5 мг/л
        p K ~ 1,56 мг/л
        p B ~ 0,02 мг/л
        p Fe ~ 0,001 мг/л
        p Li ~ 0,001 мг/л
        p Mn ~ 0,003 мг/л
        p I ~ 0, 009 мг/л