section.product-tabs.js-tabs
  .container
    .product-tabs__sticky
      .product-tabs__nav.flex.js-tabs__nav
        each item, index in product_tabs
          button.product-tabs__nav-item.js-tabs__nav-item(class=index === 0 ? 'active' : '')=item.title
    .product-tabs__content
      each item, index in product_tabs
        if index === 0
          .product-tabs__content-item.active.js-tabs__content
            p #[span Smeraldina] – смарагдова вода, живильна волога, яку добувають з унікального артезіанського джерела на околицях містечка Темпіо-Паусанія (Tempio Pausania) у провінції Ольбія-Темпіо на півночі Сардинії – острова в Середземному морі, який називають островом довгожителів.
            p Ця унікальна вода виходить на поверхню в серці гірського масиву Лімбара біля підніжжя гори Бога (Monte di Deu), піднімаючись крізь гранітні ґрунти з водоносного шару на глибині більш як 300 метрів. Температура води в джерелі постійна – 15,5 °С. Його теруар неповторний. Він розташовується в регіоні з надзвичайно чистою природою, дуже низьким рівнем урбанізації, далеко від яких-небудь джерел промислового забруднення.
            p Лінії розливу мінеральної води Smeraldina за міжнародною класифікацією належать до категорії Ultraсlean (надчисті, стерильні). Це ретельно організований виробничий цикл, сертифікований за системою управління якістю ISO 9001, системою екологічного менеджменту ISO 14001 і системою менеджменту в сфері промислової безпеки OHSAS 18001. Smeraldina – вода з неймовірними органолептичними властивостями, якість якої в процесі розливу проходить більш ніж сто щодобових перевірок.
            p Як вода преміум-класу Smeraldina досить молода – її випуск розпочали в 1985 році, однак вона вже є одним із найтитулованіших світових брендів. Smeraldina двічі опинялася в десятці кращих мінеральних вод світу за версією престижного американського журналу Gayot. Навесні 2019 року Smeraldinа, обійшовши 110 конкурентів, стала переможницею 29 міжнародного конкурсу Berkeley Springs International Water Tasting Competition.
            .product-tabs__label.flex
              include ../../../img/product-tabs-label.svg
              | Smeraldina, 0, 5 л, вода мінеральна негазована, скло
        if index === 1
          .product-tabs__content-item.js-tabs__content
            .product-tabs__characteristic-group.flex
              each item in product_tabs_characteristic
                .product-tabs__characteristic-item
                  .product-tabs__characteristic-img
                    img(src='img/'+item.img + '.svg' alt=item.title)
                  .product-tabs__characteristic-info=item.title + ':'
                    span=item.info
        if index === 2
          .product-tabs__content-item.js-tabs__content
            .product-tabs__delivery.flex
              .product-tabs__delivery-item
                .product-tabs__delivery-title Робочі години:
                .product-tabs__delivery-time.flex
                  include ../../../img/time-icon.svg
                  span 9:00 - 18:00 (ПН - ПТН)
                p Доставка здійснюється нашими кур'єрами по Києву. Відправлення в інші міста здійснюються за тарифами "Нової Пошти" до найближчого відділення.
              .product-tabs__delivery-item
                .product-tabs__delivery-title Способи оплати:
                p карткою Visa та MasterCard (онлайн) готівкою при отриманні за безготівковим рахунком
                p #[span УВАГА!] Шановні клієнти, знижка розповсюджується на вартість товару, і не розповсюджується на вартість доставки.
        if index === 3
          .product-tabs__content-item.js-tabs__content
            .product-tabs__reviews-slider
              each item in [1,2,3,4]
                .product-tabs__reviews-item
                  .product-tabs__reviews-content.flex
                    .product-tabs__reviews-content-item
                      include ../../../img/quotes-icon.svg
                      .product-tabs__reviews-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      .product-tabs__reviews-text Cras in facilisi donec ullamcorper dolor arcu a pellentesque consectetur. Felis, fusce senectus pharetra, adipiscing potenti eget libero, etiam purus. Tristique scelerisque malesuada aenean cursus amet.
                    .product-tabs__reviews-content-item.second
                      .product-tabs__reviews-img
                      .product-tabs__reviews-name Lorem ipsum
