section.catalog-list
  .container
    .filters-wrap
      include ../catalog-page/catalog-sidebar-main
      .catalog-list__wrap
        .catalog-list__title Вода & Напитки
        .catalog-list__products
          each item, index in product_list
            .product-item
              .product-item__img
                img(src='img/' + item.img + '.png' alt=item.title)
              a(href="#").product-item__title=item.title
              p.product-item__price=item.price
              .product-item__price-group
                span=item.count_for_one + 'шт. в уп.'
                span=item.price_for_one + 'грн'
              button.btn
                i.font-icon-cart
                | в корзину
              a.btn.btn-secondary(href="#") ПОДРОБНЕЕ
              if index == 1
                .product-item__label
                  include ../../../img/new-label.svg
              if index == 5
                .product-item__label
                  include ../../../img/sale-label.svg
      a(href="#").show-before-tablet.catalog-list__btn Показать еще