section.standart-hero
  .container
    include ../../components/breadcrumbs
    h1 Каталог
    .standart-hero__tabs
      a(href="#").standart-hero__item.active Вода &  Напитки
      a(href="#").standart-hero__item Чай