.section-first-screen {
	background: no-repeat center #f9fafa;
	background-size: cover;
	padding-top: 46px;
	padding-bottom: 12px;
	position: relative;

	.section-first-screen-img {
		position: absolute;
		content: '';
		bottom: -7%;
		left: calc(50% - 161.5px);
		right: 0;
		width: 283px;
		height: 251px;
		background: url("../img/first-screen-img.png") no-repeat center;
		background-size: 283px 251px;
		display: none;

		@include media-q(min, 768) {
			display: block;
		}
	}

  @include media-q(min, 768) {
  }

	.container {

    @include media-q(min, 1024) {
      display: flex;
    }
	}
}

@-webkit-keyframes swing {
	15% {
		-webkit-transform: translateX(9px);
		transform: translateX(9px);
	}
	30% {
		-webkit-transform: translateX(-9px);
		transform: translateX(-9px);
	}
	40% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	50% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	65% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes swing {
	15% {
		-webkit-transform: translateX(9px);
		transform: translateX(9px);
	}
	30% {
		-webkit-transform: translateX(-9px);
		transform: translateX(-9px);
	}
	40% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	50% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	65% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.swing:hover {
	-webkit-animation: swing 0.6s ease;
	animation: swing 0.7s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.first-screen-wrap {
  margin-bottom: 42px;

  @include media-q(min, 1024) {
  	margin-bottom: 0;
  }
}

.first-screen-left {
	display: flex;
	flex-direction: column;
	max-width: 785px;
	padding-top: 11px;
	text-align: center;

	@include media-q(min, 768) {
		padding-top: 11px;
		text-align: left;
	}
}

.first-screen-title {
	font-size: 38px;
	font-family: "Roboto Condensed";
	color: #141516;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 29px;
	font-weight: 700;

		span {
		color: #4c9ef1;
		background: #fff;
		font-size: 16px;
		padding: 12px 50px;
		box-shadow: 0 8px 4px -4px rgba(0, 0, 0, .1);
		border-radius: 0 10px 0 10px;
		transition: border-radius .3s ease;

		&:hover {
			border-radius: 10px 0 10px 0;
		}
	}

	@include media-q(min, 768) {
		font-size: 48px;
		margin-bottom: 49px;

		span {
			font-size: 20px;
		}
	}
}

.first-screen-group {
	display: flex;
	flex-wrap: wrap;
	width: 342px;
	margin-bottom: 29px;

	@include media-q(min, 768) {
		width: 420px;
		margin-bottom: 0;
	}
}

.first-screen-group-item {
	width: 171px;
	margin-bottom: 20px;

	&:hover {
		.first-screen-img-wrap {
			transform: scale(.9);

			&::before {
				border-top-color: #4c9ef1; // Show borders
				border-right-color: #4c9ef1;
				border-bottom-color: #4c9ef1;

				transition:
					border-top-color 0.15s linear, // Stagger border appearances
					border-right-color 0.15s linear 0.10s,
					border-bottom-color 0.15s linear 0.20s;
			}

			&::after {
				border-top: 2px solid #4c9ef1; // Shows border
				border-left-width: 2px; // Solid edges, invisible borders
				border-right-width: 2px; // Solid edges, invisible borders
				transform: rotate(270deg); // Rotate around circle
				transition:
					transform 0.4s linear 0s,
					border-left-width 0s linear 0.35s; // Solid edge post-rotation
			}
		}
	}
}

.first-screen-img-wrap {
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	margin-bottom: -4px;
	position: relative;
	margin-left: -19px;
	transition: transform .2s ease;
	margin: 0 auto;

	&::before,
	&::after {
		top: 0;
		left: 0;
		box-sizing: inherit;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&::before {
		border: 2px solid transparent; // We're animating border-color again
	}

	&::after {
		border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
	}

	@include media-q(min, 768) {
		margin: 0;
	}
}

.circle {
	border-radius: 100%;
	box-shadow: none;

	&::before,
	&::after {
		border-radius: 100%;
	}
}

.first-screen-item-img {
	display: block;
	margin: 0 auto;
}

.first-screen-item-text {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.3;
}

.mvt-form-wrapper {
	padding-bottom: 5px;
	text-align: center;
	background: #292c2e;
	margin: 0 auto 34px;
	border-radius: 10px;
	padding-bottom: 25px;

  @include media-q(min, 768) {
    width: 370px;
		margin-left: 83px;
  }

  .mvt-form-top {
		padding: 28px 17px 4px;
  	position: relative;
  }

	.mvt-form-title {
		font-family: "Roboto Condensed";
		font-size: 26px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 10px;
		line-height: 1.2;
	}

	.mvt-form-text {
		font-size: 15px;
		color: #fff;
		padding: 0 25px;
    margin-bottom: 5px;
    line-height: 1.2;

    @include media-q(min, 768) {
      margin-bottom: 5px;
    }
	}

	.mvt-form-text-ps {
		font-size: 13px;
		color: #fff;
		font-weight: 300;
    padding: 0 23px;
    margin-bottom: 12px;
    margin-left: 13px;
		text-align: left;

    a {
      color: #fff;
      height: 30px;
      border-bottom: 1px solid #8d9396;
    }
	}

	.mvt-form {
		@include media-q(min, 768) {
			padding: 14px 17px 0;
		}

		.form-errors-cont {
			color: red;
			border-top: 2px solid red;
			border-bottom: 2px solid red;
		}

		input,
		select {
			font-size: 14px;
			color: #000;
			background: #f0f4f7;
			padding: 15px 21px;
			margin-bottom: 8px;
			border-radius: 5px;
			border: none;
	    letter-spacing: -0.9px;
	    outline: none;
			border-bottom: 2px solid transparent;
			width: 260px;

			@include media-q(min, 768) {
        width: 300px;
				padding: 13px 21px;
			}

			@include media-q(min, 1024) {
				// margin-left: 0;
				// margin-right: 0;
				// width: 303px;
			}

			&::placeholder {
				color: #000;
			}

			&:focus {
				border-bottom-color: #ffc82e;
			}
		}

		.request {
			font-size: 15px;
			color: #fff;
			text-transform: uppercase;
			padding: 13px;
			//background: linear-gradient( #fdd549, #ff9207);
			border-bottom: none;
			font-weight: 600;
			margin-top: 7px;
      margin-bottom: 8px;
      width: 300px;
			background: linear-gradient(180deg, #fdd549, rgba(255, 0, 0, 0)), #ff9207;
			transition: background 2s;

			&:hover {
				background: linear-gradient(180deg,  #ff9207, rgba(255, 0, 0, 0)),  #fdd549;
				transition: background 2s;
			}

			&:focus {
				border-bottom-color: transparent;
			}
		}
	}
}

.form-errors-cont {
	display: none;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: red;
	opacity: .9;
}