.section-popup-form {
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;

	.mvt-form-wrapper {
		background: #fff;
		margin: 0 auto;
		width: 300px;
		padding: 0;

		@include media-q(min, 768) {
			width: 500px;
			padding: 20px;
		}

		.input-text {
			width: 300px;
			background: no-repeat 3% #f0f4f7;
			padding-left: 50px;

			@include media-q(min, 768) {
				width: 400px;
			}
		}

		.input-detals {
			background-size: 23px 16px;
		}
		.input-scooter {
			background-size: 21px 17px;
		}
		.input-phone {
			background-size: 17px 17px;
		}
	}

	.mvt-form-text-ps {
		color: #000;
		text-align: center;

		a {
			color: #000;
		}
	}
}
.section-popup-form {
	.opened-popup-form & {
		display: block;
	}
}

.popup-wrap {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.popup-overlaw {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	cursor:pointer;

	&:hover {
		opacity: 0.4;
	}
}

@keyframes fadeInDown {
	from {
		transform: translateY(-15px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.popup-form-content {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	animation: fadeInDown .3s ease;
	animation-fill-mode: both;
	padding: 10px 0 30px 0;
	margin-top: 180px;
	width: 340px;
	text-align: center;
	background: #fff;
	border: 7px solid #b4d7ff;
	border-radius: 7px;

	@include media-q(min, 768) {
		width: 700px;
		padding: 0 0 0 0;
	}
}


.popup-close-icon {
	position: absolute;
	background: url(../img/popup-close-icon.png) no-repeat center;
	right: -3px;
	top: -50px;
	background-size: 33px 33px;
	width: 33px;
	height: 33px;
	display: block;
	border: none;

	@include media-q(min, 768) {
		right: -43px;
		top: -50px;
	}
}


.popup-form-title {
	font-family: "Roboto Condensed";
	font-size: 22px;
	font-weight: 700;
	color: #608ace;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 10px;

	@include media-q(min, 768) {
		font-size: 35px;
	}
}

.popup-form-text {
	font-size: 10px;
	color: #000;
	padding: 0 30px;
	margin-bottom: 20px;

	@include media-q(min, 768) {
		font-size: 15px;
		padding: 0 180px;
		margin-bottom: 0;
	}
}

