.section-map {
	background: #fff;

	.container {
		display: flex;
		flex-direction: column;

		@include media-q(min, 768) {
			flex-direction: row;
		}
	}
}

.map-item {
	width: 100%;

	@include media-q(min, 768) {
		width: 50%;
	}
}

.map-wrap {
	position: relative;
	min-height: 500px;
}

.map {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;

	@include media-q(min, 768) {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: auto;
		width: 50vw;
	}
}

.map-title {
	font-family: "Roboto Condensed";
	font-size: 26px;
	font-weight: 700;
	color: #608ace;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .9px;
	margin-bottom: 48px;

	@include media-q(min, 768) {
		font-size: 30px;
	}
}

.map-content {
	padding-top: 45px;

	@include media-q(min, 768) {
		padding-top: 104px;
	}
}

.map-item-group {
	margin-left: 50px;

	@include media-q(min, 768) {
		margin-left: 150px;
	}
}

.map-tel-wrap {
	display: block;
}

.map-text {
	font-size: 16px;
	position: relative;
	margin-bottom: 24px;
	padding-right: 82px;
	line-height: 1.4;

	&::before {
		content: '';
		position: absolute;
		left: -35px;
		top: 5px;
		background: no-repeat center;
	}
}

.map-tel {
		font-weight: 600;
		font-size: 22px;
		display: block;
		text-transform: uppercase;


	&::after {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50%;
		height: 2px;
		background-color: #000;
		content: "";
		transition: transform .3s ease-out;
		transform: scaleX(0);
		transform-origin: left;
	}

	&:hover,
	&:focus {
		&::after {
			transform: none;
		}
	}

	&::before {
		width: 15px;
		height: 23px;
		background-size: 15px 23px;
		background-image: url("../img/map-tel-icon.png");
	}
}

.map-address {
	&::before {
		width: 15px;
		height: 23px;
		background-size: 15px 23px;
		background-image: url("../img/map-address-icon.png");
	}
}

.map-time  {
	&::before {
		width: 19px;
		height: 15px;
		background-size: 19px 15px;
		background-image: url("../img/map-time-icon.png");
	}
}