.section-delivery {
	padding-top: 82px;
	background: #fff;
	padding-bottom: 57px;

	h2.title {
		margin-bottom: 12px;
	}

	h2.title::before {
		left: 18%;
	}
	h2.title::after {
		right: 18%;
	}
}

.delivery-text {
	font-size: 15px;
	text-align: center;

	span {
		font-weight: 700;
	}
}

.delivery-top-text {
	margin-bottom: 38px;
}

.delivery-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 26px;
}

.delivery-item {
	flex-basis: 370px;
	background: no-repeat bottom right #608ace;
	border: 6px solid #dbecff;
	position: relative;
	padding-top: 120px;
	padding-bottom: 41px;
	margin-bottom: 29px;

	@include media-q(min, 768) {
		margin-bottom: 0;
	}


		&::before,
	&::after {
		box-sizing: inherit;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}

	transition: color 0.25s;

	&::before,
	&::after {
		border: 2px solid transparent;
		width: 0;
		height: 0;
	}

	&::before {
		top: 0;
		left: 0;
	}

	&::after {
		bottom: 0;
		right: 0;
	}

	&:hover {
		color: #000;
		border: 6px solid transparent;
	}

	&:hover::before,
	&:hover::after {
		width: 100%;
		height: 100%;
	}

	&:hover::before {
		border-top-color: #292c2e;
		border-right-color: #292c2e;
		transition:
						width 0.25s ease-out,
						height 0.25s ease-out 0.25s;
	}

	&:hover::after {
		border-bottom-color: #292c2e;
		border-left-color: #292c2e;
		transition:
						border-color 0s ease-out 0.5s,
						width 0.25s ease-out 0.5s,
						height 0.25s ease-out 0.75s;
	}

	.delivery-item-check {
		position: absolute;
		content: '';
		width: 76px;
		height: 64px;
		background: url("../img/delivery-check.png") no-repeat center;
		background-size: 76px 64px;
		left: calc(52% - 38px);
		top: 13%;
	}
}

.delivery-item-title {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 58px;
	position: relative;
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		width: 70px;
		height: 1px;
		background: #292c2e;
		bottom: -25px;
		left: calc(50% - 35px);
	}
}

.delivery-item-text {
	font-size: 15px;
	font-weight: 600;
	position: relative;
	color: #fff;
	position: relative;
	text-align: left;
	margin-left: 36%;
	margin-bottom: 15px;

	span {
		font-weight: 400;
		text-transform: uppercase;
	}

	&::after {
		position: absolute;
		left: -34px;
		top: 0;
		bottom: 0;
		background: no-repeat center;
		content: '';
	}
}

.delivery-item-way {
	&::after {
		background-image: url("../img/delivery-way.png");
		width: 26px;
		height: 19px;
		background-size: 26px 19px;
	}
}

.delivery-item-term {
	&::after {
		background-image: url("../img/delivery-term.png");
		width: 22px;
		height: 22px;
		background-size: 22px 22px;
	}
}

.delivery-bottom-text {
	letter-spacing: 0.2px;
}