section.section-advantages#advantages
	.container
		h2.title Преимущества <br>мягких резервуаров
		.advantages-group
			.advantages-item
				i.font-icon.icon-advantages-01
				h4.advantages-item-title Компактность <br>и малый вес
				p.advantages-item-text Малый транспортный вес и габариты в упакованном виде
			.advantages-item
				i.font-icon.icon-advantages-02
				h4.advantages-item-title Доставка в отдаленные <br>места
				p.advantages-item-text А так же на труднодоступные объекты любым видом транспорта
			.advantages-item
				i.font-icon.icon-advantages-03
				h4.advantages-item-title Быстрый <br>монтаж
				p.advantages-item-text Отсутствие необходимости применения тяжелой спец. техники и подготовки фундамента
			.advantages-item
				i.font-icon.icon-advantages-04
				h4.advantages-item-title Готовность к эксплуатации <br>за 15 минут
				p.advantages-item-text Организация склада в 10 000 м³ за 1 день
			.advantages-item
				i.font-icon.icon-advantages-05
				h4.advantages-item-title Длительный срок <br>службы
				p.advantages-item-text Отсутствие коррозии, инертность к хранимой жидкости
			.advantages-item
				i.font-icon.icon-advantages-06
				h4.advantages-item-title Многоразовое <br>использование
				p.advantages-item-text С сохранением всех эксплуатационных свойств