section.section-popup-form.section-popup-request.js-popup-request
	.popup-wrap
		.popup-overlay
		.popup-form-content
			button.popup-close-icon
			.first-screen-form-wrapper
				.first-screen-form-top
					.first-screen-form-text  Наш менеджер перезвонит Вам в течении 5 минут и ответит на все вопросы
				form.first-screen-form.js-form-submit
					input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
					input.input-text.input-name(type="text" placeholder='ФИО:')
					input.input-text.input-phone(type="text" placeholder='Телефон:')
					input.request.yandex-metrika-event(type="submit" value='заказать звонок' data-goal='zakazat-zvonok-2')
					.form-errors-cont
				.first-screen-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих
					a(href="#")  персональных данных.

