section.section-payment
	.container
		h2.title получите расчет стоимости
		.payment-subtitle Дешевле рынка в течении 1 дня
		.payment-group
			.payment-left
				.payment-left-title  Почему у нас на  #[span 10%] ниже рыночной<br>
				.payment-left-title  стоимости:
				.payment-left-list
					.payment-left-item
						i.font-icon.icon-payment-check
						p Нам удалось оптимизировать производственные процессы, минимизировать расходы,благодаря богатому опыту и  #[span специализации на тканях ПВХ/ТПУ].
					.payment-left-item
						i.font-icon.icon-payment-check
						p За счет постоянных заказов мы получаем #[span скидки на поставку стройматериалов].
					.payment-left-item
						i.font-icon.icon-payment-check
						p #[span Собственное производство и штат]  сотрудников с опытом работы от 5 лет.
					.payment-left-item
						i.font-icon.icon-payment-check
						p По сравнению с нашими конкурентами, у нас #[span приземлённые аппетиты].
			.first-screen-form-wrapper
				.first-screen-form-top
					.first-screen-form-title Укажите размер ангара
					.first-screen-form-text #[span и получите цену и сроки] <br>в течении 1 дня

				form.first-screen-form.js-form-submit
					| <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
					input.input-text.input-name(type="text" placeholder='ФИО:')
					input.input-text.input-phone(type="text" placeholder='Телефон:')
					input.input-text.input-email(type="text" placeholder='Электронная почта:')
					input.input-text.input-size(type="text" placeholder='Размер:')
					select.input-text.input-use
						option(value='') Сфера применения:
						option(value='сфера1') сфера1
						option(value='сфера2') сфера2
					input.request.yandex-metrika-event(type="submit" value='расчитать стоимость' data-goal='otpravit-centr')
					.form-errors-cont
				.first-screen-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих
					a(href="#")  персональных данных.