section.section-angar#angar
	.container
		h2.title наши видео
		.section-angar-slider
			each item in [1,2]
				.section-angar-slide-wrap
					.section-angar-slide-content
						.angar-item
							<iframe width="770" height="450" src="https://www.youtube.com/embed/LoGqKsjTwR4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						.angar-text Монтаж мягкого резервуара
