section.section-portfolio#portfolio
	.container
		h2.title наши реализованные <br>объекты
		.section-result-slider
			each item in [1,2]
				.section-result-slide-wrap
					.section-result-slide-content
						.portfolio-item
							h4.portfolio-item-title ООО «РЕГИОНИПЭКС»
							.portfolio-content
								.portfolio-photo-cont
									.portfolio-photo(style='background-image: url(../img/portfolio-img.jpg) ;')
									.portfolio-photo-group
										a.portfolio-photo-item.active(href='img/portfolio-item-img-01.jpg' style='background-image: url(../img/portfolio-item-img-01.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-img.jpg' style='background-image: url(../img/portfolio-img.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-item-img-03.jpg' style='background-image: url(../img/portfolio-item-img-03.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-item-img-04.jpg' style='background-image: url(../img/portfolio-item-img-04.jpg) ;')
										a.portfolio-photo-item(href='img/portfolio-item-img-05.jpg' style='background-image: url(../img/portfolio-item-img-05.jpg) ;')
								.portfolio-info
									.portfolio-slide-subtitle #[span Место утановки: ]  Вахтовый поселок<br> Сабетта 110 км.
									.portfolio-slide-subtitle #[span Назначение:]  для хранения дизельного<br> топлива
									.portfolio-info-item
										.portfolio-info-title Запуск производства
										.portfolio-info-text 03.04.2020
									.portfolio-info-item
										.portfolio-info-title Окончание производства
										.portfolio-info-text 07.04.2020
									.portfolio-info-item
										.portfolio-info-title Дата монтажа
										.portfolio-info-text 14500х15000х1.5
									.portfolio-info-item
										.portfolio-info-title размеры (ДхШхВ)
										.portfolio-info-text 250 v

		a(href="#").section-result-button посмотреть все реализованные объекты