-
	var reviews_items = [
		{
			img: 'img/reviews-01.jpg',
			text: 'ООО «ГК Сервисные и Промышленные Активы»',
		},
		{
			img: 'img/reviews-02.jpg',
			text: 'Отзыв от Администрации городского округа «посёлок Палана»',
		},
		{
			img: 'img/reviews-03.jpg',
			text: 'Отзыв от \n' +
							'ООО «АГК-ДИКСОН»',
		},
		{
			img: 'img/reviews-04.jpg',
			text: 'Отзыв от ООО \n' +
							'«Ферронордик ТД»',
		}
	];

section.section-reviews#reviews
	.container
		h2.title Отзывы компаний
		.section-reviews-slider
			each item in [1,2]
				each item in reviews_items
					.reviews-slider-wrap
						a.reviews-item-wrap.slick-slide(href=item.img)
							img.reviews-item(src=item.img alt='отзыв')
						p.reviews-item-text=item.text

		