section.section-application#application
	.container
		h2.title применение
		.application-group
			.application-item
				i.font-icon.icon-application-fuel
				h4.application-item__title СКЛАДЫ ТОПЛИВА И ГСМ
			.application-item
				i.font-icon.icon-application-oil
				h4.application-item__title ДЛЯ <br>НЕФТЕПРОДУКТОВ
			.application-item
				i.font-icon.icon-application-acid
				h4.application-item__title ДЛЯ УДОБРЕНИЙ <br>И КИСЛОТЫ
			.application-item
				i.font-icon.icon-application-water
				h4.application-item__title ДЛЯ ВОДЫ