section.section-map#map
	.section-contact-map
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7a6569be4d28075fa59d3c5ab4d799f17d21a6718fef77249df7afdd104fed44&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
	.section-map-cont
		.first-screen-form-wrapper
			.first-screen-form-top
				.first-screen-form-title Получите расчет
				.first-screen-form-text  #[span на 10% ниже] <br> от рыночной стоимости

			form.first-screen-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-name(type="text" placeholder='ФИО:')
				input.input-text.input-phone(type="text" placeholder='Телефон:')
				input.input-text.input-email(type="text" placeholder='Электронная почта:')
				input.input-text.input-size(type="text" placeholder='Размер:')
				select.input-text.input-use
					option(value='') Сфера применения:
					option(value='сфера1') сфера1
					option(value='сфера2') сфера2
				input.request.yandex-metrika-event(type="submit" value='расчитать стоимость' data-goal='otpravit-niz')
				.form-errors-cont
			.first-screen-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих
				a(href="#") персональных данных.


