section.section-contacts#contacts
	.container
		h2.title наши контакты
		.contacts-group
			.contacts-item
				i.font-icon.icon-contacts-location
				.contacts-item-text г.Тольятти, ул. Юбилейная 31-И офис 2
			.contacts-item
				i.font-icon.icon-contacts-phone
				a(href="tel: 8 (800) 201-07-65").contacts-item-text
					b 8 (800) 201-07-65
			.contacts-item
				i.font-icon.icon-contacts-mail
				a(href="mailto: info@tankerst.ru").contacts-item-text info@tankerst.ru