section.section-popup-thanks
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				.popup-thanks-img
					img(src="img/drop-img.png")
				h2.popup-form-title Спасибо за заявку!
				p.popup-form-text Наш менеджер свяжетсяс Вами <br>в течении 5 минут