.under-first-screen
	.container
		.under-first-screen-group
			.under-first-screen-item
				i.font-icon.icon-header-check
				.under-item-text Собственное производство
			.under-first-screen-item
				i.font-icon.icon-header-check
				.under-item-text Организация доставки и монтажа
			.under-first-screen-item
				i.font-icon.icon-header-check
				.under-item-text 30% клиентов приходят <br>по рекомендации
			.under-first-screen-item
				i.font-icon.icon-header-check
				.under-item-text Срок производства до 5 дней
			.under-first-screen-item
				i.font-icon.icon-header-check
				.under-item-text Любая форма <br>оплаты
			.under-first-screen-item
				i.font-icon.icon-header-check
				.under-item-text Лучшее качество по низким ценам