section.section-sertificates#sertificates
	.container
		h2.sertificates-title Сертификаты и документы
		.section-sertificates-slider
			each item in [1,2, 3]
				a(href="img/sertificates-01.jpg").sertificates-item-wrap
					img.sertificates-item(src="img/sertificates-01.jpg", alt="")
				a(href="img/sertificates-02.jpg").sertificates-item-wrap
					img.sertificates-item(src="img/sertificates-02.jpg", alt="")
				a(href="img/sertificates-03.jpg").sertificates-item-wrap
					img.sertificates-item(src="img/sertificates-03.jpg", alt="")
				a(href="img/sertificates-04.jpg").sertificates-item-wrap
					img.sertificates-item(src="img/sertificates-04.jpg", alt="")


