section.section-objects-main.grey-background
	.container
		.objects-main-wrap
			each item in [1,2,3,4,5,6]
				a.slick-slide-wrap(href="img/home-objects-00.jpg" data-caption='Подъемный стол на 1000кг')
					.slick-slide-content
						.home-objects-image-wrap
							img.home-objects-image(src='img/home-objects-00.jpg' alt='Подъемный стол на 1000кг')
						.home-objects-data
							p.home-objects-title подъемный стол на 1000кг
							.home-objects-info
								p Город Москва
								p Магазин Магнит
								p Базовая отделка платформы и калитки, высота подъема 1,2 м
							p.home-objects-cost Цена: #[span 235 000 руб.]



