.brands {
	background: url("../img/brands-bg.jpg") no-repeat center;
	padding-top: 58px;
	padding-bottom: 80px;
	background-size: cover;

	@media only screen and (min-width: 768px) {
		padding-bottom: 25px;
	}

	.section-title {
		color: $white;
		&::after {
			display: none;
		}
	}

	.sub-title {
		font-weight: 600px;
		font-size: 18px;
		color: $c_yellow;
		font-family: $sans-open;
		margin-bottom: 50px;
	}

	.site-btn {
		padding-right: 36px;
		padding-left: 36px;
		width: 100%;

		@media only screen and (min-width: 768px) {
			width: auto;
			font-size: 14px;
		}

		@media only screen and (min-width: 1140px) {
			font-size: 17px;
		}
	}

	.mokap {
		margin-top: 42px;
		margin-bottom: 42px;
		width: 240px;
		margin-left: 40px;

		@media only screen and (min-width: 768px) {
			margin-top: -48px;
			margin-bottom: 42px;
			width: auto;
			margin-left: 0;
		}
	}
}

.brands-wrap {

	@media only screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}

	@media only screen and (min-width: 1140px) {
		align-items: flex-start;
	}
}

.brands-item {

	@media only screen and (min-width: 768px) {
		width: 50%;
	}

	@media only screen and (min-width: 1024px) {
		width: auto;
	}

	p {
		text-align: center;
		color: $white;
		font-family: $sans-roboto;
	}
}

.brands-icons-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.brands-icons-item {
	flex-basis: 44%;
	margin-bottom: 45px;
	margin-right: 10px;
	margin-left: 10px;
	display: flex;
	justify-content: center;

	@media only screen and (min-width: 768px) {
		flex-basis: 50%;
		margin-left: 0;
		margin-right: 0;
	}

	@media only screen and (min-width: 1024px) {
		flex-basis: 34%;
	}

	@media only screen and (min-width: 1140px) {
		flex-basis: 25%;
	}
}