.collections {
	padding-top: 60px;
	padding-bottom: 60px;
	background: url("../img/collections-bg.png") no-repeat right bottom #eef0f4;
	background-size: 1000px;

	.section-title {
		max-width: 440px;
		margin-bottom: 77px;
	}
}

.collections-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media only screen and (min-width: 768px) {
		padding: 0 60px;
	}

	@media only screen and (min-width: 1024px) {
		padding: 0;
	}

	@media only screen and (min-width: 1200px) {
		justify-content: space-between;
	}
}

.collections-item {
	width: 270px;
	margin-bottom: 60px;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;

	@media only screen and (min-width: 1200px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.collections-item-img-wrap {
	width: 270px;
	margin-bottom: 20px;
}

.collections-item-title {
	color: $c_brown;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
}

.collections-btn {
	width: 100%;
}