.cooperation {
	padding-top: 66px;
	padding-bottom: 70px;
	background: url("../img/cooperation-bg.jpg") no-repeat center;
	background-size: cover;
	color: $white;

	.container {

		@media only screen and (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	.section-title {
		color: $white;
		max-width: 620px;
		margin-bottom: 85px;

		&::after {
			display: none;
		}
	}
}

.cooperation-form {
	border: 1px solid #6e6d6c;
	padding: 20px;
	margin-top: 20px;

	@media only screen and (min-width: 768px) {
		padding: 66px 40px;
	}
}

.form-choose {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: 17px;
		top: calc(50% - 10px);
		width: 8px;
		height: 10px;
		background: url("../img/arrow-small.png") no-repeat  center;
		background-size: 10px 8px;
	}
}

.cooperation-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;

	@media only screen and (min-width: 768px) {
		margin-bottom: 0;
	}
}

.cooperation-item {
	.font-icon {
		&::before {
			font-size: 70px;
			color: $c_yellow;
			margin-bottom: 20px;
		}
	}

	p {
		font-size: 14px;
		font-family: $sans-open;
		color: $c_yellow;
		line-height: 1.6;

		@media only screen and (min-width: 768px) {
			font-size: 18px;
		}

			span {
			color: $white;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}