.fr-screen {
	margin-top: -300px;
	padding-top: 300px;
	padding-bottom: 40px;
	background: url("../img/fr-screen-bg.jpg") no-repeat center;
	background-size: cover;
	color: $white;

	@media only screen and (min-width: 768px) {
		margin-top: -115px;
		padding-top: 197px;
	}

	@media only screen and (min-width: 1024px) {
		margin-top: -109px;
	}

	.fr-screen-title {
		color: $white;
		font-size: 32px;
		line-height: 1.4;

		@media only screen and (min-width: 768px) {
			font-size: 45px;
		}
	}

	.container {
		position: relative;
	}
}

.fr-screen-subtitle {
	text-transform: uppercase;
	color: #d9cfba;
	font-size: 16px;
	font-family: $sans-roboto;
	margin-bottom: 70px;

	@media only screen and (min-width: 768px) {
		font-size: 20px;
	}
}

.fr-screen-group {
	max-width: 500px;
	margin-bottom: 265px;

	@media only screen and (min-width: 768px) {
		display: flex;
		margin-bottom: 75px;
	}
}

.fr-screen-item {
	text-align: center;
	margin-bottom: 30px;

	@media only screen and (min-width: 768px) {
		margin-bottom: 0;
	}

	p {
		padding: 0 25px;
	}
}

.fr-screen-img-wrap {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.fr-screen-button-wrap {

	@media only screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}

.fr-screen-button {
	width: 100%;

	@media only screen and (min-width: 768px) {
		padding: 15px 60px;
		margin-right: 60px;
		width: auto;
	}
}

.fr-screen-mokap {
	position: absolute;
	bottom: 9%;
	left: 20%;
	width: 240px;

	@media only screen and (min-width: 768px) {
		bottom: -8%;
		left: 70%;
	}

	@media only screen and (min-width: 850px) {
		width: 300px;
		bottom: -18%;
		left: 60%;
	}

	@include media-q(min, 1024) {
		width: auto;
		left: 50%;
	}
}

.fr-screen-arrow {
	display: none;

	@media only screen and (min-width: 768px) {
		display: block;
	}
}