.payment {
	padding-top: 60px;
	padding-bottom: 75px;
	background-color: #44413c;
	color: $white;

	.section-title {
		color: $white;
		margin-bottom: 86px;
	}
}

.payment-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media only screen and (min-width: 1024px) {
		padding: 0 50px;
	}
}

.payment-item {
	text-align: center;
	flex-basis: 50%;
	margin-bottom: 20px;

	@media only screen and (min-width: 768px) {
		flex-basis: 25%;
		margin-bottom: 0;
	}

	.font-icon {
		&::before {
			font-size: 46px;
		}
	}

	&:nth-child(even) {
		.payment-icon-wrap {
			background-color: #b8a992;
		}
	}

	p {
		font-size: 16px;
		font-family: $sans-open;
	}
}

.payment-icon-wrap {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #54504a;

	img {
		display: block;
		margin: 0 auto;
	}
}