.products {
	padding-top: 75px;
	padding-bottom: 80px;
	background-color: #eef0f4;

	.section-title {
		margin-bottom: 85px;
	}
}

.products-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media only screen and (min-width: 768px) {
		justify-content: space-between;
		padding: 0 50px;
	}

	@media only screen and (min-width: 1024px) {
		padding: 0;
	}
}

.products-item {
	flex-basis: 33.33%;
	text-align: center;
	margin-bottom: 35px;

	p {
		font-size: 16px;
		font-weight: 700;
		color: $c_brown;
		padding: 0 52px;
	}
}

.products-item-img-wrap {
	display: block;
	margin: 0 auto 25px;
	width: 270px;
}