.request {
	background: url("../img/request-bg.jpg") no-repeat center;
	background-size: cover;
	color: $white;
	padding-top: 60px;
	padding-bottom: 50px;

	.section-title {
		color: $white;
		max-width: 600px;
		margin-bottom: 30px;

		&::after {
			display: none;
		}
	}

	.container {
		position: relative;
	}

	p {
		margin-bottom: 220px;
		max-width: 350px;
		line-height: 1.7;
		font-size: 16px;
		font-family: $sans-roboto;

		@media only screen and (min-width: 768px) {
			margin-bottom: 50px;
		}
	}


	.mokap {
		position: absolute;
		right: 18%;
		bottom: 32%;
		width: 240px;

		@media only screen and (min-width: 768px) {
			right: 5%;
			bottom: -22%;
			width: 390px;
		}

		@media only screen and (min-width: 1024px) {
			right: 19%;
			width: auto;
		}
	}
}