.brand-hero {
	&__link {
		@include font-size(18);
		font-weight: $fw_semibold;
		color: $c_dark_blue;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem-calc(30);
		text-decoration: underline;

		.font-icon {
			margin-right: rem-calc(10);
			&::before {
				@include font-size(23);
			}
		}

		@include media-q(min, 1024) {
			display: none;
		}
	}
}