section.cooperation
	.container
		.cooperation-info
			h2.section-title Присоединяйтесь к нашей специальной программе сотрудничества
			.cooperation-group
				.cooperation-item
					i.font-icon.icon-bag
					p Для <br>#[span ДИЛЕРОВ]
				.cooperation-item
					i.font-icon.icon-design
					p Для <br>#[span ДИЗАЙНЕРОВ]
				.cooperation-item
					i.font-icon.icon-build
					p Для <br>#[span АРХИТЕКТОРОВ]
		.cooperation-form
			form.site-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-item.input-name(type="text" placeholder="Ваше имя:")
				input.input-item.input-phone(type="text" placeholder="Ваш телефон:")
				.form-choose
					select.form-item.form-who(name="select" required)
						option Кем вы являетесь:
						option(value="Диллер") Диллер
						option(value="Дизайнер") Дизайнер
						option(value="Архитектор") Архитектор
				input.request-btn.yandex-metrika-event.site-btn.js-show-popup(type="submit" value='ОТПРАВИТЬ' data-goal='program-1')
				.form-errors-cont