section.delivery
	.container
		h2.section-title Удобные способы доставки
		.delivery-group
			.delivery-item
				i.font-icon.icon-delivery-01
				p Доставка курьером по г. Минску #[span БЕСПЛАТНО] 
			.delivery-item
				i.font-icon.icon-delivery-02
				p Доставка по всей Белоруссии
			.delivery-item
				i.font-icon.icon-delivery-03
				p Самовывоз - Куйбышева,10
	.delivery-img
		img(src="img/delivery-img.jpg" alt="интерьер")
