section.fr-screen
	.container
		h1.fr-screen-title Дизайнерские обои Arte в Минске
		p.fr-screen-subtitle Эксклюзивный дистрибьютор
		.fr-screen-group
			.fr-screen-item
				.fr-screen-img-wrap
					img(src="img/advantage-img-01.png" alt="Шоу рум 300 м2 в центре Минсква")
				p Шоу рум 300 м2 в центре Минсква
			.fr-screen-item
				.fr-screen-img-wrap
					img(src="img/advantage-img-02.png" alt="Привезем образцы домой и поможем выбрать")
				p Привезем образцы домой и поможем выбрать
			.fr-screen-item
				.fr-screen-img-wrap
					img(src="img/advantage-img-03.png" alt="Доставка по Беларуси")
				p Доставка по Беларуси
		.fr-screen-button-wrap
			button.fr-screen-button.site-btn.is-blicked.js-show-popup.yandex-metrika-event(data-goal='price-head-1' data-form-goal='price-head-2' data-form-title="Запросить прайс-лист" data-thanks-title="Спасибо за заявку!" data-thanks-text="Наш менеджер свяжется с Вами в ближайшее время") Запросить прайс-лист
			img.fr-screen-arrow(src="img/arrow.png")
		img.fr-screen-mokap.mokap-jump(src="img/mokap.png")