section.payment
	.container
		h2.section-title Способы оплаты
		.payment-group
			.payment-item
				.payment-icon-wrap
					i.font-icon.icon-payment-01
				p Наличными в шоу руме
			.payment-item
				.payment-icon-wrap
					i.font-icon.icon-payment-02
				p Безналичный расчет
			.payment-item
				.payment-icon-wrap
					i.font-icon.icon-payment-03
				p Банковская карта
			.payment-item
				.payment-icon-wrap
					img(src="img/icon-payment-04.png")
				p Система "Расчет" (ЕРИП)
