section.products
	.container
		h2.section-title У нас в шоу-руме Вы также найдёте
		.products-group
			each item in products_group
				.products-item
					.products-item-img-wrap
						img(src='img/' + item.img alt=item.title)
					p.products-item-title=item.title