section.section-contacts-main.grey-background
	.container
		.contacts-main-group
			.contacts-main-item.contacts-phone
				i.font-icon.icon-contacts-phone
				p.contacts-main-title Телефон:
				a.contacts-main-link(href='tel:8 (800) 700 36 05') 8 (800) 700 36 05
				a.contacts-main-link(href='tel:+7(846) 337 06 70') +7(846) 337 06 70
				a.contacts-main-link(href='tel:+7(846) 337 06 56') +7(846) 337 06 56
			.contacts-main-item.contacts-mail
				i.font-icon.icon-contacts-mail
				p.contacts-main-title Эл. почта:
				a.contacts-main-link(href='mailto:titan@titan-lift.ru') titan@titan-lift.ru
			.contacts-main-item.contacts-mark
				i.font-icon.icon-contacts-mark
				p.contacts-main-title Адрес:
				p.contacts-main-link 443000, г. Самара, ул. Первомайская, 29, оф.49
		.contacts-main-map(style='background-image: url(img/contacts-map.jpg);')

