// ----------------------------------------------------------------------------
// Regular checkboxes
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 16px;
  transition: .2s;
  border: 1px solid $c-blue;
}

.checkbox:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  width: 8px;
  height: 8px;
  background: $c-blue;
  transition: .2s;
}