section.home-section-wysiwyg
	.container
		h2.default-section-heading Грузовые подъемники
		.wysiwyg-content
			p Лифтовый производственный центр «Титан» предлагает купить грузовые подъемники в Краснодаре по выгодным ценам. Приобретая нашу продукцию, вы получаете качественное оборудование непосредственно от разработчика, работающего на рынке более 25 лет с гарантией на срок службы в 5 лет. Подъемники, грузовые лифты от ЛПЦ «Титан» могут быть использованы для широкого спектра условий и видов работ:
			ol
				li Консольные (мачтовые) – передвигающаяся по вертикали площадка. Данные подъемники просты, неприхотливы в работе и обслуживании, обладают грузоподъемностью до 2 тонн с высотой подъема до 50 метров.
				li Для глухой шахты – рациональное и практичное решение для перемещения тяжелых грузов. Данный тип подъемника легко заменит лифт, грузоподъемность – до 10 тонн, высота – до 50 метров.
				li Сервисные – относятся к разряду малогрузных, идеальны для перемещения между этажами. Если вам нужно простое и недорогое решение для подъема грузов до 0,25 тонны и высотой до 30 метров, то остановитесь на этом типе подъемников.
				li Шахтные – специально разработаны для тяжелых грузов, применяются в сложных промышленных условиях, работают с любыми по объему и габаритам грузами. Грузоподъемность – до 10 тонн, высота – до 50 метров.
			h3 Варианты исполнения
			p Купить грузовые подъемники в Краснодаре в ЛПЦ «Титан» можно любого типа – в зависимости от условий использования подъемника. Оборудование различается по следующим характеристикам:
			ul
				li Место установки: внутри (в том числе в подъезде или подвале) или снаружи здания (на фасаде, для балкона).
				li Тип привода: гидравлический и электрический.
				li Тип помещения: госучреждения, больницы и детские сады, предприятия, промышленные и производственные объекты, склады и оптовые базы, торговые центры и логистические центры, многоэтажные и частные дома, коттеджи.
			h3 Преимущества продукции ЛПЦ «Титан»
			p Наши подъемники разрабатываются профессионалами с огромным опытом, изготовлены из качественных, проверенных в различных условиях эксплуатации комплектующих. Мы готовы оперативно разработать нужный подъемник под клиентские условия «с нуля» и «под ключ».
			p Выполняем все виды сопутствующих работ: доставка, монтаж, обслуживание.
			p Цены на грузовые подъемники от ЛПЦ «Титан» – одно из ключевых преимуществ компании. Благодаря развитой сети представительств, оптимальной логистике и высокой эффективности производства вся наша продукция реализуется по выгодным ценам.
			p Свяжитесь с нами любым удобным способом (телефон, e-mail, чат). Мы поможем с подбором, приобретением, доставкой, установкой и обслуживанием. Возможен выезд нашего специалиста для организации замеров и расчетов.

