.contacts {
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;

	@include media-q(min, 1024) {
		padding-bottom: 180px;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		background-size: contain !important;
		width: 87px;
		height: 126px;
		pointer-events: none;

		@include media-q(min, 768) {
			display: none;
		}

		@include media-q(min, 1280) {
			display: block;
			width: 344px;
			height: 530px;
		}
	}

	&::before {
		top: 25%;
		left: -7%;
		background: url("../img/decorate-item-04.png") no-repeat center;

		@include media-q(min, 1280) {
			top: 40%;
			left: -10%;
		}

		@include media-q(min, 1920) {
			top: 40%;
			left: -4%;
		}
	}

	&::after {
		right: -8%;
		top: 0;
		left: auto;
		background: url("../img/decorate-item-02.png") no-repeat center;

		@include media-q(min, 1280) {
			right: -10%;
		}

		@include media-q(min, 1920) {
			right: -5%;
		}
	}

	h2 {
		color: $c_blue;
		font-size: 30px;

		@include media-q(min, 1441) {
			font-size: 48px;
		}
	}

	&__group {
		flex-direction: column;

		@include media-q(min, 1024) {
			flex-direction: row;
			justify-content: center;
		}
	}

	&__content {
		margin: 0 10px;

		@include media-q(min, 1024) {
			margin: 0 30px;
		}

		@include media-q(min, 1280) {
			//margin: 0 60px;
			margin: 0 5%;
		}

		@include media-q(min, 1920) {
			margin: 0 11%;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: $f_medium;
		margin-bottom: 20px;
		text-align: center;

		@include media-q(min, 768) {
			text-align: left;
		}

		@include media-q(min, 1441) {
			font-size: 36px;
		}
	}

	&__sub-title {
		font-size: 16px;
		margin-bottom: 35px;
		text-align: center;

		@include media-q(min, 768) {
			text-align: left;
			font-size: 20px;
		}

		@include media-q(min, 1441) {
			font-size: 30px;
		}
	}

	&__item {
		align-items: center;
		display: flex;
		margin-bottom: 30px;
		font-size: 18px;
		font-weight: $f_medium;
		color: $c_blue;
		transition: color .2s ease;
		padding-left: 40px;

		@include media-q(min, 768) {
			padding-left: 0;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
		}
	}

	a.contacts__item {
		&:hover {
			color: $c_dark;

			.font-icon {
				color: $c_dark;
			}
		}
	}

	&__socials {
		display: flex;
		justify-content: center;

		@include media-q(min, 768) {
			justify-content: flex-start;
		}

		&-item {
			margin: 0 20px;

			@include media-q(min, 1441) {
				margin-right: 50px;
			}

			&:hover {
				.font-icon {
					color: $c_dark;
				}
			}
		}
	}

	.font-icon {
		color: $c_blue;
		margin-right: 13px;
		transition: color .2s ease;

		@include media-q(min, 1441) {
			margin-right: 25px;
		}

		&::before {
			font-size: 30px;

			@include media-q(min, 1441) {
				font-size: 40px;
			}
		}

		&-email {
			&::before {
				font-size: 20px;

				@include media-q(min, 1441) {
					font-size: 30px;
				}
			}
		}
	}
}