//-----------------------------------------------------------------------------
// Fonts variable(s).
$sans: Helvetica, Arial, sans-serif;
$sans-brand: Roboto Condensed, $sans;
$sans-roboto: Roboto, $sans;

// Font weight variants
$f_normal: 400;
$f_bold: 700;

//-----------------------------------------------------------------------------
// Image paths
$images: '../img/';

//-----------------------------------------------------------------------------
// Main theme colors

// Default colors
$white: #fff;
$black: #000;

// Main site color palette
$c_brown: #4a2409;
$c_brown_light: #714b13;
$c_dark_brown: #5c3612;
$c_yellow: #ffaf00;
$c_yellow_light: #f2b737;
$c_orange: #f39e46;
$c_dark: #0a000f;
$c_gray: #f8f6f3;
$c_gray_dark: #e2e3e4;

// These colors for the Drupal messages style
// but also could be used for the other purposes
$red: #f4371e;
$green: #56c02b;
$orange: #f87c00;

//-----------------------------------------------------------------------------
// Other settings

// Font sizes
// Site base font size and line height
$fs-base: 16px;
$line-height-base: 1.14;

// Headings line-height
$headings-line-height: 1.1;
