section.about-hero
  .container
    include ../../components/breadcrumbs
    .about-hero__logo
      img.about-hero__logo-desktop(src="img/about-logo.svg" alt="axel medical logo")
      img.about-hero__logo-mob(src="img/main-logo-full.svg" alt="axel medical logo")
    .about-hero__group.flex.hero-section__padding-left
      p.about-hero__text - это ...  текст о компании Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu
      img.about-hero__img(src="img/hero-img.png" alt="MRT")