-
  var about_partners = [
    {
      img: 'about-brand-01',
      alt: 'canon'
    },
    {
      img: 'about-brand-02',
      alt: 'general electric'
    },
    {
      img: 'about-brand-03',
      alt: 'hitachi'
    },
    {
      img: 'about-brand-04',
      alt: 'mindray'
    },
    {
      img: 'about-brand-05',
      alt: 'philips'
    },
    {
      img: 'about-brand-01',
      alt: 'canon'
    },
    {
      img: 'about-brand-02',
      alt: 'general electric'
    },
    {
      img: 'about-brand-03',
      alt: 'hitachi'
    },
    {
      img: 'about-brand-04',
      alt: 'mindray'
    },
    {
      img: 'about-brand-05',
      alt: 'philips'
    }
  ]

section.about-partners.brands
  .container
    h3.main-title Мы сотрудничаем с лучшими в мире
    p.about-partners__subtitle Лидеры на мировом рынке медицинского оборудования
    .brands-group.flex.partners-slider
      each item in about_partners
        .brands-item
          .brands-item__img
            img(src='img/'+item.img + '.svg' alt=item.alt)
