section.about-images
  .container
    .about-images__group.flex.about-images__slider
      .about-images__item
        img(src="img/about-image-1.png" alt="armchair")
      .about-images__item
        img(src="img/about-image-2.png" alt="armchair")
      .about-images__item
        img(src="img/about-image-1.png" alt="armchair")