//- ---------------------------------------------------------------------------
//- Variables

-
	var main_menu = [
		{
			title: 'Преимущества',
			href: 'second-screen',
			anchor: second-screen,
		},
		{
			title: 'Услуги',
			href: 'services',
			anchor: services,
		},
		{
			title: 'Запчасти',
			href: 'stocks',
			anchor: stocks,
		},
		{
			title: 'Отзывы',
			href: 'questions',
			anchor: questions,
		},
		{
			title: 'Товары ',
			href: 'advantages',
			anchor: advantages,
		},
		{
			title: 'Контакты',
			href: 'reviews',
			anchor: reviews,
		},
	];

-
	var advantages_item = [
		{
			img: 'advantages-01.png',
			title: 'iPhone',
			button: 'подробнее',
		},
		{
			img: 'advantages-02.png',
			title: 'iPad',
			button: 'подробнее',
		},
		{
			img: 'advantages-03.png',
			title: 'AirPods',
			button: 'подробнее',
		},
		{
			img: 'advantages-04.png',
			title: 'Apple Watch',
			button: 'подробнее',
		},
		{
			img: 'advantages-05.jpg',
			title: 'Apple TV',
			button: 'подробнее',
		},
		{
			img: 'advantages-06.jpg',
			title: 'MAC',
			button: 'подробнее',
		}
	]
