section.product-offer
  .container.flex
    .product-offer__img
      img(src="img/product-offer-logo.svg" alt="axelmedical")
    .product-offer__info
      h4.product-offer__title Заинтересовало данное оборудование?
      p.product-offer__text Оставьте заявку и мы предоставим всю необходимую информацию
      a(href="#").btn__light оставить заявку

