-
  var slides = [
    {
      img: "hero-img.png"
    },
    {
      img: "hero-img-vector.png"
    },
    {
      img: "hero-img.png"
    },
    {
      img: "hero-img-vector.png"
    },
    {
      img: "hero-img.png"
    },
  ];

section.product-hero.main-hero
  .container.flex
    .main-hero__left
      include ../../components/breadcrumbs
      .product-hero__mob
        a.product-hero__link SIEMENS
        h1.main-title Enraf Nonius Sonopuls 190
      .main-hero__left-content.product-hero__slider
        .product-hero__for
          each item in slides
            .product-hero__for-item
              img(src='img/' + item.img alt="mrt")
        .product-hero__nav
          each item in slides
            .product-hero__nav-item
              img(src='img/' + item.img alt="mrt")


    .main-hero__right
      .product-hero__desktop
        a.product-hero__link SIEMENS
        h1.main-title Enraf Nonius Sonopuls 190
      p - это ...  краткое описание оборудования Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      a(href="#").btn__dark-2 Узнать цену