-
  var product_tabs = [
    {
      tab: 'Описание'
    },
    {
      tab: 'Харектеристики'
    },
    {
      tab: 'Комплектация'
    },
    {
      tab: 'Документация'
    },
    {
      tab: 'Применение'
    }
  ];

section.product-description
  .container
    .product-description__tabs-wrap
      .product-description__tabs
        each item, index in product_tabs
          .product-description__tabs-item(class=(index==0)?'active':'')=item.tab
    .product-description__content
      each item, index in [1,2,3,4,5]
        .product-description__item(class=(index==0)?'active':'')
          if index != 4
            .product-description__advantages.flex
              .product-description__advantages-item
                .product-description__circle
                p.product-description__advantages-title Преимущество-1
              .product-description__advantages-item
                .product-description__circle
                p.product-description__advantages-title Преимущество-2
              .product-description__advantages-item
                .product-description__circle
                p.product-description__advantages-title Преимущество-3
              .product-description__advantages-item
                .product-description__circle
                p.product-description__advantages-title Преимущество-4
            .content
              p <b>Модуль STatUS</b> встановлюється в вільний слот апаратів Sonopuls 692. Що поставляється в комплекті ультразвуковий випромінювач розташовується нерухомо на тілі пацієнта. Передача УЗ енергії відбувається через спеціальну гелеву подушку. Після проведення процедури на шкірі не залишається ні гелю, ні синців, ні рідини. По зручності проведення процедури цей метод значно перевершує класичну технологію. На відміну від скануючої методики, УЗ випромінювання весь час направлено на вогнище захворювання, а гелева подушка забезпечує ідеальний контакт навіть на нерівних поверхнях (коліно, лікоть, плече).лення м’яза нижче порога призводить до стимуляції.
              p <b>Особливості приладу</b> Апарат є модульним. Модулі статичного ультразвуку, вакуумного масажу або електроміографії можуть бути додані після покупки основного блоку Зручний інтерфейс управління. Русифіковане меню відображається на великому яскравому кольоровому рідкокристалічному дисплеї. Можливості апарату включають ручний режим роботи, створення і збереження користувальницьких програм, використання вбудованих терапевтичних протоколів лікування, які супроводжуються докладним описом проведення процедур і фотографіями розташування електродів.
              p <b>Модуль статичного ультразвуку</b> (StatUS) є новітньою розробкою в області ультразвукової терапії. Зазвичай процедура УЗ-терапії займає кілька хвилин і є накладення і переміщення УЗ випромінювача над областю терапії. Лабільна методика необхідна для запобігання кавітації і локального нагріву тканин. Нова революційна методика StatUS дозволяє відмовитися від класичної динамічної методики. При використанні StatUS, ультразвукова головка розташовується стаціонарно. Завдяки модуляції інтенсивності, запропонованої компанією Enraf-Nonius, повністю виключається локальний нагрів. Відповідно до нової методикою, УЗ-головка знаходиться на одному місці, і, отже, вплив здійснюється точно там, де необхідно. Перевагою даного методу є також те, що персоналу немає необхідності безперервно переміщати головку, тобто одна медсестра може одночасно контролювати декількох пацієнтів.
              p Опціональний безшумний вакуумний модуль служить для накладення одночасно до 4-х вакуумних електродів при проведенні процедур електротерапії. Включення імпульсного режиму підсилює кровообіг, що збільшує ефективність проведеної процедури. Вакуумна потужність регулюється в великому діапазоні.
              p <b>Опціональний модуль електроміографії і БОС-терапії:</b><br>Два незалежних каналів електроміографії (EMG) дозволяють реєструвати сигнали активності 2 м’язів одночасно. Залежно від розв’язуваних завдань апарат може працювати в режимах комбінованого застосування EMG і БОС-стимуляції. Найпростіший режим – це чергування стимуляції м’язів і наступною реєстрацією сигналів EMG. Більш складні режими – це стимуляція вище або нижче заданого порогу. У першому випадку пацієнт повинен напружити м’яз до заданого терапевтом рівня. Після досягнення цього рівня апарат сам проводить стимуляцію, допомагаючи скоротити м’яз. У другому режимі пацієнт повинен утримувати м’яз напруженої вище заданого рівня. Розслаб
              .product-description__video.responsive-video
                <iframe width="100%" height="560" src="https://www.youtube.com/embed/g-jj4KrmYPI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          else
            .content
              p это ...  краткое описание оборудования orem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.  Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.
              h2(style="text-align: center;") Показания к применению
              ul
                each item in [1,2,3,4,5,6,7,8]
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              h2(style="text-align: center;") Применение
              p это ...  краткое описание оборудования orem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.  Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus in diam malesuada aenean arcu est.
              .product-description__application.flex
                each item in [1,2,3,4,5,6]
                  .product-description__application-item.responsive-video
                    <iframe width="100%" height="560" src="https://www.youtube.com/embed/g-jj4KrmYPI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
