.categories-list {
	margin-bottom: rem-calc(50);

	&__group {
		flex-wrap: wrap;

	}

	&__item {
		margin-bottom: rem-calc(22);
		text-align: center;
		display: flex;
		align-items: center;
		@extend %img-hover;

		@include media-q(min, 768) {
			width: 50%;
		}

		@include media-q(min, 1024) {
			margin-bottom: rem-calc(50);
			padding-left: 20px;
			padding-right: 20px;
			width: 25%;
			display: block;
		}

		@include media-q(min, 1200) {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include media-q(min, 1850) {
			margin-bottom: rem-calc(100);
		}

		&-title {
			@extend %main-text;
			color: $c_dark_blue;
			@include font-size(20);

			@include media-q(min, 1850) {
				text-transform: uppercase;
				@include font-size(24)
			}
		}

	}

	&__img {
		@extend %line-after;
		width: 23%;
		margin-right: 13px;

		&::after {
			bottom: rem-calc(-15);

			@include media-q(min, 1024) {
				bottom: rem-calc(-29);
			}
		}

		@include media-q(min, 1024) {
			margin-bottom: rem-calc(56);
			width: auto;
			margin-right: 0;
		}

		@include media-q(max, 1023) {
			.main-img {
				opacity: 0;
				display: none;
			}

			.main-img-hover {
				opacity: 1;
				display: none;
			}
		}
	}
}
