// -----------------------------------------------------------------------------
// All icons font set
@font-face {
  font-family: 'font-icon';
  src: url('../f-icons/f-icons.eot');
  src: url('../f-icons/f-icons.eot?#iefix') format('embedded-opentype'),
  url('../f-icons/f-icons.woff') format('woff'),
  url('../f-icons/f-icons.ttf') format('truetype'),
  url('../f-icons/f-icons#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

%font-icon {
  @include font-size(30);
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons set
%icon-advantages-01,
.icon-advantages-01:before {
  content: "\e900";
}
%icon-advantages-02,
.icon-advantages-02:before {
  content: "\e901";
}
%icon-advantages-03,
.icon-advantages-03:before {
  content: "\e902";
}
%icon-advantages-04,
.icon-advantages-04:before {
  content: "\e903";
}
%icon-advantages-05,
.icon-advantages-05:before {
  content: "\e904";
}
%icon-advantages-06,
.icon-advantages-06:before {
  content: "\e905";
}
%icon-application-acid,
.icon-application-acid:before {
  content: "\e906";
}
%icon-application-fuel,
.icon-application-fuel:before {
  content: "\e907";
}
%icon-application-oil,
.icon-application-oil:before {
  content: "\e908";
}
%icon-application-water,
.icon-application-water:before {
  content: "\e909";
}
%icon-arrow-right,
.icon-arrow-right:before {
  content: "\e90a";
}
%icon-contacts-location,
.icon-contacts-location:before {
  content: "\e90b";
}
%icon-contacts-mail,
.icon-contacts-mail:before {
  content: "\e90c";
}
%icon-contacts-phone,
.icon-contacts-phone:before {
  content: "\e90d";
}
%icon-header-check,
.icon-header-check:before {
  content: "\e90e";
}
%icon-header-location,
.icon-header-location:before {
  content: "\e90f";
}
%icon-header-mail,
.icon-header-mail:before {
  content: "\e910";
}
%icon-header-phone,
.icon-header-phone:before {
  content: "\e911";
}
%icon-payment-check,
.icon-payment-check:before {
  content: "\e912";
}
%icon-reviews-zoom,
.icon-reviews-zoom:before {
  content: "\e913";
}
