//- ---------------------------------------------------------------------------
//- Variables

//  Top menu (First level)
-
  var main_menu = [
    {
      title: 'Главная ',
      href: 'main',
    },
    {
      title: 'Интернет   ',
      href: 'main',
    },
    {
      title: 'Пакеты услуг   ',
      href: 'tariffs',
    },
    {
      title: 'Телевидение  ',
      href: 'tariffs',
    },
    {
      title: 'Для частного дома',
      href: 'price',
    },
  ]

-
    var advantages_group = [
      {
        icon: 'speed-advantages',
        title: '100 Мбит/с',
        text: 'Быстрый и стабильный интернет благодаря высокой пропускной способности собственных сетей',
      },
      {
        icon: 'hd',
        title: '85 HD канала',
        text: 'Максимальное число каналов высокой четкости среди федеральных телеком- операторов',
      },
      {
        icon: 'present',
        title: 'Подарки весь год',
        text: 'Пакеты каналов, подписки на видеосервисы с мировыми фильмами и сериалами, антивирусы и ускорение интернета',
      },
      {
        icon: '24',
        title: '24/7',
        text: 'Круглосуточный мониторинг сети. Автоматическое дистанционное выявление и ликвидация сбоев до обнаружения их Клиентом',
      },
      {
        icon: 'speed-advantages',
        title: '9 000 точек Wi-Fi',
        text: 'Крупнейшая бесплатная региональная сеть доступа в интернет на высокой скорости до 100Мбит/с для клиентов Дом.ru',
      },
      {
        icon: 'customization',
        title: 'Кастомизация',
        text: 'Уникальные возможности собрать пакет услуг под свои интересы и потребности',
      },
    ]

-
  var popup_tariff_group = [
    {
      color: 'transparent',
      text: 'Ежемесячный платеж ',
      price: '800 руб/мес',
    },
    {
      color: 'white',
      text: 'Пакет услуг "Дом.ru L" ',
      price: '800 руб/мес',
    },
    {
      color: 'transparent',
      text: 'Просмотр ТВ: ТВ на компьютере ',
      price: '0 руб/мес',
    },
    {
      color: 'white',
      text: 'Смотри везде "Mobile"  ',
      price: '0 руб/мес\n',
    },
    {
      color: 'transparent',
      text: 'Рекомендуемое оборудование',
      price: '340 руб/мес',
    },
    {
      color: 'white',
      text: 'Приставка Дом.ru Movix \n' +
              'в рассрочку на 12 мес.',
      price: '340 руб/мес',
    },
    {
      color: 'transparent',
      text: 'Разовый платеж   ',
      price: '300 руб ',
    },
    {
      color: 'white',
      text: 'Подключение',
      price: '300 руб',
    },
  ]
