footer.footer
	.container
		p.footer-text © 2020. Все права защищены. Трансмонолит.
		a.footer-logo-wrap(href="http://kryuchkin-web.ru/")
			p.footer-logo-text Создание и <br>продвижение сайтов
			img.footer-logo-img(src="img/footer-logo.png")