header#header.site-header
	.header-top
		.container
			.header-logo-wrap
				a(href="/").header-logo-img-wrap
					img.header-logo-img(src="img/header-logo.png", alt="logo")
					p.header-logo-title Транс <br>Монолит
				p.header-logo-text Перевозка габаритных и <br>негабаритных грузов по<br>всей России.
			.header-item-social
				p.social-text Получите расчет в месенджере:
				.social-group
					a(href="viber://chat?number=%11111111111" data-goal="viber").social-item.header-viber.yandex-metrika-event
						i.fab.fa-viber
						| Viber
					a(href="https://wa.me/111111111111" data-goal="wa").social-item.header-whatsapp.yandex-metrika-event
						i.fab.fa-whatsapp
						| WhatsApp
					a(href="tg://resolve?domain=1111111111111" data-goal="telegram").social-item.header-telegram.yandex-metrika-event
						i.fab.fa-telegram-plane
						| Telegram
			.header-item.header-item-number
				i.font-icon.icon-phone
				a.header-number.yandex-metrika-event(href='+7 (343) 382-49-84' data-goal="zvonok") +7 (343) 382-49-84<br>

	//.menu-wrap
	//	.container
	//		a.open-main-menu.icon-menu-inside(href='#')
	//			i.icon-menu
	//				span
	//				span
	//				span
	//		nav.menu
	//			ul.menu-group
	//				+main_menu(main_menu)
