//textarea {
//  background: $white;
//  border-bottom: 1px solid $black;
//  font-family: inherit;
//  font-size: inherit;
//  max-width: 100%;
//  width: 100%;
//  padding: 12px;
//  resize: vertical;
//
//  // Safari and iOS fix of text field
//  -webkit-appearance: none;
//  transition: border-color .3s ease-out;
//
//  &:focus {
//    outline: none;
//    border-bottom-color: $black;
//  }
//
//  &.error {
//    border-color: $red;
//    background-color: rgba($red, .05);
//  }
//}

.form-type-textarea {
  label {
    @extend %form-input-text;
  }

  textarea {
    border: 2px solid $c_green;
    height: rem-calc(140);
    margin-top: 10px;
    resize: none;

    @extend %form-textfield;

    @include media-q(min, 1024) {
      height: rem-calc(30);
    }

    @include media-q(min, 1281) {
      height: rem-calc(100);
    }

    @include media-q(min, 1850) {
      height: rem-calc(140);
    }
  }
}
