header#header-shop.site-header-shop
	.container
		.header-top-shop
			.header-logo
				a(href="/")
					img(src="/img/logo.png", alt="logo")
			.header-item.header-phone 
				a(href="tel:8 (499) 113 04 33") 8 (499) 113 04 33 
	
			a.open-main-menu.icon-menu-inside(href='#')
				i.icon-menu
					span
					span
					span
			nav.menu
				.container
					.menu-group
						a(href="#equipment" data-anchor='#equipment').menu-item Оборудование  
						a(href="#cooperation" data-anchor='#cooperation').menu-item Преимущества    
						a(href="#results" data-anchor='results').menu-item Реализованные объекты
						a(href="#partners" data-anchor='partners').menu-item Партнеры
						a(href="#portfolio" data-anchor='portfolio').menu-item Готовые решения
						a(href="#types" data-anchor='types').menu-item Сферы магазинов 
						a(href="#contacts" data-anchor='contacts').menu-item Контакты

