// External
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

//  Third party libraries
//- Put third party libraries here e.g. sliders, custom select etc.
script(src='js/slick.js')

if use_fullwidth
  script(src='js/jquery.fullPage.min.js')

// Custom scripts
script(src='js/es2015/main.js')

