.form-text,
.form-email {
  background: $white;
  border-bottom: 1px solid $black;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  padding: 8px 12px 9px;

  // Safari and iOS fix of text field
  -webkit-appearance: none;
  transition: border-color .3s ease-out;

  &:focus {
    outline: none;
    border-color: $black;
    color: $black;
  }

  &.error {
    border-color: $red;
    background-color: rgba($red, .05);
  }
}

.form-type-search {
  display: flex;
  position: relative;

  @include media-q(max, 1023) {
    max-width: 216px;
  }

  @include media-q(min, 1920) {
    margin-left: 5%;
  }

  .font-icon-search {
    color: $c_dark;
    margin-right: rem-calc(10);
    flex-shrink: 0;

    &::before {
      @include font-size(22);

      @include media-q(min, 1441) {
        @include font-size(28);
      }
    }
  }

  .form-search {
    border: none;
    outline: none;
    color: $c_dark;
    background: transparent;
    @include font-size(18);
    width: rem-calc(150);
    display: none;
    border-bottom: 1px solid transparent;

    @include media-q(max, 1279) {
      display: block;
      border-bottom: 1px solid $c_dark;
    }

    &::placeholder {
      color: #E8F0F2;
    }

    @include media-q(min, 1200) {
      position: absolute;
      top: 150%;
      width: 500px;
    }
  }

  &.active {
    .form-search {
      display: block;
      border-bottom: 1px solid $c_dark;
    }
  }
}

.request-form {
  &__group {
    margin-bottom: 10px;

    @include media-q(min, 768) {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    @include media-q(min, 1441) {
      margin-bottom: 60px;
    }
  }

  .btn {
    margin: 0 auto 20px;
    width: 100%;

    @include media-q(min, 1280) {
      max-width: 560px;
    }
  }
}

.input-text {
  margin-bottom: 10px;
  background-color: $white !important;
  padding: 8px 17px;
  color: rgba(22, 137, 122, .7);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 100%;
  outline: none;
  letter-spacing: 4px;

  @include media-q(min, 768) {
    width: 225px;
    margin: 0 10px 0;
    padding: 15px 17px;
  }

  @include media-q(min, 1024) {
    width: 365px;
  }

  @include media-q(min, 1441) {
    font-size: 24px;
  }

  &::placeholder {
    color: rgba(22, 137, 122, .7);
  }
}