.form_radio {
  margin-bottom: 20px;
  position: relative;

  @include media-q(min, 1441) {
    margin-bottom: 70px;
  }

  span {
    display: block;
    font-size: 14px;
    color: #BAD2E5;
    padding-left: 55px;
    margin-top: 10px;

    @include media-q(min, 768) {
      font-size: 24px;
      padding-left: 95px;
    }
  }
}
.form_radio input[type=radio] {
  display: none;
}
.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 58px;
  margin-right: 0;
  user-select: none;
  font-size: 18px;
  font-weight: $f-medium;

  @include media-q(min, 768) {
    font-size: 24px;
    line-height: 18px;
  }

  @include media-q(min, 1441) {
    padding-left: 95px;
  }
}

.form_radio label:before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
  border: 1px solid $c-blue;

  @include media-q(min, 1441) {
    width: 49px;
    height: 49px;
  }
}
.form_radio label:after {
  display: none;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: $c-blue;

  @include media-q(min, 1441) {
    width: 24px;
    height: 24px;
    left: 13px;
    top: -3px;
    transform: none;
  }
}

/* Checked */
.form_radio input[type=radio]:checked + label:after {
  display: inline-block;
}

.font-icon-apple-pay {
  margin-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -65%;

  @include media-q(min, 1441) {
    right: -45%;
  }
}

.form_radio__secondary-wrap {
  display: none;
}

.form_radio__open-delivery {
  input:checked {
    ~ .form_radio__secondary-wrap {
      display: block;
      padding-left: 55px;
      margin-top: 20px;

      @include media-q(min, 1441) {
        padding-left: 100px;
        margin-top: 40px;
      }

      .ordering-page__form-text {
        margin-bottom: 40px !important;

      }
    }
  }
}