// ----------------------------------------------------------------------------
// Regular checkboxes

.request-form__agree {
  max-width: 560px;
  margin: 0 auto;
  font-size: 14px;

  @include media-q(min, 1441) {
    font-size: 18px;
  }

  label {
    a {
      color: $white;
      text-decoration: underline;
      font-size: 14px;
      display: block;

      @include media-q(min, 1441) {
        font-size: 18px;
        display: inline-block;
      }
    }
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  display: block;

  @include media-q(min, 1441) {
    padding: 0 0 0 45px;
  }
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  transition: .2s;
  background-color: $c_dark;
  border-radius: 5px;

  @include media-q(min, 1441) {
    width: 28px;
    height: 28px;
  }
}

.checkbox:checked + label:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition: .2s;
  color: #6BD2B9;
  font-size: 10px;

  @extend %font-icon;
  @extend %icon-check;

  @include media-q(min, 1441) {
    font-size: 14px;
  }
}