header#header.site-header
	.header-top
		.container
			.menu-wrap
				a.open-main-menu.icon-menu-inside(href='#')
					i.icon-menu
						span
						span
						span
				nav.menu
					ul.menu-group
						+main_menu(main_menu)


