section.section-first-screen(style="background-image: url(img/first-screen-bg.jpg);")
	.container
		.first-screen-left
			h1.first-screen-title Комплексное оснащение «под ключ» профессиональным оборудованием 
			.first-screen-subtitle предприятий общественного питания, столовых, кафе, баров, ресторанов, объектов Fast-Food, объектов торговли.
			.first-screen-text На сегодняшний день мы – надежный поставщик пищевого оборудования, входящий в десятку лидеров Московского региона.

			
		.first-screen-form-wrapper
			.first-screen-form-top
				.first-screen-form-title Подберем необходимое оборудование для Вашего предприятия
				.first-screen-form-text Заполните форму и наш специалист свяжется с Вами в течение 5 минут

			form.first-screen-form.js-form-submit
				|<input type="hidden" name="recaptcha_response" id="recaptchaResponse">
				input.input-text.input-name(type="text" placeholder='Ваше имя:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.input-text.input-email(type="text" placeholder='Ваш e-mail:')
				input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='otpravit-verh')
				.form-errors-cont
			.first-screen-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих 
				a(href="#") персональных данных.