section.section-results#results
	.container
		h2.equipment-title примеры <br> #[span реализованных объектов]
		.section-result-slider
			each item in [1,2]
				.section-result-slide-wrap
					.section-result-slide-content
						.results-item
							.results-photo-cont
								a.results-photo(href='img/results-img.jpg' style='background-image: url(../img/results-img.jpg) ;')
								.results-photo-group
									a.results-photo-item.active(href='img/results-item-img-01.jpg' style='background-image: url(../img/results-item-img-01.jpg) ;')
									a.results-photo-item(href='img/results-item-img-02.jpg' style='background-image: url(../img/results-item-img-02.jpg) ;')
									a.results-photo-item(href='img/results-item-img-03.jpg' style='background-image: url(../img/results-item-img-03.jpg) ;')
									a.results-photo-item(href='img/results-item-img-04.jpg' style='background-image: url(../img/results-item-img-04.jpg) ;')
									a.results-photo-item(href='img/results-item-img-05.jpg' style='background-image: url(../img/results-item-img-05.jpg) ;')
									a.results-photo-item(href='img/results-item-img-06.jpg' style='background-image: url(../img/results-item-img-06.jpg) ;')
							.results-info
								.results-info-title Кафе Blintz
								.results-info-list Кафе на 30 мест
								.results-info-list #[span Город:]  Ярославль 
								.results-info-list #[span Выполнено:]  проектирование, подбор мебели и профессионального кухонного оборудования, собственное производство оборудования из ЛДСП в зале, поставка, монтаж и пуско-наладка оборудования, обучение персонала.
								.results-info-list #[span Оборудование (Бренды):]  Retigo, Polair, HiCold, Robot-Coupe, Fimar, Indokor, Hurakan, Abat, Grill Master, Viatto, Starfood, Iterma, Atesy, Virtus, Cas 