section.section-popup-order
	.popup-wrap
		.container
			.popup-overlaw
			.popup-content
				.popup-form-wrapper
					button.popup-close-icon
					.popup-form-top
						.popup-form-title заявка на звонок
					.popup-form-text  Заполните форму и наш специалист свяжется с Вами в течение 5 минут

					form.popup-form.js-form-submit
						|<input type="hidden" name="recaptcha_response" id="recaptchaResponse">
						input.input-text.input-name(type="text" placeholder='Ваше имя:')
						input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
						input.input-text.input-email(type="text" placeholder='Ваш e-mail:')
						input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='otpravit-verh')
						.form-errors-cont
					.first-screen-form-text-ps Нажимая на кнопку отправить, вы даете согласие на обработку своих 
						a(href="#") персональных данных.