section.section-advantages#advantages
	.container
		.advantages-group
			.advantages-item.advantages-item01
				.advantages-item-title Большой ассортимент
				.advantages-item-text У нас в каталоге более 2 000 наименований товаров. При этом ассортимент постоянно расширяется. В нашем каталоге вы найдете оборудование как отечественных, так и зарубежных производителей.
			.advantages-item.advantages-item02
				.advantages-item-title Общепит "под ключ"
				.advantages-item-text Предлагаем технологическое проектирование предприятий общественного питания и торговли, их комплексное оснащение технологическим и торговым оборудованием, доставку и монтаж, пуско-наладочные работы. 
			.advantages-item.advantages-item03
				.advantages-item-title Собственное производство
				.advantages-item-text Собственное технологичное производство мебели из ЛДСП. Профессиональная команда мастеров разработают чертежи и создадут для Вас именно ту мебель, которую Вы хотите видеть в своем предприятии. Это будут индивидуальные решения!
			.advantages-item.advantages-item04
				.advantages-item-title Полный комплекс услуг
				.advantages-item-text Предоставляем полный комплекс услуг: 
				|	- проектирование, расстановка и подбор оборудования;
				|<br>	- доставка, монтаж и пуско-наладочные работы;
				|<br>	- сервисное обслуживание.