section.contacts
  .container
    h2 ЗАГОЛОВОК  - ста будет здесь
    .contacts__group.flex
      .contacts__content
        .contacts__title Наші контакти:
        .contacts__sub-title подзаголовок будет здесь
        a(href="tel:+38 (067) 662 67 67").contacts__item
          i.font-icon.font-icon-phone
          | +38 (067) 662 67 67
        a(href="mailto: zakaz@voda.ua").contacts__item
          i.font-icon.font-icon-email
          | zakaz@voda.ua
      .contacts__content
        .contacts__title Робочі години:
        .contacts__item
          i.font-icon.font-icon-time
          span 9:00 - 18:00 (ПН - ПТН)
        .contacts__title Наші соціальні мережі:
        .contacts__socials
          a(href="#").contacts__socials-item
            i.font-icon.font-icon.font-icon-instagram
          a(href="#").contacts__socials-item
            i.font-icon.font-icon.font-icon-telegram
          a(href="#").contacts__socials-item
            i.font-icon.font-icon.font-icon-facebook