section.product-hero
  .container
    include ../../components/breadcrumbs
    .product-hero__wrap.flex
      .product-hero__left
        .product-hero__slider
          .product-hero__big-img
            a(href="#").product-hero__btn-3d
              i.font-icon-3d
              | Смотреть в 3D
            img(src="img/product-img.png" alt="sofa")
          .product-hero__big-img
            a(href="#").product-hero__btn-3d
              i.font-icon-3d
              | Смотреть в 3D
            img(src="img/product-img.png" alt="sofa")
          .product-hero__big-img
            a(href="#").product-hero__btn-3d
              i.font-icon-3d
              | Смотреть в 3D
            img(src="img/product-img.png" alt="sofa")
          .product-hero__big-img
            a(href="#").product-hero__btn-3d
              i.font-icon-3d
              | Смотреть в 3D
            img(src="img/product-img.png" alt="sofa")
      .product-hero__right
        .product-hero__slider-nav
          .product-hero__small-img
            img(src="img/product-img.png" alt="sofa")
          .product-hero__small-img
            img(src="img/product-img.png" alt="sofa")
          .product-hero__small-img
            img(src="img/product-img.png" alt="sofa")
          .product-hero__small-img
            img(src="img/product-img.png" alt="sofa")



