// Page inner container
.container {
  max-width: 100%;
  margin: auto;
  padding: 0 15px;

  @include media-q(min, 1024) {
    max-width: 1000px;
  }

  @include media-q(min, 1280) {
    max-width: 1240px;
  }

  @include media-q(min, 1920) {
    padding: 0;
    max-width: 1720px;
  }
}

