include ../sections/review-popup
include ../sections/request-popup
include ../sections/thanks-popup
footer.footer
  .container
    .footer__top
      .footer__group.flex
        a(href="/").footer__logo
          include ../../img/footer-logo.svg
        .footer__item
          .footer__item-title Каталог
          ul.footer__nav
            li
              a(href="#") Дивани прямі
            li
              a(href="#") Дивани кутові
            li
              a(href="#") Дивани модульні
            li
              a(href="#") Ліжка
            li
              a(href="#") Крісла
            li
              a(href="#") Матраци
            li
              a(href="#") Аксесуари
            li
              a(href="#") Дисконт
            li
              a(href="#") Акції
        .footer__item
          .footer__item-title Для кліентів
          ul.footer__nav
            li
              a(href="#") Про компанію
            li
              a(href="#") Дизайнерам та архітекторам
            li
              a(href="#") Оплата та доставка
            li
              a(href="#") Гарантії
            li
              a(href="#") Новини
            li
              a(href="#") Політика конфіденційності
        .footer__item
          .footer__item-title Контакти
          a.footer__item-contact(href="tel:+38 000 000 00 00") +38 000 000 00 00
          a.footer__item-contact(href="tel:+38 000 000 00 00") +38 000 000 00 00
          a.footer__item-contact(href="tel:+38 000 000 00 00") +38 000 000 00 00
          a.footer__item-contact(href="mailto:email@gmail.com") email@gmail.com
          .header__socials
            a(href="#")
              include ../../img/instagram-footer.svg
            a(href="#")
              include ../../img/facebook-footer.svg
            a(href="#")
              include ../../img/youtube-footer.svg
  .footer__bottom
    .container.flex
      img(src='img/cards.png' alt="cards")
      p © 2021, Интернет-магазин мебели “Mebo”