-
  var menu = [
    {
      title: 'Про компанію',
      href: '#',
    },
    {
      title: 'Дизайнерам та архітекторам',
      href: '#',
    },
    {
      title: 'Наші магазини',
      href: '#',
    },
    {
      title: 'Відео',
      href: '#',
    },
    {
      title: 'Інфо',
      href: '#',
    },
  ];

nav.header__nav
  ul.header__nav-list
    each item in menu
      li.menu-item
        a(href=item.href)=item.title
