section.section-bottom#request(style="background-image: url(img/section-bottom-bg.jpg);")
	.container
		h2.title Оставьте заявку на подключение
		p.bottom-text Наш менеджер перезвонит в течении 5 минут и поможет <br>определиться с тарифным планом.
		.site-form-wrapper
			form.site-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-name(type="text" placeholder='Ваше имя:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='podkluchit-niz')
				.form-errors-cont
