section.section-tariffs#tariffs
	.container
		h2.title Тарифы
		.section-tariffs-subclasses
			a.section-tariffs-subclass.tariffs-tariffs-01.active
				i.font-icon.icon-tariffs-tab-package
				p.section-tariffs-subclass--text Интернет
			a.section-tariffs-subclass.tariffs-tariffs-02
				i.font-icon.icon-tariffs-tab-internet
				p.section-tariffs-subclass--text Интернет + ТВ
			a.section-tariffs-subclass.tariffs-tariffs-03
				i.font-icon.icon-tariffs-tab-tv
				p.section-tariffs-subclass--text Интернет + ТВ + Мобильная связь
		.tariffs-group.active
			.tariffs-item
				h3.tariffs-item__title «Апгрейд»
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)

					p.tariffs-item-global-price 535
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
			.tariffs-item
				h3.tariffs-item__title «Онлайн Экспресс 2.0»
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)
					p.tariffs-item-global-price 549
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
			.tariffs-item
				h3.tariffs-item__title «Игровой 2.0»
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)
					p.tariffs-item-global-price 1080
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
		.tariffs-group
			.tariffs-item
				h3.tariffs-item__title «Для развлечений везде»
				.tariffs-item__info--wrap
					.tariffs-item__info
						i.font-icon.icon-wifi
						p.tariffs-info-text Скорость: <br>
							span 500 Мбит/сек
					.tariffs-item__info
						i.font-icon.icon-tv
						p.tariffs-info-text Каналы: <br>
							span 125 (34 HD)
				p.tariffs-item-global-price 780
					span руб/мес
				button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
			.tariffs-item
				h3.tariffs-item__title «Технологии без границ»
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)
					p.tariffs-item-global-price 800
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
			.tariffs-item
				h3.tariffs-item__title «Технологии без границ + »
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)
					p.tariffs-item-global-price 1000
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
		.tariffs-group
			.tariffs-item
				h3.tariffs-item__title «Для развлечений везде»
				.tariffs-item__info--wrap
					.tariffs-item__info
						i.font-icon.icon-wifi
						p.tariffs-info-text Скорость: <br>
							span 500 Мбит/сек
					.tariffs-item__info
						i.font-icon.icon-tv
						p.tariffs-info-text Каналы: <br>
							span 125 (34 HD)
				p.tariffs-item-global-price 780
					span руб/мес
				button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
			.tariffs-item
				h3.tariffs-item__title «Технологии без границ»
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)
					p.tariffs-item-global-price 800
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить
			.tariffs-item
				h3.tariffs-item__title «Технологии без границ + »
				.tariffs-item__content
					.tariffs-item__info--wrap
						.tariffs-item__info
							i.font-icon.icon-wifi
							p.tariffs-info-text Скорость: <br>
								span 500 Мбит/сек
						.tariffs-item__info
							i.font-icon.icon-tv
							p.tariffs-info-text Каналы: <br>
								span 125 (34 HD)
					p.tariffs-item-global-price 1000
						span руб/мес
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal="podkluchit-tarif") подключить