section.section-popup-form.section-popup-request.js-popup-request
	.popup-wrap
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				.site-form-wrapper
					h3.popup-title заявка на <br> #[span подключение]
					p.popup-text Заполните форму и мы свяжемся <br>с Вами в течении 5 минут
					form.site-form.js-form-submit
						input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
						.input-wrap
							i.font-icon.icon-user
							input.input-text.input-name(type="text" placeholder='Ваше имя:')
						.input-wrap
							i.font-icon.icon-phone-popup
							input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
						input.request.yandex-metrika-event(type="submit" value='отправить' data-goal='otpravit-vopros')
						.form-errors-cont
						input(type="checkbox" id="checkbox-popup-request" class="checkbox" checked)
						label(for="checkbox-popup-request" class="checkbox-label") Согласие на обработку персональных данных.
						a(href="#").form-text-ps Политика конфиденциальности.


section.section-popup-form.popup-tariff.js-popup-tariff
	.popup-wrap
		.popup-overlay
		.popup-form-content
			button.popup-close-icon
			h3.tariffs-item__title
			p.tariffs-item__promo
			.tariffs-item__content-inpopup
			button.collapse свернуть
			.fraction-wrapper
				p.tariffs-item-global-price
				.fraction-wrap
					p.fraction-item.fraction-item-top руб.
					p.fraction-item мес.
			button.plug-button-popup.js-open-another-popup.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice" data-goal='podkluchit-tarif-2') подключить

	//.popup-tariff-table
				//	each item in popup_tariff_group
				//		.popup-tariff-table__item(class='.popup-tariff-table__item-' + item.color)
				//			p.popup-tariff-table__text=item.text
				//			p.popup-tariff-table__price=item.price
				buttom.popup-tariff-btn.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-XXL" data-goal="podkluchit-tarif-2") подключить

section.section-popup-form.popup-choice.js-popup-choice
	.popup-wrap
		.popup-overlay
		.popup-form-content
			button.popup-close-icon
			h3.popup-title Вы выбрали Пакет <br>#[span ]
			//.popup-tariff-price #[span 850] <br>руб./месяц
			.fraction-wrapper
				p.tariffs-item-global-price
				.fraction-wrap
					p.fraction-item.fraction-item-top руб.
					p.fraction-item мес.

			.site-form-wrapper
				form.site-form.js-form-submit
					input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
					input(type='hidden' name='tariff_title')
					input(type='hidden' name='tariff_price')
					.input-wrap
						i.font-icon.icon-user
						input.input-text.input-name(type="text" placeholder='Ваше имя:')
					.input-wrap
						i.font-icon.icon-phone-popup
						input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
					.input-wrap
						i.font-icon.icon-location
						input.input-text.input-address(type="text" placeholder='Ваш адрес:')
					input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='otpravit-vopros')
					.form-errors-cont
					input(type="checkbox" id="checkbox-popup-tariff" class="checkbox" checked)
					label(for="checkbox-popup-tariff" class="checkbox-label") Согласие на обработку персональных данных.
					a(href="#").form-text-ps Политика конфиденциальности.



section.section-popup-form.section-popup-address.js-popup-address
	.popup-wrap
		.popup-overlay
		.popup-form-content
			button.popup-close-icon
			.site-form-wrapper
				h3.popup-title проверка адреса <br>#[span на возможность подключения]
				p.popup-text Заполните форму и мы свяжемся <br>с Вами в течении 5 минут
				form.site-form.js-form-submit
					input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
					.input-wrap
						i.font-icon.icon-user
						input.input-text.input-name(type="text" placeholder='Ваше имя:')
					.input-wrap
						i.font-icon.icon-phone-popup
						input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
					input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='proverka-adresa-2')
					.form-errors-cont
					input(type="checkbox" id="checkbox-popup-address" class="checkbox" checked)
					label(for="checkbox-popup-address" class="checkbox-label") Согласие на обработку персональных данных.
					a(href="#").form-text-ps Политика конфиденциальности.
