section.section-firstscreen#main
	.container
		.firstscreen-top
			.firstscreen-logo-wrap
				img.firstscreen-logo(src='img/header-logo-new.png')
				p.firstscreen-logo-text Официальный <br>партнер
			.firstscreen-contacts
				.firstscreen-contacts-item
					i.font-icon.icon-phone
					p.firstscreen-contacts-text Подключение:
					a.firstscreen-contacts-number.yandex-metrika-event(href="tel: 8 800 302 40 86 " data-goal="zvonok") 8 800 302 40 86
				.firstscreen-contacts-item
					i.font-icon.icon-phone
					p.firstscreen-contacts-text Техподдержка:
					a.firstscreen-contacts-number.yandex-metrika-event(href="tel: 8 916 162 89 73 " data-goal="zvonok-teh") 8 916 162 89 73
		p.firstscreen__text Подключим за 24 часа
		h1.firstscreen__title Стабильный интернет+ТВ
		p.firstscreen__text От Ростелеком
		.firstscreen-checks
			.firstscreen-checks-item
				i.font-icon.icon-check
				p.firstscreen-checks-text Подключение за 1 день
			.firstscreen-checks-item
				i.font-icon.icon-check
				p.firstscreen-checks-text Скидки на пакетные тарифы
		.frscreen-button-group
			button.frscreen-button-item.frscreen-button-item1.js-show-popup-form.yandex-metrika-event(data-open="js-popup-request" data-goal="podkluchit-verh") подключить
			a(href="#tariffs" data-goal="podkluchit-tarif" data-anchor="tariffs").frscreen-button-item.frscreen-button-item2.yandex-metrika-event тарифы
