// ----------------------------------------------------------------------------
// Set box sizing to border-box
*,
::after,
::before {
  box-sizing: border-box;
}

// Remove custom browser elements
*::-ms-clear {
  display: none;
}

*::-ms-reveal {
  display: none;
}

// Placeholders
::-webkit-input-placeholder {
  color: $black;
}

::-moz-placeholder {
  color: $black;
}

// Firefox 19+
:-moz-placeholder {
  color: $black;
}

// Firefox 18-
:-ms-input-placeholder {
  color: $black;
}

::selection {
  background: rgba($black, .2);
}

// ----------------------------------------------------------------------------
// Global styles
html,
body {
  font-size: $fs-base;
  font-weight: $f_normal;
}

html {
  font-family: $sans-brand;
  min-height: 100vh;
}

body {
  color: $black;
  background: $white;
  height: auto;
  min-width: 320px;
  font-weight: $f_normal;
  line-height: $line-height-base;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}


.js-hide {
  @extend %element-invisible;
}

// Mobile menu active need add overlay to the page
.active-menu {
  overflow: hidden;

  &::before {
    opacity: 1;
    visibility: visible;
    z-index: 30;
  }

  @include media-q(min, 1025) {
    overflow-y: auto;
  }
}

// ----------------------------------------------------------------------------
// Set all images  max size
img {
  max-width: 100%;
  height: auto;
  display: inherit;
}

figure {
  margin: 0 0 40px 0;
  text-align: center;

  @include media-q(min, 680) {
    text-align: inherit;
  }

  img {
    margin-bottom: 20px;
  }
}

figcaption {
  @include font-size(11);
  line-height: 2em;
}

// ----------------------------------------------------------------------------
// Global links styles
a {
  @include links($black, $black);
  outline: none;
  transition: color .3s ease;

  //&:visited {
  //  color: $secondary;
  //}
}

.ext {
  .ext {
    display: none;
  }
}

// Video
.responsive-video,
.video-embed-field-responsive-video {
  @extend %responsive-video;
}

iframe {
  max-width: 100%;
}

// ----------------------------------------------------------------------------
// Global ul reset
ul {
  @extend %reset-list;
}

#livechat-compact-container {
  .mobile & {
    max-width: 80px;
    transform: translate(0,0) !important;
  }
}
