.chart {
  position: relative;

  h2 {
    margin-bottom: 40px;

    @include media-q(min, 768) {
      margin-left: 95px;
      text-align: left;
    }

    &::before {
      @include media-q(min, 768) {
        left: 0;
      }
    }
  }

  &::after {
    display: none;

    @include media-q(min, 768) {
      display: block;
      content: '';
      position: absolute;
      left: -1%;
      top: -15%;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 15px solid $light-green;
    }
  }

  &__wrap {
    @include media-q(max, 767) {
      overflow: auto;
    }
  }

  &__container {
    @include media-q(max, 767) {
      width: 200%;
      padding-bottom: 20px;
    }
  }
}
