.road-map {
	position: relative;
	@include media-q(min, 768) {
		margin-bottom: 0;
	}

	&::before {
		@include media-q(min, 768) {
			content: '';
			position: absolute;
			width: 90px;
			height: 90px;
			border-radius: 50%;
			border: 15px solid $beg;
			right: 0;
			top: 10%;
		}
	}

	::-webkit-scrollbar {
		width: rem-calc(2);
	}

	::-webkit-scrollbar-track {
		background-color: $gray;
	}

	::-webkit-scrollbar-thumb {
		background-color: $accent;
	}

	&__group {
		@include media-q(max, 767) {
			padding-right: 10px;
			max-height: 450px;
			overflow: auto;
			padding-top: 3px;
		}
	}

	&__container {
		flex-wrap: wrap;

		&:nth-child(even) {
			flex-direction: row-reverse;

			.road-map__item {
				.road-map__circle {
					&::before {
						@include media-q(min, 768) {
							left: 50%;
						}
					}

					&::after {
						@include media-q(min, 768) {
							right: 50%;
							left: auto;
						}
					}
				}

				&:first-child {
					.road-map__circle {
						&::before {
							display: none;
						}
					}
				}

				&:last-child {
					.road-map__circle {
						&::after {
							@include media-q(max, 767) {
								height: 30%;
							}
							@include media-q(min, 768) {
								left: 0;
								width: 150%;
							}
						}

						&::before {
							content: '';
							position: absolute;
							display: block;
							border-radius: 50%;
							width: 10px;
							height: 10px;
							background-color: $gray;
							top: 75%;
							left: 11px;

							@include media-q(min, 768) {
								top: calc(50% - 5px);
								left: 0;
							}
						}
					}
				}
			}
		}

		&:nth-child(odd) {
			.road-map__item:first-child {
				.road-map__circle {
					&::after {
						@include media-q(max, 767) {
							top: 0;
							height: 150%;
						}
						@include media-q(min, 768) {
							left: 0;
							width: 150%;
						}
					}

					&::before {
						content: '';
						position: absolute;
						display: block;
						border-radius: 50%;
						width: 10px;
						height: 10px;
						background-color: $accent;
						top: -1px;
						left: 11px;

						@include media-q(min, 768) {
							top: calc(50% - 5px);
							left: 0;
						}
					}
				}
			}

			.road-map__item:nth-of-type(5) {
				position: relative;

				&::after {
					@include media-q(min, 768) {
						content: '';
						display: block;
						border: 2px dashed $gray;
						border-left: none !important;
						position: absolute;
						top: calc(50% - 1px);
						left: 50%;
						height: calc(100% + 102px); // 102px = 100px margin-bottom + 2px border-width
						border-radius: 0 500em 500em 0;
						width: 90%;
					}
				}

				&.filled-circle {
					&::after {
						border-color: $accent;
						border-style: solid;
					}
				}

				.road-map__circle {
					&::after {
						@include media-q(min, 768) {
							display: none;
						}
					}
				}
			}
		}
	}

	&__item {
		width: 100%;
		position: relative;
		flex-direction: row-reverse;
		padding-bottom: 40px;

		@include media-q(min, 768) {
			padding-bottom: 0;
			flex-direction: column;
			text-align: center;
			width: 20%;
			margin-bottom: 100px;
		}

		&::before {
			@include media-q(min, 768) {
				content: '';
				position: absolute;
				height: 45px;
				width: 1px;
				background-color: $dark-green;
				left: 50%;
				bottom: calc(50% + 45px);
			}
		}

		&:nth-child(10n - 9),
		&:nth-child(10n - 7),
		&:nth-child(10n - 5),
		&:nth-child(10n - 4),
		&:nth-child(10n - 2),
		&:nth-child(10n) {
			@include media-q(min, 768) {
				flex-direction: column-reverse;
			}

			&::before {
				bottom: auto;
				top: calc(50% + 45px);
			}

			.road-map__info {
				@include media-q(min, 768) {
					padding-top: 67px;
				}
			}
		}
	}


	&__circle {
		margin-right: 20px;
		align-items: center;
		display: flex;

		@include media-q(min, 768) {
			margin-right: 0;
			position: relative;
			height: 90px;
			justify-content: center;
		}

		&-icon {
			position: relative;
			z-index: 2;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $white;
			border: 3px solid $accent;

			@include media-q(min, 768) {
				width: 50px;
				height: 50px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			border-left: 2px dashed $gray;
			width: auto;
			height: 100%;
			left: 15px;
			top: 50%;

			@include media-q(min, 768) {
				left: 50%;
				top: calc(50% - 1px);
				border-left: none;
				height: auto;
				width: 100%;
				border-top: 2px dashed $gray;
			}
		}

		.filled-line & {
			&::after {
				@include media-q(max, 767) {
					border-left-style: solid;
					border-left-color: $accent;
				}
				@include media-q(min, 768) {
					border-top-style: solid;
					border-top-color: $accent;
				}
			}
		}

		.filled-circle & {

			.road-map__circle-icon {
				background-color: $accent;
			}
		}
	}

	&__info {
		@include media-q(min, 768) {
			height: 155px;
		}
	}

	&__title {
		font-weight: $f_bold;
		margin-bottom: 14px;
	}

	&__text {
		@include media-q(min, 768) {
			height: 123px;
			overflow: auto;
		}

		p {
			position: relative;
			background-color: $white;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
