.section-contacts {
	background-color: #f9f8f7;
	padding-top: 38px;
	padding-bottom: 30px;
	border-bottom: 4px solid $white;

	h2.title {
		margin-top: 6px;
		margin-bottom: 30px;

		@include media-q(min, 768) {
			margin-bottom: 0;
		}
	}

	.contacts-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 866px;
		flex-direction: column;

		@include media-q(min, 768) {
			flex-direction: row;
		}
	}

	.header-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding: 0 78px;

		@include media-q(min, 768) {
			flex-direction: row;
			padding: 0;
		}
	}

	.header-item__right-first {
		display: flex;
		flex-direction: column;
		font-size: 17px;
		font-weight: $f_bold;

		&>a {
			margin-bottom: 10px;
		}
	}

	.header-item {
		display: flex;
		text-align: left;
		font-family: $sans-roboto;

		@include media-q(min, 768) {
			margin-left: 104px;
		}

		.font-icon {
			margin-right: 12px;

			&::before {
				font-size: 20px;
				color: $c_yellow;
			}
		}

		&-location {
			margin-bottom: 15px;

			@include media-q(min, 768) {
				margin-bottom: 39px;
			}
		}
	}

	.header-item-right {
		margin-top: 15px;

		@include media-q(min, 768) {
			margin-top: 0;
		}
	}
}