.section-delivery {
	padding-top: 53px;

	@include media-q(min, 768) {
		padding-bottom: 59px;
	}

	h2.title {
		span {
			font-size: 18px;
			font-weight: $f_bold;
			font-family: $sans-roboto;
			letter-spacing: 0.1px;
		}
	}
}

.delivery-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 48px;
}

.delivery-item {
	flex-basis: 33%;
	border: 2px solid $c_gray_dark;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 38px 55px;
	max-width: 370px;
	max-height: 233px;
	margin-bottom: 38px;

	@include media-q(min, 768) {
		padding: 88px 55px;
	}

	.delivery-item__img {
		max-width: 230px;
		max-height: 134px;
	}
}