.section-products {
	background: #fff;
	padding-top: 29px;
	padding-bottom: 51px;

	@include media-q(min, 768) {
		padding-top: 52px;
	}
}

.products-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 37px;

	@include media-q(min, 768) {
		margin-top: 7px;
	}
}

.products-item {
	flex-basis: 49%;
	max-width: 49%;
	margin-bottom: 35px;
	position: relative;
	vertical-align: middle;

	@include media-q(min, 768) {
		padding: 32px 16px 25px;
		flex-basis: 24%;
		max-width: 24%;
		margin-bottom: -6px;
	}
}

.products-item-img-wrap {
	width: 160px;
	height: 250px;
	background: $white;
	border: 2px solid #f2f2f2;
	padding: 2px 2px 15px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	@include media-q(min, 768) {
		width: 250px;
		height: 280px;
		padding: 12px 12px 25px;
	}

	.products-item-img {
		max-width: 137px;
		max-height: 147px;
		width: auto;
		height: auto;
		display: block;
		margin: 0 auto;

		@include media-q(min, 768) {
			max-width: 197px;
			max-height: 197px;
		}
	}
}

.products-item-img {
	width: 300px;
	display: block;
	margin: 0 auto 16px;
}

.products-item-title {
	font-size: 16px;
	color: $c_dark;
	font-family: $sans-roboto;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.2px;
	margin-bottom: 20px;
	padding: 0 12px;

	@include media-q(min, 768) {
		white-space: nowrap;
		padding: 0;
	}
}

.products-item-text-01,
.products-item-text-02 {
	font-size: 14px;
	color: #292c2e;
	margin-bottom: 10px;

	span {
		font-size: 16px;
		font-weight: 600;
		color: #608ace;
	}
}

.products-item-button {
	border: none;
	outline: none;
	background-image: linear-gradient(to bottom, #ffd83b, #ffa226);
	font-size: 17px;
	font-weight: $f_bold;
	text-transform: uppercase;
	color: $black;
	border-radius: 5px;
	border-bottom: 3px solid #e2831e;
	padding: 9px 15px;
	width: 147px;
	display: block;
	margin: 5px auto 0;
	text-align: center;

	@include media-q(min, 768) {
		width: 219px;
	}

		&:hover {
		background: linear-gradient(180deg,  #ff9207, rgba(255, 0, 0, 0)),  #fdd549;
		transition: background 2s;
	}
}