//- ---------------------------------------------------------------------------
//- Variables

-
	var main_menu = [
		{
			title: 'Пациентам',
			href: 'second-screen',
			anchor: second-screen,
		},
		{
			title: 'Услуги и цены',
			href: 'services',
			anchor: services,
		},
		{
			title: 'Акции',
			href: 'stocks',
			anchor: stocks,
		},
		{
			title: 'Преимущества',
			href: 'advantages',
			anchor: advantages,
		},
		{
			title: 'Отзывы',
			href: 'reviews',
			anchor: reviews,
		},
		{
			title: 'FAQ',
			href: 'questions',
			anchor: questions,
		},
		{
			title: 'Контакты',
			href: 'contacts',
			anchor: contacts,
		},
	];

-
	var ansver_items = [
		{
			title: 'Дублирование исследования',
			text: 'Дублирование исследования в случае его утраты / дополнительная копия исследования / Луч. нагрузка 0,0001',
			price: '200'
		},
		{
			title: 'Описание 3Д КЛКТ 5х5 (обычное)',
			text: 'Описание трехмерного рентгенологического исследования размером 5х5 см, срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '1 000'
		},
		{
			title: 'Описание 3Д КЛКТ 5х5 (обычное)',
			text: 'Описание трехмерного рентгенологического исследования размером 5х5 см, срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '1 200'
		},
		{
			title: 'Описание 3Д КЛКТ 5х5 (обычное)',
			text: 'Описание трехмерного рентгенологического исследования размером 5х5 см, срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '1 500'
		},
		{
			title: 'Описание 3Д КЛКТ 5х5 (обычное)',
			text: 'Описание трехмерного рентгенологического исследования размером 5х5 см, срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '1 800'
		},
		{
			title: 'Описание 3Д КЛКТ 5х5 (обычное)',
			text: 'Описание трехмерного рентгенологического исследования размером 13х15 см (в т.ч. ВНЧС), срок - 3 рабочих дня. / \n' +
							'Луч. нагрузка 0,0001',
			price: '2 000'
		},
		{
			title: 'Описание двухмерного рентгенологического исследования (обычное)',
			text: 'Описание двухмерного рентгенологического исследования (ОПТГ, ТРГ, Зонография), срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '700'
		},
		{
			title: 'Описание области одного зуба',
			text: 'Результат в течение 3 рабочих дней / Луч. нагрузка 0,0001',
			price: '700'
		},
		{
			title: 'Разметка для планирования операции имплантации в области 1 отсутствующего зуба (обычное) ',
			text: 'Разметка для планирования операции имплантации в области 1 отсутствующего зуба, срок - 3 рабочих дня. / Луч. нагрузка 0,000',
			price: '700'
		},
		{
			title: 'Разметка для планирования операции имплантации в области 1 сегмента (обычное) ',
			text: 'Разметка для планирования операции имплантации в области 1 сегмента, срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '1 200'
		},
		{
			title: 'Распечатка зоны интереса (обычное) ',
			text: 'Распечатка зоны интереса (скриншоты) трехмерного рентгенологического исследования Kavo, срок - 3 рабочих дня. / Луч. нагрузка 0,0001',
			price: '700'
		},
		{
			title: 'ТРГ расчет',
			text: 'Расчет телерентгенограммы / Луч. нагрузка 0,0001',
			price: '1 900'
		},
	]

-
	var advantages_item = [
		{
			img: 'advantages-01.png',
			title: 'Точный диагноз\n' +
							'и правильный план лечения',
			text: 'Благодаря высокой точности рентген-исследования ваш врач составит правильный план лечения и учтёт детали, которые невозможно увидеть при обычном осмотре.',
		},
		{
			img: 'advantages-02.png',
			title: 'Экономия времени и денег',
			text: 'Рентген-диагностика позволяют выявить бессимптомные заболевания на ранних стадиях. Лечение небольшого кариеса займёт намного меньше времени и обойдётся вам в меньшую сумму, чем установка имплантата.'
		},
		{
			img: 'advantages-03.png',
			title: 'Без вреда\n' +
							'для здоровья',
			text: 'Low Dose Technology сокращает дозу облучения до минимума, но это не влияет на качество. Лучевая нагрузка при исследовании сопоставима с 3-часовым полетом на самолете.'
		},
		{
			img: 'advantages-04.png',
			title: 'Диагностика\n' +
							'без очередей',
			text: 'Запишитесь на сайте и приходите в рентген-центр Voxel в назначенное время. Исследование займёт всего 17 секунд, а уже через 10 минут вы получите результаты.'
		},
		{
			img: 'advantages-05.png',
			title: 'Удобное\n' +
							'расположение',
			text: 'Как добраться до рентген-центра Voxel, смотрите в разделе Контакты.'
		},
		{
			img: 'advantages-06.png',
			title: 'Комфортный\n' +
							'график работы',
			text: 'Вы сможете подъехать в обед, после работы или в выходные. Режим работы в праздничные дни может меняться. Актуальная информация всегда размещена на сайте.'
		}
	]
