h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: $headings-line-height;
  margin-bottom: .85em;
  font-weight: $f_bold;
  color: $black;
}

h1 {
  @include font-size(33);
  margin: 0 0 .75em;
  line-height: 1;

  @include media-q(min, 768) {
    @include font-size(38);
  }
}

h2 {

  @include font-size(28);
  line-height: 1.2;

  @include media-q(min, 768) {
    @include font-size(38);
  }
}

h2.title {
  text-align: left;
  position: relative;
  font-size: 28px;
  color: #2b3238;
  font-weight: 700;
  margin-bottom: 60px;

  &::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background: #298fda;
    left: calc(50% - 35px);
    bottom: -18px;
  }

  @include media-q(min, 768) {
    font-size: 30px;
  }
}

h3 {
  @include font-size(20);
  line-height: 1.2;
  margin-bottom: 1em;
}

h4 {
  @include font-size(18);
  margin-bottom: .75em;
}

h5,
h6 {
  @include font-size(15);
  line-height: 1.13;
}

p {
  line-height: 1.33;
  margin: 0 0 1em;
}

.text-center {
  text-align: center;
}

ol {
  @extend %reset-list;
}

strong {
  font-weight: $f_medium;
}

// WYSIWYG content styles
.content,
.cke_editable {

  ol,
  ul {
    @extend %reset-list;
    margin: 0 0 1.5em 20px;
    padding: 0;

    li {
      margin-bottom: 0.5em;
      line-height: 1.2;
    }
  }

  ol {
    counter-reset: section;
    padding-left: 10px;

    li {
      &::before {
        counter-increment: section;
        content: counter(section) '. ';
        margin-left: -15px;
      }
    }
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }

    li {
      padding-left: 15px;
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        background: $black;
      }
    }
  }

  // Update color for bullets inside table

  blockquote {
    font-weight: $f_bold;
    position: relative;
    padding: 0 30px;
    display: inline-block;
    font-style: italic;
    margin: 20px auto;

    &::before,
    &::after {
      @include font-size(33);
      content: '"';
      position: absolute;
    }

    &::before {
      left: 0;
      top: 0;
    }

    p {
      @include font-size(26);
      line-height: 1.2;
      display: inline;
      margin: 0;
      font-family: inherit;
    }
  }
}

.low-margin-bottom {
  margin-bottom: 5px;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

.rtejustify {
  text-align: justify;
}

// Table
table {
  margin: 3.1em 0 2em;
  text-align: left;
  border: 0;
  color: $black;
  width: 100%;

  caption {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    color: $black;
  }

  tr {
    &:nth-child(even) {
      background: rgba($black, .25);
    }

    td {
      //background: $white;
      border-bottom: 1px solid $black;
    }
  }

  td {
    border: 0;
    padding: 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }


  }

  .gray-bg & {
    tr {
      &:last-child {
        td {
          border: none;
        }
      }
    }
  }
}

// Responsive tables wrapper
.table-wrapper {
  overflow-x: auto;
  margin-top: 3.1em;
  position: relative;

  background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;

  @include media-q(min, 768) {
    border: 0;
    background: transparent;
  }

  table {
    min-width: 640px;

    background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
    background-size: 50px 100%;
    background-repeat: no-repeat;
    max-width: none;
    margin-bottom: 0;
    margin-top: 0;
    width: 100% !important;

    @include media-q(min, 768) {
      background: none;
    }
  }
}

th {
  background: $black;
  color: $white;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid rgba($white, .5);
}

thead {
  th {
    border-right: 1px solid rgba($white, .5);

    &:last-child {
      border-right: 0;
    }
  }
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display Light Italic'), local('SFProDisplay-LightItalic'),
        url('../fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-LightItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-LightItalic.svg#SFProDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display Heavy Italic'), local('SFProDisplay-HeavyItalic'),
        url('../fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-HeavyItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-HeavyItalic.svg#SFProDisplay-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display Medium Italic'), local('SFProDisplay-MediumItalic'),
        url('../fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-MediumItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-MediumItalic.svg#SFProDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display Ultralight Italic'), local('SFProDisplay-UltralightItalic'),
        url('../fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-UltralightItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-UltralightItalic.svg#SFProDisplay-UltralightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BlackItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-BlackItalic.svg#SFProDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display Semibold Italic'), local('SFProDisplay-SemiboldItalic'),
        url('../fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-SemiboldItalic.svg#SFProDisplay-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Italic'), local('SFProDisplay-RegularItalic'),
        url('../fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-RegularItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-RegularItalic.svg#SFProDisplay-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay-Black.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Black.svg#SFProDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Heavy.svg#SFProDisplay-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display Bold Italic'), local('SFProDisplay-BoldItalic'),
        url('../fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-BoldItalic.svg#SFProDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display Thin Italic'), local('SFProDisplay-ThinItalic'),
        url('../fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-ThinItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay-ThinItalic.svg#SFProDisplay-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic_1.eot');
    src: local('SF Pro Display Semibold Italic'), local('SFProDisplay-SemiboldItalic'),
        url('../fonts/SFProDisplay-SemiboldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-SemiboldItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-SemiboldItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-SemiboldItalic_1.svg#SFProDisplay-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic_1.eot');
    src: local('SF Pro Display Heavy Italic'), local('SFProDisplay-HeavyItalic'),
        url('../fonts/SFProDisplay-HeavyItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-HeavyItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-HeavyItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-HeavyItalic_1.svg#SFProDisplay-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic_1.eot');
    src: local('SF Pro Display Thin Italic'), local('SFProDisplay-ThinItalic'),
        url('../fonts/SFProDisplay-ThinItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-ThinItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-ThinItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-ThinItalic_1.svg#SFProDisplay-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light_1.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Light_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Light_1.svg#SFProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight_1.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Ultralight_1.svg#SFProDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic_1.eot');
    src: local('SF Pro Display Light Italic'), local('SFProDisplay-LightItalic'),
        url('../fonts/SFProDisplay-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-LightItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-LightItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-LightItalic_1.svg#SFProDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold_1.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Semibold_1.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic_1.eot');
    src: local('SF Pro Display Ultralight Italic'), local('SFProDisplay-UltralightItalic'),
        url('../fonts/SFProDisplay-UltralightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-UltralightItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-UltralightItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-UltralightItalic_1.svg#SFProDisplay-UltralightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic_1.eot');
    src: local('SF Pro Display Bold Italic'), local('SFProDisplay-BoldItalic'),
        url('../fonts/SFProDisplay-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BoldItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-BoldItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-BoldItalic_1.svg#SFProDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold_1.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Bold_1.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black_1.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Black_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Black_1.svg#SFProDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium_1.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Medium_1.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin_1.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Thin_1.svg#SFProDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy_1.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Heavy_1.svg#SFProDisplay-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic_1.eot');
    src: local('SF Pro Display Medium Italic'), local('SFProDisplay-MediumItalic'),
        url('../fonts/SFProDisplay-MediumItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-MediumItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-MediumItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-MediumItalic_1.svg#SFProDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular_1.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular_1.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular_1.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic_1.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../fonts/SFProDisplay-BlackItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BlackItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-BlackItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-BlackItalic_1.svg#SFProDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic_1.eot');
    src: local('SF Pro Display Italic'), local('SFProDisplay-RegularItalic'),
        url('../fonts/SFProDisplay-RegularItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-RegularItalic_1.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic_1.woff') format('woff'),
        url('../fonts/SFProDisplay-RegularItalic_1.ttf') format('truetype'),
        url('../fonts/SFProDisplay-RegularItalic_1.svg#SFProDisplay-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic_2.eot');
    src: local('SF Pro Display Medium Italic'), local('SFProDisplay-MediumItalic'),
        url('../fonts/SFProDisplay-MediumItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-MediumItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-MediumItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-MediumItalic_2.svg#SFProDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic_2.eot');
    src: local('SF Pro Display Bold Italic'), local('SFProDisplay-BoldItalic'),
        url('../fonts/SFProDisplay-BoldItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BoldItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-BoldItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-BoldItalic_2.svg#SFProDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold_2.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Semibold_2.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black_2.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Black_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Black_2.svg#SFProDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic_2.eot');
    src: local('SF Pro Display Heavy Italic'), local('SFProDisplay-HeavyItalic'),
        url('../fonts/SFProDisplay-HeavyItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-HeavyItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-HeavyItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-HeavyItalic_2.svg#SFProDisplay-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular_2.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular_2.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium_2.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Medium_2.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy_2.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Heavy_2.svg#SFProDisplay-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic_2.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../fonts/SFProDisplay-BlackItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BlackItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-BlackItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-BlackItalic_2.svg#SFProDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light_2.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Light_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Light_2.svg#SFProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic_2.eot');
    src: local('SF Pro Display Light Italic'), local('SFProDisplay-LightItalic'),
        url('../fonts/SFProDisplay-LightItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-LightItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-LightItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-LightItalic_2.svg#SFProDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight_2.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Ultralight_2.svg#SFProDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic_2.eot');
    src: local('SF Pro Display Semibold Italic'), local('SFProDisplay-SemiboldItalic'),
        url('../fonts/SFProDisplay-SemiboldItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-SemiboldItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-SemiboldItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-SemiboldItalic_2.svg#SFProDisplay-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin_2.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Thin_2.svg#SFProDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic_2.eot');
    src: local('SF Pro Display Thin Italic'), local('SFProDisplay-ThinItalic'),
        url('../fonts/SFProDisplay-ThinItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-ThinItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-ThinItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-ThinItalic_2.svg#SFProDisplay-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic_2.eot');
    src: local('SF Pro Display Italic'), local('SFProDisplay-RegularItalic'),
        url('../fonts/SFProDisplay-RegularItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-RegularItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-RegularItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-RegularItalic_2.svg#SFProDisplay-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold_2.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold_2.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Bold_2.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic_2.eot');
    src: local('SF Pro Display Ultralight Italic'), local('SFProDisplay-UltralightItalic'),
        url('../fonts/SFProDisplay-UltralightItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-UltralightItalic_2.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic_2.woff') format('woff'),
        url('../fonts/SFProDisplay-UltralightItalic_2.ttf') format('truetype'),
        url('../fonts/SFProDisplay-UltralightItalic_2.svg#SFProDisplay-UltralightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}


