include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
	include ../common_meta/head
	body.front
		include ../components/_header

		main.page-container
			include ../sections/_section_first_screen
			include ../sections/_section-services
			include ../sections/_section-range
			include ../sections/_section-reviews
			include ../sections/_section-advantages
			include ../sections/_section-contacts
			include ../sections/_section-map
			include ../sections/_section-popup
			include ../sections/_section-popup-thanks


		include ../components/_footer
		include ../common_meta/footer_scripts

