.back-to-top {
  position: fixed;
  right: 33px;
  bottom: 150px;
  z-index: 5;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease;

  @extend %reset-button;

  @include media-q(max, 1023) {
    display: none;
  }

  @include media-q(min, 1440) {
    right: 50px;
    bottom: 214px;
  }

  &.active {
    opacity: 1;
    pointer-events: visible;
  }

  .font-icon {
    display: block;
    transition: transform .1s ease;
  }

  &:active {
    .font-icon {
      transform: translateY(-5px);
    }
  }

  span {
    display: block;
    color: $c_light_green;
    margin-top: rem-calc(10);
  }
}
