.breadcrumbs {
  display: none;

  @include media-q(min, 1024) {
    display: block;
    padding-top: rem-calc(30);
    margin-bottom: rem-calc(80);
  }
}

.bs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bs-item {
  display: flex;
  color: $black;

  &::after {
    @include font-size(6);
    margin: 6px 10px;
    transform: rotate(-90deg);
    color: $black;
    vertical-align: middle;
    @extend %font-icon;
    @extend %icon-arrow-small;
  }

  &:last-child::after {
    display: none;
  }

  a,
  span {
    display: block;
  }

  a {
    color: $c_dark_blue;
    @include font-size(16);

    @include media-q(min, 1850) {
      @include font-size(24);
    }
  }

  &.active {
    color: $c_green;
    @include font-size(16);

    @include media-q(min, 1850) {
      @include font-size(24);
    }
  }
}
