@keyframes langFadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes mobileMenuFadeIn {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes mobileSubmenuFadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.header {
  display: none;
  color: $white;
  position: relative;
  z-index: 5;

  @include media-q(max, 1023) {
    animation: mobileMenuFadeIn .3s ease;
    animation-fill-mode: both;
  }

  @include media-q(min, 1024) {
    display: block;
  }

  .front-page & {
    @include media-q(min, 1024) {
      display: none !important;
    }
  }

  .active-mobile-menu & {
    @include media-q(max, 1023) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 11;
      background: linear-gradient(180deg, #000C0F 0%, #0B303E 100%);
      overflow: auto;
    }
  }

  .close-mobile-menu {
    width: 50px;
    height: 50px;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @extend %reset-button;

    &::before {
      @include font-size(30);
      content: '+';
      display: block;
      line-height: 1;
      font-weight: $fw_light;
      transform: rotate(45deg);
      color: $white;
    }

    @include media-q(min, 1024) {
      display: none;
    }
  }

  .container {
    @include media-q(min, 1280) {
      padding-left: 45px;
      padding-right: 45px;
    }

    @include media-q(min, 1440) {
      padding-left: 65px;
      padding-right: 65px;
    }

    .active-mobile-menu & {
      @include media-q(max, 1023) {
        flex-direction: column;
      }
    }
  }

  &__top {
    align-items: center;
    padding: rem-calc(5 0 60);

    @include media-q(min, 1024) {
      background-color: #04171E;
      padding: rem-calc(5 0 6);
    }

    @include media-q(min, 1280) {
      padding: rem-calc(10 0 12);
    }

    .container {
      align-items: center;
    }
  }

  &__phone {
    @include font-size(18);
    font-weight: $fw_semibold;
    color: $c_light_green;
    transition: color .2s, text-decoration .2s ease;
    border-bottom: 1px solid;
    margin-bottom: rem-calc(8);

    @include media-q(min, 1024) {
      margin-right: rem-calc(35);
      margin-bottom: 0;
    }

    @include media-q(min, 1280) {
      @include font-size(20);
    }

    @include media-q(min, 1440) {
      margin-right: rem-calc(76);
    }

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  &__search {
    display: none;

    @include media-q(min, 1024) {
      display: block;
      margin-left: auto;
      position: relative;
    }

    &::before {
      @include media-q(min, 1024) {
        @include font-size(23);
        position: absolute;
        top: calc(50% - 11px);
        left: -40px;
      }

      @extend %font-icon;
      @extend %icon-search;
    }

    .input-search {
      @include media-q(min, 1024) {
        @include font-size(18);
        padding-left: 0;
        width: rem-calc(154);
        margin-right: rem-calc(40);
      }

      @include media-q(min, 1280) {
        @include font-size(20);
      }

      @include media-q(min, 1440) {
        margin-right: rem-calc(83);
      }
    }
  }

  &__socials {
    margin: rem-calc(30 0);

    @include media-q(min, 1024) {
      margin-right: rem-calc(30);
      margin-top: 0;
      margin-bottom: 0;
    }

    .font-icon {
      margin: rem-calc(0 12);

      &::before {
        @include font-size(22);
        transition: color .2s ease;
      }

      &:hover {

        &::before {
          color: $c_green;
        }
      }
    }
  }

  &__lang {
    display: flex;

    @include media-q(min, 1024) {
      height: 20px;
      flex-direction: column;
    }

    @include media-q(min, 1280) {
      margin-right: rem-calc(-30);
    }

    &-item {
      @include font-size(18);
      color: $c_light_green;
      font-weight: $fw_semibold;
      position: relative;
      cursor: pointer;
      transition: color .2s ease;
      align-items: center;

      @include media-q(max, 1023) {
        margin: rem-calc(0 7);
        color: $white;
      }

      @include media-q(min, 1024) {
        padding-top: 6px;
        display: none;
        animation: langFadeIn .3s ease;
        animation-fill-mode: both;
      }

      &.active {
        @include media-q(max, 1023) {
          font-weight: $fw_bold;
          color: $c_light_green;
        }

        @include media-q(min, 1024) {
          order: -1;
          animation: none;
          display: flex;
          padding-top: 0;
          height: inherit;
          pointer-events: none;
        }

        &::after {
          @include font-size(8);
          margin-left: rem-calc(5);
          transition: color .2s ease;

          @extend %font-icon;
          @extend %icon-arrow-small;

          @include media-q(max, 1023) {
            display: none;
          }
        }
      }

      &:hover {
        color: $c_green;

        &::after {
          color: $c_green;
        }
      }
    }

    &:hover {
      .header__lang-item {
        display: flex;
      }
    }
  }

  &__divider {
    position: relative;
    height: 1px;
    background-color: $c_green;
    margin: auto rem-calc(30 25);
    order: -1;
    flex-shrink: 0;

    @include media-q(min, 1024) {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;
      top: calc(50% - 2px);
      transform: rotate(45deg);
      background-color: inherit;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__main {
    color: $white;
    padding-top: rem-calc(48);
    padding-bottom: rem-calc(30);

    @include media-q(max, 1023) {
      order: -2;
    }

    @include media-q(min, 1024) {
      display: flex;
      align-items: center;
      background: linear-gradient(90.16deg, #0B3442 29.16%, #0B3442 56.13%, #031D25 101.28%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      padding-top: 0;
      padding-bottom: 0;
    }

    > .container {
      @include media-q(min, 1024) {
        align-items: center;
      }
    }
  }

  &__logo {
    display: block;
    margin: 0 auto rem-calc(40);

    @include media-q(max, 1023) {
      width: 232px;
      order: -1;
    }

    @include media-q(min, 1024) {
      margin: 0 6%;
    }

    @include media-q(min, 1280) {
      margin: 0 9%;
    }

    img {
      height: 50px;

      @include media-q(min, 1280) {
        height: 60px;
      }

      @include media-q(min, 1600) {
        height: 74px;
      }
    }
  }
}

.toggle-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background-color: $c_light_green;
  box-shadow: 0 4px 4px rgba(219, 232, 173, .28);
  position: fixed;
  top: 11px;
  left: 15px;
  z-index: 10;
  font-size: 0;

  @extend %reset-button;

  @include media-q(min, 1024) {
    display: none;
  }

  span {
    display: block;
    width: 19px;
    height: 1px;
    background-color: $c_dark_blue;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $c_dark_blue;
    }

    &::before {
      transform: translateY(-7px);
    }

    &::after {
      transform: translateY(7px);
    }
  }
}
