.slick-dots {
	display: flex;
	justify-content: center;
	overflow: auto;
	padding-bottom: 22px;

	li {
		flex-shrink: 0;
	}

	button {
		font-size: 0;
		outline: none;
		border-radius: 50%;
		border: 1px solid $c_green;
		background: transparent;
		height: 15px;
		width: 15px;
		margin: 0 9px;
		flex-shrink: 0;
	}

	.slick-active {
		button {
			background: $c_green;
		}
	}

	.mobile-slick & {
		width: 100%;
		text-align: center;
	}
}

.slick-slide {
	overflow: hidden;
}

.slick-arrow {
	font-size: 0;
	padding: 0;
	border: none;
	background: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	z-index: 1;

	&::after {
		@include font-size(22);
		color: $c_dark_blue;

		@extend %font-icon;
		@extend %icon-arrow-small;
	}
}

.slick-prev {
	left: 0;
	&::after {
		transform: rotate(90deg);
	}
}

.slick-next {
	right: 0;
	&::after {
		transform: rotate(-90deg);
	}
}