.write-to-us {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 5;
  transform: scale(.6);
  transform-origin: right bottom;

  @extend %reset-button;

  @include media-q(min, 1440) {
    transform: none;
  }

  .font-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(102);
    height: rem-calc(102);
    background-color: $c_dark_blue;
    border: 2px solid $c_light_green;
    border-radius: 50%;
    margin-bottom: rem-calc(10);
    padding-top: 10%;
    transition: transform .1s ease;

    @include media-q(min, 1440) {
      border-width: 1px;
    }

    &::before {
      @include font-size(43);
      transition: transform .1s ease;
    }
  }

  &:hover {
    .font-icon {
      &::before {
        transform: scale(1.05);
      }
    }
  }

  &:active {
    .font-icon {
      transform: scale(.9);
    }
  }

  span {
    @include font-size(14);
    display: block;
    font-weight: $fw_medium;
    color: $c_light_green;
  }

  @include media-q(max, 1023) {
    display: none;
  }
}
