section.section-popup-thanks.popup-thanks-call.section-popup-form
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				i.font-icon.icon-check
				h2.popup-form-title Спасибо за заявку!
				p.popup-form-text Наш менеджер свяжется с Вами <br>в течении 5 минут