section.section-equipment#equipment
	.container
		h2.title-has-line Самое востребованное <br> оборудование
		.equipment-group
			each item, index in equipment_items
				.equipment-group__item
					.equipment-img-wrap
						img(src="img/equipment-0" + (index + 1) + '.jpg')
					h3.equipment-title !{item.title}
					p.equipment-text !{item.text}
					p.equipment-cost !{item.cost}
		button.equipment-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-form-price" data-goal='pokazat-price') Показать полный прайс-лист