section.section-video#video
	.container
		h2.title Видео о нашей компании
		p.video-text “СТК-Лидер” является одной из ведущих команий на Дальнем Востоке <br>по продаже мобильных асфальтных заводов
		.video-slider
			each item in [1,2,3]
				.video-wrap
					iframe(src="https://www.youtube.com/embed/UvX_ARkfxLA")