section.section-contacts#contacts
	.section-contact-map
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab0fdd58d7bb9cc471cdf50b1d11c2797b9acebf588a7437fdfff545b54ecb8f3&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
	.section-contacts-cont
		h2.title Контакты
		.section-contacts-content
			.section-contacts-item-wrap
				.section-contacts-item.section-contacts-number
					i.font-icon.icon-contact-phone
					a(href="tel:8 800 250 70 96").number
					a(href="tel:8 800 250 70 96") 8 800 250 70 96
				.section-contacts-item.section-contacts-address
					i.font-icon.icon-contact-address
					p 675000, Амурская обл., г. Благовещенск, ул. Краснофлотская, д. 49, оф. 5
				.section-contacts-item.section-contacts-email
					i.font-icon.icon-contact-mail
					a(href="mailto:info@lider-stk.com") info@lider-stk.com
				.section-contacts-item.section-contacts-data
					i.font-icon.icon-contact-clock
					p ПН.-ПТ.: 09.00-18.00 (+6 МСК)