section.section-portfolio#portfolio
	.container
		h2.title-has-line Реализованные <br>объекты
		.section-portfolio-slider
			each item in [1,2]
				.section-result-slide-wrap
					.section-result-slide-content
						.portfolio-item
							.portfolio-photo-cont
								.portfolio-photo-group
									a.portfolio-photo-item.active(href='img/photo-01.jpg' style='background-image: url(../img/photo-01.jpg) ;')
									a.portfolio-photo-item(href='img/photo-02.jpg' style='background-image: url(../img/photo-02.jpg) ;')
									a.portfolio-photo-item(href='img/photo-03.jpg' style='background-image: url(../img/photo-03.jpg) ;')
									a.portfolio-photo-item(href='img/photo-04.jpg' style='background-image: url(../img/photo-04.jpg) ;')
								.portfolio-photo(style='background-image: url(../img/photo-01.jpg) ;')
							.portfolio-info
								.portfolio-slide-title Асфальтный завод LB 1000
								.portfolio-slide-subtitle г. Спасск-Дальний
								each item, index in portfolio_items
									.portfolio-info-item
										.portfolio-info-title=item.title
										.portfolio-info-text=item.text