section.section-reviews#reviews
	.container
		h2.title-has-line Отзывы <br>компаний
		.section-reviews-slider
				each item in reviews_items
					.slick-slide
						a.reviews-item-wrap(href=item.img)
							img.reviews-item(src=item.img alt='отзыв')