section.section-popup-form.js-popup-form-call
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				.form-wrapper
					h3.form-title Наш менеджер перезвонит вам в течении 5 минут и ответит на все вопросы
					form.form.js-form-submit
						input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
						.form-item.form-type-text
							input.input-text.input-name(type="text" placeholder='Ваше имя')
							i.font-icon.icon-form-user
						.form-item.form-type-text
							input.input-text.input-phone(type="text" placeholder='Номер телефона' required)
							i.font-icon.icon-form-phone
						input.request.yandex-metrika-event(type="submit" value='заказать звонок' data-goal='otpravit-zvonok')
						.form-errors-cont

section.section-popup-form.js-popup-form-price
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				.form-wrapper
					h3.form-title Наш менеджер перезвонит вам в течении 5 минут и ответит на все вопросы
					form.form.js-form-submit
						input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
						.form-item.form-type-text
							input.input-text.input-name(type="text" placeholder='Ваше имя')
							i.font-icon.icon-form-user
						.form-item.form-type-text
							input.input-text.input-phone(type="text" placeholder='Номер телефона' required)
							i.font-icon.icon-form-phone
						input.request.yandex-metrika-event(type="submit" value='заказать звонок' data-goal='otpravit-price')
						.form-errors-cont