section.section-certificates#certificates
	.container
		h2.title-has-line Лицензии <br>и сертификаты
		.section-certificates-slider
			each item in certificates_items
				.slick-slide
					a.certificates-item-wrap(href=item.img)
						img.certificates-item(src=item.img alt='отзыв')