header#header.site-header
  .container.flex
    .h-logo
      //-img(src="img/logo.png")
      include ../../img/logo.svg
    include ../components/main-menu
    a(href=header.cta.href).h-btn=header.cta.title
    include lang-switcher
    button.open-main-menu.icon-menu-inside(type='button' title="toggle mobile menu")
      i.icon-menu
        span
        span
        span


