section.section-advantages#advantages
	.container
		h2.title Преимущества
		.advantages-group
			each item in advantages_item
				.advantages-item
					img.advantages-item-img(src='img/' + item.img alt=item.title)
					.advantages-item-title=item.title
					.advantages-item-text=item.text