section.section-questions#questions
	.container
		h2.title Частые вопросы
		.accordion-group
			.accordion-item
				.accordion-item-title
					.accordion-item-qestion Безопасна ли дентальная компьютерная томография?
					.accordion-icon-wrap
						img.accordion-icon(src="/img/accordion-arrow-right.png", alt="стрелка вправо")
				.accordion-item-answer
					.accordion-item-answer-p
					<br> - при симптомах зубной боли;
					<br> - перед лечением зубных каналов;
					<br> - при лечении ретинированных зубов;
					<br> - перед процедурами имплантации и протезирования;
					<br> - при травме скрытых частей зубов и корней, а также челюсти;
					<br> - при изменении тканей, имеющих патологический характер;
					<br> - при аномалии прикуса и прочих аномалиях зубов.
			.accordion-item
				.accordion-item-title
					.accordion-item-qestion В каких случаях нужно проводить диагностику?
					.accordion-icon-wrap
						img.accordion-icon(src="/img/accordion-arrow-right.png", alt="стрелка вправо")
				.accordion-item-answer
					.accordion-item-answer-p
					<br> - при симптомах зубной боли;
					<br> - перед лечением зубных каналов;
					<br> - при лечении ретинированных зубов;
					<br> - перед процедурами имплантации и протезирования;
					<br> - при травме скрытых частей зубов и корней, а также челюсти;
					<br> - при изменении тканей, имеющих патологический характер;
					<br> - при аномалии прикуса и прочих аномалиях зубов.
			.accordion-item
				.accordion-item-title
					.accordion-item-qestion Можно ли проводить компьютерную томографию во время беременности и кормления грудью?
					.accordion-icon-wrap
						img.accordion-icon(src="/img/accordion-arrow-right.png", alt="стрелка вправо")
				.accordion-item-answer
					.accordion-item-answer-p
					<br> - при симптомах зубной боли;
					<br> - перед лечением зубных каналов;
					<br> - при лечении ретинированных зубов;
					<br> - перед процедурами имплантации и протезирования;
					<br> - при травме скрытых частей зубов и корней, а также челюсти;
					<br> - при изменении тканей, имеющих патологический характер;
					<br> - при аномалии прикуса и прочих аномалиях зубов.
			.accordion-item
				.accordion-item-title
					.accordion-item-qestion Возможны ли какие-либо неприятные ощущения во время процедуры?
					.accordion-icon-wrap
						img.accordion-icon(src="/img/accordion-arrow-right.png", alt="стрелка вправо")
				.accordion-item-answer
					.accordion-item-answer-p
					<br> - при симптомах зубной боли;
					<br> - перед лечением зубных каналов;
					<br> - при лечении ретинированных зубов;
					<br> - перед процедурами имплантации и протезирования;
					<br> - при травме скрытых частей зубов и корней, а также челюсти;
					<br> - при изменении тканей, имеющих патологический характер;
					<br> - при аномалии прикуса и прочих аномалиях зубов.
			.accordion-item
				.accordion-item-title
					.accordion-item-qestion Сколько времени длится компьютерная томография?
					.accordion-icon-wrap
						img.accordion-icon(src="/img/accordion-arrow-right.png", alt="стрелка вправо")
				.accordion-item-answer
					.accordion-item-answer-p
					<br> - при симптомах зубной боли;
					<br> - перед лечением зубных каналов;
					<br> - при лечении ретинированных зубов;
					<br> - перед процедурами имплантации и протезирования;
					<br> - при травме скрытых частей зубов и корней, а также челюсти;
					<br> - при изменении тканей, имеющих патологический характер;
					<br> - при аномалии прикуса и прочих аномалиях зубов.
			.accordion-item
				.accordion-item-title
					.accordion-item-qestion Существуют ли противопоказания при проведении компьютерной томографии?
					.accordion-icon-wrap
						img.accordion-icon(src="/img/accordion-arrow-right.png", alt="стрелка вправо")
				.accordion-item-answer
					.accordion-item-answer-p
					<br> - при симптомах зубной боли;
					<br> - перед лечением зубных каналов;
					<br> - при лечении ретинированных зубов;
					<br> - перед процедурами имплантации и протезирования;
					<br> - при травме скрытых частей зубов и корней, а также челюсти;
					<br> - при изменении тканей, имеющих патологический характер;
					<br> - при аномалии прикуса и прочих аномалиях зубов.