section.section-second-screen(style="background-image: url('img/second-screen-bg.jpg')")
	.container
		.voxel-form-wrapper#second-screen
			.voxel-form-top
				.voxel-form-title Записаться на исследование
				.voxel-form-text Наш менеджер свяжется с вами для уточнения деталей

			form.voxel-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-name(type="text" placeholder='Ваше имя')
				input.input-text.input-date(type="text" placeholder='Дата записи' onfocus="(this.type='date')")
				input.input-text.input-phone(type="text" placeholder='Номер телефона')
				input.request.yandex-metrika-event(type="submit" value='записаться на приём' data-goal='otpravit-verh')
				.form-errors-cont
			.voxel-form-text-ps Нажимая кнопку “Записаться на прием”, вы принимаете условия
				a(href="#")  обработки данных.

		h2.title.second-screen-title Пациентам
		.second-screen-text 3D-диагностика сохранит ваше здоровье, деньги и время. <br>Это - наиболее современный метод, точность которого достигает 98%. От качества диагностики зависит успех всего лечения и здоровья пациентов. Используйте 3D‑диагностику как стандарт при первичном осмотре!
