section.section-services#services
	.container
		.services-top
			h2.title Услуги и цены
			.section-cost-subclasses
				a.section-cost-subclass.active 2D - Исследования
					.cost-triangle
				a.section-cost-subclass.section-cost-subclass-right 3D - Исследования
		each index, item in [1,2]
			.cost-work-group(class=(index == 1) ? 'active' : '')
				.cost-work-left-group
					.cost-work-item(data-hover='js-cost-right-top-01')
						.cost-work-item-number 1
						.cost-work-item-info
							.cost-work-item-title 3Д КЛКТ 5х5
							.cost-work-item-text Трехмерное рентгенологическое исследование области размером 5х5 см Kavo (область одного сегмента от 3 до 8 зубов) / Луч. нагрузка 0,011
						.cost-work-item-price 900 ₽
					.cost-work-item(data-hover='js-cost-right-top-02')
						.cost-work-item-number 2
						.cost-work-item-info
							.cost-work-item-title 3Д КЛКТ 6х8
							.cost-work-item-text Трехмерное рентгенологическое исследование области размером 6х8 см Kavo (Область зубных дуг) / Луч. нагрузка 0,021
						.cost-work-item-price 1 500 ₽
					.cost-work-item(data-hover='js-cost-right-top-03')
						.cost-work-item-number 3
						.cost-work-item-info
							.cost-work-item-title 3Д КЛКТ 8х8
							.cost-work-item-text Трехмерное рентгенологическое исследование области размером 8х8 см Kavo (область зубных дуг, нижечелюстной канал) / Луч. нагрузка 0,025
						.cost-work-item-price 1 900 ₽
					.cost-work-item(data-hover='js-cost-right-top-04')
						.cost-work-item-number 4
						.cost-work-item-info
							.cost-work-item-title 3Д КЛКТ 8х15
							.cost-work-item-text Трехмерное рентгенологическое исследование 8х15 см Kavo ( Область околоносовых пазух, орбит,височная кость) / Луч. нагрузка 0,048
						.cost-work-item-price 2 100 ₽
					.cost-work-item(data-hover='js-cost-right-top-05')
						.cost-work-item-number 5
						.cost-work-item-info
							.cost-work-item-title 3Д КЛКТ 13х15
							.cost-work-item-text Трехмерное рентгенологическое исследование области размером 13х15 см Kavo (Полная челюстно-лицевая область, включая ВНЧС) / Луч. нагрузка 0,055
						.cost-work-item-price 2 700 ₽
				.cost-work-right-group
					.cost-work-right-top
						.cost-right-top.cost-right-top-01.js-cost-right-top-01 1
						.cost-right-top.cost-right-top-02.js-cost-right-top-02 2
						.cost-right-top.cost-right-top-03.js-cost-right-top-03 3
						.cost-right-top.cost-right-top-04.js-cost-right-top-04 4
						.cost-right-top.cost-right-top-05.js-cost-right-top-05 5
					.cost-work-right-bottom
						.cost-right-bottom.cost-right-bottom-01.js-cost-right-top-01
						.cost-right-bottom.cost-right-bottom-02.js-cost-right-top-02
						.cost-right-bottom.cost-right-bottom-03.js-cost-right-top-03
						.cost-right-bottom.cost-right-bottom-04.js-cost-right-top-04
						.cost-right-bottom.cost-right-bottom-05.js-cost-right-top-05
		.questions-item
			.questions-item-title
				.questions-item-qestion Дополнительные услуги
				img.question-icon(src="/img/question-arrow.png", alt="стрелка вправо")
			.questions-item-answer
				each item in ansver_items
					.answer-item
						.answer-group
							.answer-title=item.title
							.answer-text=item.text
						.answer-price=item.price + ' ₽'

