section.section-contacts#contacts
	.container
		h2.title Контакты
		.contacts-group
			.contacts-info
				.header-logo
					a(href="/")
						img(src="/img/header-logo.png", alt="logo")
				.contacts-info-item.contacts-info-item-01
					.contacts-info-text Телефон
					a.contacts-info-text-bold(href='tel:+7 (912) 390-13-93') +7 (912) 390-13-93
				.contacts-info-item.contacts-info-item-02
					.contacts-info-text Адрес центра
					.contacts-info-text-bold Тюмень, ул. Республики, д 53
			.contacts-map-wrap
				.contacts-map
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6fe858ce9302aa0b83f143dd97c50de1f5b8848736d23fe52964ded0812962e2&amp;width=100%25&amp;height=419&amp;lang=ru_RU&amp;scroll=true"></script>
