section.section-stocks#stocks
	.container
		h2.title Акции
		.stocks-group
			.stocks-item
				.stocks-item-info
					.stocks-item-title ОПТГ
					.stocks-item-text
				.stocks-item-group-price
					.stocks-item-new-price 600 ₽
					.stocks-item-old-price 900 ₽
			.stocks-item
				.stocks-item-info
					.stocks-item-title ТРГ
					.stocks-item-text
				.stocks-item-group-price
					.stocks-item-new-price 600 ₽
					.stocks-item-old-price 1000 ₽
			.stocks-item
				.stocks-item-info
					.stocks-item-title 5х5 см Kavo
					.stocks-item-text Область 2-3 рядом стоящих зубов
				.stocks-item-group-price
					.stocks-item-new-price 800 ₽
					.stocks-item-old-price 1 500 ₽
			.stocks-item
				.stocks-item-info
					.stocks-item-title 6х8 см Kavo
					.stocks-item-text Область одной челюсти или одного сегмента
				.stocks-item-group-price
					.stocks-item-new-price 900 ₽
					.stocks-item-old-price 1 800 ₽
			.stocks-item
				.stocks-item-info
					.stocks-item-title 8х8 см Kavo
					.stocks-item-text Область 2-ух сегментов- антагонисты
				.stocks-item-group-price
					.stocks-item-new-price 1 400 ₽
					.stocks-item-old-price 2 600 ₽
			.stocks-item
				.stocks-item-info
					.stocks-item-title 8х15 см Kavo
					.stocks-item-text Область обеих челюстей, дно гайморовых пазух
				.stocks-item-group-price
					.stocks-item-new-price 2 000 ₽
					.stocks-item-old-price 3 100 ₽
			.stocks-item.stocks-item-last
				.stocks-item-info
					.stocks-item-title 13х15 см Kavo
					.stocks-item-text Область обеих челюстей,  гайморовых пазух, ВНЧС
				.stocks-item-group-price
					.stocks-item-new-price 2 500 ₽
					.stocks-item-old-price 3 500 ₽
		h2.title.subtitle ЛОР-исследования:
		.stocks-group
			.stocks-item
				.stocks-item-info
					.stocks-item-title 8х15 см Kavo
					.stocks-item-text Область верхней челюсти игайморовых пазух
				.stocks-item-group-price
					.stocks-item-new-price 1 500 ₽
					.stocks-item-old-price 3 100 ₽
			.stocks-item
				.stocks-item-info
					.stocks-item-title 3х15 см Kavo
					.stocks-item-text Область верхней челюсти и всех пазух
				.stocks-item-group-price
					.stocks-item-new-price 1 800 ₽
					.stocks-item-old-price 3 500 ₽