section.section-center-form.section-bottom-form
	.container
		.center-form-wrapper
			.voxel-form-wrapper
				.voxel-form-top
					.voxel-form-title Записаться на исследование
					.voxel-form-text Наш менеджер свяжется с вами для уточнения деталей

				form.voxel-form.js-form-submit
					input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
					input.input-text.input-name(type="text" placeholder='Ваше имя')
					input.input-text.input-date(type="text" placeholder='Дата записи' onfocus="(this.type='date')")
					input.input-text.input-phone(type="text" placeholder='Номер телефона')
					input.request.yandex-metrika-event(type="submit" value='записаться на приём' data-goal='otpravit-niz')
					.form-errors-cont
				.voxel-form-text-ps Нажимая кнопку “Записаться на прием”, вы принимаете условия
					a(href="#")  обработки данных.