section.section-reviews#reviews
	.container
		h2.title Отзывы клиентов
		.reviews-slider
			each item in [1,2,3]
				.reviews-slider-cont
					.reviews-slider-cont-text "У меня никогда не было проблем с зубами. Всегда их чистила и ухаживала за ними. Но однажды, у меня появилась сильнейшая боль в челюсти. Я пошла к своему зубному, который, провозившись со мной около часа, ничего не нашел и посоветовал обратиться в диагностический центр Voxel. В этом центре сделали рентгеновский снимок челюсти всего за 15 минут и уже по этому снимку у меня нашли дополнительный канал в зубе, где было воспаление. Очень советую этот диагностический центр. Быстро! Качественно! Дешево!"
					.reviews-slider-bottom-text #[span Ольга Петрова] / 26 июля 2018