.product-hero {
	margin-bottom: 70px;

	&__wrap {
		flex-direction: column;
		@include media-q(min, 1024) {
			flex-direction: row;
		}
	}

	&__slider {
		.slick-arrow {
			background-color: $white;
			width: 40px;
			height: 40px;

			&::after {
				font-size: 40px;
			}
		}

		.slick-prev {
			display: none !important;
		}

		.slick-next {
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
		}
	}

	&__left {
		margin-bottom: 20px;

		@include media-q(min, 1024) {
			width: 80%;
			margin-right: 20px;
			margin-bottom: 0;
		}
	}

	&__right {

		@include media-q(min, 1024) {
			width: 20%;
		}

		.slick-slide {
			padding: 0 10px;

			@include media-q(min, 1024) {
				padding: 0;
			}
		}
	}

	&__big-img {
		background-color: #E8F0F2;
		min-height: 330px;
		display: flex !important;
		align-items: center;
		justify-content: center;
		position: relative;

		@include media-q(min, 1024) {
			min-height: 500px;
		}

		@include media-q(min, 1024) {
			min-height: 706px;
		}
	}

	&__btn-3d {
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 15px 30px;
		background-color: $white;
		display: flex;
		align-items: center;

		@extend %reset-button;

		.font-icon-3d {
			margin-right: 10px;

			&::before {
				font-size: 20px;
			}
		}
	}

	&__small-img {
		background-color: #E8F0F2;
		height: 160px;
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		@include media-q(min, 1024) {
			margin-bottom: 20px;
			height: 220px;
		}
	}

	&__slider-nav {

		.slick-track {
		}

		.slick-slide {
		}
	}
}