.product-tabs {

	&__nav {

		.show-before-tablet & {
			position: relative;

			&::after {
				font-size: 40px;
				position: absolute;
				right: 40px;
				top: 50%;
				transform: translateY(-50%);
				pointer-events: none;
				color: $c-blue;

				@extend %font-icon;
				@extend %icon-arrow-small;
			}
		}

		@include media-q(max, 1023) {
			display: flex;
			flex-direction: column;
		}

		&-item {
			font-size: 24px;
			font-weight: $f_medium;
			width: 100%;
			background-color: $c-light;
			color: $white;
			transition: color, background-color .2s ease;
			padding: 20px 30px;
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@extend %reset-button;

			@include media-q(min, 1024) {
				padding: 20px;
				text-align: center;
				justify-content: center;
			}

			&:not(:last-child) {
				border-right: 1px solid $white;
			}

			&.active {
				color: $black;
				background-color: $white;
				border: 1px solid $c-light;

				&::after {
					color: $c-blue;
					@extend %font-icon;
					@extend %icon-arrow-small;

					@include media-q(min, 1024) {
						display: none;
					}
				}
			}

			@include media-q(max, 1023) {
				display: none;

				.active-nav &,
				&.active {
					display: block;
				}

				&.active {
					order: -1;
					display: flex;
				}
			}
		}
	}

	&__content {
		border-left: 1px solid $c-light;
		border-right: 1px solid $c-light;
		border-bottom: 1px solid $c-light;
		padding: 40px 30px;
		max-height: 530px;
		overflow: auto;
		overflow-x: hidden;

		@include media-q(min, 768) {
			padding: 50px 40px 40px;
		}

		@include media-q(min, 1024) {
			padding: 50px 50px 40px;
		}

		&::-webkit-scrollbar {
			width: 2px;
		}

		&::-webkit-scrollbar-track {
			background: #F2FAFC;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #3AA2DB;
			outline: 2px solid #3AA2DB;
		}

		&-item {
			display: none;

			@include media-q(min, 1024) {
			}

			&.active {
				display: block;
			}

			p {
				margin-bottom: 15px;
			}
		}

		&-mob {
			p {
				margin-bottom: 5px;
			}
		}
	}

	&__select {
		padding: 20px 30px;
		border: 1px solid $c-light;
		text-align: left;
		font-size: 22px;
		font-weight: $f_medium;

		@extend %reset-button;

		@include media-q(min, 768) {
			padding: 20px 40px;
		}
	}
}

.reviews {
	&__button-wrap {
		border-bottom: 1px solid $c-light;
		margin-left: -50px;
		margin-right: -50px;
		padding: 0 50px 30px;

		.btn {
			height: 62px;
		}
	}

	&__content {
		padding-top: 30px;
	}

	&__count {
		margin-bottom: 50px;
	}

	&__item {
		margin-bottom: 50px;

		span,
		p {
			display: inline;
		}
	}

	&__name {
		font-size: 24px;
		margin-bottom: 20px;
		font-weight: $f_medium;
	}
}