.product-video {
	&__frame {
		width: 100%;

		iframe {
			width: 100%;
			min-height: 330px;

			@include media-q(min, 768) {
				min-height: 500px;
			}

			@include media-q(min, 1024) {
				min-height: 800px;
			}
		}
	}
}