section.section-popup-thanks
	.popup-wrap
		.container
			.popup-overlaw
			.popup-content
				button.popup-close-icon
				h2.title Спасибо за заявку!
				p.popup-form-text Вы записались на обследование! <br> В течении 5 минут с Вами свяжется наш менеджер <br> для уточнения всех деталей.