section.section-reviews#reviews
	.container
		h2.title Отзывы
		.reviews-slider
			each item in [1,2,3]
				.reviews-slider-cont
					p.reviews-slider-cont__text “Огpомное спасибо всему персоналу клиники и Евгению Юрьевичу за проффесиональный подход и хорошее настроение! Ходим лечить зубки всей семьёй . Мои детки с удовольствием посещают клинику! Вы творите чудеса! Спасибо, что вы есть!”
					h4.reviews-slider-cont__name Нина Комарова
					p.reviews-slider-cont__time 9 апр 2017 в 23:37