section.section-advantages#advantages
	.container
		h2.title Почему стоит обратиться к нам
		.advantages-group
			each item in advantages_items
				.advantages-group__item
					i.font-icon(class=item.icon)
					p.advantages-text=item.text

