section.section-form
	.container
		.form-wrapper.form-center
			.form-top
				h2.title.form-top__title Записаться на обследование
				p.form-top__text Заполните форму и наш менеджер свяжется с вами для уточнения деталей
			form.form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-name(type="text" placeholder='Ваше имя')
				input.input-text.input-date.init-datepicker(type="text" placeholder='Дата записи')
				input.input-text.input-phone(type="text" placeholder='Номер телефона' required)
				input.request.yandex-metrika-event(type="submit" value='записаться на приём' data-goal='otpravit-niz')
				.form-errors-cont
			.form-text-ps Нажимая кнопку, вы принимаете условия обработки данных