section.section-about
	.container
		.about-photo-wrap
			//img(src="img/about-img.jpg")
		.about-text-wrap
			h2.title О  клинике
			p.about-text__text Мы оказываем комплексную стоматологическую помощь. Сегодня, когда достижения в стоматологии не стоят на месте, развиваясь и постоянно поднимаясь на более совершенный уровень, стоматологическая клиника «AR Клиник» успешно применяет все эти достижения и огромные возможности на практике. У нас работает сплоченная команда грамотных и добросовестных специалистов во главе с профессиональным Главным Врачом к.м.н. Поздним Евгением Юрьевичем, которые всегда готовы к решению задач любого уровня сложности.
			p.about-text__text Результатом грамотного выбора стоматолога станут не только крепкие зубы, но и сияющая улыбка, которая будет радовать не только окружающих, но и Вас при взгляде в зеркало каждое утро. Здоровье человека невозможно без здоровых зубов - это принцип, по которому работает наша клиника. Наши пациенты уже успели оценить широкий спектр предлагаемых нами услуг и их соответствие современным тенденциям
			p.about-text__text Полноценная команда стоматологов от терапии, хирургии, ортодонтии до лечения сустава челюстного. Наличие высококлассного современного оборудования, позволяет сократить сроки лечения и ставить более точные диагнозы, а наши цены приятно Вас удивят, к тому же у нас есть несколько видов рассрочки на дорогостоящее лечение.
