section.section-contacts#contacts
	.container
		h2.title Контакты
		.contacts-group
			.contacts-group__item
				i.font-icon.icon-contact-address
				.contacts-item-info
					p.contacts-info__name Адрес клиники
					p.contacts-info__text г. Самара, пр.Карла Маркса 201б, оф.206, 209
			.contacts-group__item
				i.font-icon.icon-contact-clock
				.contacts-item-info
					p.contacts-info__name График работы
					p.contacts-info__text Пн.-Пт. с 9.00 до 20.00 Сб. с 8.00 до 20.00
			.contacts-group__item
				i.font-icon.icon-contact-phone
				.contacts-item-info
					p.contacts-info__name Телефоны
					p.contacts-info__text
						a.yandex-metrika-event(href='tel:8(927) 265 00 20' data-goal='click-na-nomer') 8(927) 265 00 20 <br>
						a.yandex-metrika-event(href='tel:8(927) 269 19 52' data-goal='click-na-nomer') 8(927) 269 19 52
			.contacts-group__item
				i.font-icon.icon-contact-envelope
				.contacts-item-info
					p.contacts-info__name Почта
					p.contacts-info__text arklinik@mail.ru
