section.section-doctors#doctors
	.container
		h2.title Наши врачи
		.doctors-group
			each item, index in doctors_items
				.doctors-group__item
					.doctors-img-wrap
						img(src="img/doctor-0" + (index + 1) + '.jpg')
					h3.doctors-name !{item.name}
					p.doctors-position=item.position