section.section-cost#services
	.container
		h2.title Услуги и Цены
		h3.cost-title прайс
		.cost-wrap
			each item in cost_items
				.cost-wrap__item
					p.cost-wrap__text=item.text
					p.cost-wrap__price=item.price
		a(href='#').cost-button Поcмотреть полный прайс-лист на услуги