footer.footer
	.container
		p.footer-text © Группа компаний «Танкерстрой» 2008 - 2020
		.footer-logo-wrap
			p.footer-logo-text Создание и <br>продвижение сайтов
			a(href="http://kryuchkin-web.ru/")
				img.footer-logo-img(src="img/footer-logo.png")