h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: $headings-line-height;
  margin-bottom: .85em;
  font-weight: $f_bold;
  color: $black;
}

h1 {
  @include font-size(36);
  font-weight: $f_medium;
  line-height: 1.4;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  @include media-q(min, 768) {
    @include font-size(40);
    margin-bottom: 50px;
  }

  @include media-q(min, 1024) {
    @include font-size(50);
  }

  @include media-q(min, 1240) {
    margin-bottom: 90px;
  }

  span {
    background-color: #FCFE92;
    font-style: italic;
  }
}

h2 {
  @include font-size(36);
  margin-bottom: rem-calc(80);
  font-weight: $f_medium;
}

h3 {
  @include font-size(20);
  line-height: 1.2;
  margin-bottom: 1em;
}

h4 {
  @include font-size(18);
  margin-bottom: .75em;
}

h5,
h6 {
  @include font-size(15);
  line-height: 1.13;
}

p {
  @include font-size(16);
  line-height: 1.3;
  margin-bottom: 25px;
}

.text-center {
  text-align: center;
}

ol {
  @extend %reset-list;
}

strong {
  font-weight: $f_medium;
}

// WYSIWYG content styles
.content,
.cke_editable {

  ol,
  ul {
    @extend %reset-list;
    margin: 0 0 1.5em 20px;
    padding: 0;

    li {
      margin-bottom: 0.5em;
      line-height: 1.2;
    }
  }

  ol {
    counter-reset: section;
    padding-left: 10px;

    li {
      &::before {
        counter-increment: section;
        content: counter(section) '. ';
        margin-left: -15px;
      }
    }
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }

    li {
      padding-left: 15px;
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        background: $black;
      }
    }
  }

  // Update color for bullets inside table

  blockquote {
    font-weight: $f_bold;
    position: relative;
    padding: 0 30px;
    display: inline-block;
    font-style: italic;
    margin: 20px auto;

    &::before,
    &::after {
      @include font-size(33);
      content: '"';
      position: absolute;
    }

    &::before {
      left: 0;
      top: 0;
    }

    p {
      @include font-size(26);
      line-height: 1.2;
      display: inline;
      margin: 0;
      font-family: inherit;
    }
  }
}

.low-margin-bottom {
  margin-bottom: 5px;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

.rtejustify {
  text-align: justify;
}

// Table
table {
  margin: 3.1em 0 2em;
  text-align: left;
  border: 0;
  color: $black;
  width: 100%;

  caption {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    color: $black;
  }

  tr {
    &:nth-child(even) {
      background: rgba($black, .25);
    }

    td {
      //background: $white;
      border-bottom: 1px solid $black;
    }
  }

  td {
    border: 0;
    padding: 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }


  }

  .gray-bg & {
    tr {
      &:last-child {
        td {
          border: none;
        }
      }
    }
  }
}

// Responsive tables wrapper
.table-wrapper {
  overflow-x: auto;
  margin-top: 3.1em;
  position: relative;

  background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;

  @include media-q(min, 768) {
    border: 0;
    background: transparent;
  }

  table {
    min-width: 640px;

    background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
    background-size: 50px 100%;
    background-repeat: no-repeat;
    max-width: none;
    margin-bottom: 0;
    margin-top: 0;
    width: 100% !important;

    @include media-q(min, 768) {
      background: none;
    }
  }
}

th {
  background: $black;
  color: $white;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid rgba($white, .5);
}

thead {
  th {
    border-right: 1px solid rgba($white, .5);

    &:last-child {
      border-right: 0;
    }
  }
}
