include ../common_help/variables
include ../common_help/mixins

doctype html
html(lang='ru')
	include ../common_meta/head
	body.front
		include ../components/_header

		main.page-container
			include ../sections/_section_first_screen
			include ../sections/_section_underscreen
			include ../sections/_section_advantages
			include ../sections/_section_application
			include ../sections/_section_payment
			include ../sections/_section_portfolio
			include ../sections/_section_reviews
			include ../sections/_section_partners
			include ../sections/_section_angar
			include ../sections/_section_sertificates
			include ../sections/_section_popularity
			include ../sections/_section_contacts
			include ../sections/_section_map
			include ../sections/_section_popup
			include ../sections/_section_popup_thanks




	include ../components/_footer
		include ../common_meta/footer_scripts

