.advantages {

	&__group {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		background-color: $c-blue;
		color: $white;
		display: flex;
		flex-direction: column;
		padding: 30px;
		height: 340px;
		margin-bottom: 15px;

		@include media-q(min, 768) {
			width: 49%;
		}

		@include media-q(min, 1024) {
			width: 24%;
			margin-bottom: 0;
		}

		&-title {
			@include font-size(24);
			margin-top: auto;
			font-weight: $f_medium;
			border-bottom: 1px solid $white;
			padding-bottom: 20px;
			margin-bottom: 20px;
			animation: showAdvantageText .2s ease;
		}

		&-content {
			transition: max-height .3s ease;
			overflow: auto;
			margin-bottom: 0;

			@include media-q(min, 1024) {
				max-height: 0;
			}
		}

		&:hover {
			.advantages__item-content {
				max-height: 300px;
			}
		}
	}

	&__img {
		margin-left: auto;
	}
}