.home-hero-screen {
	&__content {
		padding-left: rem-calc(24);
		padding-right: rem-calc(24);
		padding-top: rem-calc(150);
		height: 590px;
		background-repeat: no-repeat;
		background-position: right;
		background-size: cover;
		margin-left: -24px;
		margin-right: -24px;

		@include media-q(min, 768) {
			margin-left: 0;
			margin-right: 0;
			padding-left: rem-calc(80);
			padding-right: 0;
		}

		@include media-q(min, 1024) {
			width: calc(100% - 10rem);
			transform: translateX(10rem);
		}

		@include media-q(min, 1200) {
			width: calc(100% - 15rem);
			transform: translateX(15rem);
		}

		h1 {
			margin-right: -15px;
		}

		p {
			@include font-size(20);
			margin-bottom: 0;

			@include media-q(min, 768) {
				@include font-size(22);
			}

			@include media-q(min, 1440) {
				@include font-size(24);
			}
		}

		.btn {
			margin-top: rem-calc(50);
		}
	}

	&__advantages {

		@include media-q(min, 768) {
			border-top: 1px solid $c-light;
			border-bottom: 1px solid $c-light;
		}

		&-content {
			padding-top: 20px;
			padding-bottom: 20px;
			flex-wrap: wrap;

			@include media-q(min, 1024) {
				flex-wrap: nowrap;
				width: calc(100% - 10rem);
				transform: translateX(10rem);
			}

			@include media-q(min, 1200) {
				width: calc(100% - 15rem);
				transform: translateX(15rem);
			}
		}

		&-item {
			width: 100%;
			padding-right: 80px;
			padding-left: 20px;
			background-repeat: no-repeat;
			background-position: right;
			background-size: contain;
			background-color: #e9f0f2;
			font-weight: $f_medium;
			display: flex;
			align-items: center;
			min-height: 130px;
			margin-bottom: 20px;

			@include media-q(min, 768) {
				padding-right: 120px;
				padding-left: 90px;
				min-height: 180px;
			}

			@include media-q(min, 1024) {
				width: 32%;
				margin-bottom: 0;
				padding-left: 20px;
			}

			p {
				margin-bottom: 0;
			}

			&:nth-child(2) {

				@include media-q(min, 1024) {
					margin: 0 20px;
				}
			}
		}
	}
}