.last-news {

	&__group {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}

	&__item {
		margin-bottom: 40px;
		display: block;

		@include media-q(min, 1024) {
			float: left;
			width: 49%;
			margin-bottom: 0;
		}

		&:nth-child(1) {

			@include media-q(min, 768) {
				margin-right: 20px;

				.last-news__img {
					height: 600px;
				}
			}
		}

		&:not(:first-child) {
			@include media-q(min, 768) {
				display: flex;

				.last-news__img {
					margin-right: 20px;
					width: 50%;
					height: 290px;

					img {
						height: 100%;
					}
				}

				.last-news__info {
					width: 50%;
				}
			}
		}
	}

	&__img {
		margin-bottom: 20px;

		@include media-q(max, 767) {
			height: 330px;
		}

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&__date {
		@include font-size(16);
		color: $c-blue;
		margin-bottom: 20px;
	}

	&__title {
		@include font-size(24);
		font-weight: $f_medium;
		margin-bottom: 30px;
	}

	&__description {
		max-width: 340px;
	}
}