-
	var certificates_item = [
		{
			image: 'home-certificate-00.jpg',
			text: 'Свидетельство № С-056-63-1159-63-110517 от 11 мая 2017 года о допуске к определенному виду или видам работ, которые оказывают влияние на безопасность объектов капитального строительства. Выдано члену саморегулируемой организации ООО ЛПЦ "ТИТАН" на основании решения Совета СРО СОЮЗа "Содружество строителей". Свидетельство выдано без ограничения срока и территории его действия.'
		},
		{
			image: 'home-certificate-01.jpg',
			text: 'Свидетельство № СС-СЧ-6318212801-1159-17 от 24 апреля 2017 г. о членстве в саморегулируемой организации в области строительства, реконструкции, капитального ремонта.'
		},
		{
			image: 'home-certificate-02.jpg',
			text: 'Свидетельство о членстве № ФЛП-046-13 от 5 июня 2013 г. Выдано члену Общероссийского отраслевого объединения работодателей лифтового комплекса "Федерация лифтовых предприятий".'
		}
	];


section.home-section-certificate.grey-background
	.container
		p.default-section-heading Сертификаты на продукцию
		.home-certificate-slider.slick-slider-styles.slick-arrows-styles
			each item in [1,2]
				each item in certificates_item
					article.slick-slide-wrap
						a.slick-slide-content(href='img/' + item.image)
							img.slick-slide-image(src='img/' + item.image alt='Сертификат')
						p.slick-slide-caption=item.text

