section.home-section-ceo
	.container
		.home-ceo-image-wrap
			img.home-ceo-image(src='img/home-ceo.jpg' alt='Сенников Владимир Владимирович')
		.home-ceo-info
			p.home-ceo-heading Сенников <br> Владимир Владимирович
			p.home-ceo-position Управляющий
			p.home-ceo-text В реалиях современного бизнеса выигрывает тот, кто производит качественные и востребованные товары. Вы можете сколько угодно тратить деньги на рекламу и продвижение, но если ваш товар неконкурентоспособен - вы прогорите. Можно сколько угодно спорить на эту тему, но это данность.
			p.home-ceo-text В этом смысле продукция нашей компании не вызывает никаких вопросов. Все что касается качества, надежности и эффективности - у нас на максимальном уровне. Чтобы в этом убедиться - приходите к нам, познакомимся лично. Уверен, останетесь довольны результатом. Мы вас ждем!


