section.home-section-services
	.container
		p.default-section-heading Оказываем услуги по России и СНГ
		.home-services-image-wrap
			img.home-services-image(src='img/home-services-map.png' alt='Карта')
