-
	var work_item = [
		{
			counter: '1',
			title: 'Разрабатываем <br> и предлагаем',
			work_items: [
				{
					text: 'Осуществим всесторонний <br> анализ и оценку вашего <br> проекта'
				},
				{
					text: 'Предложим несколько <br> вариантов решения'
				},
				{
					text: 'Подберём подходящий - <br> по бюджету и техническим <br> параметрам'
				}
			]
		},
		{
			counter: '2',
			title: 'Изготавливаем <br> и воплощаем',
			work_items: [
				{
					text: 'Собственное производство позволяет решать широкий профиль задач'
				},
				{
					text: 'Подбор комплектующих осуществляется в соответствии с климатическими условиями объекта'
				},
				{
					text: 'Опытные специалисты способны воплотить в “железе” даже очень сложный проект'
				}
			]
		},
		{
			counter: '3',
			title: 'Доставляем <br> и монтируем',
			work_items: [
				{
					text: 'Доставка осуществляется своим транспортом бережно и оперативно'
				},
				{
					text: 'Монтаж - только квалифицированными сотрудниками с опытом работы'
				},
				{
					text: 'Подробная и понятная инструкция по установке'
				}
			]
		}
	];

.home-section-work
	.container
		p.default-section-heading Как мы работаем
		.home-work-group
			each item in work_item
				.home-work-group-item
					.home-work-item-title
						span.counter=item.counter
						span.title !{item.title}
					each work in item.work_items
						.home-work-item
							span.home-work-item-text !{work.text}
