-
	var advantages_items = [
		{
			title: 'Каждый проект разрабатывается индивидуально, учитывая особенности места установки и ваши пожелания',
			text: 'Стиль оформления вы можете выбрать сами. Но технические параметры мы будем настоятельно рекомендовать.',
			image: 'home-adventages-00.jpg',
			image_alt: 'Индивидуальность'
		},
		{
			title: 'Гарантия - 5 лет',
			text: 'Мы уверены в качестве нашей продукции. Срок гарантии – 5 лет. Монтаж осуществляется квалифицированными сотрудниками, мы гарантируем безопасность и удобство в эксплуатации.',
			image: 'home-adventages-01.jpg',
			image_alt: 'Гарантия',
			class: 'reverse'
		},
		{
			title: 'Качественный и оперативный <br> монтаж',
			text: 'Собственная бригада квалифицированных специалистов- электромонтажников позволяет нам осуществлять монтаж и обслуживание даже очень сложных объектов, с соблюдением всех норм и правил.',
			image: 'home-adventages-02.jpg',
			image_alt: 'Монтаж'
		}
	]

section.home-section-advantages.grey-background
	.container
		p.default-section-heading Наши отличительные <br> преимущества
		each item in advantages_items
			.home-advantages-item(class=item.class)
				.home-advantages-text-block
					p.home-advantages-title !{item.title}
					p.home-advantages-text=item.text
				.home-advantages-image-block
					img.home-advantages-image(src='img/' + item.image alt=item.image_alt)
