section.home-section-contacts.grey-background
	p.default-section-heading Контакты
	.home-contacts-group
		.home-contacts-maps(style='background-image: url("img/home-contacts-map.jpg");')
		.home-contacts-info
			p.home-contacts-info-title Адрес:
			.home-contacts-info-text
				p 443000, г. Самара, ул. Первомайская, 29, оф.49
			p.home-contacts-info-title Телефон:
			.home-contacts-info-text
				a(href='tel:8 (800) 700-36-05') 8 (800) 700-36-05
				a(href='tel:+7(846)-337-06-70') +7(846)-337-06-70
				a(href='tel:+7(846)-337-06-56') +7(846)-337-06-56
			p.home-contacts-info-title Эл. почта:
				.home-contacts-info-text
					a(href='mailto:titan@titan-lift.ru') titan@titan-lift.ru

