section.home-section-wysiwyg
	.container
		h2.default-section-heading Подъемники и лифты в самаре
		.wysiwyg-content
			p Компания ЛПЦ «Титан» занимается производством, поставками и монтажом грузовых и инвалидных подъемников в Самаре, других городах России и Таможенного союза. Наша работа – это изготовление надежных и долговечных подъемников, соответствующих высоким стандартам и требованиям по безопасности. Мы изготавливаем нашу продукцию по стандартным и индивидуальным проектам, не нарушая эстетику здания, уделяя внимание, в первую очередь, качеству и безопасности подъемников.
			p Мы оказываем как единичные услуги, так и их комплекс – от создания проекта до монтажа готового подъемника.
			h2 Подъемники
			h3 Грузовые подъемники
			p Грузовые подъемники требуются для спуска и подъема грузов по вертикали. Существует четыре основных типа конструкций, выбор которых зависит от объема и веса предполагаемого груза:
			ul
				li Шахтные – для тяжелых и габаритных грузов, являются аналогом привычных грузовых лифтов.
				li Консольные – представляют собой простое устройство в виде движущейся вверх и вниз платформы;
				li Сервисные – предназначены для небольших грузов;
				li Подъемник в глухую шахту – надежное альтернативное решение грузовому лифту.
			p При замене грузовых лифтов, отслуживших свой нормативный срок -25 лет, встает вопрос: стоит ли устанавливать лифт или лучше использовать грузовой подъемник. Если на этом лифте не нужно перевозить людей, то ответ будет однозначен – лучше использовать подъемник в глухой шахте.
			p Мы готовы произвести подъемник с учетом ваших требований. При составлении проекта наши инженеры принимают во внимание все необходимые параметры, включая грузоподъемность, высоту, скорость подъема и характер груза. Использование современных технологий и отточенных процессов производства позволяет нам выполнять заказы в сжатые сроки. Не более двух дней обычно уходит и на монтаж, несколько дольше в случаях, когда объект нестандартный.
			h3 Подъемники для инвалидов
			p Не секрет, что в нашей стране комфортные условия для людей с ограниченными возможностями в большинстве населенных пунктов остаются мечтой. Зачастую человек на коляске не может даже покинуть пределы квартиры без помощи, поскольку в подъезде нет лифтов и пандусов. Одной из целей нашей работы является помощь людям с ограниченными возможностями. Для этого мы разрабатываем следующие виды продукции:
			ul
				li Вертикальный подъемник свободно стоящий (до 2 метров);
				li Вертикальный подъемник с огражденной шахтой (до 9 метров);
				li Наклонный подъемник.
			p Изделия нашей компании заметно облегчают жизнь инвалидам и позволяют обустроить для них доступную среду. Системы защиты и простое управление делают использование наших подъемников безопасным и удобным, а качество изготовления механизмов обеспечивает длительную эксплуатацию. Наши специалисты проконсультируют вас по любым вопросам, связанным с покупкой подъемника для инвалидов.
			h2 лифты
			p Мы осуществляем поставку и монтаж лифтов от известных производителей в многоэтажные здания, коттеджи и частные дома.
			h3 Пассажирские лифты
			p Наша компания предлагает современные, надежные, безопасные пассажирские лифты в Самаре и других городах России и Таможенного союза. Мы не только поставляем и монтируем лифтовое оборудование, но и предлагаем его дальнейшее техническое обслуживание.
			h3 Коттеджные лифты
			p Коттеджные лифты бывают следующего назначения:
			ul
				li Пассажирские - для перевозки людей
				li Малогрузовые (сервисные) – для перемещения небольших грузов, например: продуктов питания, посуды с кухни в зал, спуск грязного белья в подвал для стирки.
			p В идеале коттеджный лифт проектируется на стадии составления проекта дома. Наша продукция является не только функциональной, но и красивой. Мы предлагаем широкую линейку лифтов с эстетичной отделкой на любой вкус. Кроме того, в нашей компании вы можете заказать техническое обслуживание лифтов.
