- var partner = 0;

section.home-section-partners
	.container
		p.default-section-heading Нам доверяют
		.home-partners-group
			while partner < 24
				.home-partners-item
					if partner < 10
						img.home-partners-image(src='img/home-partners-0' + partner++ + '.png' alt='Партнер')
					else
						img.home-partners-image(src='img/home-partners-' + partner++ + '.png' alt='Партнер')

