section.home-section-form(style='background-image: url("img/home-commercial-bg.jpg")')
	.container
		.home-form-heading-wrap
			p.home-form-heading Закажите <br> прямо сейчас
				span срочный <br> выезд инженера на объект!
		form.home-form-form.form-bg
			.form-title.form-item Точный расчет стоимости и консультация специалиста

			fieldset.form-fieldset.form-text-group.form-item
				.form-text-group-item.form-type-text
					label
						p.form-item-name Имя:
						input.input-type-text(type='text')
				.form-text-group-item.form-type-text
					label
						p.form-item-name Телефон:
						input.input-type-text.init-mask(type='text' placeholder='+7 (___) ___-____')

			.form-actions
				input.input-type-submit(type='submit' value='отправить запрос')






