//- ---------------------------------------------------------------------------
//- Variables

-
	var portfolio_items = [
		{
			title: 'Фаст-фуд: уличная торговля',
			area: 'Площадь: 10 кв.м',
			cost: 'от 192 875 руб.',
		},
		{
			title: 'Мини-пекарня',
			area: 'Площадь: 6 кв.м',
			text_2: 'Производительность: 15 кг/ч',
			cost: 'от 180 595 руб.',
		},
		{
			title: 'Пекарня (50 кг х/б изделий в час)',
			area: 'Площадь: 27 кв.м',
			text_2: 'Мощность пекарни: до 50 кг/час',
			cost: 'от 374 110 руб.',
		},
		{
			title: 'Столовая на 55 мест',
			area: 'Площадь: 180 кв. м',
			text_2: 'Мощность: до 450 чел./смена',
			cost: 'от 1 769 113 руб.',
		},
		{
			title: 'Ресторан на 50 мест',
			area: 'Площадь: 180 кв.м',
			cost: 'от 1 560 056 руб.',
		},
		{
			title: 'Пельменный цех',
			area: 'Площадь: 80 - 100 кв.м',
			cost: 'от 675 080 руб.',
		}
	];


-
	var portfolio_items_shop = [
		{
			title: 'Магазин «Прилавок-продавец»',
			area: 'Площадь: 55 кв. м',
			cost: 'от 376 547 руб.',
		},
		{
			title: 'Мини-супермаркет (самообслуживание)',
			area: 'Площадь: 77 кв.м',
			cost: 'от 651 813 руб.',
		},
		{
			title: 'Супермаркет (самообслуживание)',
			area: 'Площадь: 250 кв.м',
			cost: 'от 1 858 439 руб.',
		}
	];