section.hero-section
  .container
    .hero-section__content
      h1 Solar power supplies<br>
        span for your home &thinsp;
      .hero-section__offer
        p Place your order now and benefit from<br>
          span free solar panel installation
        #hero-timer
    button.hero-section__btn.show-from-tablet Order now and get &thinsp;
      span free installation
      i.font-icon.icon-arrow
    button.hero-section__btn.show-before-tablet Get free installation
      i.font-icon.icon-arrow
    .hero-section__bg(style="background-image: url(img/hero-bg_1.jpg)")