.brands-hero {
	background-color: $c_light_green;

	.main-title {
		@include font-size(36);
		font-weight: $fw_extrabold;
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(20);
		margin-bottom: rem-calc(30);

		@include media-q(min, 1024) {
			padding-top: 0;
			padding-bottom: rem-calc(76);
			margin-bottom: rem-calc(80);
		}

		@include media-q(min, 1850) {
			@include font-size(64);
			margin-bottom: 2.25em;
		}
	}
}