.section-form {
	padding-top: 70px;
	padding-bottom: 80px;
}

.form-center {
	background: #f3f5fa;
	padding: 34px 30px 85px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	max-width: 1160px;
	text-align: center;
	margin: 0 auto;
	display: block;

	@include media-q(min, 768) {
		padding: 34px 30px 55px;
	}

		h2.title {
		font-size: 30px;
		margin-bottom: 13px;

		&::after {
			display: none;
		}
	}

	.form-top__text {
		margin-bottom: 42px;
	}

	.form-text-ps {
		float: right;
		color: #818180;
		text-align: left;
		margin-top: 20px;
		padding-left: 0;

		@include media-q(min, 768) {
			margin-top: -11px;
			padding-left: 70px;
			max-width: 320px;
		}
	}

	.form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 1106px;
		align-items: flex-start;

		@include media-q(min, 768) {
			padding: 0 21px;
		}
	}

	.input-text {
		width: 100%;
		border: 2px solid #58c9a6;
		border-radius: 20px;
		padding: 11px 20px;
		outline: none;
		font-size: 14px;
		margin-bottom: 19px;

		@include media-q(min, 768) {
			width: 250px;
		}

			&::placeholder {
			opacity: .7;
		}
	}

	.request {
		appearance: none;
		background: linear-gradient(to top, #369ca9, #57c7a6);
		border-radius: 30px;
		padding: 11px 25px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: $f_bold;
		display: block;
		text-align: center;
		width: 260px;
	}
}