.section-first-screen {
	background: url("../img/fr-screen-bg.jpg") no-repeat center;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 29px;
	position: relative;

	@include media-q(min, 768) {
		padding-top: 300px;
	}
}

.form-fr-screen {
	max-width: 671px;
	background-color: #fff;
	border-radius: 10px;
	border: 4px solid #58c9a6;
	padding: 19px 34px 31px;
	margin-bottom: 10px;

	@include media-q(min, 768) {
		padding: 19px 34px 11px;
	}

		.form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 540px;
		align-items: flex-start;
	}

	.input-text {
		width: 100%;
		border: 2px solid #58c9a6;
		border-radius: 20px;
		padding: 11px 20px;
		outline: none;
		font-size: 14px;
		margin-bottom: 19px;

		&::placeholder {
			opacity: .7;
		}

		@include media-q(min, 768) {
			width: 260px;
		}
	}

	.request {
		appearance: none;
		background: linear-gradient(to top, #369ca9, #57c7a6);
		border-radius: 30px;
		padding: 11px 25px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: $f_bold;
		display: block;
		text-align: center;
		width: 100%;

		@include media-q(min, 768) {
			width: 260px;
		}
	}
}

.form-fr-screen__title {
	font-size: 28px;
	text-align: left;
	margin-bottom: 10px;
	text-transform: none;
}

.form-top__text {
	font-size: 15px;
	margin-bottom: 35px;
}

.form-errors-cont {
	width: 100%;
}

.form-text-ps {
	font-size: 13px;
	color: #fff;
	padding-left: 70px;

	a {
		color: #fff;
	}
}

