.section-advantages {
	padding-top: 43px;
	padding-bottom: 26px;

	.font-icon {
		margin: 0 auto 24px;
		display: block;

		&::before {
			color: #58c9a6;
			font-size: 52px;
		}
	}

	h2.title {
		margin-bottom: 65px;
	}
}

.advantages-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.advantages-group__item {
	width: 100%;
	text-align: center;
	margin-bottom: 32px;
	display: flex;

	&:hover {
		.font-icon {

			&::before {
				color: #ced9f2;
			}
		}
	}

	@include media-q(min, 768) {
		width: 32%;
		max-width: 32%;
		display: block;
	}
}

.advantages-text {
	font-size: 15px;
	padding: 0 52px;

	@include media-q(min, 768) {
		padding: 0 62px;
	}
}