//- ---------------------------------------------------------------------------
//- Variables

-
  var advantages = [
    {
      number: '1',
      text: 'Low maintenance costs',
    },
    {
      number: '2',
      text: 'Reducing electricity consumption from the network',
    },
    {
      number: '3',
      text: 'The ability to sell excess electricity at a "green" tariff and earn',
    },
    {
      number: '4',
      text: 'Service life up to 30 years',
    },
    {
      number: '5',
      text: 'Environmentally friendly',
    },
    {
      number: '6',
      text: 'Ease of operation and maintenance',
    },
    {
      number: '7',
      text: 'Inexhaustible energy',
    },
    {
      number: '8',
      text: 'Fast payback',
    },
  ];