.header {
	background-color: $white;
	position: relative;
	z-index: 2;

	.container {
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		color: $c_blue;

		.font-icon {
			&::before {
				font-size: 24px;
			}
		}
	}

	&__phone {
		color: $c_blue;
		font-weight: $f_bold;
		font-size: 16px;
		display: flex;
		align-items: center;

		.font-icon {
			margin-right: 11px;
			margin-bottom: -2px;

			&::before {
				font-size: 16px;
			}
		}
	}
}