section.catalog-hero
  .container
    .catalog-hero__wrap.flex
      .catalog-hero__info
        h2.catalog-hero__title Дивани прямі
        include ../../components/breadcrumbs
      .catalog-hero__img
        img(src="img/catalog-title-img.png" alt="blue sofa")
