.advantages {
	padding-top: 80px;
	padding-bottom: 60px;
	position: relative;
	overflow: hidden;

	@include media-q(min, 768) {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		background: url("../img/hero-before.png") no-repeat center;
		background-size: contain;
		transform: rotate(-45deg);
		top: 5%;
		right: -4%;
		width: 100px;
		height: 147px;

		@include media-q(min, 768) {
			top: 10%;
		}
	}

	&::after {
		background: linear-gradient(179.28deg, #CCFFFF -19.45%, #FFDCB3 46.62%, #B4AEFF 120.89%);
		filter: blur(94px);
		transform: rotate(24.36deg);
		border-radius: 50%;
		bottom: 0;
		left: 0;
		width: 300px;
		height: 300px;
	}

	&__group {
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}

	&__item {
		width: 100%;
		background-color: $white;
		box-shadow: -1px 4px 20px rgba(0, 0, 0, .04);
		min-height: 150px;
		display: flex;
		align-items: center;
		margin-bottom: 36px;
		padding: 30px;
		transition: transform .4s ease;

		@include media-q(min, 768) {
			width: 49%;
			min-height: 200px;
		}

		@include media-q(min, 1024) {
			width: 24%;
		}

		&:hover {
			transform: translateY(-10px);
		}

		p {
			margin-bottom: 0;
		}

		span {
			margin-right: 15px;
			font-size: 48px;
			font-weight: $f-medium;
			font-style: italic;
		}
	}
}