section.section-contacts#Contacts
	.container
		h2.section-contacts-title Контактная информация
		.contacts-group
			.contacts-item
				img.contacts-item-img(src="/img/contacts-address.png", alt="")
				.contacts-item-text г. Сочи, ул. Цюрупы, 4, 1 этаж
			.contacts-item
				img.contacts-item-img(src="/img/contacts-timetable.png", alt="")
				.contacts-item-text Ежедневно с 9:00 до 18:00
			.contacts-item
				img.contacts-item-img(src="/img/contacts-number.png", alt="")
				.contacts-item-text
					a(href='tel:+7 (918) 204 05 06') +7 (918) 204 05 06<br>
					a(href='tel:+7 (989) 289 31 21') +7 (989) 289 31 21
