section.section-portfolio#Portfolio
	.container
		h2.section-portfolio-title примеры работ
		.section-portfolio-text Внимание к деталям и качество во всем. <br>Делаем не только красиво, но и функционально!
		.porfolio-group
			.portfolio-item.portfolio-item-01
				a(href="#" style="background-image: url(img/portfolio-art01.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-02
				a(href="#" style="background-image: url(img/portfolio-art02.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-03
				a(href="#" style="background-image: url(img/portfolio-art03.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-04
				a(href="#" style="background-image: url(img/portfolio-art04.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-05
				a(href="#" style="background-image: url(img/portfolio-art05.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-06
				a(href="#" style="background-image: url(img/portfolio-art06.jpg);").portfolio-art-cont
					.portfolio-item-art
		.portfolio-show-more-wrap
			a(href="#" data-show="portfolioHidden").portfolio-show-more показать ещё

		.porfolio-group#portfolioHidden
			.portfolio-item.portfolio-item-07
				a(href="#" style="background-image: url(img/portfolio-art07.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-08
				a(href="#" style="background-image: url(img/portfolio-art08.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-09
				a(href="#" style="background-image: url(img/portfolio-art09.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-10
				a(href="#" style="background-image: url(img/portfolio-art10.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-11
				a(href="#" style="background-image: url(img/portfolio-art11.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-12
				a(href="#" style="background-image: url(img/portfolio-art12.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-13
				a(href="#" style="background-image: url(img/portfolio-art13.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-14
				a(href="#" style="background-image: url(img/portfolio-art14.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-15
				a(href="#" style="background-image: url(img/portfolio-art15.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-16
				a(href="#" style="background-image: url(img/portfolio-art16.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-17
				a(href="#" style="background-image: url(img/portfolio-art17.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-18
				a(href="#" style="background-image: url(img/portfolio-art18.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-19
				a(href="#" style="background-image: url(img/portfolio-art19.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-20
				a(href="#" style="background-image: url(img/portfolio-art20.jpg);").portfolio-art-cont
					.portfolio-item-art
			.portfolio-item.portfolio-item-21
				a(href="#" style="background-image: url(img/portfolio-art21.jpg);").portfolio-art-cont
					.portfolio-item-art
