section.section-first-screen
	.container
		a(href='#').first-screen-logo
			img(src="../img/logo.png", alt="лого")
		h1.first-screen-title Качественный ремонт <br>квартир в Сочи 
		.first-screen-form-wrapper
			.form-wrapper-text Оставьте заявку на ремонт квартиры и получите <br>дизайн-проект
				span.form-wrapper-text-surprise  в ПОДАРОК!
			form.first-screen-form
				input.input-text.input-name(type="text" placeholder='Ваше имя:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.request(type="submit" value='отправить')
			.first-screen-form-errors
			.first-screen-form-success Спасибо, данные успешно отправлены!
		.first-screen-group
			.first-screen-item.first-screen-item-01 Опыт работы <br>более 20 лет
			.first-screen-item.first-screen-item-02 Рабочие граждане РФ <br>с опытом от 5 лет
			.first-screen-item.first-screen-item-03 Гарантия до 2 лет <br>на все виды работ
			.first-screen-item.first-screen-item-04 Бесплатная <br>консультация
