section.section-tariffs
	.container
		h2.section-tariffs-title наши тарифы
		.section-tariffs-group
			.section-tariffs-item.section-tariffs-item-01
				.section-tariffs-item-top
					.section-tariffs-item-top-text
						.section-tariffs-item-title Классический ремонт
						.section-tariffs-item-price от 12 000 руб./м2
				.section-tariffs-item-bottom
					ul.section-tariffs-item-list
						li.tariffs-list-item Демонтаж стен и перегородок 
						li.tariffs-list-item Грунтовка поверхностей
						li.tariffs-list-item Шпаклевка стен и потолка
						li.tariffs-list-item Покраска стен и потолка
						li.tariffs-list-item Оклейка стен обоями
						li.tariffs-list-item Выравнивание пола
					ul.section-tariffs-item-list
						li.tariffs-list-item Укладка ламината
						li.tariffs-list-item Монтаж панелей в ванной
						li.tariffs-list-item Установка сантехники в квартире
						li.tariffs-list-item Установка розеток и выключателей
				.section-tariffs-more-cont
					a(href="#").section-tariffs-more Показать полностью
			.section-tariffs-item.section-tariffs-item-02
				.section-tariffs-item-top
					.section-tariffs-item-top-text
						.section-tariffs-item-title Дизайнерский ремонт
						.section-tariffs-item-price от 16 000 руб./м2
				.section-tariffs-item-bottom
					ul.section-tariffs-item-list
						li.tariffs-list-item Дизайн-проект интерьера
						li.tariffs-list-item Вентиляционные каналы
						li.tariffs-list-item Установка кондиционеров
						li.tariffs-list-item Нанесение декоративной штукатурки
						li.tariffs-list-item Монтаж натяжного и гипсокартонного потолка
					ul.section-tariffs-item-list
						li.tariffs-list-item Устройство 3D-полов
						li.tariffs-list-item Устройство специальных, нетиповых ниш
						li.tariffs-list-item Дополнительная шумоизоляция
						li.tariffs-list-item Устройство наливного пола
						li.tariffs-list-item Установка джакузи, сауны;
				.section-tariffs-more-cont
					a(href="#").section-tariffs-more Показать полностью

