section.section-cost#Cost
	.container
		h2.section-cost-title Стоимость отделочных работ
		.section-cost-subclasses
			a(href="#").section-cost-subclass.cost-subclass-flat.active Ремонт квартир
				.cost-triangle
			a(href="#").section-cost-subclass.cost-subclass-premise Ремонт помещений
				.cost-triangle
		each item, index in [1,2]
			.cost-work-group(class=(index == 1) ? 'active' : '')
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img01.png", alt="")
					.cost-work-title Демонтажные работы <br>в Сочи
					.cost-work-tariff от 30 руб./кв. м
					.cost-work-text Услуга включает: разбор напольного покрытия, перенос коммуникационных сетей, перенос/снос перекрытий, вынос строительного мусора. На стоимость влияет материал стен.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img02.png", alt="")
					.cost-work-title Малярные работы <br>в Сочи
					.cost-work-tariff от 100 руб./кв. м
					.cost-work-text Включают в себя подготовку поверхностей к покрытию, подготовку отделочных материалов к нанесению, финишная покраска. Возможно использование различных лакокрасочным материалов.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img03.png", alt="")
					.cost-work-title Монтаж гипсокартона <br>(глк) в Сочи
					.cost-work-tariff от 600 руб./кв. м
					.cost-work-text Монтаж гипсокартона на стены, возведение гипсокартонных перекрытий, строительство профильных конструкций (межкомнатных арок, потолков).
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img04.png", alt="")
					.cost-work-title Натяжные потолки <br>в Сочи
					.cost-work-tariff от 200 руб./кв. м
					.cost-work-text Основная услуга: монтаж профиля и полотна. Дополнительные услуги: установка платформы под освещение, оформление фасонных элементов. В смете учитывается высота потолков.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img05.png", alt="")
					.cost-work-title Поклейка обоев <br>в Сочи
					.cost-work-tariff от 140 руб./кв. м
					.cost-work-text Услуга включает: разбор напольного покрытия, перенос коммуникационных сетей, перенос/снос перекрытий, вынос строительного мусора. На стоимость влияет материал стен.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img06.png", alt="")
					.cost-work-title Сантехнические <br>работы в Сочи
					.cost-work-tariff от 1000 руб.
					.cost-work-text Включают в себя подготовку поверхностей к покрытию, подготовку отделочных материалов к нанесению, финишная покраска. Возможно использование различных лакокрасочным материалов.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img07.png", alt="")
					.cost-work-title Монтаж, замена труб <br>в Сочи
					.cost-work-tariff от 1000 руб.
					.cost-work-text Монтаж гипсокартона на стены, возведение гипсокартонных перекрытий, строительство профильных конструкций (межкомнатных арок, потолков).
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img08.png", alt="")
					.cost-work-title Укладка плитки <br>в Сочи
					.cost-work-tariff от 600 руб./кв. м
					.cost-work-text Основная услуга: монтаж профиля и полотна. Дополнительные услуги: установка платформы под освещение, оформление фасонных элементов. В смете учитывается высота потолков.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img09.png", alt="")
					.cost-work-title Устройство пола <br>в Сочи
					.cost-work-tariff от 500 руб./кв. м
					.cost-work-text В услугу может входить наливная стяжка пола, наливные полы, устройство «теплого пола», укладка декоративного покрытия.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img10.png", alt="")
					.cost-work-title Шпатлевка стен,<br>потолка в Сочи
					.cost-work-tariff от 130 руб./кв. м
					.cost-work-text Состоит из чернового шпатлевания, грунтования и финишного шпатлевания под покраску/поклейку обоев.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img11.png", alt="")
					.cost-work-title Штукатурные работы <br>в Сочи
					.cost-work-tariff от 1000 руб./кв. м
					.cost-work-text Выравнивание стен как внутри так и снаружи штукатурными смесями на основе песка с цементом или на основе гипса для последующей чистовой отделки.
				.cost-work-item
					img.cost-work-img(src="/img/cost-work-img12.png", alt="")
					.cost-work-title Электромонтаж <br>в Сочи
					.cost-work-tariff от 60 руб./изд.
					.cost-work-text Подразумевают монтаж/замену электропроводки, установку электрощитов, прокладку кабеля, разводку под выключатели, розетки и их монтаж, подключение к сети электроприборов.


		.cost-work-bottom-title Ремонт квартир в Сочи и отделка под ключ с материалами, цена за квадратный метр 
		ul.cost-work-bottom-list
			li.cost-work-bottom-list-item Стоимость ремонта квартиры (под ключ) в Сочи складывается из самого полного (по согласованию с нанимателем) набора отделочных работ, задокументированных в смете. Это может быть отделка с нуля в соответствие с утвержденным дизайн-проектом или только косметический ремонт. Окончательная цена любого проекта будет рассчитываться нанимателем и специалистом на месте в Сочи, исходя из объемов предстоящих работ.
			.cost-work-bottom-list-item Ремонт квартир под ключ от нашей компании в Сочи в конечном счете удешевляет услугу: в этом случае ответственность за выбор, закупку и доставку ложится на рабочих, Вы экономите время. Следует помнить также, что в строительных магазинах действуют профессиональные скидки, а опыт всегда подскажет мастерам наилучшее решение.

			li.cost-work-bottom-list-item Ремонт под ключ с ценой за кв. м. При ремонте под ключ обозначенная цена за метр становится одним из решающих аргументов «за» или «против» при определении подрядчика. Всегда стоит помнить, что качество отделки напрямую зависит от профессионализма и ответственности исполнителей, а квалифицированный труд заслуживает соответствующей оплаты. Поэтому при выборе компании следует больше обращать внимание на характеристику рабочих, чем на то, сколько стоит ремонт квадратного метра. Кроме того, любая обозначенная в прайсах сумма будет приблизительной, реальная стоимость может быть определена только на объекте в Сочи, когда фронт работ оценен профессионалом.

		.cost-work-bottom-text Выгода комплексного подхода от "Под ключ" в Сочи к отделке и ремонту на лицо: во-первых, нанимателю не придется тратить время на поиски отдельных специалистов – штукатуров, электриков, сантехников и т.д. – к его услугам будет сработавшаяся команда; во-вторых, наличие договоренностей между магазинами и строительными компаниями помогут сэкономить на материалах; в-третьих, настоящие профессионалы работают на репутацию – это залог качественной работы в любой отрасли.




