section.section-request
	.container
			.request-group-text
				.request-title Оставьте заявку на ремонт квартиры и получите<br> ДИЗАЙН-ПРОЕКТ 
					span  в подарок!
				.request-text Современный ремонт любой квартиры обязательно начинается с разработки дизайн-проекта, который включает в себя: точные замеры помещений, 3D-визуализацию, рабочие чертежи на бумаге, спецификации на строительные и отделочные материалы.


			.section-request-form
				form
					input(type="text" placeholder='Ваше имя:')
					input(type="text" placeholder='Ваш телефон:')
					input.request(type="submit" value='отправить')