section.section-calculator#Calculator
	.container
		h2.section-calculator-title расчитайте стоимость ремонта квартиры в <br>Сочи
		.calculator-counter
			.calculator-group
				.calculator-item
					.calculator-type Тип недвижимости:
					.calculator-item-input
						input(type='radio' id='type_01' name='type' value='1' checked)
						label(for='type_01') Новостройка
					.calculator-item-input
						input(type='radio' id='type_02' name='type' value='1.15')
						label(for='type_02') Вторичка
				.calculator-item
					.calculator-type Вид ремонта:
					.calculator-item-input
						input(type='radio' id='view_02' name='view' value='12000' checked)
						label(for='view_02') Класический
					.calculator-item-input
						input(type='radio' id='view_03' name='view' value='16000')
						label(for='view_03') Дизайнерский
				.calculator-item
					.calculator-type Укажите площадь квартиры:
					.calculator-range
						a(href='#').ui-slider-handle
					.range-result-cont
						input(type='text' id='range-result' value='142')
						.ranfe-meters M #[sup 2]
			.calculator-cost
				.calculator-cost-text Примерная стоимость (без учёта материалов):
				.calculator-cost-number 74 970 руб.
