section.section-advantage#Advantage
	.container
		h2.section-advantage-title Неоспоримые Преимущества <br>работы с нами
		.advantage-group
			.advantage-item.advantage-item-01
				.advantage-item-title
					img(src="/img/advantage-check-icon.png", alt="галочка")
					| Ответственность
				.advantage-item-text Вы получаете письменные гарантии за ВСЕ выполненные работы в одном лице и сможете избежать рисков, связанных со скрытыми техническими дефектами.
			.advantage-item.advantage-item-02
				.advantage-item-title
					img(src="/img/advantage-check-icon.png", alt="галочка")
					| Управление
				.advantage-item-text Мы эффективно управляет ВСЕМ процессом, грамотно учитывая влияющие друг на друга нюансы проведения различных работ с пониманием особенностей климата города Сочи.
			.advantage-item.advantage-item-03
				.advantage-item-title
					img(src="/img/advantage-check-icon.png", alt="галочка")
					| Стандартизация качества
				.advantage-item-text Наши единые технологические стандарты, а также СНИПы позволяют добиваться максимального качества, вне зависимости от состава бригады.
			.advantage-item.advantage-item-04
				.advantage-item-title
					img(src="/img/advantage-check-icon.png", alt="галочка")
					| Закупка материалов
				.advantage-item-text У нас свой собственный магазин отделочных материалов с обширным ассортиментом, благодаря чему закупку мы осуществляем напрямую у производителей с индивидуальными скидками.
			.advantage-item.advantage-item-05
				.advantage-item-title
					img(src="/img/advantage-check-icon.png", alt="галочка")
					| Обратная связь
				.advantage-item-text По любым вопросам, связанным с ремонтными работами или дизайнерскими решениями Вас будет консультировать ответственный руководитель проекта.
			.advantage-item.advantage-item-06
				.advantage-item-title
					img(src="/img/advantage-check-icon.png", alt="галочка")
					| Полная картина
				.advantage-item-text Мы имеем глобальное представление о предстоящих и текущих процессах, а также конечном результате. На любом этапе готовы предоставить детальный отчет с фотографиями, оригиналами чеков.
