section.section-scheme#Scheme
	.container
		h2.section-scheme-title Этапы ремонта
		.section-scheme-text Мы занимаемся только капитальным ремонтом «под ключ» на основе <br>разработанного дизайн-проекта.
		.section-scheme-dots
		.section-scheme-slider
			.section-scheme-content.section-scheme-content-01
				.section-scheme-img
					img(src="/img/scheme-img-01.jpg")
				.section-scheme-content-text
					span 1. 
					| Демонтаж
			.section-scheme-content.section-scheme-content-02.active
				.section-scheme-img
					img(src="/img/scheme-img-02.jpg")
				.section-scheme-content-text
					span 1. 
					| Электромонтажные работы
			.section-scheme-content.section-scheme-content-03
				.section-scheme-img
					img(src="/img/scheme-img-03.jpg")
				.section-scheme-content-text
					span 3. 
					| Стяжка пола