section.section-reviews#Reviews
	.container
		h2.section-reviews-title отзывы клиентов
		.reviews-slider
			each item in [1,2,3]
				.reviews-slider-cont
					.reviews-slider-cont-img
						img(src="/img/slider-img-01.jpg", alt="скриншот")
				.reviews-slider-cont
					.reviews-slider-cont-img
						img(src="/img/slider-img-02.jpg", alt="скриншот")
				.reviews-slider-cont
					.reviews-slider-cont-img
						img(src="/img/slider-img-03.jpg", alt="скриншот")