section.section-documents
	.container
		h2.section-documents-title документы <br>на ремонт квартиры
		.documents-group
			.documents-item.documents-item-01
				.documents-item-icon
				a.documents-item-contract стоимость ремонта
					img(src="/img/document-arrow.png", alt="")
			.documents-item.documents-item-02
				.documents-item-icon
				a.documents-item-contract образец договора
					img(src="/img/document-arrow.png", alt="")
			.documents-item.documents-item-03
				.documents-item-icon
				a.documents-item-contract пример сметы
					img(src="/img/document-arrow.png", alt="")
