section.section-dont-do
	.container
		h2.section-dont-do-title Что мы не делаем
		.dont-do-wrap 
			.dont-do-left 
				.left-text Мы работаем на совесть, заинтересованы в результате и сохранении своей репутацией, поэтому не делаем следующие вещи:
			.dont-do-group
				.dont-do-item
					.dont-do-item-title Косметический ремонт
					.dont-do-item-text У нас работают только квалифицированные мастера с соответствующим уровнем оплаты. При косметическом ремонте оплачивать работу вам будет невыгодно.
				.dont-do-item
					.dont-do-item-title Не обманываем в сметах
					.dont-do-item-text Смета составляется после выезда на объект и по дизайн-проекту. Любые изменения и дополнения оговариваются в течение 3 дней. Подписанная смета является конечной стоимостью.
				.dont-do-item
					.dont-do-item-title Не устраиваем «акций и скидок», чтобы заманить клиента
					.dont-do-item-text Нам, как и вам, интересно взаимовыгодное сотрудничество с гарантией результата, а не попытка привлечь вас скидкой и сэкономить на материалах.
				.dont-do-item
					.dont-do-item-title Не дезориентируем <br>в ценах
					.dont-do-item-text Минимальная стоимость ремонта, указанная на нашем сайте — честная и рыночная, в которую заложена зарплата мастеров, качественные материалы и наши гарантии, как генерального подрядчика.


