@keyframes langFadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.lang-switcher {
  height: 18px;
  //overflow: hidden;

  @include media-q(max, 1023) {
    display: none;
    padding-top: 20px;
  }

  @include media-q(min, 1024) {
    margin-left: 20px;
  }

  .h-nav & {
    display: block;

    @include media-q(min, 1024) {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: center;

    @include media-q(min, 1024) {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 15px 15px;
    background-color: $white;
    text-transform: uppercase;

    &:not(.active) {
      @include media-q(min, 1024) {
        display: none;
        animation: langFadeIn .3s ease;
        animation-fill-mode: both;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    &.active {
      @include media-q(max, 1023) {
        text-decoration: underline;
      }
    }

    &.active {
      pointer-events: none !important;

      @include media-q(min, 1024) {
        order: -1;
      }
    }
  }

  &:hover & {
    &__item {
      display: flex;
    }
  }

  &__image {
    height: 16px;
    margin-right: 5px;
  }
}
