
.menu {
  display: none;

  @include media-q(min, 1024) {
    display: block;
  }

  .opened-mobile-main-menu & {
    display: block;
  }
}

.menu-wrap {
  position: relative;

  .container {
    padding: 0;
  }
}

@keyframes mainMenuFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.open-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 50px;
  border: none;
  outline: none;

  @include media-q(min, 1024) {
    display: none;
  }

  .icon-menu {
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background: $accent;
      border-radius: 20px;
      margin-bottom: 8px;
      transition: transform .2s, opacity .2s ease;

      &:nth-of-type(3) {
        margin-bottom: 0;
      }

      .opened-mobile-main-menu & {
        &:nth-of-type(1) {
          transform: rotate(-135deg);
          margin-bottom: -14px;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: rotate(135deg);
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .menu-group {
    position: absolute;
    width: 100vw;
    top: 100%;
    left: -20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $white;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid $orange;
    padding-bottom: 20px;
    z-index: 1;
    box-shadow: 0 10px 10px #adadad;
    animation: mainMenuFadeIn .2s ease;
    animation-fill-mode: both;

    li,
    .menu-user {
      padding: 10px 0;
      text-align: left;
    }
  }

  .menu-item {
    font-size: 16px;
  }
}
