.slick-dots {
	display: flex;
	justify-content: center;
	overflow: auto;
	padding-bottom: 22px;

	button {
		font-size: 0;
		border: none;
		outline: none;
		background: $gray;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		margin-right: 18px;
	}

	.slick-active {
		button {
			background: $accent;
		}
	}

	.mobile-slick & {
		width: 100%;
		text-align: center;
	}
}