.section-address {
	background: url("../img/address-bg.jpg") no-repeat center;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 77px;

	h2.title {
		margin-bottom: 95px;
		letter-spacing: -1px;
	}

	.site-form-wrapper {
		text-align: center;
	}

	.site-form {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@include media-q(min, 768) {
			flex-direction: row;
			padding: 0 155px;
		}
	}

	.input-text {
		padding: 14px;
		width: 100%;
		font-size: 14px;
		font-family: $sans-roboto;
		margin-bottom: 15px;

		@include media-q(min, 768) {
			width: 590px;
			margin-bottom: 0;
		}
	}

	.request {
		width: 100%;
		background-color: $c_red_light;
		outline: none;
		color: $white;
		font-family: $sans-roboto;
		font-size: 16px;
		font-weight: $f_bold;
		text-transform: uppercase;
		border-radius: 3px;
		padding: 7px 0;

		@include media-q(min, 768) {
			width: 270px;
			margin-left: 30px;
		}
	}
}

.site-form-wrapper {
	text-align: center;
}

.site-form {
	display: flex;
	justify-content: space-between;
}

.input-text {
	padding: 14px;
	border: 1px solid #dee1e3;
	border-radius: 3px;
	outline: none;
	font-size: 14px;
	font-family: $sans-roboto;
}

.request {
	width: 270px;
	background-color: $c_red_light;
	outline: none;
	color: $white;
	font-family: $sans-roboto;
	font-size: 16px;
	font-weight: $f_bold;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 7px 0;
	border: 1px solid $c_red_light;

	&:hover {
		background-color: $c_red_dark;
		border: 1px solid $c_red_dark;
	}
}


