.section-firstscreen {
	background: url("../img/firstscreen-bg.jpg") no-repeat center;
	padding-top: 300px;
	padding-bottom: 100px;
	position: relative;
	text-align: center;
	color: $white;

	@include media-q(min, 768) {
		padding-top: 207px;
		padding-bottom: 103px;
		background-size: cover;
	}
}

.firstscreen__title {
	font-size: 32px;
	font-weight: $f_bold;
	color: $white;
	line-height: 1.1;
	margin-bottom: 33px;

	@include media-q(min, 768) {
		font-size: 50px;
	}
}

.firstscreen__text {
	font-size: 18px;
	font-family: $sans-roboto;
	margin-bottom: 50px;
	line-height: 1.6;

	@include media-q(min, 768) {
		margin-bottom: 80px;
	}

		span {
		font-size: 22px;
		font-weight: $f_bold;
		color: $c_red_light;
	}
}

.frscreen-button-group {
	display: flex;
	justify-content: center;
	flex-direction: column;

	@include media-q(min, 768) {
		flex-direction: row;
	}
}

.frscreen-button-item {
	width: 100%;
	background: transparent;
	outline: none;
	color: $white;
	font-family: $sans-roboto;
	font-size: 16px;
	font-weight: $f_bold;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 13px 0;
	border: 1px solid $c_red_light;
	margin-bottom: 15px;

	@include media-q(min, 768) {
		width: 270px;
		margin: 0 15px;
	}
}

.frscreen-button-item1 {
	background-color: $c_red_light;

	&:hover {
		background: transparent;
	}
}

.frscreen-button-item2 {

	&:hover {
		background-color: $c_red_light;
	}
}

