.section-tariffs {
	padding-top: 43px;
	padding-bottom: 35px;

	@include media-q(min, 768) {
		padding-bottom: 75px;
	}

		h2.title {
		margin-bottom: 62px;
	}
}

.tariffs-group {
	display: none;
	justify-content: space-between;
	flex-direction: column;
	animation: fadeIn .5s ease;
	animation-fill-mode: both;
	padding: 0 14px;
	align-items: center;

	@include media-q(min, 768) {
		flex-direction: row;
	}

		&.active {
		display: flex;
	}
}

.tariffs-item {
	flex-basis: 100%;
	text-align: center;
	border: 2px solid #f2f4f5;
	margin-bottom: 30px;

	@include media-q(min, 768) {
		flex-basis: 30%;
		margin-bottom: 0;
	}

		&__title {
		font-size: 22px;
		font-weight: $f_normal;
		background-color: #f2f4f5;
		padding: 9px 0;

		span {
			font-weight: $f_bold;
			color: $c_red_light;
			text-transform: uppercase;
		}
	}

	&__price {
		font-family: 'Open Sans', sans-serif;
		font-weight: 900;
		font-size: 40px;
		border-bottom: 1px solid #f2f4f5;
		line-height: 0.5;
		padding-bottom: 7px;
		margin-top: 31px;


		span {
			font-family: $sans-brand;
			font-size: 14px;
			font-weight: $f_normal;
			letter-spacing: 0.9px;
		}
	}

	&__content {
		padding: 0 29px;
		border-bottom: 1px solid #f2f4f5;
	}

	&__content-item {
		display: flex;

		.font-icon {
			margin-right: 18px;

			&::before {
				font-size: 22px;
				color: #cccccc;
			}
		}

		.icon-tv {
			margin-left: 4px;
		}

		.icon-ruble {
			margin-left: 8px;
		}
	}

	&__content-item--text {
		font-family: $sans-roboto;
		font-size: 15px;
		opacity: .8;
		text-align: left;
		margin-bottom: 21px;
	}

	&__plug {
		display: flex;
		flex-direction: column;
		padding: 26px 0 8px;


		&-link {
			font-family: $sans-roboto;
			font-size: 13px;
			opacity: .5;
			text-decoration: underline;
			margin-bottom: 17px;
			appearance: none;
			border: none;
			outline: none;
			border-radius: none;
			background: transparent;
		}

		&-button {
			width: 220px;
			background-color: #ff161e;
			outline: none;
			color: #fff;
			font-family: Roboto, Helvetica, Arial, sans-serif;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 3px;
			padding: 11px 0;
			border: 1px solid #ff161e;
			display: block;
			margin: 0 auto 15px;

			&:hover {
				background-color: $c_red_dark;
				border: 1px solid $c_red_dark;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.section-tariffs-subclasses {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-bottom: 63px;

	@include media-q(min, 768) {
		flex-direction: row;
	}
}

.section-tariffs-subclass {
	font-size: 17px;
	font-weight: 700;
	font-family: $sans-roboto;
	text-transform: uppercase;
	color: $white;
	text-align: center;
	background-color: #b0b4b7;
	border: 1px solid $white;
	padding: 17px 0;
	width: 100%;
	margin-bottom: 10px;
	letter-spacing: -0.5px;
	position: relative;
	cursor: pointer;

	@include media-q(min, 768) {
		width: 38%;
		margin-bottom: 0;
	}

		&.active,
	&:hover {
		background-color: $c_red_dark;
		color: $white;

		.tariffs-triangle {
			display: block;
		}
	}
}

.tariffs-item-center {
	margin-top: -5px;
	padding-bottom: 20px;
}