//-----------------------------------------------------------------------------
// Fonts variable(s).
$sans: Gilroy, Arial, sans-serif;

// Font weight variants
$f_light: 300;
$f_normal: 400;
$f_medium: 500;
$f_bold: 700;
$f_black: 900;

//-----------------------------------------------------------------------------
// Image paths
$images: '../img/';

//-----------------------------------------------------------------------------
// Main theme colors

// Default colors
$white: #fff;
$black: #202020;

$red: red;

$c_blue: #597BF5;
$c_light_blue: #6587FF;

//-----------------------------------------------------------------------------
// Other settings

// Font sizes
// Site base font size and line height
$fs-base: 16px;
$line-height-base: 1.14;

// Headings line-height
$headings-line-height: 1.1;
