-
	var city_items = [
		{
			title: 'Анапа',
			city: 'anapa'
		}, {
			title: 'Армавир',
			city: 'armavir'
		}, {
			title: 'Архангельск',
			city: 'arhangelsk'
		}, {
			title: 'Астрахань',
			city: 'astrahan'
		}, {
			title: 'Балашиха МО',
			city: 'balashiha'
		}, {
			title: 'Белгород',
			city: 'belgorod'
		}, {
			title: 'Брянск',
			city: 'bryansk'
		}, {
			title: 'Великий Новгород',
			city: 'vnov'
		}, {
			title: 'Владивосток',
			city: 'vladivostok'
		}, {
			title: 'Владикавказ',
			city: 'vladikavkaz'
		}, {
			title: 'Владимир',
			city: 'vladimir'
		}, {
			title: 'Волгоград',
			city: 'volgograd'
		}, {
			title: 'Волжский Волгоград',
			city: 'volzhskiy'
		}, {
			title: 'Вологда',
			city: 'vologda'
		}, {
			title: 'Воронеж',
			city: 'voronezh'
		}, {
			title: 'Дзержинск',
			city: 'dzerzhinsk'
		}, {
			title: 'Дмитров',
			city: 'dmitrov'
		}, {
			title: 'Домодедово МО',
			city: 'domodedovo'
		}, {
			title: 'Ейск',
			city: 'ejsk'
		}, {
			title: 'Екатеринбург',
			city: 'ekaterinburg'
		}, {
			title: 'Иваново',
			city: 'ivanovo'
		}, {
			title: 'Ижевск',
			city: 'izhevsk'
		}, {
			title: 'Иркутск',
			city: 'irkutsk'
		}, {
			title: 'Казань',
			city: 'kazan'
		}, {
			title: 'Калуга',
			city: 'kaluga'
		}, {
			title: 'Киров',
			city: 'kirov'
		}, {
			title: 'Королев',
			city: 'korolev'
		}, {
			title: 'Краснодар',
			city: 'krasnodar'
		}, {
			title: 'Красноярск',
			city: 'krasnoyarsk'
		}, {
			title: 'Курск',
			city: 'kursk'
		}, {
			title: 'Липецк',
			city: 'lipetsk'
		}, {
			title: 'Люберцы МО',
			city: 'lubercy'
		}, {
			title: 'Магнитогорск',
			city: 'magnitogorsk'
		}, {
			title: 'Махачкала',
			city: 'mahachkala'
		}, {
			title: 'Москва',
			city: 'moskva'
		}, {
			title: 'Муром',
			city: 'murom'
		}, {
			title: 'Мытищи',
			city: 'mytishi'
		}, {
			title: 'Набережные Челны',
			city: 'naberezhnye-chelny'
		}, {
			title: 'Нижний Новгород',
			city: 'nizhnij-novgorod'
		}, {
			title: 'Нижний Тагил',
			city: 'tagil'
		}, {
			title: 'Новороссийск',
			city: 'novorossijsk'
		}, {
			title: 'Новосибирск',
			city: 'novosibirsk'
		}, {
			title: 'Ногинск МО',
			city: 'noginsk'
		}, {
			title: 'Одинцово МО',
			city: 'odincovo'
		}, {
			title: 'Омск',
			city: 'omsk'
		}, {
			title: 'Оренбург',
			city: 'orenburg'
		}, {
			title: 'Пенза',
			city: 'penza'
		}, {
			title: 'Пермь',
			city: 'perm'
		}, {
			title: 'Подольск',
			city: 'podolsk'
		}, {
			title: 'Псков',
			city: 'pskov'
		}, {
			title: 'Пятигорск',
			city: 'pyatigorsk'
		}, {
			title: 'Ростов-на-Дону',
			city: 'rostov'
		}, {
			title: 'Рязань',
			city: 'ryazan'
		}, {
			title: 'Самара',
			city: 'samara'
		}, {
			title: 'Санкт-Петербург',
			city: 'spb'
		}, {
			title: 'Саранск',
			city: 'saransk'
		}, {
			title: 'Саратов',
			city: 'saratov'
		}, {
			title: 'Севастополь',
			city: 'sevastopol'
		}, {
			title: 'Симферополь',
			city: 'simferopol'
		}, {
			title: 'Славянск-на-Кубани',
			city: 'slavyansk'
		}, {
			title: 'Сочи',
			city: 'sochi'
		}, {
			title: 'Ставрополь',
			city: 'stavropol'
		}, {
			title: 'Сургут',
			city: 'surgut'
		}, {
			title: 'Сыктывкар',
			city: 'syktyvkar'
		}, {
			title: 'Таганрог',
			city: 'taganrog'
		}, {
			title: 'Тверь',
			city: 'tver'
		}, {
			title: 'Тихорецк',
			city: 'tihoreck'
		}, {
			title: 'Тольятти',
			city: 'tolyatti'
		}, {
			title: 'Туапсе',
			city: 'tuapse'
		}, {
			title: 'Тула',
			city: 'tula'
		}, {
			title: 'Тюмень',
			city: 'tumen'
		},{
			title: 'Ульяновск',
			city: 'ulyanovsk'
		},{
			title: 'Уфа',
			city: 'ufa'
		},{
			title: 'Хабаровск',
			city: 'habarovsk'
		},{
			title: 'Химки МО',
			city: 'himki'
		},{
			title: 'Чебоксары',
			city: 'cheboksary'
		},{
			title: 'Челябинск',
			city: 'chelyabinsk'
		},{
			title: 'Шаблон',
			city: 'pattern'
		},{
			title: 'Ярославль',
			city: 'yaroslavl'
		},
	];

section.popup-choose-city
	.choose-popup-overlay
	.choose-popup-content
		button.choose-popup-close
		p.choose-popup-title Выберите свой город:
		.choose-popup-group
			each item in city_items
				.choose-popup-item
					if item.actual
						a.choose-popup-link.actual(href='#' data-city=item.city)=item.title
					else
						a.choose-popup-link(href='#' data-city=item.city)=item.title

