section.general-popup-styles.section-form-popup
	.general-popup-overlay
	.general-popup-content
		button.general-popup-close
		form.home-form-form.form-bg
			.form-title.form-item Получить профессиональную консультацию
			fieldset.form-fieldset.form-text-group.form-item
				.form-text-group-item.form-type-text
					label
						p.form-item-name Имя:
						input.input-type-text(type='text')
				.form-text-group-item.form-type-text
					label
						p.form-item-name Сотовый телефон:
						input.input-type-text.init-mask(type='text' placeholder='+7 (___) ___-____')

			.form-actions
				input.input-type-submit(type='submit' value='отправить запрос')

