section.section-about
  .container.flex
    .section-about__images
      .section-about__img-big
        img(src="img/home-hero-bg.jpg")
      .section-about__img-small
        img(src="img/home-hero-bg.jpg")
    .section-about__content
      h2 Про компанію
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit.
      .section-about__advantages.flex
        .section-about__advantages-item
          span 15
          p Років досвіду
        .section-about__advantages-item
          span 10
          p Магазинів <br>в Україні
        .section-about__advantages-item
          span 4
          p Власні виробництва
