section.advantages
  .container
    h2 Переваги компанії
    .advantages__group.flex
      .advantages__item
        .advantages__img
          include ../../../img/advantages-heart.svg
        .advantages__item-title Перевага 1
        p.advantages__item-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque.
      .advantages__item
        .advantages__img
          include ../../../img/advantages-heart.svg
        .advantages__item-title Перевага 2
        p.advantages__item-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque.
      .advantages__item
        .advantages__img
          include ../../../img/advantages-heart.svg
        .advantages__item-title Перевага 3
        p.advantages__item-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque.
      .advantages__item
        .advantages__img
          include ../../../img/advantages-heart.svg
        .advantages__item-title Перевага 4
        p.advantages__item-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque.