section.individual-order.for-designers
  .container.flex
    .individual-order__img
      include ../../../img/for-designers-bg.svg
    .individual-order__info
      h2 Для дизайнерів та архітекторів
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit.
      a(href="#").btn Залишити заявку
