section.home-hero-screen
  .container
    .home-hero-screen__content(style="background-image: url(img/home-hero-bg.jpg)")
      h1 Основна пропозиція компанії
      p Більш детальний опис пропозиції
      a(href="#").btn В каталог
  .home-hero-screen__advantages
    .container
      .home-hero-screen__advantages-content.flex
        a.home-hero-screen__advantages-item(href="#" style="background-image: url(img/hero-advantage-1.jpg)")
          p Безкоштовна доставка від 10 000 грн
        a.home-hero-screen__advantages-item(href="#" style="background-image: url(img/hero-advantage-2.jpg)")
          p Знижка на матраци до 01.01.22
        a.home-hero-screen__advantages-item(href="#" style="background-image: url(img/hero-advantage-3.jpg)")
          p Знижка на прямі дивани до 01.01.22