section.individual-order
  .container.flex
    .individual-order__info
      h2 Індивідуальне замовлення
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit.
      a(href="#").btn Зробити замовлення
    .individual-order__img
      include ../../../img/individual-order-img.svg