section.product-day
  .container
    h2 Товар дня
    .product-day__group.flex
      .product-day__img
        img(src="img/product-img.png" alt="sofa")
      .product-day__info
        .product-day__title-group.flex
          h3.product-day__title Назва товару
          .product-gallery__item-article Арт. 000000
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue porttitor nunc, facilisi facilisi aliquam scelerisque. Eu congue fames aliquam sed. Et sapien, ut cursus auctor aenean viverra enim vulputate blandit. Cursus risus orci montes, nulla a in diam facilisi mus. Vitae pretium ut lorem neque mattis libero, scelerisque quam.
        .product-day__price Від 5 000 грн
        .product-gallery__item-btns
          button.btn Додати у кошик
          button.btn-like
            include ../../../img/heart-img.svg
