section.request-section
  .container.flex
    .request-section__img
      .request-section__img-wrap
        img(src="img/request-img.jpg" alt="room")
    .request-section__wrap
      h2 Є питання? Напишіть нам!
      form.request-from
        p Ваше ім’я
        input.input-text(type="text" placeholder="Прізвище та ім’я")
        p Ваш номер телефону
        input.input-text(type="text" placeholder="+38 000 000 00 00")
        p Ваше повідомлення
        textarea.input-text(type="text" placeholder="Повідомлення")
        input.btn(type="submit" value="Відправити")