section.product-gallery
  .container
    h2 Акції
    .product-gallery__group.product-gallery__slider
      each item in [1,2,3,4]
        .product-gallery__item
          .product-gallery__item-img
            img(src="img/product-img.png" alt="sofa")
            .product-gallery__colors
              .product-gallery__colors-slider
                each color, index in product_colors
                  .product-gallery__colors-item
                    .product-gallery__colors-color
                      input(type="radio" id="radioButton_" + item + '_' + index name="radio" value ="radio")
                      label(for="radioButton_" + item + '_' + index style="background-color: #" + color.color)
                    .product-gallery__colors-popup
                      .product-gallery__colors-color(style="background-color: #" + color.color)
                      div
                        .product-gallery__colors-title=color.name
                        .product-gallery__colors-price=color.price
          .product-gallery__item-info
            .product-gallery__item-group.flex
              a(href="#").product-gallery__item-name Назва товару
              .product-gallery__item-article Арт. 000000
            .product-gallery__item-price Від 5 000 грн
            .product-gallery__item-btns
              button.btn Додати у кошик
              button.btn-like
                include ../../../img/heart-img.svg