footer.footer
	.footer-menu
		.container
			a(href="/").h-logo
				img(src="img/advantages-logo.svg")
			include ../components/main-menu
	.container
		.footer-top-group
			p.footer-address #[span Document Processing Center Address:] Online Divorce Technology LLC 416 W San Ysidro BLVD, Ste L  PMB #630,  San Ysidro CA 92173
			div
				a.footer-tel(href="tel: 1 (866) 927-1400") 1 (866) 927-1400
				p Mon-Fri, 9:00AM - 8:00PM EST
		.footer-cities-group
			a(href="#") Divorce in Alabama
			a(href="#") Divorce in Alaska
			a(href="#") Divorce in Arizona
			a(href="#") Divorce in Arkansas
			a(href="#") Divorce in California
			a(href="#") Divorce in Colorado
			a(href="#") Divorce in Connecticut
			a(href="#") Divorce in Delaware
			a(href="#") Divorce in Florida
			a(href="#") Divorce in Georgia
			a(href="#") Divorce in Hawaii
			a(href="#") Divorce in Idaho
			a(href="#") Divorce in Illinois
			a(href="#") Divorce in Indiana
			a(href="#") Divorce in Iowa
			a(href="#") Divorce in Kansas
			a(href="#") Divorce in Kentucky
			a(href="#") Divorce in Louisiana
			a(href="#") Divorce in Maine
			a(href="#") Divorce in Maryland
			a(href="#") Divorce in Massachusetts
			a(href="#") Divorce in Michigan
			a(href="#") Divorce in Minnesota
			a(href="#") Divorce in Mississippi
			a(href="#") Divorce in Missouri
			a(href="#") Divorce in Montana
			a(href="#") Divorce in Nebraska
			a(href="#") Divorce in Nevada
			a(href="#") Divorce in New Hampshire
			a(href="#") Divorce in New Jersey
			a(href="#") Divorce in New Mexico
			a(href="#") Divorce in New York
			a(href="#") Divorce in North Carolina
			a(href="#") Divorce in North Dakota
			a(href="#") Divorce in Ohio
			a(href="#") Divorce in Oklahoma
			a(href="#") Divorce in Oregon
			a(href="#") Divorce in Pennsylvania
			a(href="#") Divorce in Puerto Rico
			a(href="#") Divorce in Rhode Island
			a(href="#") Divorce in South Carolina
			a(href="#") Divorce in South Dakota
			a(href="#") Divorce in Tennessee
			a(href="#") Divorce in Texas
			a(href="#") Divorce in Utah
			a(href="#") Divorce in Vermont
			a(href="#") Divorce in Virginia
			a(href="#") Divorce in Washington
			a(href="#") Divorce in Washington D.C.
			a(href="#") Divorce in West Virginia
			a(href="#") Divorce in Wisconsin
			a(href="#") Divorce in Wyoming

		p Mapa del sitio
		p © 2000-2019 Online Divorcio, Todos los derechos reservados
		p Aviso legal: Divorcio en línea no es un bufete de abogados y su sservicios de la página web y los formularios no sustituyen el asesoramiento de un abogado. Divorcio en línea proporciona acceso a servicios de autoayuda asistidos por computadora en su dirección específica. La página web del Divorcio en línea y las instrucciones escritas brindan información general sobre el proceso de divorcio solamente; No podemos darle ningún consejo específico, opiniones o recomendaciones sobre su selección o relleno de formularios o sus derechos, recursos u opciones legales particulares. OnlineDivorce.com es un sitio web que proporciona acceso a cuestionarios en línea autoguiados. El Divorcio en línea no vende formularios en blanco, y un usuario puede descargarlos en el sitio web de un tribunal. Las comunicaciones entre Usted y Divorcio en línea se rigen por nuestra Política de privacidad, pero no están cubiertas por los privilegios de abogado-cliente o producto de trabajo. Su acceso al sitio web de Divorcio en línea está sujeto y regido por nuestros Términos de uso. Cualquier compra de Divorcio en línea está sujeta y regida por nuestros Términos y condiciones.
