.menu-wrap
  .container
    a.open-main-menu.icon-menu-inside(href='#')
      i.icon-menu
        span
        span
        span
    nav.menu
      ul.menu-group
        +main_menu(main_menu)
        a(href="#").menu-user.menu-user-mobile Iniciar Sesión
    button.menu-btn.menu-btn-desktop Empezar
    a(href="#").menu-user.menu-user-desktop Iniciar Sesión
