.personal-area-registration {
  padding-bottom: 180px;
  background: url("../img/register-page-bg-mob.png") no-repeat center bottom -10%;
  background-size: contain;

  @include media-q(min, 768) {
    background: url("../img/register-page-bg.png") no-repeat center;
    background-size: 100%;
  }

  @include media-q(min, 1280) {
  }

  &.personal-page {
    padding-bottom: 0;
  }

  .section-tabs {
    padding-right: 0;
    margin-bottom: 60px;

    @include media-q(min, 1441) {
      margin-bottom: 100px;
    }
  }

  .section-tabs-item {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
    text-underline-offset: .3rem;
    margin: 0 auto 20px;

    @include media-q(min, 768) {
      text-underline-offset: 1rem;
      margin: 0 8%;
    }

    @include media-q(min, 1441) {
      font-size: 48px;
    }
  }

  .section-tabs {
    flex-direction: column;

    @include media-q(min, 768) {
      flex-direction: row;
    }
  }

  .section-tabs-item {
    font-size: 30px;

    @include media-q(min, 1441) {
      font-size: 48px;
    }
  }
}

.registration-socials {
  text-align: center;
  margin-top: 40px;

  &-title {
    font-size: 24px;
    font-weight: $f-medium;
    margin-bottom: 40px;
  }

  a {
    margin: 0 20px;
  }

  .font-icon {
    &::before {
      color: $c-green;
      font-size: 60px;
    }
  }
}

.registration-subtitle {
  font-size: 18px;
  font-weight: $f_medium;
  text-transform: uppercase;
  color: $c-blue;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  @include media-q(min, 1441) {
    font-size: 30px;
  }
}