// -----------------------------------------------------------------------------
// All icons font set
@font-face {
  font-family: 'font-icon';
  src: url('../f-icons/font-icon.eot');
  src: url('../f-icons/font-icon.eot?#iefix') format('embedded-opentype'),
  url('../f-icons/font-icon.woff') format('woff'),
  url('../f-icons/font-icon.ttf') format('truetype'),
  url('../f-icons/font-icon#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

%font-icon {
  @include font-size(30);
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons set
%icon-speed,
.icon-speed:before {
  content: "\e900";
}
%icon-24,
.icon-24:before {
  content: "\e901";
}
%icon-check-advantages,
.icon-check-advantages:before {
  content: "\e902";
}
%icon-customization,
.icon-customization:before {
  content: "\e903";
}
%icon-hd,
.icon-hd:before {
  content: "\e904";
}
%icon-location,
.icon-location:before {
  content: "\e905";
}
%icon-phone-header,
.icon-phone-header:before {
  content: "\e906";
}
%icon-phone-popup,
.icon-phone-popup:before {
  content: "\e907";
}
%icon-present,
.icon-present:before {
  content: "\e908";
}
%icon-ruble,
.icon-ruble:before {
  content: "\e909";
}
%icon-speed-advantages,
.icon-speed-advantages:before {
  content: "\e90a";
}
%icon-tv,
.icon-tv:before {
  content: "\e90b";
}
%icon-user,
.icon-user:before {
  content: "\e90c";
}
%icon-wifi,
.icon-wifi:before {
  content: "\e90d";
}
%icon-form-check,
.icon-form-check::before {
  content: "\e90e";
}

