//-----------------------------------------------------------------------------
// Fonts variable(s).
$sans: Helvetica, Arial, sans-serif;
$sans-brand: Roboto Condensed, $sans;
$sans-roboto: Roboto, $sans;

// Font weight variants
$f_light: 300;
$f_normal: 400;
$f_medium: 600;
$f_bold: 700;

//-----------------------------------------------------------------------------
// Image paths
$images: '../img/';

//-----------------------------------------------------------------------------
// Main theme colors

// Default colors
$white: #fff;
$black: #000;

// Main site color palette
$c_red_light: #ff161e;
$c_red_dark: #ad0f14;

// These colors for the Drupal messages style
// but also could be used for the other purposes


//-----------------------------------------------------------------------------
// Other settings

// Font sizes
// Site base font size and line height
$fs-base: 16px;
$line-height-base: 1.14;

// Headings line-height
$headings-line-height: 1.1;
