footer.footer
	.container
		.footer-group
			p.footer-text 2020 © AR Клиник - стоматологическая клиника
			.footer-group__item
				a.font-icon.icon-facebook(href="#")
				a.font-icon.icon-instagram(href="#")
				a.font-icon.icon-vk(href="#")
			.footer-logo
				img(src="img/footer-logo.png", alt="logo")
