header#header.site-header
	.container
		.header-wrap
			.header-logo
				a(href="/")
					img(src="img/header-logo.png", alt="logo")
			.header-group
				.header-item
					i.font-icon.icon-header-clock
					| Пн.-Пт. 9.00-20.00,  Сб. 8.00-20.00
				.header-item
					i.font-icon.icon-header-envelope
					| arklinik@mail.ru
				.header-item.header-item-phones
					i.font-icon.icon-header-phone
					.header-item-phones__wrap
						a.yandex-metrika-event(href='tel:8(927) 265-00-20' data-goal='click-na-nomer') 8(927) 265-00-20,
						a.header-phone-right.yandex-metrika-event(href='tel:8(927) 269-19-52' data-goal='click-na-nomer') 8(927) 269-19-52

			a.open-main-menu.icon-menu-inside(href='#')
				i.icon-menu
					span
					span
					span
	.menu-wrap
		.container
			nav.menu
				ul.menu-group
					+main_menu(main_menu)