.popup
  .popup-inner
    .round-icon
      i.font-icon.icon-info
    .popup-content
      h3 Title
    .popup-actions
      a(href='#' class='btn btn-hcp') Save
      a(href='#' class='btn') Cancel
i.overlay
