//- ----------------------------------------------------------------------------
//- Put mixin's here

mixin main_menu(menu)
	each item in menu
		li(class=item.items ? 'sub-menu' : '')
			if (item.href == '#' || item.href == '/')
				a.menu-item(href=item.href class=item.class)=item.title
			else
				a.menu-item(href='#' + item.href  data-anchor=item.href class=item.class)=item.title
			if (item.items)
				ul
					each item_2 in item.items
						li
							a(href=item_2.href)=item_2.title


////- Tariff
//mixin tariff_group(tariffs_arr)
//	each item in tariffs_arr
//		.tariffs-item
//			h3.tariffs-item__title=item.title
//			p.tariffs-item__promo=item.promo
//			.tariffs-item__content
//				.tariffs-item__content-item
//					i.font-icon.icon-tariffs-wifi
//					p.tariffs-item__content-item--text Домашний интернет <br>
//						span=item.val_web
//				if item.val_video
//					.tariffs-item__content-item
//						i.font-icon.icon-tariffs-pc
//						p.tariffs-item__content-item--text Видеосерви с Wink <br>
//							span=item.val_video
//				if item.val_app
//					.tariffs-item__content-item
//						i.font-icon.icon-tv
//						p.tariffs-item__content-item--text Wink в приложении <br>
//							span=item.val_app
//				.tariffs-item__content-item
//					i.font-icon.icon-tariffs-phone2
//					p.tariffs-item__content-item--text Мобильная связь <br>
//							span=item.val_mob
//			.tariffs-item__plug
//				button.tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-S") Узнать подробнее
//				.fraction-wrapper
//					p.tariffs-item-global-price=item.price
//						.fraction-wrap
//							p.fraction-item.fraction-item-top руб.
//							p.fraction-item мес.
//				button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-S" data-goal="podkluchit-tarif-2") подключить по акции
//
//
//
//
//mixin tariff_internet(tariffs_arr)
//	each item in tariffs_arr
//		.tariffs-item
//			h3.tariffs-item__title=item.title
//			p.tariffs-item__promo=item.promo
//			.tariffs-item__content
//				.tariffs-item__content-item
//					i.font-icon.icon-tariffs-wifi
//					p.tariffs-item__content-item--text Домашний интернет <br>
//						span=item.val_web
//				if item.val_video
//					.tariffs-item__content-item
//						i.font-icon.icon-tariffs-pc
//						p.tariffs-item__content-item--text Видеосерви с Wink <br>
//							span=item.val_video
//				if item.val_app
//					.tariffs-item__content-item
//						i.font-icon.icon-tariffs-phone2
//						p.tariffs-item__content-item--text Wink в приложении <br>
//							span=item.val_app
//				.tariffs-item__content-item
//					i.font-icon.icon-tariffs-house
//					p.tariffs-item__content-item--text Умный дом <br>
//						span=item.val_house
//			.tariffs-item__plug
//				button.tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-S") Узнать подробнее
//				.fraction-wrapper
//					p.tariffs-item-global-price=item.price
//					.fraction-wrap
//						p.fraction-item.fraction-item-top руб.
//						p.fraction-item мес.
//				button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-S" data-goal="podkluchit-tarif-2") подключить