//- ---------------------------------------------------------------------------
//- Variables

//  Top menu (First level)
-
  var main_menu = [
    {
      title: 'Главная    ',
      href: 'main',
    },
    {
      title: 'Тарифы  ',
      href: 'tariffs',
    },
    {
      title: 'Акция',
      href: 'gift',
    },
    {
      title: 'Проверить адрес  ',
      href: 'connection',
    },
    {
      title: 'Как подключить',
      href: 'request',
    },
    {
      title: 'Оставить заявку',
      href: 'request',
    },
  ]

//-
  title: '',
  promo: '',
  val_web: '',
  val_video: '',
  val_mob: '',
  price: '',

// -
//   var tariffs_tab_1 = [
//     {
//       title: 'Технологии  развлечения',
//       promo: 'Акция «Максимальный доступ»',
//       val_web: '100 Мбит/сек',
//       val_video: 'до 227 каналов и 5000 \n' +
//               'фильмов и сериалов',
//       val_mob: 'Не входит',
//       price: '699',
//     },
//     {
//       title: 'Технологии  без границ',
//       promo: 'Акция «Максимальный доступ»',
//       val_web: '100 Мбит/сек',
//       val_video: 'до 227 каналов и 5000 \n' +
//               'фильмов и сериалов',
//       val_mob: 'Безлимит, 1200 мин, \n' +
//               '500 sms',
//       price: '799',
//     },
//     {
//       title: 'Для  развлечений  везде',
//       promo: 'Акция «Всё вместе»',
//       val_web: '100 Мбит/сек',
//       val_video: '195 каналов ',
//       val_mob: 'Безлимит, 1000 мин, \n' +
//               '100 sms',
//       price: '720',
//     },
//     {
//       title: 'Технологии  без границ +',
//       promo: 'Акция «Максимальный доступ»',
//       val_web: '100 Мбит/сек',
//       val_video: 'до 227 каналов и 5000 \n' +
//               'фильмов и сериалов',
//       val_mob: 'Безлимит, 2000 мин, \n' +
//               '500 sms, 5 sim',
//       price: '999',
//     },
//     {
//       title: 'Технологии  \n' +
//               'cпокойствия',
//       promo: '',
//       val_web: '100 Мбит/сек',
//       val_video: 'до 227 каналов и 5000 \n' +
//               'фильмов и сериалов',
//       val_mob: 'Не входит',
//       price: '899',
//     },
//     {
//       title: 'Технологии  \n' +
//               'общения',
//       promo: '',
//       val_web: '100 Мбит/сек',
//       val_video: '106 каналов ',
//       val_mob: 'Безлимит, 1200 мин, \n' +
//               '500 sms',
//       price: '649',
//     },
//     {
//       title: 'игровой',
//       promo: 'Акция «Максимальный доступ»',
//       val_web: '100 Мбит/сек',
//       val_video: 'до 227 каналов и 5000 \n' +
//               'фильмов и сериалов',
//       val_mob: 'не входит',
//       price: '1100',
//     }
//   ]
//
// -
//   var tariffs_tab_2 = [
//     {
//       title: 'Технологии\n' +
//               'доступа',
//       promo: '',
//       val_web: '100 Мбит/сек',
//       val_app: '106 каналов ',
//       val_house: 'Не входит',
//       price: '499',
//     },
//     {
//       title: 'Технологии\n' +
//               'спокойствия',
//       promo: '',
//       val_web: '100 Мбит/сек',
//       val_app: 'Не входит',
//       val_house: 'Видеонаблюдение',
//       price: '699',
//     },
//     {
//       title: 'Игровой',
//       promo: '',
//       val_web: '200 Мбит/сек',
//       val_app: '106 каналов ',
//       val_house: 'Не входит',
//       price: '499',
//     },
//   ]