.site-header {
  background-color: transparentize($black, .75);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.header-topline {
  border-bottom: 1px solid transparentize($c_white_text, .8);
  padding: 17px 0 13px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include media-q(min, 768) {
      flex-wrap: nowrap;
    }

    @include media-q(min, 992) {
      justify-content: flex-end;
    }
  }
}

.header-topline-item {
  @include media-q(min, 992) {
    margin-left: 8%;
  }
}

.header-topline-city {
  @include font-size(15);
  display: flex;
  align-items: center;
  color: $c_yellow_text;
  appearance: none;
  border: none;
  background: transparent;
  outline: none;

  &::before {
    @include font-size(18);
    @extend %font-family-icon;
    @extend %icon-location;
    color: $c_white_text;
    margin-right: 8px;
    position: relative;
    top: -2px;
    transition: color .15s ease;
  }

  &::after {
    @extend %icon-arrow-cutted-down;
    position: relative;
    top: -3px;
    margin-left: 7px;
    transition: border-color .15s ease;
  }

  span {
    border-bottom: 1px dashed $c_yellow_text;
    transition: border-bottom-color .15s ease;
  }

  &:hover {
    color: $c_orange_button;

    &::before {
      color: $c_orange_button;
    }

    &::after {
      border-color: $c_orange_button;
    }

    span {
      border-bottom-color: transparent;
    }
  }
}

.header-topline-phone {
  @include font-size(18);
  font-weight: $f_bold;
}

.header-topline-mail {
  @include font-size(14);
  align-items: center;
  color: $c_white_text;
  display: none;
  transition: color .15s ease;
  //
  margin-left: auto;
  margin-top: 15px;

  @include media-q(min, 768) {
    display: flex;
    //
    margin-top: 0;
    margin-left: 0;
  }

  &::before {
    @extend %font-family-icon;
    @extend %icon-mail;
    color: $c_white_text;
    margin-right: 10px;
    transition: color .15s ease;
  }

  &:hover {
    &::before {
      color: $c_orange_button;
    }
  }
}

.header-general {
  border-bottom: 2px solid transparentize($c_white_text, .8);
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-general-logo {
  width: 190px;

  @include media-q(min, 1200) {
    width: auto;
  }
}

// header button mobile menu
.header-open-mobile-menu {
  @include font-size(16);
  padding-bottom: 5px;
  padding-right: 0;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  color: $c_white_text;

  @include media-q(min, 992) {
    display: none;
  }
}

// animate icon menu
.icon-menu-wrap {
  width: 16px;
  height: 13px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  z-index: 20;
}

.icon-animated-menu {
  top: 6px;

  &,
  &::before,
  &::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $c_white_text;
    transition: transform .3s, background-color .3s ease;
  }

  &::before,
  &::after {
    content: '';
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }

  .opened-header-nav & {
    background-color: transparent;
    transform: translateX(1px);

    &::before {
      transform: rotate(45deg) translate(3px, 4px);
    }

    &::after {
      transform: rotate(-45deg) translate(3px, -4px);
    }
  }
}
