.footer-nav {
  @include media-q(min, 768) {
    display: flex;
    justify-content: space-between;
  }

  @include media-q(min, 1200) {
    width: 612px;
    flex-basis: 612px;
  }

  .nav-list {
    @include media-q(min, 768) {
      width: calc(50% - 15px);
      flex-basis: calc(50% - 15px);
    }
  }

  a {
    @include font-size(16);
    display: block;
    color: $c_grey_heading;
    font-weight: $f_bold;
    margin-bottom: .4em;
    line-height: 1.55;
    text-transform: uppercase;
  }

  .footer-nav-submenu {
    margin-bottom: 19px;

    a {
      @include font-size(14);
      color: $c_grey_text;
      margin-bottom: .08em;
    }
  }

  a,
  .footer-nav-submenu a {

    &:hover {
      color: $c_yellow_text_hover
    }
  }
}
