// Global forms
.form-bg {
  background: url("../img/form-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 20px;

  @include media-q(min, 768) {
    padding: 42px 40px 28px;
    border-radius: 10px;
  }
}

.form-item {
  margin-bottom: 36px;
}

.form-fieldset {
  border: none;
  margin: 0 0 18px;
  padding: 0;
}

.form-title {
  @include font-size(18);
  font-family: $sans-room;
  font-weight: $f_bold;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 1.4em;
  text-align: center;

  @include media-q(min, 768) {
    @include font-size(22);
    text-align: left;
  }
}

.form-item-name {
  @include font-size(14);
  color: $c_grey_text;
  margin-bottom: 1.4em;
}

// group
.form-radio-group-diff {
  @extend %group;
}

.form-radio-group-item {
  margin-bottom: 20px;

  @include media-q(min, 768) {
    float: left;
    margin-bottom: 0;
  }

  &.bigger-item {
    @include media-q(min, 768) {
      width: 61%;
    }
  }

  &.smaller-item {
    @include media-q(min, 768) {
      width: 39%;
    }
  }
}


// Recaptcha
.recaptcha {
  min-width: 304px;
  margin-left: -11px;

  @include media-q(min, 340) {
    margin-left: 0;
  }
}

