// ----------------------------------------------------------------------------
// Regular checkboxes
.form-checkboxes {
  .ie10 & {
    p {
      max-width: 90%;
    }
  }
  .form-checkbox {
    // Hide default checkboxes
    @extend %element-invisible;

    .desktop & {
      &:hover + label {
        &::before {
          background: rgba($m_base, .6);
          border-color: rgba($m_base, .6);
        }

        &::after {
          opacity: .8;
          transform: scale(1);
        }
      }

      &:disabled + label {
        cursor: not-allowed;
        color: $m_base;

        &::before {
          background: rgba($m_base, .2);
        }

        &::after {
          opacity: .8;
          transform: scale(0);
        }
      }

      &:disabled:checked + label {
        &::before {
          background: rgba($m_ffw_base, .7);
        }
        &::after {
          opacity: .8;
          transform: scale(1);
        }
      }
    }

    // Checked checkbox states
    &:checked + label {

      &::before {
        background: $m_ffw_base;
        border-color: $m_ffw_base;
      }

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:disabled + label {
      cursor: not-allowed;
      color: $m_base;

      &::before {
        background: rgba($m_base, .2);
      }

      &::after {
        opacity: .8;
        transform: scale(0);
      }
    }
  }

  // Default checkbox styling
  .form-type-checkbox {
    > label {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      font-weight: $f_normal;
      line-height: 1.45;
      margin-bottom: 0;

      &::before {
        display: inline-block;
        vertical-align: text-bottom;
        content: ' ';
        background: $m_light;
        border: 1px solid $m_medium;
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin: 0 10px 0 0;
        transition: background .3s ease;
      }

      &::after {
        content: ' ';
        background: url(../img/check.svg) no-repeat center;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity .3s ease, transform .2s ease;
        color: $white;
        transform: scale(.4);
        transform-origin: center;
      }
    }
  }
}
