.site-header {
  width: 100%;
  z-index: 2;
}

.header-top {
  padding: 16px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include media-q(min, 768) {
      flex-direction: row;
    }
  }
}

.header-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: column;

  @include media-q(min, 768) {
    flex-direction: row;
  }
}

.header-logo-img-wrap {
  display: flex;
  margin-right: 15px;
  margin-top: 7px;
  align-items: center;

  @include media-q(min, 1830) {
    margin-right: 37px;
  }
}

.header-logo-title {
  font-size: 26px;
  font-weight: 700;
  color: $white;
  margin-left: 5px;
  letter-spacing: 0.9px;
  line-height: 1.2;
}

.header-logo-img {
  max-width: 59px;
  width: 100%;
  max-height: 70px;
  margin-right: 15px;

  @include media-q(min, 768) {
    max-width: 59px;
  }
}

.header-logo-text {
  font-size: 14px;
  color: $white;
  margin: 13px 0 0 0;
  line-height: 1.53;
  position: relative;
  padding-left: 20px;
  letter-spacing: 0.4px;


  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  @include media-q(min, 1830) {
    padding-left: 40px;
  }
}

.header-item-social {
  margin-top: 6px;

  @include media-q(min, 768) {
    margin-left: -20px;
  }

    @include media-q(min, 1830) {
    margin-left: -160px;
  }
}

.social-text {
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.5px;
  margin-bottom: 21px;

  @include media-q(min, 768) {
    font-size: 13px;
  }
}

.social-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;

  @include media-q(min, 768) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.social-item {
  color: $white;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  border-radius: 5px;
  padding: 6px 15px;
  margin: 0 auto 15px;
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 280px;
  max-width: 280px;
  border: 1px solid transparent;
  transition: all .2s ease;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.1px;
  align-items: center;

  @include media-q(min, 768) {
    margin: 0 5px;
    min-width: 122px;
    max-width: 130px;
    justify-content: flex-start;
  }

  &:hover {
  }

  .fab {
    margin-right: 10px;
    font-size: 20px;
  }
}

.header-viber {
  padding: 5px 30px;
  .fab {
    color: #7c5f95;
  }
}

.header-whatsapp {
  .fab {
    color: #3e9d47;
  }
}

.header-telegram {
  .fab {
    color: #3387b0;
  }
}

.header-whatsapp {

  @include media-q(min, 768) {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: '';
    left: -56px;
    top: -22px;
    width: 72px;
    height: 89px;
    background: url(../img/header-whatsapp.svg) no-repeat 77%;
    background-size: 54px;
    transform: rotate(-10deg);
  }
}

.menu-wrap {
  background-color: $c_brown_light;
  margin-bottom: -1px;

  .fixed-menu & {
    @include media-q(max, 767) {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
    }

    .section-firstscreen {
      @include media-q(max, 767) {
        margin-top: 60px;
      }
    }
  }
}

.header-item-number {
  display: flex;
  align-items: center;

  .font-icon {
    z-index: 2;
    margin-right: -13px;
    margin-top: 6px;

    &::before {
      color: $c_yellow;
      font-size: 22px;
    }
  }
  &:hover {
    .font-icon {
      &::before,
      .header-number{
        color: $white;
      }
    }
  }
}

.header-number {
  color: $white;
  font-weight: 600;
  font-size: 24px;
  border: 2px solid $c_yellow;
  border-radius: 0 8px 8px 0;
  padding: 12px 20px 12px 32px;
  position: relative;
  margin-top: 6px;
  letter-spacing: 0.4px;
  transition: all .2s ease;

  &::before {
    content: '';
    position: absolute;
    left: -21px;
    top: calc(50% - 20px);
    width: 30px;
    height: 40px;
    background: #505158;
    z-index: 1;
  }
  &:hover {
    color: $white;
    border-color: $white;
  }
}

//.menu-group {
//  display: flex;
//  justify-content: space-between;
//  max-width: 911px;
//  margin: 0 auto;
//  padding: 11px 0;
//  flex-direction: column;
//
//  &>li {
//    margin-bottom: 10px;
//    font-size: 18px;
//
//    @include media-q(min, 768) {
//      margin-bottom: 0;
//      font-size: 15px;
//    }
//  }
//
//  &>li>a {
//    font-size: 15px;
//    color: $white;
//
//    &:hover {
//      color: $black;
//    }
//  }
//
//  @include media-q(min, 768) {
//    flex-direction: row;
//  }
//}
//
//.menu {
//  padding: 5px;
//  display: none;
//
//  @include media-q(min, 1024) {
//    display: block;
//  }
//
//  .opened-mobile-main-menu & {
//    display: block;
//  }
//}
//
//.open-main-menu {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  background: transparent;
//  height: 60px;
//
//  @include media-q(min, 1024) {
//    display: none;
//  }
//
//  .icon-menu {
//    width: 40px;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//
//    span {
//      display: block;
//      width: 100%;
//      height: 3px;
//      background: $white;
//      margin-bottom: 6px;
//      transition: transform .2s, opacity .2s ease;
//
//      &:nth-of-type(3) {
//        margin-bottom: 0;
//      }
//
//      .opened-mobile-main-menu & {
//        &:nth-of-type(1) {
//          transform: rotate(-135deg);
//          margin-bottom: -11px;
//        }
//        &:nth-of-type(2) {
//          opacity: 0;
//        }
//        &:nth-of-type(3) {
//          transform: rotate(135deg);
//        }
//      }
//    }
//  }
//}
//
//.fixed-menu {
//  .section-firstscreen {
//    @include media-q(max, 767) {
//      margin-top: 60px;
//    }
//  }
//}