.section-popup-form,
.section-popup-thanks {
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;

	.site-form {
		flex-direction: column;
	}

	.request {
		width: 100%;
		margin-bottom: 15px;
		border-radius: 30px;
		border: none;
	}

	.input-text {
		width: 100%;
		margin-bottom: 15px;
		border-radius: 30px;
		border: none;
		background-color: #f6f8f9;
		padding-left: 30px;
	}

	a.form-text-ps {
		font-size: 13px;
		text-align: left;
		margin-left: 22px;
	}

	.first-screen-form-wrapper {
		margin-left: 0;
	}

	.first-screen-form-text {
		color: $white;
		font-size: 18px;
		font-weight: 700;
		padding: 0;

		@include media-q(min, 768) {
			margin-bottom: 20px;
		}
	}

	.request {
		margin-bottom: 20px;
	}
}
.section-popup-thanks {
	.opened-popup-thanks & {
		display: block;
	}
}

.section-popup-form {
	.opened-popup-form & {
		display: block;
	}
}

.popup-wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 60px 0;
}

.popup-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	cursor:pointer;

	&:hover {
		opacity: 0.4;
	}
}

@keyframes fadeInDown {
	from {
		transform: translateY(-15px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.popup-form-content {
	position: relative;
	margin: auto;
	-webkit-animation: fadeInDown .3s ease;
	animation: fadeInDown .3s ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	padding: 22px 25px;
	text-align: center;
	border-radius: 20px;
	max-width: 350px;

	@include media-q(min, 768) {
		max-width: 400px;
	}
}

.section-popup-form {
	.popup-form-content {
		background: linear-gradient(#37a697, #41c08b);
	}
}


.popup-close-icon {
	position: absolute;
	background: url(../img/popup-close-icon.png) no-repeat center;
	right: -3px;
	top: -50px;
	background-size: 26px 26px;
	width: 26px;
	height: 26px;
	display: block;
	border: none;

	@include media-q(min, 768) {
		right: -43px;
		top: -50px;
	}
}

.section-popup-thanks {
	.popup-form-content {
		border-radius: 5px;
		background-color: $white;
		padding: 35px 20px 10px 20px;
		width: 100%;
		max-width: 350px;
		border-bottom: 4px solid $c_base;

		@include media-q(min, 768) {
			max-width: 370px;
		}

		.font-icon {
			margin: 0 auto 20px;
			display: block;

			&::before {
				font-size: 46px;
				color: #cccccc;
			}
		}

		.popup-form-title {
			font-size: 27px;
			font-weight: 700;
			text-transform: uppercase;
			color: $c_base;
			margin-bottom: 15px;

			span {
				font-weight: 900;
				margin-left: 10px;
			}
		}

		.popup-form-text {
			font-size: 14px;
			color: $black;
			font-family: $sans-brand;
		}

		.popup-thanks-img {
			margin-bottom: 30px;

			img {
				width: 31px;
				height: 48px;
				margin: 0 auto;
			}
		}
	}
}
