.section-angar {
	padding-top: 40px;
	background: linear-gradient(#36a398, #42c28a);

	h2.title {
		color: $white;
		margin-bottom: 64px;
	}
}

.angar-text {
	text-align: center;
	margin-bottom: 71px;
	color: $black;
	margin-top: 29px;
}

.section-angar-slider {
	text-align: center;
}

.section-angar,
.slick-lightbox {
	.slick-arrow {
		position: absolute;
		width: 49px;
		z-index: 2;
		padding: 0 22px;
		height: 50px;
		top: -11%;

		&::before {
			@extend %icon-arrow-right;
			@extend %font-icon;
			font-size: 36px;
			color: $white;
			z-index: 5;
		}

		@include media-q(min, 768) {
			height: 100%;
			top: calc(2% - 94px);
		}

		&:hover {
			cursor: pointer;
		}
	}

	.slick-prev {
		transform: scale(-1);
		left: 10%;
		display: flex;
		align-items: center;
	}

	.slick-next {
		right: 10%;
		display: flex;
		align-items: center;
	}
}
.slick-slider {
	border: none;
}

.angar-item {
	display: block;
	position: relative;

	iframe {
	}

	//&::after {
	//	position: absolute;
	//	content: '';
	//	left: 0;
	//	right: 0;
	//	top: 0;
	//	bottom: 0;
	//	padding-top: 64%;
	//}
}