.section-sertificates {
	padding-top: 62px;
	padding-bottom: 55px;
}

.sertificates-title {
	position: relative;
	color: #000;
	font-family: $roboto;
	font-size: 34px;
	margin-bottom: 64px;

	@include media-q(min, 768) {
		font-size: 38px;
	}

		&::after {
		position: absolute;
		content: '';
		bottom: -22px;
		left: calc(50% - 50px);
		width: 100px;
		height: 3px;
		background: #ffc82e;
	}
}

.section-sertificates-slide-wrap {
	display: flex;
	align-items: center;
}

.sertificates-item-wrap {
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-sertificates-slider {
	position: relative;
	padding: 0 74px;

	.slick-track {
		display: flex;
		align-items: center;
	}

	.slick-arrow {
		position: absolute;
		width: 49px;
		height: 100%;
		top: calc(2% - 18px);
		z-index: 2;
		padding: 0 22px;

		&::before {
			@extend %icon-arrow-right;
			@extend %font-icon;
			font-size: 36px;
			color: $c_base_light;
			z-index: 5;
		}

		@include media-q(min, 768) {
			top: calc(8% - 18px);
		}

		&:hover {
			cursor: pointer;
		}
	}

	.slick-prev {
		transform: scale(-1);
		left: 0;
		display: flex;
		align-items: center;
	}

	.slick-next {
		right: 0;
		display: flex;
		align-items: center;
	}

	.slick-slide img {
		margin: 0 auto;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding-top: 13px;

	li.slick-active {
		button {
			background: #f99d22;
			border: none;
			outline: none;
		}
	}
}