.section-popularity {
	padding-top: 51px;
	background-color: #23353f;
	padding-bottom: 60px;

		h2.title {
		color: $white;
		margin-bottom: 48px;

			@include media-q(min, 768) {
				margin-bottom: 8px;
			}
		}

	@include media-q(min, 768) {
		padding-bottom: 23px;
	}
}

.section-popularity-wrap {
	margin: 0 auto;
	background: url(../img/popularity.png) no-repeat center;
	background-size: 90%;
	padding-bottom: 41.1%;

	@include media-q(min, 768) {
		background-size: 70%;
	}
}