.section-application {
	padding-top: 41px;
	padding-bottom: 42px;
	background: url("../img/application-bg.jpg") no-repeat center;
	background-size: cover;

	h2.title {
		color: $white;
		margin-bottom: 72px;
	}
}

.application-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.application-item {
	flex-basis: 100%;
	position: relative;
	background: url("../img/application-item-bg.png") no-repeat center;
	//background-size: 241px 270px;
	text-align: center;
	padding: 75px 23px;
	background-size: 71%;

	@include media-q(min, 768) {
		flex-basis: 23%;
		background-size: cover;
	}

		.font-icon {
		margin: 0 auto;

		&::before {
			font-size: 56px;
			color: $c_base_light;
		}
	}

	&__title {
		color: $white;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-top: 30px;
		line-height: 1.4;

		@include media-q(min, 768) {
			font-size: 18px;
		}
	}
}