.section-contacts {
	padding-top: 62px;

	@include media-q(min, 768) {
		padding-bottom: 70px;
	}

	h2.title {
		margin-bottom: 62px;
	}
}

.contacts-group {
	display: flex;
	justify-content: space-between;
	max-width: 1040px;
	padding-left: 22px;
	flex-direction: column;

	@include media-q(min, 768) {
		flex-direction: inherit;
		padding-left: 102px;
	}
}

.contacts-item {
	display: flex;
	flex-direction: column;
	max-width: 355px;
	margin-bottom: 40px;

	@include media-q(min, 768) {
		margin-bottom: 0;
	}

	.font-icon {
		margin-bottom: 15px;

		&::before {
			color: $c_base_light;
			font-size: 30px;
		}
	}
}

.contacts-item-title  {
	font-family: $roboto;
	font-size: 22px;
	font-weight: 700;
	color: #f99d22;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.contacts-item-text {
	font-size: 18px;
	color: #000;
}
