//- ---------------------------------------------------------------------------
//- Variables

-
	var main_menu = [
		{
			title: 'Главная',
			href: 'home',
			anchor: home,
		},
		{
			title: 'Каталог ',
			href: 'products',
			anchor: products,
		},
		{
			title: 'Подбор детали ',
			href: 'brands',
			anchor: brands,
		},
		{
			title: 'Доставка',
			href: 'delivery',
			anchor: delivery,
		},
		{
			title: 'Оплата',
			href: 'payment',
			anchor: payment,
		},
		{
			title: 'Все запчасти',
			href: 'types',
			anchor: types,
		},
		{
			title: 'Контакты',
			href: 'map',
			anchor: map,
		}
	];

-
	var products_group = [
		{
			img: 'product-01.jpg',
			title: 'Китайский скутер  \n' +
							'50 кубов (4т)',
			text01: 'Стандарт на 50 кубов  -   <span>2100 руб</span>',
			text02: 'Тюнинг на 80 кубов  -   <span>2300 руб</span>',
			button: 'Заказать такую деталь',
		},
		{
			img: 'product-02.jpg',
			title: 'Китайский скутер 50 кубов(2т), STELS',
			text01: 'Стандарт на 50 кубов  -   <span>2300 руб</span>',
			text02: 'Тюнинг на 72 куба  -   <span>2700 руб</span>',
			button: 'Заказать такую деталь',
		},
		{
			img: 'product-03.jpg',
			title: 'Китайский скутер 150 кубов(4т)',
			text01: 'Стандарт на 150 кубов  -   <span>2700 руб</span>',
			text02: 'Тюнинг на 170 кубов  -   <span>2900 руб</span>',
			button: 'Заказать такую деталь',
		},
		{
			img: 'product-04.jpg',
			title: 'Honda Dio/Tact (AF - 18 / 24 / 27)',
			text01: 'Стандарт на 50 кубов  -   <span>2300 руб</span>',
			text02: 'Тюнинг на 65 кубов  -   <span>2500 руб</span>',
			button: 'Заказать такую деталь',
		},
		{
			img: 'product-05.jpg',
			title: 'Honda Dio/Tact (AF - 34 / 35)',
			text01: 'Стандарт на 50 кубов  -   <span>2300 руб</span>',
			text02: 'Тюнинг на 65 кубов  -   <span>2500 руб</span>',
			button: 'Заказать такую деталь',
		},
		{
			img: 'product-06.jpg',
			title: 'Suzuki Sepia (AD - 50)',
			text01: 'Стандарт на 50 кубов  -   <span>2300 руб</span>',
			text02: 'Тюнинг на 65 кубов  -   <span>2900 руб</span>',
			button: 'Заказать такую деталь',
		},

	];

-
	var types_group = [
		{
			img: 'type-01.jpg',
			title: 'Вариаторы/Сцепление',
			button: 'Подберите мне',
		},
		{
			img: 'type-02.jpg',
			title: 'Головки',
			button: 'Подберите мне',
		},
		{
			img: 'type-03.jpg',
			title: 'Глушители',
			button: 'Подберите мне',
		},
		{
			img: 'type-04.jpg',
			title: 'Карбюраторы',
			button: 'Подберите мне',
		},
		{
			img: 'type-05.jpg',
			title: 'Коленвалы',
			button: 'Подберите мне',
		},
		{
			img: 'type-06.jpg',
			title: 'Покрышки',
			button: 'Подберите мне',
		},
		{
			img: 'type-07.jpg',
			title: 'Ремни вариатора',
			button: 'Подберите мне',
		},
		{
			img: 'type-08.jpg',
			title: 'Тормозные колодки',
			button: 'Подберите мне',
		},
		{
			img: 'type-09.jpg',
			title: 'Фильтра и свечи',
			button: 'Подберите мне',
		},
		{
			img: 'type-10.jpg',
			title: 'Электрика',
			button: 'Подберите мне',
		},
	];