section.advantages
  .container
    .advantages__group.flex
      .advantages__item
        .advantages__img
          img(src="img/advantages-01.png" alt="Опт")
        .advantages__title Опт
        .advantages__content
          a(href="tel: +380 (00) 000 00 00") +380 (00) 000 00 00
          a(href="mailto: email@atmarket.ua") email@atmarket.ua
      .advantages__item
        .advantages__img
          img(src="img/advantages-02.png" alt="В магазинах")
        .advantages__title В магазинах
        .advantages__content
          p Lorem ipsum dolor sit amet, consecetuer adipiscing elit
      .advantages__item
        .advantages__img
          img(src="img/advantages-03.png" alt="Доставка")
        .advantages__title Доставка
        .advantages__content
          a(href="tel: +380 (00) 000 00 00") +380 (00) 000 00 00
