section.brands.js-tabs
  .container
    h2 БРЕНДЫ
    .section-tabs.js-tabs__nav
      button.section-tabs-item.js-tabs__nav-item.active Вода & Напитки
      button.section-tabs-item.js-tabs__nav-item Чай
    .section-tabs__content.js-tabs__content.active
      .brands__slider
        each item in brands
          .brands-item
            .brands-item__img
             img(src='img/'+item.img + '.png')
            p.brands-item__title=item.title
    .section-tabs__content.js-tabs__content
      .brands__slider
        each item in brands
          .brands-item
            .brands-item__img
              img(src='img/' + item.img + '.png')
            p.brands-item__title=item.title