.ordering-page {
  position: relative;

  @include media-q(min, 768) {
    background: url("../img/ordering-bg.png") no-repeat center;
    background-size: contain;
  }

  .container {
    position: static;
  }

  &__content {

    @include media-q(min, 1280) {
      width: 55%;
    }

    @include media-q(min, 1920) {
      padding-left: 11%;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;

      @include media-q(min, 768) {
        text-align: left;
        margin-bottom: 40px;
      }

      &:not(:first-child) {
        margin-top: 80px;
      }
    }
  }

  .section-tabs {
    flex-direction: column;
    padding-right: 0;
    margin-bottom: 30px !important;

    @include media-q(min, 768) {
      flex-direction: row;
      margin-bottom: 60px;
    }

    @include media-q(min, 1280) {
      padding-right: 20%;
    }
  }

  .section-tabs-item {
    font-size: 18px;
    margin-right: 0 !important;
    margin-bottom: 10px;

    @include media-q(min, 768) {
      margin-right: 40px !important;
      margin-bottom: 0;
    }

    @include media-q(min, 1441) {
      font-size: 24px;
    }
  }

  &__order-content {
    display: none;

    &.active {
      display: block;
      margin-bottom: 100px;
    }

    @include media-q(min, 768) {
      display: block;
    }
  }

  &__order-title {
    color: $c-blue;
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: $f-medium;
    display: block;
    position: relative;
    margin: 20px 0;

    @include media-q(min, 1441) {
      font-size: 36px;
      margin: 40px auto;
    }

    &:hover {
      color: $c-blue;
    }

    .font-icon-arrow-small {
      margin-left: 13px;
      display: inline-block;

      @include media-q(min, 768) {
        display: none;
      }

      &::before {
        font-size: 10px;
        transform: translateY(-5px);
      }
    }

    &.active {
      .font-icon-arrow-small {
        &::before {
          transform: translateY(-7px) translateX(-7px) rotate(180deg);
        }
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

    @include media-q(min, 768) {
      text-align: left;
      margin-bottom: 50px;
    }

    @include media-q(min, 1441) {
      font-size: 20px;
    }
  }

  &__order-wrap {
    border-radius: 10px 0 0 10px;

    @include media-q(min, 768) {
      padding: 30px;
    }

    @include media-q(min, 1280) {
      width: 46%;
      position: absolute;
      top: 3%;
      right: 0;
      border: 1px solid $c-green;
      background-color: #F5FBFF;
      margin-bottom: 0;
    }

    @include media-q(min, 1920) {
      width: 36%;
      padding: 60px 35px 60px 60px;
    }

    h2 {
      padding: 0;
      margin-top: 0;
    }

    .input-text {
      background: transparent !important;
      border-radius: 10px;
      max-width: 440px !important;
    }
  }

  .section-tabs {
    justify-content: flex-start;
    margin-bottom: 60px;
  }

  .section-tabs-item {
    text-decoration: none;
    font-size: 24px;
    margin-right: 40px;
    margin-left: 0;

  }

  &__form-text {
    color: $c-blue;
    font-size: 18px;
    font-weight: $f-medium;
    margin-bottom: 10px;
    display: block;

    @include media-q(min, 768) {
      font-size: 24px;
      margin-bottom: 20px !important;
    }
  }

  //.input-text {
  //  &:not(:placeholder-shown) {
  //    border-color: $c-dark;
  //  }
  //}

  .input-text {
    &::placeholder {
      //color: transparent;
    }
  }

  .request-form__agree {
    font-size: 24px;
    color: $c-blue;

    .checkbox + label:before {
      background-color: $c-blue;
    }
  }

  .request-form {
    max-width: inherit;
  }

  .input-text {
    max-width: 560px;
    margin-left: 0;
  }

  .personal-area__input-wrap {
    .font-icon {
      right: 18%;
    }
  }

  .request-form__agree {
    margin: 0;
  }

  .request-form {
    p {
      margin-bottom: 20px;
    }
  }

  .btn {
    margin: 0;
  }

  .registration-socials {
    max-width: 560px;
    color: $c_green;
  }

  .personal-area__addresses-add-new {
    font-size: 18px;

    @include media-q(min, 768) {
      font-size: 24px;
    }

    @include media-q(min, 1441) {
      margin-top: -20px;
      padding-left: 11px;
    }

    .font-icon-plus {
      margin-right: 30px;

      @include media-q(min, 768) {
        margin-right: 60px;
      }
    }
  }

  .form_radio {
    margin-bottom: 30px;

    @include media-q(min, 1441) {
      margin-bottom: 60px;
    }
  }

  .cart-popup__product {
    background: transparent;
    border: 1px solid $c_green;
    padding: 15px 30px;

    @include media-q(min, 768) {
      border: none;
      padding: 0;
    }

    .cart-popup__product-delete {
      position: absolute;
      top: 15px;
      right: 15px;

      @include media-q(min, 768) {
        position: static;
      }
    }

    .font-icon-close {
      color: $c-green;

      @include media-q(min, 768) {
        color: $c-dark;
      }

      &::before {
        font-size: 14px;

        @include media-q(min, 768) {
          font-size: 20px;
        }
      }
    }
  }

  .cart-popup__img {
    float: left;

    @include media-q(min, 768) {
    }
  }

  .cart-popup__product-title {
    max-width: 370px;
    margin-bottom: 5px;

    @include media-q(min, 768) {
      padding-top: 24px;
      margin-bottom: 15px;
    }
  }

  .cart-popup__price {
    max-width: none;
    margin-left: 0;
    display: inline-block;
    vertical-align: sub;

    @include media-q(min, 768) {
      font-size: 0;
    }

    span {
      font-size: 18px;
      color: $c-blue;
      margin-top: 0;

      @include media-q(min, 768) {
        color: $c-dark;
      }

      @include media-q(min, 1441) {
        font-size: 24px;
      }
    }
  }

  .product-hero__count {
    padding: 0;
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 12px;

    @include media-q(min, 768) {
      margin-left: 20px;
      margin-bottom: 0;
    }

    button {
      padding: 5px 15px;
    }
  }

  .cart-popup__to-pay {
    color: $c-dark;
    display: flex;
    justify-content: space-between;

    @include media-q(min, 768) {
      color: $c-blue;
      display: block;
      margin-left: auto;
      margin-right: 40px;
    }

    span {
      color: $c-blue;
      margin-top: 0;

      @include media-q(min, 768) {
        color: $c-dark;
        margin-top: 30px;
      }
    }
  }

  &__order-delivery,
  &__order-cost {
    display: flex;
    justify-content: space-between;
    font-weight: $f-medium;
    padding-left: 30%;

    @include media-q(min, 768) {
      padding-right: 50px;
      padding-left: 0;
    }
  }

  &__order-delivery {
    color: $c-blue;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;

    @include media-q(min, 768) {
      display: flex;
      font-size: 18px;
    }

    @include media-q(min, 1441) {
      font-size: 24px;
      margin-bottom: 40px;
    }

    span {
      text-transform: none;
    }
  }

  &__order-cost {
    font-size: 24px;
    text-transform: uppercase;
    margin-left: auto;

    @include media-q(min, 768) {
      margin-left: 0;
    }

    @include media-q(min, 1441) {
      font-size: 36px;
    }
  }
}