.section-popup {
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	margin: 0;
	background: transparentize(#002B4E, .4);
	justify-content: center;
	overflow: auto;
	padding: 30px 0;

	&.cart-popup {
		padding: 0;
	}

	&.active {
		display: flex;
	}

	&__content {
		max-width: 330px;
		width: 100%;
		margin: auto;
		background-color: $white;
		padding: 70px 40px;
		animation: fadeInDown .3s ease;
		animation-fill-mode: both;
		position: relative;

		.cart-popup & {
			margin: 0 0 auto auto;
			max-width: 940px;
			background: url("../img/cart-bg.png") no-repeat center bottom $white;
			background-size: contain;

			.popup-close-icon {
				color: $c-green;
				display: flex;
				align-items: center;
				font-size: 16px;
				font-weight: $f-medium;
				position: absolute;
				top: 15px;
				left: 8px;

				@include media-q(min, 768) {
					position: static;
				}


				@include media-q(min, 1441) {
					font-size: 24px;
				}

				&::before {
					font-size: 14px;
					margin-right: 15px;

					@include media-q(min, 768) {
						font-size: 20px;
					}
				}
			}
		}

		@include media-q(min, 768) {
			max-width: 460px;
		}

		.cookies-popup &,
		.new-address-popup & {
			max-width: 860px;
		}

		.cookies-popup & {
			padding: 40px;
			background: url("../img/cookies-bg.png") no-repeat $white;
			background-size: contain;
			background-position: center bottom;
			margin: auto 0 0 auto;

			@include media-q(min, 768) {
				padding: 40px 70px 160px;
			}
		}

		.new-address-popup & {
			padding: 18px;

			@include media-q(min, 768) {
				padding: 60px;
			}

			h2 {
				font-size: 18px;
				text-transform: none;
				color: $c-blue;
				text-align: left;
				margin-bottom: 20px;
				letter-spacing: initial;

				@include media-q(min, 768) {
					text-transform: uppercase;
					letter-spacing: 4px;
					margin-bottom: 40px;
				}

				@include media-q(min, 1441) {
					font-size: 24px;
				}
			}

			.popup-close-icon {
				&::before {
					font-size: 20px;
				}
			}

			p {
				font-size: 18px;
				font-weight: $f-medium;
				margin-bottom: 8px;

				@include media-q(min, 1441) {
					font-size: 24px;
				}
			}

			.personal-area__addresses-group-input {
				justify-content: space-between;
			}

			.input-text {

				@include media-q(min, 1280) {
					min-width: 350px;
				}
			}
		}

		.quik-order-popup & {
			max-width: 100%;
			background: url("../img/quik-popup-bg-mob.jpg") no-repeat center;
			background-size: cover;
			padding: 50px 20px;

			@include media-q(min, 768) {
				background: url("../img/quik-popup-bg.jpg") no-repeat center;
			}

			@include media-q(min, 1024) {
				max-width: 900px;
				padding: 80px 20px;
			}

			@include media-q(min, 1280) {
				max-width: 1000px;
				padding: 80px;
			}

			@include media-q(min, 1920) {
				max-width: 1330px;
				padding: 100px 90px 140px;
			}

			h2 {
				color: $white;
				margin-bottom: 12px;
				font-size: 30px;
				text-transform: none;

				@include media-q(min, 768) {
					text-transform: uppercase;
					margin-bottom: 40px;
				}

				@include media-q(min, 1441) {
					font-size: 48px;
				}
			}

			.quick-order__title {
				font-size: 20px;
			}
		}
	}

	&__title {
		margin-bottom: 70px;
		font-size: 20px;
		font-weight: $f_medium;
		text-align: center;

		@include media-q(min, 1441) {
			font-size: 24px;
		}
	}

	&__text {
		font-size: 20px;
		text-align: center;

		@include media-q(min, 768) {
			font-size: 22px;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
		}
	}

	.input-text {
		width: 100%;
	}
}

.popup-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	cursor:pointer;

	&:hover {
		opacity: 0.4;
	}
}

@keyframes fadeInDown {
	from {
		transform: translateY(-15px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.popup-close-icon {
	position: absolute;
	display: block;
	border: none;
	background: transparent;
	top: 7px;
	right: 20px;

	@include media-q(min, 768) {
		top: 40px;
		right: 40px;
	}

	&::before {
		@extend %font-icon;
		@extend %icon-close;
		font-size: 14px;

		@include media-q(min, 1441) {
			font-size: 44px;
		}
	}
}

.thanks-popup {
	.section-popup__title {
		font-size: 30px;

		@include media-q(min, 768) {
			font-size: 32px;
		}

		@include media-q(min, 1441) {
			font-size: 36px;
		}
	}
}

.cart-popup {

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 65px;

		@include media-q(min, 1441) {
			margin-bottom: 120px;
		}
	}

	&__title {
		font-size: 30px;
		font-weight: $f-medium;
		text-transform: uppercase;
		color: $c-blue;
		margin: 0 auto;

		@include media-q(min, 768) {
			margin: 0;
		}

		@include media-q(min, 1441) {
			font-size: 48px;
		}

		.font-icon-cart {
			&::before {
				font-size: 32px;
				margin-right: 15px;

				@include media-q(min, 768) {
					margin-right: 30px;
				}

				@include media-q(min, 1441) {
					font-size: 46px;
				}
			}
		}
	}

	&__text {
		text-align: center;
		font-size: 18px;
		margin-bottom: 40px;

		@include media-q(min, 1441) {
			font-size: 24px;
		}

		.cart-popup-empty & {
			margin: 0 auto 70px;
			font-size: 18px;

			@include media-q(min, 1441) {
				font-size: 36px;
			}
		}
	}

	&__product {
		border: 1px solid $c-green;
		border-radius: 10px;
		padding: 15px 20px;
		margin-bottom: 20px;
		position: relative;

		@include media-q(min, 768) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 7px 40px;
		}

		@include media-q(min, 1441) {
			margin-bottom: 40px;
		}
	}

	&__img {
		height: 150px;
		float: left;
		margin-right: 22px;

		@include media-q(min, 768) {
			float: none;
		}

		img {
			height: 100%;
			object-fit: contain;
		}
	}

	&__product-title {
		color: $c-blue;
		font-size: 16px;
		margin-bottom: 10px;

		@include media-q(min, 768) {
			max-width: 150px;
			margin-bottom: 0;
		}

		@include media-q(min, 1024) {
			max-width: 230px;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
		}
	}

	&__price {
		margin-bottom: 15px;

		@include media-q(min, 768) {
			max-width: 130px;
			margin-bottom: 0;
		}
	}

	&__price,
	&__to-pay {
		font-size: 18px;
		font-weight: $f-medium;

		@include media-q(min, 768) {
			width: 80px;
			text-align: center;
		}

		@include media-q(min, 1024) {
			width: auto;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
		}

		span {
			color: $c-blue;
			margin-top: 15px;
			margin-left: 10px;

			@include media-q(min, 768) {
				display: block;
				margin-left: 0;
			}
		}
	}

	.product-hero__count {
		padding: 0;
		margin-left: 0;
		border-radius: 10px;
		margin-bottom: 12px;

		@include media-q(min, 768) {
			margin-bottom: 0;
		}

		@include media-q(min, 1441) {
			padding: 7px 0;
		}

		button {
			padding: 5px 15px;

			@include media-q(min, 1441) {
				padding: 10px 20px;
			}
		}
	}

	&__product-delete {
		position: absolute;
		top: 15px;
		right: 15px;
		color: $c-green;

		@include media-q(min, 768) {
			top: 17px;
			right: 17px;
		}

		@extend %reset-button;

		.font-icon-close {
			&::before {
				font-size: 14px;
			}
		}
	}

	&__order-price {
		text-align: right;
		margin-bottom: 30px;
		margin-top: 30px;
		font-size: 18px;
		font-weight: $f-medium;

		@include media-q(min, 768) {
			margin-bottom: 60px;
			margin-top: 60px;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
		}

		span {
			display: block;
			font-size: 24px;
			color: $c-blue;
			margin-top: 10px;

			@include media-q(min, 768) {
				margin-top: 20px;
			}

			@include media-q(min, 1441) {
				font-size: 36px;
			}
		}
	}
}

.cart-popup-empty {

	.btn {
		max-width: 520px;
		margin: 0 auto;
	}

	.section-popup__content {
		min-height: 520px;

		@include media-q(min, 768) {
			min-height: 820px;
		}
	}
}

.cart-popup-full {
	.section-popup__content {
		padding: 70px 15px 140px;

		@include media-q(min, 768) {
			padding: 70px 40px 230px;
		}
	}

	.btn {
		max-width: 360px;
		margin-left: auto;
	}
}

.cookies-popup {
	background: transparent;
	position: static !important;

	.section-popup__content {
		position: fixed !important;
		bottom: 0;
		right: 0;
	}

	h2 {
		color: $c-blue;
		text-transform: none;
		text-align: left;
		font-size: 24px;
		margin-bottom: 20px;
		letter-spacing: normal;

		@include media-q(min, 1441) {
			font-size: 36px;
		}
	}

	p {
		font-size: 16px;
		font-weight: $f-normal;

		@include media-q(min, 1441) {
			font-size: 24px;
		}
	}

	a {
		font-size: 16px;
		text-decoration: underline;

		@include media-q(min, 1441) {
			font-size: 24px;
		}
	}

	.popup-close-icon {
		&::before {
			font-size: 14px;

			@include media-q(min, 1441) {
				font-size: 20px;
			}
		}
	}

	.popup-overlay {
		display: none !important;
	}
}

.make-an-order {
	position: fixed;
	bottom: 5%;
	right: 5%;
	background: $c-dark;
	border-radius: 50%;
	border: 2px solid $c-blue;
	width: 100px;
	height: 100px;
	color: $white;
	font-size: 14px;
	font-weight: $f-medium;
	transition: background .2s ease;
	z-index: 2;

	@extend %reset-button;

	@include media-q(min, 1920) {
		width: 186px;
		height: 186px;
		font-size: 24px;
	}

	&:hover {
		background: linear-gradient(180deg, #17BFAB 0%, #00AABF 59.9%);

		.font-icon-cart {
			color: $white;
		}
	}

	.font-icon-cart {
		display: block;
		color: $c-blue;
		margin-bottom: 7px;
		transition: color .2s ease;

		&::before {
			font-size: 30px;

			@include media-q(min, 1920) {
				font-size: 60px;
			}
		}
	}
}
