.product-list {
	overflow: hidden;

	@include media-q(min, 1024) {
		padding: 0 95px;
	}
}

.product-item {
	width: 25%;
	text-align: center;
	padding: 0 10px;
	position: relative;
	background-color: $white;

	.btn {
		width: 100%;
		padding: 11px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;

		@include media-q(min, 768) {
			font-size: 18px;
			padding: 14px;
		}

		&:not(:last-child) {
			margin-bottom: 8px;

			@include media-q(min, 768) {
				margin-bottom: 15px;
			}
		}

		.font-icon-cart {
			margin-right: 10px;

			@include media-q(min, 768) {
				margin-right: 28px;
			}

			&::before {
				font-size: 15px;

				@include media-q(min, 1280) {
					font-size: 24px;
				}

				@include media-q(min, 1441) {
					font-size: 33px;
				}
			}
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

		img {
			max-height: 128px;

			@include media-q(min, 1024) {
				max-height: 180px;
			}

			@include media-q(min, 1441) {
				max-height: inherit;
			}
		}
	}

	&__title {
		text-align: center;
		font-size: 16px;
		margin-bottom: 5px;
		display: block;

		@include media-q(min, 768) {
			font-size: 18px;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
			margin-bottom: 25px;
		}
	}

	&__price {
		color: $c_green;
		font-size: 18px;
		font-weight: $f_medium;
		margin-bottom: 10px;

		@include media-q(min, 1441) {
			font-size: 24px;
			margin-bottom: 25px;
		}

		&-group {
			margin-bottom: 20px;

			@include media-q(min, 1441) {
				margin-bottom: 45px;
			}

			span {
				font-size: 14px;
				font-weight: $f_medium;
				color: #BAD2E5;
				margin: 0 7px;

				@include media-q(min, 768) {
					font-size: 18px;
				}
			}
		}
	}

	&__label {
		position: absolute;
		top: -20px;
		right: 0;

		@include media-q(min, 1024) {
			top: 0;
		}

		svg {
			width: 55px;

			@include media-q(min, 1024) {
				width: 77px;
			}
		}
	}
}