.section-tabs__content {
	display: none;

	&.active {
		display: block;
	}
}

.section-tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding-right: 20%;

	@include media-q(min, 768) {
		justify-content: center;
		padding-right: 0;
	}

	@include media-q(min, 1441) {
		margin-bottom: 50px;
	}

	@include media-q(min, 1920) {
		margin-bottom: 100px;
	}

	&-item {
		font-size: 20px;
		font-weight: $f_medium;
		margin: 0 3%;
		@extend %reset-button;

		@include media-q(min, 768) {
			margin: 0 4%;
		}

		@include media-q(min, 1024) {
			margin: 0 14%;
		}

		@include media-q(min, 1441) {
			font-size: 36px;
		}

		&.active {
			color: $c_blue;
			text-decoration: underline;
			text-underline-offset: .3rem;

			@include media-q(min, 1441) {
				text-underline-offset: 1rem;
			}
		}
	}
}