.standart-hero {
	padding-top: 0;
	background: url("../img/standart-hero-bg-mob.png") no-repeat;
	background-position: 50% 192px;
	background-size: cover !important;
	padding-bottom: 245px;

	@include media-q(min, 768) {
		background: url("../img/standart-hero-bg.png") no-repeat;
		padding-bottom: 180px;
		background-position: 50% 60px;
	}

	@include media-q(min, 1024) {
		background: url("../img/standart-hero-bg.png") no-repeat;
		padding-bottom: 180px;
		background-position: 50% 10px;
	}

	@include media-q(min, 1441) {
		padding-bottom: 300px;
		background: url("../img/standart-hero-bg.png") no-repeat;
		background-position: 50% 192px;
	}

	@include media-q(min, 1920) {
		background-position: 50% 60px;
	}

	h1 {
		text-align: center;
		color: $c_green;
		font-weight: $f_medium;
		text-transform: none;
		margin-bottom: 15px;
		font-size: 36px;
		padding-top: 20px;

		@include media-q(min, 1280) {
			font-size: 48px;
			margin-bottom: 60px;
		}

		@include media-q(min, 1441) {
			font-size: 96px;
		}

		.contacts-page & {
			@include media-q(min, 1024) {
				padding-top: 120px;
			}
		}
	}

	&__item {
		display: block;
		text-align: center;
		font-size: 24px;
		font-weight: $f_medium;
		color: $c_dark;
		margin-bottom: 20px;
		transition: all .2s ease;

		@include media-q(min, 1024) {
			font-size: 32px;
		}

		@include media-q(min, 1441) {
			font-size: 48px;
		}

		&.active,
		&:hover {
			color: $c_blue;
			text-decoration: underline;
			text-underline-offset: .5rem;
		}
	}

	&__subtitle {
		display: none;

		@include media-q(min, 768) {
			display: block;
			font-size: 24px;
			font-weight: $f_medium;
			text-align: center;
		}

		@include media-q(min, 1441) {
			font-size: 48px;
		}
	}
}