section.section-tariffs#tariffs
	.container
		h2.title Тарифы на интернет и ТВ
		.section-tariffs-subclasses
			a.section-tariffs-subclass.tariffs-tariffs-01.active Интернет + ТВ
			a.section-tariffs-subclass.tariffs-tariffs-02 только Интернет
			a.section-tariffs-subclass.tariffs-tariffs-03 только ТВ
		.tariffs-group(style="display: flex;")
			.tariffs-item
				h3.tariffs-item__title Пакет  <b>S</b>
				p.tariffs-item__price 850 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 75 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 134 канала (30 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб.
				.tariffs-item__plug
					a(href="#").tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-S") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-S" data-goal="podkluchit-tarif-2") подключить
			.tariffs-item.tariffs-item-center
				h3.tariffs-item__title Пакет <b>L</b> <br> #[span Акционный]
				p.tariffs-item__price 850 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 100 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 156 канала (48 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб
				.tariffs-item__plug
					a(href="#").tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-L") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-L" data-goal="podkluchit-tarif-2") подключить
			.tariffs-item
				h3.tariffs-item__title Пакет <b>XXL</b>
				p.tariffs-item__price 1150 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 300 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 195 канала (67 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб.
				.tariffs-item__plug
					button.tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-XXL") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-XXL" data-goal="podkluchit-tarif-2") подключить
		.tariffs-group
			.tariffs-item
				h3.tariffs-item__title Пакет  <b>S</b>
				p.tariffs-item__price 850 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 75 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 134 канала (30 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб.
				.tariffs-item__plug
					a(href="#").tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-S") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-S" data-goal="podkluchit-tarif-2") подключить
			.tariffs-item.tariffs-item-center
				h3.tariffs-item__title Пакет <b>L</b> <br> #[span Акционный]
				p.tariffs-item__price 850 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 100 <мб>с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 156 канала (48 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб
				.tariffs-item__plug
					a(href="#").tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-L") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-L" data-goal="podkluchit-tarif-2") подключить
			.tariffs-item
				h3.tariffs-item__title Пакет <b>XXL</b>
				p.tariffs-item__price 1150 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 300 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 195 канала (67 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб.
				.tariffs-item__plug
					button.tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-XXL") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-XXL" data-goal="podkluchit-tarif-2") подключить
		.tariffs-group
			.tariffs-item
				h3.tariffs-item__title Пакет  <b>S</b>
				p.tariffs-item__price 850 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 75 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 134 канала (30 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб.
				.tariffs-item__plug
					a(href="#").tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-S") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-S" data-goal="podkluchit-tarif-2") подключить
			.tariffs-item.tariffs-item-center
				h3.tariffs-item__title Пакет <b>L</b> <br> #[span Акционный]
				p.tariffs-item__price 850 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 100 <мб>с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 156 канала (48 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб
				.tariffs-item__plug
					a(href="#").tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-L") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-L" data-goal="podkluchit-tarif-2") подключить
			.tariffs-item
				h3.tariffs-item__title Пакет <b>XXL</b>
				p.tariffs-item__price 1150 <br>#[span руб./месяц]
				.tariffs-item__content
					.tariffs-item__content-item
						i.font-icon.icon-speed
						p.tariffs-item__content-item--text Скорость 300 мб/с.
					.tariffs-item__content-item
						i.font-icon.icon-tv
						p.tariffs-item__content-item--text 195 канала (67 HD).
					.tariffs-item__content-item
						i.font-icon.icon-ruble
						p.tariffs-item__content-item--text Стоимость подключения 300 руб.
				.tariffs-item__plug
					button.tariffs-item__plug-link.js-show-popup-form(data-open="js-popup-tariff-XXL") Узнать подробнее
					button.tariffs-item__plug-button.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-XXl" data-goal="podkluchit-tarif-2") подключить