section.section-address
	.container
		h2.title Проверьте Ваш адрес на возможность <br>подключения к Дом.ру
		.site-form-wrapper
			form.site-form.js-show-popup-submit(data-open="js-popup-address")
				input.input-text.input-address(type="text" placeholder='Введите Ваш адрес:' required)
				input.request.yandex-metrika-event(type="submit" value='ОТПРАВИТЬ' data-goal='proverka-adresa')
				.form-errors-cont
