section.section-connection
	.container
		h2.title Как подключить интернет?
		.connection-group
			.connection-item
				img.connection-item__number(src="img/number1.png")
				.connection-item__text Оставьте заявку на сайте
			.connection-item
				img.connection-item__number(src="img/number2.png")
				.connection-item__text В течение часа с вами свяжется оператор и подберет удобное время для визита техника
			.connection-item
				img.connection-item__number(src="img/number3.png")
				.connection-item__text Техник проведет кабель, оформит договор и примет оплату — это займет не более часа
			.connection-item
				img.connection-item__number(src="img/number4.png")
				.connection-item__text Вы становитесь счастливым клиентом Дом.ru