section.section-price#price
	.container
		.price-item.price-item1
		.price-item.price-item2
			h2.title Живете в частном доме? <br>Посмотрите тарифы для вас
			button.price-button.js-show-popup-form(data-open="js-popup-tariff-L") посмотреть тарифы