section.section-firstscreen#main
	.container
			h1.firstscreen__title СТАБИЛЬНЫЙ ИНТЕРНЕТ и ЦИФРОВОЕ ТВ <br>от ДОМ.ru
			p.firstscreen__text Скорость до #[span 300] мб в сек. #[span 193] канала.<br> Подключим за #[span 24] часа.
			.frscreen-button-group
				button.frscreen-button-item.frscreen-button-item1.js-show-popup-form.yandex-metrika-event(data-open="js-popup-request" data-goal="podkluchit-verh") подключить
				a(href="#tariffs" data-goal="podkluchit-tarif").frscreen-button-item.frscreen-button-item2.yandex-metrika-event тарифы
