section.section-bottom
	.container
		h4.title Поможем выбрать для Вас <br>наиболее выгодный тариф
		p.bottom-text Заполните форму и мы свяжемся с Вами в<br> течении 5 минут
		.site-form-wrapper
			form.site-form.js-form-submit
				input.input-text.input-name(type="text" placeholder='ФИО:')
				input.input-text.input-phone(type="text" placeholder='Телефон:')
				input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='podkluchit-niz')
				.form-errors-cont
				input(type="checkbox" id="checkbox" class="checkbox" checked)
				label(for="checkbox") Согласие на обработку персональных данных.<br>
				a(href="#").form-text-ps Политика конфиденциальности.