.element-hidden, .js-hide, .form-checkboxes .form-checkbox, .form-radios .form-radio,
.element-invisible {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

ul, ol, .content ol,
.content ul,
.cke_editable ol,
.cke_editable ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.group::after {
  content: '';
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.responsive-video,
.video-embed-field-responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0 !important;
  overflow: hidden;
  display: block;
}

.responsive-video iframe, .video-embed-field-responsive-video iframe,
.responsive-video object,
.video-embed-field-responsive-video object,
.responsive-video embed,
.video-embed-field-responsive-video embed,
.responsive-video .video-js,
.video-embed-field-responsive-video .video-js {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@font-face {
  font-family: 'font-icon';
  src: url("../f-icons/f-icons.eot");
  src: url("../f-icons/f-icons.eot?#iefix") format("embedded-opentype"), url("../f-icons/f-icons.woff") format("woff"), url("../f-icons/f-icons.ttf") format("truetype"), url("../f-icons/f-icons#font-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

.how-it-item:not(:last-child) .box-shadow::after, .project-info-slider .slick-next::after {
  font-size: 1.875rem;
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barter:before {
  content: "\e901";
  color: #59ac80;
}

.icon-facebook:before {
  content: "\e902";
  color: #59ac80;
}

.icon-github:before {
  content: "\e903";
  color: #59ac80;
}

.icon-hello:before {
  content: "\e904";
  color: #59ac80;
}

.icon-magic:before {
  content: "\e905";
  color: #59ac80;
}

.icon-people:before {
  content: "\e906";
  color: #59ac80;
}

.icon-telegram:before {
  content: "\e907";
  color: #59ac80;
}

.icon-twitter:before {
  content: "\e908";
  color: #59ac80;
}

.how-it-item:not(:last-child) .box-shadow::after,
.icon-arrow:before {
  content: "\e900";
  color: #59ac80;
}

.project-info-slider .slick-next::after,
.icon-arrow-slider:before {
  content: "\e909";
  color: #59ac80;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-ms-clear {
  display: none;
}

*::-ms-reveal {
  display: none;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.2);
}

::selection {
  background: rgba(0, 0, 0, 0.2);
}

html,
body {
  font-size: 16px;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  min-height: 100vh;
}

body {
  color: #000;
  background: #fff;
  height: auto;
  min-width: 320px;
  font-weight: 400;
  line-height: 1.14;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  padding-top: 3.3125rem;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-scroll {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.active-menu {
  overflow: hidden;
}

.active-menu::before {
  opacity: 1;
  visibility: visible;
  z-index: 30;
}

img {
  max-width: 100%;
  height: auto;
  display: inherit;
}

figure {
  margin: 0 0 40px 0;
  text-align: center;
}

figure img {
  margin-bottom: 20px;
}

figcaption {
  font-size: 0.6875rem;
  line-height: 2em;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

a:hover {
  color: #000;
}

.ext .ext {
  display: none;
}

p {
  margin-top: 0;
}

iframe {
  max-width: 100%;
}

.mobile #livechat-compact-container {
  max-width: 80px;
  -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

section {
  margin-bottom: 3.75rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.1;
  margin-bottom: .85em;
  font-weight: 700;
  color: #000;
  font-family: "Lato", Montserrat, Arial, sans-serif;
}

h1 {
  font-size: 1.875rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 1.2;
  color: #59AC80;
  margin-bottom: 0;
}

h1::before {
  display: none;
}

h1, h2 {
  position: relative;
}

h1::before, h2::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #59AC80;
}

h2 {
  font-size: 1.375rem;
  font-family: "Lato", Montserrat, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.75rem;
}

h2::before {
  left: calc(50% - 40px);
  bottom: -100%;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.125rem;
  margin-bottom: .75em;
}

h5,
h6 {
  font-size: 0.9375rem;
  line-height: 1.13;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 25px;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: 500;
}

.content ol,
.content ul,
.cke_editable ol,
.cke_editable ul {
  margin: 0 0 1.5em 20px;
  padding: 0;
}

.content ol li,
.content ul li,
.cke_editable ol li,
.cke_editable ul li {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.content ol,
.cke_editable ol {
  counter-reset: section;
  padding-left: 10px;
}

.content ol li::before,
.cke_editable ol li::before {
  counter-increment: section;
  content: counter(section) ". ";
  margin-left: -15px;
}

.content ul:last-child,
.cke_editable ul:last-child {
  margin-bottom: 0;
}

.content ul li,
.cke_editable ul li {
  padding-left: 15px;
  position: relative;
}

.content ul li::before,
.cke_editable ul li::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  background: #000;
}

.content blockquote,
.cke_editable blockquote {
  font-weight: 700;
  position: relative;
  padding: 0 30px;
  display: inline-block;
  font-style: italic;
  margin: 20px auto;
}

.content blockquote::before, .content blockquote::after,
.cke_editable blockquote::before,
.cke_editable blockquote::after {
  font-size: 2.0625rem;
  content: '"';
  position: absolute;
}

.content blockquote::before,
.cke_editable blockquote::before {
  left: 0;
  top: 0;
}

.content blockquote p,
.cke_editable blockquote p {
  font-size: 1.625rem;
  line-height: 1.2;
  display: inline;
  margin: 0;
  font-family: inherit;
}

.low-margin-bottom {
  margin-bottom: 5px;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

.rtejustify {
  text-align: justify;
}

table {
  margin: 3.1em 0 2em;
  text-align: left;
  border: 0;
  color: #000;
  width: 100%;
}

table caption {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
}

table tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.25);
}

table tr td {
  border-bottom: 1px solid #000;
}

table td {
  border: 0;
  padding: 20px;
}

table td h1:last-child,
table td h2:last-child,
table td h3:last-child,
table td h4:last-child,
table td h5:last-child,
table td h6:last-child,
table td p:last-child {
  margin-bottom: 0;
}

.gray-bg table tr:last-child td {
  border: none;
}

.table-wrapper {
  overflow-x: auto;
  margin-top: 3.1em;
  position: relative;
  background: -o-radial-gradient(0% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -o-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
  background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;
}

.table-wrapper table {
  min-width: 640px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, white), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, right top, left top, color-stop(30%, white), to(rgba(255, 255, 255, 0))) 100% 0;
  background: -o-linear-gradient(left, white 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(right, white 30%, rgba(255, 255, 255, 0)) 100% 0;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
  background-size: 50px 100%;
  background-repeat: no-repeat;
  max-width: none;
  margin-bottom: 0;
  margin-top: 0;
  width: 100% !important;
}

th {
  background: #000;
  color: #fff;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

thead th {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

thead th:last-child {
  border-right: 0;
}

body {
  color: #0B0C09;
}

.form-item {
  margin-bottom: 20px;
}

.form-item label {
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}

.form-item .form-text {
  margin-bottom: 5px;
}

.form-item .description {
  font-style: italic;
}

.form-item .form-required {
  color: #f4371e;
}

.form-actions {
  margin-top: 40px;
}

.webform-component--form-message-row .messages {
  margin-bottom: 20px;
}

.fieldset-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

fieldset .form-item {
  width: 100%;
}

.recaptcha {
  min-width: 304px;
  margin-left: -11px;
}

.form-text,
.form-email {
  background: #fff;
  border-bottom: 1px solid #000;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  padding: 8px 12px 9px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color .3s ease-out;
  -o-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
}

.form-text:focus,
.form-email:focus {
  outline: none;
  border-color: #000;
  color: #000;
}

.form-text.error,
.form-email.error {
  border-color: #f4371e;
  background-color: rgba(244, 55, 30, 0.05);
}

textarea {
  background: #fff;
  border-bottom: 1px solid #000;
  font-family: inherit;
  font-size: inherit;
  max-width: 100%;
  width: 100%;
  padding: 12px;
  resize: vertical;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color .3s ease-out;
  -o-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
}

textarea:focus {
  outline: none;
  border-bottom-color: #000;
}

textarea.error {
  border-color: #f4371e;
  background-color: rgba(244, 55, 30, 0.05);
}

.ie10 .form-checkboxes p {
  max-width: 90%;
}

.desktop .form-checkboxes .form-checkbox:hover + label::before {
  background: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}

.desktop .form-checkboxes .form-checkbox:hover + label::after {
  opacity: .8;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.desktop .form-checkboxes .form-checkbox:disabled + label {
  cursor: not-allowed;
  color: #000;
}

.desktop .form-checkboxes .form-checkbox:disabled + label::before {
  background: rgba(0, 0, 0, 0.2);
}

.desktop .form-checkboxes .form-checkbox:disabled + label::after {
  opacity: .8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.desktop .form-checkboxes .form-checkbox:disabled:checked + label::before {
  background: rgba(0, 0, 0, 0.7);
}

.desktop .form-checkboxes .form-checkbox:disabled:checked + label::after {
  opacity: .8;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-checkboxes .form-checkbox:checked + label::before {
  background: #000;
  border-color: #000;
}

.form-checkboxes .form-checkbox:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-checkboxes .form-checkbox:disabled + label {
  cursor: not-allowed;
  color: #000;
}

.form-checkboxes .form-checkbox:disabled + label::before {
  background: rgba(0, 0, 0, 0.2);
}

.form-checkboxes .form-checkbox:disabled + label::after {
  opacity: .8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-checkboxes .form-type-checkbox > label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 0;
}

.form-checkboxes .form-type-checkbox > label::before {
  display: inline-block;
  vertical-align: text-bottom;
  content: ' ';
  background: #000;
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

.form-checkboxes .form-type-checkbox > label::after {
  content: ' ';
  background: url(../img/check.svg) no-repeat center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .2s ease;
  transition: opacity .3s ease, -webkit-transform .2s ease;
  -o-transition: opacity .3s ease, transform .2s ease;
  transition: opacity .3s ease, transform .2s ease;
  transition: opacity .3s ease, transform .2s ease, -webkit-transform .2s ease;
  color: #fff;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.form-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 10px;
  position: relative;
}

.form-radios .form-radio:checked + .option::after {
  opacity: 1;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  background: #000;
}

.form-radios .form-radio:disabled + .option {
  cursor: not-allowed;
}

.form-radios .form-radio:disabled + .option::before {
  background: #000;
}

.description-content .form-radios .form-radio:disabled + .option::before {
  background: rgba(0, 0, 0, 0.7);
}

.form-radios .form-radio:disabled + .option:hover::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-radios .form-radio:disabled:checked + .option::after {
  opacity: 1;
  background: #000;
}

.description-content .form-radios .form-radio:disabled:checked + .option::after {
  background: rgba(0, 0, 0, 0.5);
}

.form-radios .form-radio:disabled:checked + .option:hover::after {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.form-radios .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.45;
  position: relative;
}

.form-radios .option::before, .form-radios .option::after {
  content: ' ';
}

.form-radios .option::before {
  display: inline-block;
  height: 20px;
  min-width: 20px;
  background: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 2px 8px 0 0;
}

.form-radios .option::after {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 100%;
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-radios .option:hover::after {
  opacity: 1;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

select {
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  padding: 8px 12px 9px;
  margin-bottom: 10px;
  min-width: 280px;
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select:focus {
  outline: none;
}

.site-header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: padding .2s, -webkit-box-shadow .2s ease;
  transition: padding .2s, -webkit-box-shadow .2s ease;
  -o-transition: padding .2s, box-shadow .2s ease;
  transition: padding .2s, box-shadow .2s ease;
  transition: padding .2s, box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.site-header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky-header .site-header {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

.h-logo {
  width: 50px;
}

.h-logo svg,
.h-logo img {
  max-width: 100%;
}

.h-nav {
  font-weight: 500;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 72px;
  left: 0;
  padding: 60px 15px;
  z-index: 10;
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.h-nav__item {
  margin-right: 5px;
  padding: 5px;
  display: block;
  margin-bottom: 35px;
}

.h-nav__item:hover {
  color: #59AC80;
}

.h-btn {
  font-family: "Lato", Montserrat, Arial, sans-serif;
  letter-spacing: 1.7px;
  color: #59AC80;
  font-weight: 600;
  border: 1px solid #59AC80;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: color .2s, border-color .2s ease;
  -o-transition: color .2s, border-color .2s ease;
  transition: color .2s, border-color .2s ease;
  font-size: 14px;
  margin: 0 auto;
}

.h-btn:hover {
  color: #44715A;
  border-color: #44715A;
}

.footer {
  background: #F9F9F9;
  padding: 27px 0;
}

.footer .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .h-logo {
  margin-bottom: 25px;
}

.footer p {
  margin-bottom: 25px;
}

.footer__group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 25px;
}

.footer__item {
  display: block;
  margin: 0 23px;
}

.footer__item:hover .font-icon::before {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__item .font-icon::before {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-size: 35px;
}

.menu {
  display: none;
}

.opened-mobile-main-menu .menu {
  display: block;
}

.menu-wrap {
  position: relative;
}

.menu-wrap .container {
  padding: 0;
}

@-webkit-keyframes mainMenuFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes mainMenuFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.open-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  height: 50px;
  border: none;
  outline: none;
}

.open-main-menu .icon-menu {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open-main-menu .icon-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background: #59AC80;
  border-radius: 20px;
  margin-bottom: 8px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s;
  transition: opacity .2s ease, -webkit-transform .2s;
  -o-transition: transform .2s, opacity .2s ease;
  transition: transform .2s, opacity .2s ease;
  transition: transform .2s, opacity .2s ease, -webkit-transform .2s;
}

.open-main-menu .icon-menu span:nth-of-type(3) {
  margin-bottom: 0;
}

.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(1) {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-bottom: -14px;
}

.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(2) {
  opacity: 0;
}

.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.bs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bs-item {
  color: #000;
  margin-bottom: 3px;
}

.bs-item::after {
  content: '\203A';
  margin: 0 10px;
  color: #000;
}

.bs-item:last-child::after {
  display: none;
}

.bs-item a {
  color: #000;
  text-decoration: none;
}

.bs-item a:hover {
  color: #000;
}

@-webkit-keyframes langFadeIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes langFadeIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.lang-switcher {
  height: 18px;
}

.h-nav .lang-switcher {
  display: block;
}

.lang-switcher__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang-switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 15px;
  background-color: #fff;
  text-transform: uppercase;
}

.lang-switcher__item:hover {
  text-decoration: underline;
}

.lang-switcher__item.active {
  pointer-events: none !important;
}

.lang-switcher:hover .lang-switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang-switcher__image {
  height: 16px;
  margin-right: 5px;
}

.form-submit,
.btn {
  background-color: #000;
  border: 1px solid transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 24px 10px;
  display: inline-block;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.form-submit:hover,
.btn:hover {
  color: #fff;
  background-color: #000;
}

.form-submit {
  font-size: 1rem;
  padding: 11px 24px 12px;
  min-width: 150px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding-bottom: 22px;
}

.slick-dots button {
  font-size: 0;
  border: none;
  outline: none;
  background: #D7D7D7;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 18px;
}

.slick-dots .slick-active button {
  background: #59AC80;
}

.mobile-slick .slick-dots {
  width: 100%;
  text-align: center;
}

.hero-screen {
  padding-top: 20px;
}

.hero-screen .container {
  background-color: #F5F5F1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3.125rem;
}

.hero-screen-info {
  padding-top: 50px;
  max-width: 600px;
}

.charrycoin-text {
  padding-right: 32px;
  margin-bottom: 32px;
}

.charrycoin-btn {
  font-size: 1rem;
  width: auto;
  font-family: "Lato", Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  background-color: #59AC80;
  padding: 20px 53px;
  border-radius: 40px;
  letter-spacing: 1.8px;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.charrycoin-btn:hover {
  color: #fff;
  opacity: .9;
}

@-webkit-keyframes dots {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  70% {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
  }
  71% {
    -webkit-transform: translate(150%, 150%);
            transform: translate(150%, 150%);
  }
  72% {
    -webkit-transform: translate(150%, 0);
            transform: translate(150%, 0);
  }
}

@keyframes dots {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  70% {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
  }
  71% {
    -webkit-transform: translate(150%, 150%);
            transform: translate(150%, 150%);
  }
  72% {
    -webkit-transform: translate(150%, 0);
            transform: translate(150%, 0);
  }
}

.hero-bg-img {
  max-width: 77%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}

.hero-bg-img svg {
  max-width: 100%;
  height: auto;
}

.hero-bg-img .dots {
  -webkit-animation: dots 5s ease infinite;
          animation: dots 5s ease infinite;
}

.introduction {
  position: relative;
}

.introduction .introduction-wrap {
  max-width: 950px;
  margin: 0 auto;
}

.introduction::before, .introduction::after {
  content: '';
  position: absolute;
}

.introduction::before {
  display: none;
}

.introduction::after {
  right: 0;
  top: 0;
  background: url("../img/dots.png") no-repeat center;
  background-size: contain;
  width: 160px;
  height: 160px;
  z-index: -1;
}

.introduction-title,
.introduction-offer-title {
  font-size: 1.25rem;
  font-family: "Lato", Montserrat, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 37px;
}

.introduction-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.875rem;
}

.introduction-list__item {
  width: 100%;
  position: relative;
  padding-left: 18px;
  margin-bottom: 35px;
  padding-right: 40px;
}

.introduction-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #59AC80;
  border-radius: 50%;
}

.introduction-offer-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.introduction-offer p {
  max-width: 500px;
}

.introduction-offer-title {
  font-size: 1.8125rem;
  color: #59AC80;
}

.medium-italic {
  font-style: italic;
  font-weight: 500;
}

.introduction-img {
  max-width: 400px;
  margin-top: -30px;
  margin-bottom: 1.5625rem;
}

.how-it-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-it-item {
  text-align: center;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.how-it-item .box-shadow {
  position: relative;
  margin: 0 auto 25px;
  border-radius: 25px;
  max-width: 15.625rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 6px;
  height: 100%;
}

.how-it-item:not(:last-child) .box-shadow::after {
  display: none;
}

.how-it-item .font-icon {
  display: block;
  margin-bottom: 36px;
}

.how-it-item .font-icon::before {
  font-size: 72px;
}

.how-it-item__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.how-it-item__text {
  margin: 0;
}

.advantages {
  background-color: #F9F9F9;
  padding-top: 3.125rem;
  padding-bottom: 0.625rem;
  position: relative;
  margin-bottom: 0;
}

.advantages-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-number {
  font-size: 48px;
  font-family: "Lato", Montserrat, Arial, sans-serif;
  font-weight: 700;
  color: #59AC80;
  letter-spacing: 0.08em;
  margin-bottom: 0.5rem;
}

.advantages-item {
  text-align: center;
  margin: 0 auto 20px;
}

.advantages-item p {
  max-width: 235px;
}

.project-tabs {
  margin-bottom: 67px;
  overflow: auto;
}

.project-tabs__item {
  border: none;
  background: transparent;
  outline: none;
  padding: 15px;
  line-height: 1.3;
  font-size: 16px;
  color: rgba(11, 12, 9, 0.6);
  font-weight: 500;
  font-family: Montserrat, Arial, sans-serif;
  border-bottom: 3px solid #D7D7D7;
  text-align: left;
  white-space: nowrap;
}

.project-tabs__item:hover {
  color: #0B0C09;
}

.project-tabs__item.active {
  border-bottom-color: #59AC80 !important;
  color: #0B0C09;
}

.project-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-info {
  padding-top: 3.75rem;
}

.project-info-slider {
  width: 100%;
  padding-right: 1.25rem;
  max-width: 470px;
  position: relative;
}

.project-info-slider .slick-arrow {
  font-size: 0;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
}

.project-info-slider .slick-next {
  right: -10px;
  top: calc(50% - 19px);
}

.project-info-slider .slick-next::after {
  font-size: 38px;
}

.project-img {
  width: 93%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-img img,
.project-img svg {
  max-width: 100%;
  height: auto;
  max-height: 450px;
}

.project-content:not(.active) {
  display: none;
}

.chart {
  position: relative;
}

.chart h2 {
  margin-bottom: 40px;
}

.chart::after {
  display: none;
}

.road-map {
  position: relative;
}

.road-map ::-webkit-scrollbar {
  width: 0.125rem;
}

.road-map ::-webkit-scrollbar-track {
  background-color: #D7D7D7;
}

.road-map ::-webkit-scrollbar-thumb {
  background-color: #59AC80;
}

.road-map__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.road-map__container:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.road-map__container:nth-child(even) .road-map__item:first-child .road-map__circle::before {
  display: none;
}

.road-map__container:nth-child(even) .road-map__item:last-child .road-map__circle::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #D7D7D7;
  top: 75%;
  left: 11px;
}

.road-map__container:nth-child(odd) .road-map__item:first-child .road-map__circle::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #59AC80;
  top: -1px;
  left: 11px;
}

.road-map__container:nth-child(odd) .road-map__item:nth-of-type(5) {
  position: relative;
}

.road-map__container:nth-child(odd) .road-map__item:nth-of-type(5).filled-circle::after {
  border-color: #59AC80;
  border-style: solid;
}

.road-map__item {
  width: 100%;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-bottom: 40px;
}

.road-map__item:nth-child(10n - 9)::before, .road-map__item:nth-child(10n - 7)::before, .road-map__item:nth-child(10n - 5)::before, .road-map__item:nth-child(10n - 4)::before, .road-map__item:nth-child(10n - 2)::before, .road-map__item:nth-child(10n)::before {
  bottom: auto;
  top: calc(50% + 45px);
}

.road-map__circle {
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.road-map__circle-icon {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #59AC80;
}

.road-map__circle::after {
  content: '';
  position: absolute;
  border-left: 2px dashed #D7D7D7;
  width: auto;
  height: 100%;
  left: 15px;
  top: 50%;
}

.filled-circle .road-map__circle .road-map__circle-icon {
  background-color: #59AC80;
}

.road-map__title {
  font-weight: 700;
  margin-bottom: 14px;
}

.road-map__text p {
  position: relative;
  background-color: #fff;
}

.road-map__text p:last-child {
  margin-bottom: 0;
}

.our-team {
  background-color: #F9F9F9;
  padding: 65px 0 20px;
  position: relative;
}

.our-team::after {
  content: '';
  position: absolute;
  left: -8%;
  top: 3%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 15px solid #BDD7C9;
}

@-webkit-keyframes showTeamMore {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes showTeamMore {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

.our-team__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: showTeamMore .3s ease;
          animation: showTeamMore .3s ease;
}

.our-team__item {
  width: 33.3%;
  margin-bottom: 40px;
}

.our-team__item .box-shadow {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  max-width: 277px;
  height: 100%;
  padding: 40px 27px;
  border-radius: 26px;
  text-align: center;
  margin: 0 auto;
}

.our-team__item-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto 25px;
}

.our-team__item-photo img {
  border-radius: 50%;
}

.our-team__title {
  font-family: "Lato", Montserrat, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.our-team__position {
  margin-bottom: 25px;
}

.our-team__socials-item {
  display: inline-block;
  margin: 0 12px;
}

.our-team__socials-item:hover .font-icon::before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.our-team__socials .font-icon::before {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-size: 25px;
}

.our-team__other {
  text-decoration: underline;
  color: rgba(11, 12, 9, 0.6);
  display: block;
  margin: 0 auto 62px;
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}

.our-team__other:hover {
  text-decoration: none;
}

.partners {
  position: relative;
}

.partners h2 {
  margin-bottom: 80px;
}

.partners h2 span {
  display: block;
  margin-top: 14px;
  font-size: 16px;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
}

.partners h2::before {
  bottom: -40%;
}

.partners__group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.partners__item {
  max-width: 100px;
  width: 20%;
  margin: 20px;
}

@media only screen and (min-width: 340px) {
  .recaptcha {
    margin-left: 0;
  }
}

@media only screen and (min-width: 480px) {
  .h-nav {
    top: 102px;
  }
  .sticky-header .h-nav {
    top: 82px;
  }
}

@media only screen and (min-width: 600px) {
  .site-header {
    padding: 20px 0;
  }
  .h-logo {
    width: 66px;
  }
  .h-nav__item {
    padding: 10px;
  }
  .hero-screen-info {
    padding-left: 74px;
    padding-top: 93px;
  }
}

@media only screen and (min-width: 680px) {
  figure {
    text-align: inherit;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 7.375rem;
  }
  section {
    margin-bottom: 3.75rem;
    padding-top: 3.75rem;
  }
  .show-before-tablet {
    display: none;
  }
  h1 {
    margin-bottom: 64px;
  }
  h1::before {
    display: block;
    left: 0;
    bottom: -30px;
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 6.25rem;
  }
  .table-wrapper {
    border: 0;
    background: transparent;
  }
  .table-wrapper table {
    background: none;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .h-logo {
    margin-bottom: 0;
  }
  .footer p {
    margin-bottom: 0;
    margin-left: auto;
  }
  .footer__group {
    margin: 0 auto;
  }
  .hero-screen {
    margin-bottom: 5.1875rem;
  }
  .hero-screen .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0;
  }
  .hero-screen-info {
    max-width: 520px;
    padding-bottom: 124px;
    margin-right: 48px;
  }
  .charrycoin-text {
    margin-bottom: 91px;
  }
  .charrycoin-btn {
    font-size: 1.125rem;
    display: inline-block;
    margin: 0;
    padding: 23px;
  }
  .hero-bg-img {
    max-width: 47%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .introduction-title,
  .introduction-offer-title {
    font-size: 1.5rem;
  }
  .introduction-list {
    margin-bottom: 5rem;
  }
  .introduction-list__item {
    width: 49%;
  }
  .introduction-offer-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .introduction-offer-title {
    font-size: 2.25rem;
  }
  .introduction-img {
    margin-bottom: 0;
  }
  .how-it-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .how-it-item {
    margin: 0;
    width: 50%;
  }
  .how-it-item .box-shadow {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    padding: 28px 10px;
    margin: 0;
  }
  .advantages {
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;
  }
  .advantages-number {
    margin-bottom: 0.75rem;
  }
  .advantages-item {
    width: 20%;
    text-align: left;
    margin: 0;
  }
  .project-tabs {
    overflow: initial;
    border-bottom: 3px solid #D7D7D7;
  }
  .project-tabs__item {
    border-bottom: 3px solid transparent;
    padding: 22px 36px;
    text-align: center;
    white-space: normal;
    margin-bottom: -3px;
  }
  .project-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-info {
    padding-top: 5.625rem;
  }
  .project-info-slider {
    width: 40%;
    padding-right: 0;
  }
  .project-info-slider .slick-next {
    right: -15%;
  }
  .project-img {
    width: 50%;
  }
  .chart h2 {
    margin-left: 95px;
    text-align: left;
  }
  .chart h2::before {
    left: 0;
  }
  .chart::after {
    display: block;
    content: '';
    position: absolute;
    left: -1%;
    top: -15%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid #BDD7C9;
  }
  .road-map {
    margin-bottom: 0;
  }
  .road-map::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 15px solid #E5D7CA;
    right: 0;
    top: 10%;
  }
  .road-map__container:nth-child(even) .road-map__item .road-map__circle::before {
    left: 50%;
  }
  .road-map__container:nth-child(even) .road-map__item .road-map__circle::after {
    right: 50%;
    left: auto;
  }
  .road-map__container:nth-child(even) .road-map__item:last-child .road-map__circle::after {
    left: 0;
    width: 150%;
  }
  .road-map__container:nth-child(even) .road-map__item:last-child .road-map__circle::before {
    top: calc(50% - 5px);
    left: 0;
  }
  .road-map__container:nth-child(odd) .road-map__item:first-child .road-map__circle::after {
    left: 0;
    width: 150%;
  }
  .road-map__container:nth-child(odd) .road-map__item:first-child .road-map__circle::before {
    top: calc(50% - 5px);
    left: 0;
  }
  .road-map__container:nth-child(odd) .road-map__item:nth-of-type(5)::after {
    content: '';
    display: block;
    border: 2px dashed #D7D7D7;
    border-left: none !important;
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    height: calc(100% + 102px);
    border-radius: 0 500em 500em 0;
    width: 90%;
  }
  .road-map__container:nth-child(odd) .road-map__item:nth-of-type(5) .road-map__circle::after {
    display: none;
  }
  .road-map__item {
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 20%;
    margin-bottom: 100px;
  }
  .road-map__item::before {
    content: '';
    position: absolute;
    height: 45px;
    width: 1px;
    background-color: #44715A;
    left: 50%;
    bottom: calc(50% + 45px);
  }
  .road-map__item:nth-child(10n - 9), .road-map__item:nth-child(10n - 7), .road-map__item:nth-child(10n - 5), .road-map__item:nth-child(10n - 4), .road-map__item:nth-child(10n - 2), .road-map__item:nth-child(10n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .road-map__item:nth-child(10n - 9) .road-map__info, .road-map__item:nth-child(10n - 7) .road-map__info, .road-map__item:nth-child(10n - 5) .road-map__info, .road-map__item:nth-child(10n - 4) .road-map__info, .road-map__item:nth-child(10n - 2) .road-map__info, .road-map__item:nth-child(10n) .road-map__info {
    padding-top: 67px;
  }
  .road-map__circle {
    margin-right: 0;
    position: relative;
    height: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .road-map__circle-icon {
    width: 50px;
    height: 50px;
  }
  .road-map__circle::after {
    left: 50%;
    top: calc(50% - 1px);
    border-left: none;
    height: auto;
    width: 100%;
    border-top: 2px dashed #D7D7D7;
  }
  .filled-line .road-map__circle::after {
    border-top-style: solid;
    border-top-color: #59AC80;
  }
  .road-map__info {
    height: 155px;
  }
  .road-map__text {
    height: 123px;
    overflow: auto;
  }
  .our-team::after {
    left: -2%;
    top: 6%;
  }
  .our-team__item {
    margin-bottom: 60px;
  }
  .our-team__item:nth-child(n+7) {
    display: none;
  }
  .show-all .our-team__item {
    display: block;
  }
  .partners::after {
    content: '';
    position: absolute;
    top: -15%;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 15px solid #E5D7CA;
    right: -1%;
  }
  .partners__item {
    margin: 0 50px 60px 50px;
  }
}

@media only screen and (min-width: 900px) {
  .advantages::before {
    right: -5%;
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 15px solid #BDD7C9;
    top: 30%;
  }
}

@media only screen and (min-width: 920px) {
  .h-nav__item {
    margin-right: 20px;
    padding: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.25rem;
  }
  fieldset .form-item {
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
  }
  fieldset .form-item:nth-child(2n) {
    margin-right: 0;
  }
  .h-logo {
    margin-right: 4%;
  }
  .h-nav {
    position: static;
    background: transparent;
    width: auto;
    padding: 0;
    text-align: left;
    height: auto;
  }
  .h-nav__item {
    display: inline-block;
    margin-bottom: 0;
  }
  .h-btn {
    font-size: 16px;
    margin-left: auto;
    margin-right: 0;
  }
  .menu {
    display: block;
  }
  .open-main-menu {
    display: none;
  }
  .lang-switcher {
    margin-left: 20px;
  }
  .h-nav .lang-switcher {
    display: none;
  }
  .lang-switcher__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lang-switcher__item:not(.active) {
    display: none;
    -webkit-animation: langFadeIn .3s ease;
            animation: langFadeIn .3s ease;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .lang-switcher__item.active {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .introduction::before {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid #E5D7CA;
    left: -7%;
    bottom: 25%;
  }
  .how-it-item {
    width: 24%;
  }
  .project-img {
    width: 60%;
  }
}

@media only screen and (min-width: 1025px) {
  .active-menu {
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
  .h-logo {
    margin-right: 10%;
  }
  .introduction::before {
    left: -2%;
  }
  .how-it-item:not(:last-child) .box-shadow::after {
    position: absolute;
    left: 105%;
    top: calc(50% - 13px);
    font-size: 26px;
    display: block;
  }
  .project-info-slider .slick-next {
    right: -20%;
  }
}

@media only screen and (max-width: 767px) {
  .show-from-tablet {
    display: none;
  }
  .project-info-slider .slick-next {
    padding: 0;
  }
  .chart__wrap {
    overflow: auto;
  }
  .chart__container {
    width: 200%;
    padding-bottom: 20px;
  }
  .road-map__group {
    padding-right: 10px;
    max-height: 450px;
    overflow: auto;
    padding-top: 3px;
  }
  .road-map__container:nth-child(even) .road-map__item:last-child .road-map__circle::after {
    height: 30%;
  }
  .road-map__container:nth-child(odd) .road-map__item:first-child .road-map__circle::after {
    top: 0;
    height: 150%;
  }
  .filled-line .road-map__circle::after {
    border-left-style: solid;
    border-left-color: #59AC80;
  }
  .our-team__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .menu-group {
    position: absolute;
    width: 100vw;
    top: 100%;
    left: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #f87c00;
    padding-bottom: 20px;
    z-index: 1;
    -webkit-box-shadow: 0 10px 10px #adadad;
            box-shadow: 0 10px 10px #adadad;
    -webkit-animation: mainMenuFadeIn .2s ease;
            animation: mainMenuFadeIn .2s ease;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .menu-group li,
  .menu-group .menu-user {
    padding: 10px 0;
    text-align: left;
  }
  .menu-item {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .lang-switcher {
    display: none;
    padding-top: 20px;
  }
  .lang-switcher__item.active {
    text-decoration: underline;
  }
}

/*# sourceMappingURL=main.css.map */
