@charset "UTF-8";
.element-hidden,.js-hide,.form-checkboxes .form-checkbox,.form-radios .form-radio,.element-invisible{position:absolute!important;width:1px!important;height:1px!important;margin:-1px!important;padding:0!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;border:0!important}
ul,ol,.content ol,.content ul,.cke_editable ol,.cke_editable ul{padding:0;margin:0;list-style:none}
.group::after{content:'';clear:both;display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.responsive-video,.video-embed-field-responsive-video{position:relative;padding-bottom:56.25%;height:0!important;overflow:hidden;display:block}
.responsive-video iframe,.video-embed-field-responsive-video iframe,.responsive-video object,.video-embed-field-responsive-video object,.responsive-video embed,.video-embed-field-responsive-video embed,.responsive-video .video-js,.video-embed-field-responsive-video .video-js{border:0;position:absolute;top:0;left:0;width:100%!important;height:100%!important}
@font-face{font-family:'font-icon';src:url(../f-icons/f-icons.eot);src:url(../f-icons/f-icons.eot?#iefix) format("embedded-opentype"),url(../f-icons/f-icons.woff) format("woff"),url(../f-icons/f-icons.ttf) format("truetype"),url(../f-icons/f-icons#font-icons) format("svg");font-weight:400;font-style:normal}
[class*='font-icon']::before,[class*='font-icon']::after{display:inline-block;font-family:'font-icon';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:30px}
.icon-check::before{content:"\e900"}
.icon-clock::before{content:"\e901"}
.icon-house::before{content:"\e902"}
.icon-location::before{content:"\e903"}
.icon-mail::before{content:"\e904"}
.icon-phone::before{content:"\e905"}
.icon-reward::before{content:"\e906"}
.icon-ruble::before{content:"\e907"}
.icon-truck::before{content:"\e908"}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;-moz-appearance:button;appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
::-ms-clear{display:none}
::-ms-reveal{display:none}
::-webkit-input-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
::-ms-input-placeholder{color:#000}
::placeholder{color:#000}
::-moz-selection{background:rgba(0,0,0,0.2)}
::selection{background:rgba(0,0,0,0.2)}
html,body{font-size:16px;font-weight:400}
html{font-family:Roboto Condensed,Helvetica,Arial,sans-serif;min-height:100vh}
body{color:#000;background:#fff;height:auto;min-width:320px;font-weight:400;line-height:1.14;overflow-x:hidden;-webkit-font-smoothing:antialiased;min-height:inherit;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.no-scroll{overflow:hidden}
.active-menu{overflow:hidden}
.active-menu::before{opacity:1;visibility:visible;z-index:30}
img{max-width:100%;height:auto;display:inherit}
figure{margin:0 0 40px;text-align:center}
figure img{margin-bottom:20px}
figcaption{font-size:.6875rem;line-height:2em}
a{color:#000;text-decoration:none;outline:none;-webkit-transition:color .3s ease;-o-transition:color .3s ease;transition:color .3s ease}
a:hover{color:#000}
.ext .ext{display:none}
iframe{max-width:100%}
.mobile #livechat-compact-container{max-width:80px;-webkit-transform:translate(0,0)!important;-ms-transform:translate(0,0)!important;transform:translate(0,0)!important}
.page-container{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}
.container{max-width:1200px;padding:0 15px;margin:auto}
.scroll-prevented{width:100vw;height:100vh;overflow:hidden}
body{color:#333}
h1,h2,h3,h4,h5,h6{margin:0;line-height:1.1;margin-bottom:.85em;font-weight:700;color:#000}
h1{font-size:2.0625rem;margin:0 0 .75em;line-height:1}
h2{font-size:1.75rem;line-height:1.2}
h3{font-size:1.25rem;line-height:1.2;margin-bottom:1em}
h4{font-size:1.125rem;margin-bottom:.75em}
h5,h6{font-size:.9375rem;line-height:1.13}
h2.title{font-size:26px;font-weight:700;text-transform:uppercase;letter-spacing:.2px;margin-bottom:17px}
h2.title span{color:#714b13}
.title-group{display:-webkit-box;display:-ms-flexbox;display:flex}
.title-group .title-item{border-radius:5px;background-color:#f2b737;height:6px;margin-right:10px}
.title-group .title-item1{width:70px}
.title-group .title-item2{width:40px}
.title-group .title-item3{width:20px}
p{padding:0;margin:0}
.text-center{text-align:center}
.content ol,.content ul,.cke_editable ol,.cke_editable ul{margin:0 0 1.5em 20px;padding:0}
.content ol li,.content ul li,.cke_editable ol li,.cke_editable ul li{margin-bottom:.5em;line-height:1.2}
.content ol,.cke_editable ol{counter-reset:section;padding-left:10px}
.content ol li::before,.cke_editable ol li::before{counter-increment:section;content:counter(section) ". ";margin-left:-15px}
.content ul:last-child,.cke_editable ul:last-child{margin-bottom:0}
.content ul li,.cke_editable ul li{padding-left:15px;position:relative}
.content ul li::before,.cke_editable ul li::before{content:' ';position:absolute;left:0;top:8px;width:5px;height:5px;background:#000}
.content blockquote,.cke_editable blockquote{font-weight:700;position:relative;padding:0 30px;display:inline-block;font-style:italic;margin:20px auto}
.content blockquote::before,.content blockquote::after,.cke_editable blockquote::before,.cke_editable blockquote::after{font-size:2.0625rem;content:'"';position:absolute}
.content blockquote::before,.cke_editable blockquote::before{left:0;top:0}
.content blockquote p,.cke_editable blockquote p{font-size:1.625rem;line-height:1.2;display:inline;margin:0;font-family:inherit}
.low-margin-bottom{margin-bottom:5px}
.rtecenter{text-align:center}
.rteright{text-align:right}
.rtejustify{text-align:justify}
table{margin:3.1em 0 2em;text-align:left;border:0;color:#000;width:100%}
table caption{margin-bottom:10px;text-align:left;padding-left:20px;font-size:15px;color:#000}
table tr:nth-child(even){background:rgba(0,0,0,0.25)}
table tr td{border-bottom:1px solid #000}
table td{border:0;padding:20px}
table td h1:last-child,table td h2:last-child,table td h3:last-child,table td h4:last-child,table td h5:last-child,table td h6:last-child,table td p:last-child{margin-bottom:0}
.gray-bg table tr:last-child td{border:none}
.table-wrapper{overflow-x:auto;margin-top:3.1em;position:relative;background:-o-radial-gradient(0% 50%,farthest-side,rgba(0,0,0,0.2),rgba(0,0,0,0)),-o-radial-gradient(100% 50%,farthest-side,rgba(0,0,0,0.2),rgba(0,0,0,0)) 100% 0;background:radial-gradient(farthest-side at 0% 50%,rgba(0,0,0,0.2),rgba(0,0,0,0)),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,0.2),rgba(0,0,0,0)) 100% 0;background-color:#fff;background-repeat:no-repeat;background-size:10px 100%;margin-bottom:15px}
.table-wrapper table{min-width:640px;background:-webkit-gradient(linear,left top,right top,color-stop(30%,white),to(rgba(255,255,255,0))),-webkit-gradient(linear,right top,left top,color-stop(30%,white),to(rgba(255,255,255,0))) 100% 0;background:-o-linear-gradient(left,white 30%,rgba(255,255,255,0)),-o-linear-gradient(right,white 30%,rgba(255,255,255,0)) 100% 0;background:linear-gradient(to right,white 30%,rgba(255,255,255,0)),linear-gradient(to left,white 30%,rgba(255,255,255,0)) 100% 0;background-size:50px 100%;background-repeat:no-repeat;max-width:none;margin-bottom:0;margin-top:0;width:100%!important}
th{background:#000;color:#fff;padding:20px;border:0;border-bottom:1px solid rgba(255,255,255,0.5)}
thead th{border-right:1px solid rgba(255,255,255,0.5)}
thead th:last-child{border-right:0}
.stylegude{font-family:Roboto Condensed,Helvetica,Arial,sans-serif}
.stylegude section{padding:100px 0}
.s-guide-intro h1{font-size:3.75rem;margin-bottom:.5em}
.s-guide-intro p{font-size:1.125rem}
.form-item{margin-bottom:20px}
.form-item label{margin-bottom:5px;display:inline-block}
.form-item .form-text{margin-bottom:5px}
.form-item .description{font-style:italic}
.form-item .form-required{color:#f4371e}
.form-actions{margin-top:40px}
.webform-component--form-message-row .messages{margin-bottom:20px}
.fieldset-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}
fieldset{margin:0;padding:0;border:0;width:100%}
fieldset .form-item{width:100%}
.recaptcha{min-width:304px;margin-left:-11px}
.form-text,.form-email{background:#fff;border-bottom:1px solid #000;font-family:inherit;font-size:inherit;width:100%;max-width:100%;padding:8px 12px 9px;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-transition:border-color .3s ease-out;-o-transition:border-color .3s ease-out;transition:border-color .3s ease-out}
.form-text:focus,.form-email:focus{outline:none;border-color:#000;color:#000}
.form-text.error,.form-email.error{border-color:#f4371e;background-color:rgba(244,55,30,0.05)}
textarea{background:#fff;border-bottom:1px solid #000;font-family:inherit;font-size:inherit;max-width:100%;width:100%;padding:12px;resize:vertical;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-transition:border-color .3s ease-out;-o-transition:border-color .3s ease-out;transition:border-color .3s ease-out}
textarea:focus{outline:none;border-bottom-color:#000}
textarea.error{border-color:#f4371e;background-color:rgba(244,55,30,0.05)}
.ie10 .form-checkboxes p{max-width:90%}
.desktop .form-checkboxes .form-checkbox:hover + label::before{background:rgba(0,0,0,0.6);border-color:rgba(0,0,0,0.6)}
.desktop .form-checkboxes .form-checkbox:hover + label::after{opacity:.8;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.desktop .form-checkboxes .form-checkbox:disabled + label{cursor:not-allowed;color:#000}
.desktop .form-checkboxes .form-checkbox:disabled + label::before{background:rgba(0,0,0,0.2)}
.desktop .form-checkboxes .form-checkbox:disabled + label::after{opacity:.8;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.desktop .form-checkboxes .form-checkbox:disabled:checked + label::before{background:rgba(0,0,0,0.7)}
.desktop .form-checkboxes .form-checkbox:disabled:checked + label::after{opacity:.8;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.form-checkboxes .form-checkbox:checked + label::before{background:#000;border-color:#000}
.form-checkboxes .form-checkbox:checked + label::after{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.form-checkboxes .form-checkbox:disabled + label{cursor:not-allowed;color:#000}
.form-checkboxes .form-checkbox:disabled + label::before{background:rgba(0,0,0,0.2)}
.form-checkboxes .form-checkbox:disabled + label::after{opacity:.8;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.form-checkboxes .form-type-checkbox > label{position:relative;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;font-weight:400;line-height:1.45;margin-bottom:0}
.form-checkboxes .form-type-checkbox > label::before{display:inline-block;vertical-align:text-bottom;content:' ';background:#000;border:1px solid #000;height:20px;width:20px;min-width:20px;margin:0 10px 0 0;-webkit-transition:background .3s ease;-o-transition:background .3s ease;transition:background .3s ease}
.form-checkboxes .form-type-checkbox > label::after{content:' ';background:url(../img/check.svg) no-repeat center;position:absolute;left:0;top:0;opacity:0;-webkit-transition:opacity .3s ease,-webkit-transform .2s ease;transition:opacity .3s ease,-webkit-transform .2s ease;-o-transition:opacity .3s ease,transform .2s ease;transition:opacity .3s ease,transform .2s ease;transition:opacity .3s ease,transform .2s ease,-webkit-transform .2s ease;color:#fff;-webkit-transform:scale(0.4);-ms-transform:scale(0.4);transform:scale(0.4);-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center}
.form-radios{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-line-pack:center;align-content:center;margin-bottom:10px;position:relative}
.form-radios .form-radio:checked + .option::after{opacity:1;-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);background:#000}
.form-radios .form-radio:disabled + .option{cursor:not-allowed}
.form-radios .form-radio:disabled + .option::before{background:#000}
.description-content .form-radios .form-radio:disabled + .option::before{background:rgba(0,0,0,0.7)}
.form-radios .form-radio:disabled + .option:hover::after{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.form-radios .form-radio:disabled:checked + .option::after{opacity:1;background:#000}
.description-content .form-radios .form-radio:disabled:checked + .option::after{background:rgba(0,0,0,0.5)}
.form-radios .form-radio:disabled:checked + .option:hover::after{-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5)}
.form-radios .option{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-bottom:0;cursor:pointer;font-weight:400;line-height:1.45;position:relative}
.form-radios .option::before,.form-radios .option::after{content:' '}
.form-radios .option::before{display:inline-block;height:20px;min-width:20px;background:#000;border:1px solid #000;border-radius:50%;margin:2px 8px 0 0}
.form-radios .option::after{width:20px;height:20px;background:#000;border-radius:100%;position:absolute;top:2px;left:0;opacity:0;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.form-radios .option:hover::after{opacity:1;-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5)}
select{font-size:16px;color:#000;border:1px solid #000;padding:8px 12px 9px;margin-bottom:10px;min-width:280px;max-width:100%;width:100%;border-radius:3px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select:focus{outline:none}
.site-header{background-color:#fff;width:100%}
.header-top{padding:14px 0}
.header-top .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.header-logo-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:15px}
.header-logo-img{max-width:130px;width:100%;max-height:32px;margin-right:15px}
.header-logo-text{padding:0;font-size:13px;text-transform:uppercase;color:#4a2409;margin:4px 0 0;line-height:1.33}
.header-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.header-item{margin-right:10px}
.header-item .font-icon{margin-right:4px}
.header-item .font-icon::before{font-size:15px;color:#ffaf00}
.header-item__left,.header-item__right{display:-webkit-box;display:-ms-flexbox;display:flex}
.header-item__left{font-size:14px;font-family:"Roboto";line-height:1}
.header-item__left-first{margin-bottom:11px}
.header-item__right{font-size:16px;font-weight:700;letter-spacing:.8px}
.header-item__right-first{margin-bottom:8px}
.header-item__right:hover{text-decoration:underline}
.menu-wrap{background-color:#714b13;margin-bottom:-1px}
.menu-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;max-width:911px;margin:0 auto;padding:11px 0;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.menu-group > li{margin-bottom:10px;font-size:18px}
.menu-group > li > a{font-size:15px;color:#fff}
.menu-group > li > a:hover{color:#000}
.menu{padding:5px;display:none}
.opened-mobile-main-menu .menu{display:block}
.open-main-menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:transparent;height:60px}
.open-main-menu .icon-menu{width:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.open-main-menu .icon-menu span{display:block;width:100%;height:3px;background:#fff;margin-bottom:6px;-webkit-transition:opacity .2s ease,-webkit-transform .2s;transition:opacity .2s ease,-webkit-transform .2s;-o-transition:transform .2s,opacity .2s ease;transition:transform .2s,opacity .2s ease;transition:transform .2s,opacity .2s ease,-webkit-transform .2s}
.open-main-menu .icon-menu span:nth-of-type(3){margin-bottom:0}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(1){-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);margin-bottom:-11px}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(2){opacity:0}
.opened-mobile-main-menu .open-main-menu .icon-menu span:nth-of-type(3){-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.footer{background-color:#714b13;padding:20px 0}
.footer .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.footer-text{font-size:13px;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;letter-spacing:.1px;margin-bottom:15px}
.footer-logo-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.footer-logo-text{color:#fff;font-size:13px;font-family:"Open Sans";text-align:right;margin-right:15px;line-height:1.4;letter-spacing:.2px}
.footer-logo-img{width:141px;height:27px}
.bs-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.bs-item{color:#000;margin-bottom:3px}
.bs-item::after{content:'\203A';margin:0 10px;color:#000}
.bs-item:last-child::after{display:none}
.bs-item a{color:#000;text-decoration:none}
.bs-item a:hover{color:#000}
.pager{font-size:1rem;margin:0 0 30px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;color:#fff}
.pager .pager-item,.pager .pager-current{width:30px;height:30px;border:1px solid #000;color:#000;margin:0 3px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.pager .pager-item a,.pager .pager-current a{color:inherit;display:block;width:100%;height:100%;text-align:center;padding:4px;-webkit-transition:color 0 ease;-o-transition:color 0 ease;transition:color 0 ease}
.desktop .pager .pager-item:not(.disabled):not(.skip):hover,.desktop
.pager .pager-current:not(.disabled):not(.skip):hover{background-color:#000;color:#000}
.pager .pager-current{background-color:#000;color:#fff}
.pager .prev,.pager .next{display:none}
.pager .skip{border-color:transparent;margin:0;color:#000}
.pager .disabled{color:#000}
.pager .pager-previous,.pager .pager-next,.pager .pager-first,.pager .pager-last{display:none}
.form-submit,.btn{background-color:#000;border:1px solid transparent;color:#fff;text-transform:uppercase;padding:9px 24px 10px;display:inline-block;-webkit-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease}
.form-submit:hover,.btn:hover{color:#fff;background-color:#000}
.form-submit{font-size:1rem;padding:11px 24px 12px;min-width:150px}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-lightbox{position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;background:#000;-webkit-transition:opacity .5s ease;-o-transition:opacity .5s ease;transition:opacity .5s ease}
.slick-lightbox .slick-loading .slick-list{background-color:transparent}
.slick-lightbox .slick-prev{left:15px}
.slick-lightbox .slick-next{right:15px}
.slick-lightbox-hide{opacity:0}
.slick-lightbox-hide.slick-lightbox-ie{filter:alpha(opacity=0)}
.slick-lightbox-hide-init{position:absolute;top:-9999px;opacity:0}
.slick-lightbox-hide-init.slick-lightbox-ie{filter:alpha(opacity=0)}
.slick-lightbox-inner{position:fixed;top:0;left:0;width:100%;height:100%}
.slick-lightbox-slick-item{text-align:center;overflow:hidden}
.slick-lightbox-slick-item:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{position:absolute;bottom:0;left:0;text-align:center;width:100%;margin-bottom:20px}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{display:block;text-align:center}
.slick-lightbox-slick-item-inner{display:inline-block;vertical-align:middle;max-width:90%;max-height:90%}
.slick-lightbox-slick-img{margin:0 auto;display:block;max-width:90%;max-height:90%}
.slick-lightbox-slick-caption{margin:10px 0 0;color:#fff}
.slick-lightbox-close{position:absolute;top:15px;right:15px;display:block;height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:transparent;color:transparent;padding:0;border:none;z-index:10}
.slick-lightbox-close:focus{outline:none}
.slick-lightbox-close:before{font-family:"slick";font-size:20px;line-height:1;color:#fff;opacity:.85;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'×'}
.section-firstscreen{background-repeat:no-repeat;background-size:cover;background-position:right center;padding-top:32px;padding-bottom:32px}
.section-firstscreen .container{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.section-firstscreen .container::before{display:none}
.first-screen-left{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;padding-top:25px}
.first-screen-title{font-size:44px;font-weight:700;color:transparent;-webkit-background-clip:text;background-clip:text;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffd83b),to(#ffa226));background-image:-o-linear-gradient(top,#ffd83b,#ffa226);background-image:linear-gradient(to bottom,#ffd83b,#ffa226);margin-bottom:32px}
.first-screen-subtitle{color:#fff;font-size:24px;font-weight:700;background:-webkit-gradient(linear,right top,left top,from(transparent),color-stop(#b8831b),to(transparent));background:-o-linear-gradient(right,transparent,#b8831b,transparent);background:linear-gradient(to left,transparent,#b8831b,transparent);display:inline-block;padding:8px 30px;margin-bottom:40px}
.first-screen-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;max-width:600px}
.first-screen-item{position:relative;padding:46px 0;text-align:center}
.first-screen-item::after{content:'';position:absolute;left:calc(50% - 34px);top:0;width:68px;height:100px;background:url(../img/drop-icon.png) no-repeat center}
.first-screen-item .font-icon::before{font-size:30px;color:#ffaf00}
.first-screen-item-text{font-size:15px;color:#fff;text-align:center;margin-top:40px;letter-spacing:.7px;line-height:1.3}
.drop-wrap{position:relative}
.drop-wrap::before{position:absolute;content:'';width:292px;height:224px;background:url(../img/drops2.png) no-repeat center;bottom:-3%;right:-15%}
.site-form-wrapper{background-color:#fff;max-width:350px;max-height:430px;border:5px solid #5c3612;padding:18px 28px 28px;-ms-flex-preferred-size:100%;flex-basis:100%;position:relative;z-index:2;margin-left:3px}
.site-form-wrapper::before{position:absolute;content:'';width:403px;height:168px;background:url(../img/drops1.png) no-repeat center;top:21%;left:-15%;z-index:1}
.site-form-title{font-size:25px;font-weight:700;color:#4a2409;margin-bottom:9px;letter-spacing:.3px;text-align:center}
.site-form-text{color:#4a2409;font-size:15px;text-align:center;position:relative;margin-bottom:36px;letter-spacing:1.1px;line-height:1.3}
.site-form-text span{font-size:16px;font-weight:700;color:#f39e46}
.site-form-text::after{position:absolute;content:'';width:70px;height:1px;background-color:#f39e46;bottom:-16px;left:calc(50% - 35px)}
.site-form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;position:relative;z-index:1}
.input-text{border:none;outline:none;padding:11px 17px;background-color:rgba(113,75,19,0.05);border-radius:3px;margin-bottom:10px;color:#4a2409;font-size:13px;text-transform:uppercase;max-width:280px}
.input-text::-webkit-input-placeholder{color:#4a2409}
.input-text::-moz-placeholder{color:#4a2409}
.input-text:-ms-input-placeholder{color:#4a2409}
.input-text::-ms-input-placeholder{color:#4a2409}
.input-text::placeholder{color:#4a2409}
.request{border:none;outline:none;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffd83b),to(#ffa226));background-image:-o-linear-gradient(top,#ffd83b,#ffa226);background-image:linear-gradient(to bottom,#ffd83b,#ffa226);font-size:17px;font-weight:700;text-transform:uppercase;color:#000;border-radius:5px;border-bottom:3px solid #e2831e;padding:9px 15px;margin-top:5px;margin-bottom:8px;max-width:280px}
.request:hover{background:-webkit-gradient(linear,left top,left bottom,from(#ff9207),to(rgba(255,0,0,0))),#fdd549;background:-o-linear-gradient(top,#ff9207,rgba(255,0,0,0)),#fdd549;background:linear-gradient(180deg,#ff9207,rgba(255,0,0,0)),#fdd549;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s}
.site-form-text-ps{font-size:12px;color:#4a2409;opacity:.75;text-align:center;font-family:Roboto,Helvetica,Arial,sans-serif;letter-spacing:-.4px;line-height:1.4}
.site-form-text-ps > a{color:#4a2409;text-decoration:underline}
.section-products{background:#fff;padding-top:29px;padding-bottom:51px}
.products-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:37px}
.products-item{-ms-flex-preferred-size:49%;flex-basis:49%;max-width:49%;margin-bottom:35px;position:relative;vertical-align:middle}
.products-item-img-wrap{width:160px;height:250px;background:#fff;border:2px solid #f2f2f2;padding:2px 2px 15px;border-radius:5px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:20px}
.products-item-img-wrap .products-item-img{max-width:137px;max-height:147px;width:auto;height:auto;display:block;margin:0 auto}
.products-item-img{width:300px;display:block;margin:0 auto 16px}
.products-item-title{font-size:16px;color:#0a000f;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;text-align:center;letter-spacing:.2px;margin-bottom:20px;padding:0 12px}
.products-item-text-01,.products-item-text-02{font-size:14px;color:#292c2e;margin-bottom:10px}
.products-item-text-01 span,.products-item-text-02 span{font-size:16px;font-weight:600;color:#608ace}
.products-item-button{border:none;outline:none;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffd83b),to(#ffa226));background-image:-o-linear-gradient(top,#ffd83b,#ffa226);background-image:linear-gradient(to bottom,#ffd83b,#ffa226);font-size:17px;font-weight:700;text-transform:uppercase;color:#000;border-radius:5px;border-bottom:3px solid #e2831e;padding:9px 15px;width:147px;display:block;margin:5px auto 0;text-align:center}
.products-item-button:hover{background:-webkit-gradient(linear,left top,left bottom,from(#ff9207),to(rgba(255,0,0,0))),#fdd549;background:-o-linear-gradient(top,#ff9207,rgba(255,0,0,0)),#fdd549;background:linear-gradient(180deg,#ff9207,rgba(255,0,0,0)),#fdd549;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s}
.section-brands{background:url(../img/brands-bg.png) no-repeat top right 83% #f8f6f3;padding-top:30px;position:relative;padding-bottom:25px}
.section-brands h2.title{line-height:1.22;letter-spacing:0}
.section-brands .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.section-brands .site-form-wrapper{background:-webkit-gradient(linear,right bottom,left top,from(#4a2409),to(#ff9300));background:-o-linear-gradient(bottom right,#4a2409,#ff9300);background:linear-gradient(to top left,#4a2409,#ff9300);border-color:#fff;margin-top:5px;margin-left:-3px;padding:22px 30px;max-height:440px}
.section-brands .site-form-wrapper::before{display:none}
.section-brands .site-form-wrapper .site-form-title,.section-brands .site-form-wrapper .site-form-text,.section-brands .site-form-wrapper .site-form-text-ps{color:#fff}
.section-brands .site-form-wrapper .site-form-title > a,.section-brands .site-form-wrapper .site-form-text > a,.section-brands .site-form-wrapper .site-form-text-ps > a{color:#fff}
.section-brands .site-form-wrapper .input-text{background-color:#fff}
.brands-group-wrap{margin-top:31px;max-width:770px}
.brands-left{-ms-flex-preferred-size:70%;flex-basis:70%;padding-top:12px}
.brands-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.brands-group-bottom{margin-bottom:-12px}
.brands-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:38px;-webkit-transition:-webkit-transform .2s ease;transition:-webkit-transform .2s ease;-o-transition:transform .2s ease;transition:transform .2s ease;transition:transform .2s ease,-webkit-transform .2s ease;-ms-flex-preferred-size:30%;flex-basis:30%}
.brands-item:hover{-webkit-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
.brands-text{text-align:center;font-size:14px;font-family:Roboto,Helvetica,Arial,sans-serif;margin-top:-28px;margin-bottom:29px}
.brands-group-bottom .brands-item{-ms-flex-preferred-size:45%;flex-basis:45%}
.section-delivery{padding-top:53px}
.section-delivery h2.title span{font-size:18px;font-weight:700;font-family:Roboto,Helvetica,Arial,sans-serif;letter-spacing:.1px}
.delivery-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:48px}
.delivery-item{-ms-flex-preferred-size:33%;flex-basis:33%;border:2px solid #e2e3e4;border-radius:7px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:38px 55px;max-width:370px;max-height:233px;margin-bottom:38px}
.delivery-item .delivery-item__img{max-width:230px;max-height:134px}
.section-payment{background:url(../img/payment-bg.jpg) no-repeat center;padding-top:52px;padding-bottom:50px}
.section-payment h2.title{color:#fff}
.payment-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:71px}
.payment-item{-ms-flex-preferred-size:32%;flex-basis:32%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.payment-item .payment-img{max-width:79px;max-height:73px;margin-bottom:28px}
.payment-title{font-size:16px;font-family:Roboto,Helvetica,Arial,sans-serif;color:#fff;text-transform:uppercase;text-align:center;letter-spacing:0}
.section-oils{background-color:#fff;padding-top:63px;padding-bottom:18px}
.section-oils h2.title{letter-spacing:-.1px}
.oils-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:51px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.oils-item{-ms-flex-preferred-size:32%;flex-basis:32%;background-color:#fff;border:1px solid #e2e3e4;border-radius:7px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;max-height:420px;padding:42px 32px 0;margin-bottom:30px}
.oils-item__img{max-width:230px;max-height:146px;margin-bottom:43px}
.oils-item__title{font-size:16px;font-family:Roboto,Helvetica,Arial,sans-serif;letter-spacing:.1px;line-height:1.4;margin-bottom:7px}
.oils-item__text{color:#714b13;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;line-height:1.4;letter-spacing:0;margin-bottom:17px}
.oils-item__button{border:none;outline:none;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffd83b),to(#ffa226));background-image:-o-linear-gradient(top,#ffd83b,#ffa226);background-image:linear-gradient(to bottom,#ffd83b,#ffa226);font-size:17px;font-weight:700;text-transform:uppercase;color:#000;border-radius:5px;border-bottom:3px solid #e2831e;padding:9px 67px;margin-top:5px;margin-bottom:32px;max-width:230px}
.oils-item__button:hover{background:-webkit-gradient(linear,left top,left bottom,from(#ff9207),to(rgba(255,0,0,0))),#fdd549;background:-o-linear-gradient(top,#ff9207,rgba(255,0,0,0)),#fdd549;background:linear-gradient(180deg,#ff9207,rgba(255,0,0,0)),#fdd549;-webkit-transition:background 2s;-o-transition:background 2s;transition:background 2s}
.section-bottom-form{background:url(../img/bottom-form-bg.png) no-repeat top left 50%;background-size:cover;padding-top:36px;padding-bottom:12px}
.section-bottom-form h2.title{color:#f2b737;text-align:center;font-size:26px;line-height:1.3;letter-spacing:0;margin-bottom:10px}
.section-bottom-form .bottom-form-text{text-align:center;color:#fff;font-size:15px;font-family:Roboto,Helvetica,Arial,sans-serif;margin-bottom:21px}
.section-bottom-form .title-group{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.section-bottom-form .site-form-wrapper{max-width:570px;margin:20px auto 0;border:none;background:transparent;padding:18px 0 28px}
.section-bottom-form .site-form-wrapper::before{display:none}
.section-bottom-form .input-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:9px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.section-bottom-form .input-text{width:100%;max-width:none;background-color:#fff}
.section-bottom-form .input-question{width:100%!important;min-height:120px;margin-bottom:16px;max-width:none;font-family:Roboto,Helvetica,Arial,sans-serif}
.section-bottom-form .request{width:100%;max-width:none}
.section-bottom-form .site-form-text-ps{color:#fff;font-size:16px}
.section-bottom-form .site-form-text-ps > a{color:#fff}
.section-contacts{background-color:#f9f8f7;padding-top:38px;padding-bottom:30px;border-bottom:4px solid #fff}
.section-contacts h2.title{margin-top:6px;margin-bottom:30px}
.section-contacts .contacts-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-width:866px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.section-contacts .header-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:0 78px}
.section-contacts .header-item__right-first{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;font-size:17px;font-weight:700}
.section-contacts .header-item__right-first > a{margin-bottom:10px}
.section-contacts .header-item{display:-webkit-box;display:-ms-flexbox;display:flex;text-align:left;font-family:Roboto,Helvetica,Arial,sans-serif}
.section-contacts .header-item .font-icon{margin-right:12px}
.section-contacts .header-item .font-icon::before{font-size:20px;color:#ffaf00}
.section-contacts .header-item-location{margin-bottom:15px}
.section-contacts .header-item-right{margin-top:15px}
.section-map{height:400px}
.section-popup-form,.section-popup-thanks{position:fixed;z-index:30;top:0;bottom:0;right:0;left:0;display:none}
.opened-popup-thanks .section-popup-thanks{display:block}
.opened-popup-form .section-popup-form{display:block}
.section-popup-form .site-form-wrapper .site-form-title{text-transform:uppercase;position:relative;margin-bottom:40px}
.section-popup-form .site-form-wrapper .site-form-title::before{content:'';position:absolute;width:70px;height:1px;background-color:#f2b737;bottom:-15px;left:calc(50% - 35px)}
.section-popup-form .site-form-wrapper .input-text{margin-bottom:10px}
.section-popup-form .site-form-wrapper::before{display:none}
.popup-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100vw;height:100vh;overflow:auto}
.popup-overlay{position:absolute;top:0;bottom:0;right:0;left:0;background:#000;opacity:.5;cursor:pointer}
.popup-overlay:hover{opacity:.4}
@-webkit-keyframes fadeInDown {
from{-webkit-transform:translateY(-15px);transform:translateY(-15px);opacity:0}
to{-webkit-transform:none;transform:none;opacity:1}
}
@keyframes fadeInDown {
from{-webkit-transform:translateY(-15px);transform:translateY(-15px);opacity:0}
to{-webkit-transform:none;transform:none;opacity:1}
}
.popup-form-content{position:relative;max-width:350px;margin:0 auto;-webkit-animation:fadeInDown .3s ease;animation:fadeInDown .3s ease;-webkit-animation-fill-mode:both;animation-fill-mode:both;padding:0 0 30px;margin-top:-30px;width:340px;text-align:center}
.popup-close-icon{position:absolute;background:url(../img/popup-close-icon.png) no-repeat center;right:-3px;top:-50px;background-size:21px 21px;width:21px;height:21px;display:block;border:none}
.js-popup-form-call .form-title,.js-popup-form-price .form-title{padding:20px;font-size:18px}
.js-popup-form-call .form,.js-popup-form-price .form{padding-top:20px}
.js-popup-form-call .input-text,.js-popup-form-price .input-text{margin-bottom:0}
.js-popup-form-call .form-wrapper,.js-popup-form-price .form-wrapper{padding-bottom:20px}
.section-popup-thanks .popup-form-content{background:url(../img/popupt-thanks-bg.jpg) no-repeat center;background-size:cover;border:5px solid #fff;padding:20px;max-width:350px;width:350px}
.section-popup-thanks .popup-form-content .font-icon{margin:0 auto 20px;display:block}
.section-popup-thanks .popup-form-content .font-icon::before{font-size:46px;color:#fff}
.section-popup-thanks .popup-form-content .popup-form-title{font-size:32px;font-weight:900;text-transform:uppercase;color:#fff;margin-bottom:15px}
.section-popup-thanks .popup-form-content .popup-form-text{font-size:14px;color:#fff}
@media only screen and (min-width: 340px) {
.recaptcha{margin-left:0}
}
@media only screen and (min-width: 680px) {
figure{text-align:inherit}
}
@media only screen and (min-width: 768px) {
h1{font-size:2.375rem}
h2{font-size:2rem}
h2.title{font-size:34px}
.table-wrapper{border:0;background:transparent}
.table-wrapper table{background:none}
.site-header{z-index:10;position:fixed}
.header-top .container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.header-logo-wrap{margin-bottom:0}
.header-logo-img{max-width:199px;margin-right:26px}
.header-logo-text{font-size:14px}
.header-item{margin-left:60px;margin-right:0}
.header-item .font-icon{margin-right:10px}
.menu-group > li{margin-bottom:0;font-size:15px}
.menu-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.footer{padding:10px 0}
.footer .container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.footer-text{margin-bottom:0}
.section-firstscreen{padding-top:182px}
.section-firstscreen .container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-firstscreen .container::before{display:block;position:absolute;content:'';bottom:-20%;left:calc(64% - 90px);width:181px;height:269px;background:url(../img/firstscreen-barrel.png) no-repeat center;z-index:3}
.first-screen-left{-ms-flex-preferred-size:70%;flex-basis:70%;max-width:70%}
.first-screen-title{font-size:49px}
.first-screen-subtitle{font-size:27px;margin-bottom:80px}
.site-form-wrapper{-ms-flex-preferred-size:30%;flex-basis:30%}
.section-products{padding-top:52px}
.products-group{margin-top:7px}
.products-item{padding:32px 16px 25px;-ms-flex-preferred-size:24%;flex-basis:24%;max-width:24%;margin-bottom:-6px}
.products-item-img-wrap{width:250px;height:280px;padding:12px 12px 25px}
.products-item-img-wrap .products-item-img{max-width:197px;max-height:197px}
.products-item-title{white-space:nowrap;padding:0}
.products-item-button{width:219px}
.section-brands{background:url(../img/brands-bg.png) no-repeat top right -38% #f8f6f3}
.section-brands .container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-brands .site-form-wrapper{max-height:410px}
.brands-group-top{padding:0 20px}
.brands-item{margin-bottom:48px;-ms-flex-preferred-size:10%;flex-basis:10%}
.brands-text{margin-bottom:0;margin-left:-55px}
.brands-group-bottom .brands-item{-ms-flex-preferred-size:24%;flex-basis:24%}
.section-delivery{padding-bottom:59px}
.delivery-item{padding:88px 55px}
.section-oils{background:url(../img/oils-bg.png) no-repeat top -75% right -31% #fff;padding-bottom:88px}
.oils-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.oils-item{margin-bottom:0}
.section-bottom-form h2.title{font-size:32px}
.section-bottom-form .input-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-bottom-form .input-text{width:270px}
.section-bottom-form .site-form-text-ps{font-size:13px}
.section-contacts h2.title{margin-bottom:0}
.section-contacts .contacts-wrap{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.section-contacts .header-group{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding:0}
.section-contacts .header-item{margin-left:104px}
.section-contacts .header-item-location{margin-bottom:39px}
.section-contacts .header-item-right{margin-top:0}
.popup-form-content{padding:0 0 20px;margin-top:140px}
.popup-close-icon{right:-33px;top:-30px}
.section-popup-thanks .popup-form-content{max-width:400px;width:400px}
}
@media only screen and (min-width: 1024px) {
fieldset .form-item{width:calc(50% - 10px);margin:0 20px 20px 0}
fieldset .form-item:nth-child(2n){margin-right:0}
.menu{display:block}
.open-main-menu{display:none}
}
@media only screen and (min-width: 1025px) {
.active-menu{overflow-y:auto}
}
@media only screen and (max-width: 767px) {
.fixed-menu .menu-wrap{position:fixed;z-index:10;top:0;left:0;right:0}
.fixed-menu .menu-wrap .section-firstscreen{margin-top:60px}
.fixed-menu .section-firstscreen{margin-top:60px}
}