.section-404 {
	background-image: url(../img/404-bg-mob.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	padding-top: rem-calc(170);
	height: 100vh;

	@include media-q(min, 768) {
		background-image: url(../img/404-bg.png);
		padding-top: 0;
		padding-bottom: rem-calc(430);
	}

	&__header {

		@include media-q(min, 1024) {
			padding-top: rem-calc(56);
			margin-bottom: rem-calc(40);
			padding-left: 0;
		}

		@include media-q(min, 1025) {
			padding-left: rem-calc(190);
		}
	}

	&__menu-group {
		display: none;
		@include media-q(min, 1024) {
			display: block;
		}
	}

	.menu-item {
		display: inline-block;
		margin-right: rem-calc(50);
		transition: color .2s ease;

		@include media-q(min, 1280) {
			margin-right: rem-calc(100);
		}

		@include media-q(min, 1850) {
			margin-right: rem-calc(160);
		}

		&:hover {
			a {
			color: $c_green;
			}
		}
	}

	&__title {
		@include font-size(200);
		font-weight: $fw_bold;
		color: $c_light_green;

		@include media-q(min, 1024) {
			@include font-size(150);
		}

		@include media-q(min, 1025) {
			@include font-size(200);
		}

		@include media-q(min, 1600) {
			@include font-size(288);
		}
	}

	&__text {
		@include font-size(32);
		font-weight: $fw_bold;
		margin-top: rem-calc(-40);
		margin-bottom: rem-calc(30);
		margin-left: rem-calc(100);

		@include media-q(min, 1024) {
			margin-left: rem-calc(150);
			margin-top: rem-calc(-70);
			margin-bottom: rem-calc(55);
		}

		@include media-q(min, 1025) {
			@include font-size(36);
			margin-left: rem-calc(250);
			margin-top: rem-calc(-100);
		}

		@include media-q(min, 1600) {
			@include font-size(64);
		}
	}

	.btn__light {
		padding: rem-calc(16 100);
		width: 100%;

		@include media-q(min, 1024) {
			padding: rem-calc(16 100);
			width: auto;
		}

		@include media-q(min, 1280) {
			padding: rem-calc(16 200);
		}
	}
}