.brands {
	@extend %section-margin-bottom;

	&-group {
		position: relative;
		justify-content: space-between;

		.slick-dots {
			position: absolute;
			bottom: rem-calc(-40);
			left: 50%;
			transform: translateX(-50%);

			@include media-q(min, 1024) {
				bottom: rem-calc(-60);
			}
		}
	}

	&-item {
		text-align: center;
		margin: rem-calc(0 10);
		width: 20%;

		@include media-q(min, 1025) {
			margin: rem-calc(0 15);
			width: 22%;
		}

		@include media-q(min, 1200) {
			margin: rem-calc(0 28);
			width: 25%;
		}

		.slick-initialized & {
			width: auto !important;
		}

		&__img {
			border: 2px solid #668526;
			padding: rem-calc(20 0);
			margin-bottom: rem-calc(10);

			@include media-q(min, 1024) {
				margin-bottom: rem-calc(30);
			}

			@include media-q(min, 1280) {
				padding: rem-calc(20 50);
			}

			@include media-q(min, 1850) {
				padding: rem-calc(40 120);
			}

			img {
				margin: 0 auto;
				width: 130px;
			}
		}

		&__title {
			@include font-size(16);

			@include media-q(min, 1024) {
				@include font-size(24);
			}
		}
	}
}