.contacts {

	@include media-q(min, 1024) {
		background: linear-gradient(to right, $white 60%, $c_dark_blue 60%);
	}

	.hero-section__content-wrap {
		padding-top: 0;
	}

	.hero-section__title {
		@include font-size(46);
		font-weight: $fw_extrabold;
		color: $c_dark_blue;

		@include media-q(min, 1280) {
			@include font-size(72);
		}
	}

	.hero-section__content-info {
		color: $c_dark_blue;
		padding-top: rem-calc(30);
		padding-left: rem-calc(15);

		@include media-q(min, 1024) {
			width: 45%;
		}

		@include media-q(min, 1280) {
			padding-top: rem-calc(58);
			padding-right: rem-calc(100);
		}

		@include media-q(min, 1850) {
			width: 42%;
			padding-right: rem-calc(200);
		}

		p {
			color: $c_dark_blue;
			font-weight: $fw_semibold;
			margin-bottom: 0;
			@include font-size(24);
		}
	}

	.hero-section__contact-group {
		align-items: center;
		margin-bottom: rem-calc(70);

		.font-icon {
			margin-right: rem-calc(30);
			background-color: $c_light_green;
			width: 50px;
			height: 50px;
			transform: rotate(45deg);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;

			@include media-q(min, 1024) {
				margin-right: rem-calc(40);
				width: 25px;
				height: 25px;
			}

			@include media-q(min, 1281) {
				width: 50px;
				height: 50px;
			}

			@include media-q(min, 1850) {
				width: 80px;
				height: 80px;
			}

			&::before {
				transform: rotate(-45deg);
				@include font-size(24);

				@include media-q(min, 1024) {
					@include font-size(14);
				}

				@include media-q(min, 1281) {
					@include font-size(20);
				}

				@include media-q(min, 1850) {
					@include font-size(32);
				}
			}
		}
	}

	.hero-section__socials {
		margin-top: rem-calc(20);

		.font-icon {

			&::before {
				margin-left: 0;
			}
		}
	}

	.hero-section__form {
		background-color: $c_dark_blue;

		@include media-q(min, 1024) {
			width: 55%;
			padding: rem-calc(60 80);
		}

		@include media-q(min, 1850) {
			width: 58%;
			//padding: 1.875rem 2.5rem;
		}

		input {
			color: $white;

			&::placeholder {
				color: $white;
			}
		}

		.form-type-text input,
		.form-type-textarea,
		.form-type-checkbox {
			label {
				color: $white;
			}
		}

		&-content {
			.hero-section__title {
				color: $white;
				font-weight: $fw_semibold;
			}
		}
	}

	.form-actions {
		input[type='submit'] {
			@extend %btn__light;
		}
	}

	.hero-section__contact-text {
		text-align: center;

		@include media-q(min, 1024) {
			text-align: left;
		}
	}
}