.main-hero {
	@extend %section-margin-bottom;
	//margin-right: -15px;
	//margin-left: -15px;
	position: relative;

	@include media-q(min, 1024) {
		margin-right: 0;
		margin-left: 0;
	}

	.container {
		flex-direction: column-reverse;
		@include media-q(min, 1024) {
			flex-direction: row;
		}
	}

	&__wrap {
		align-items: center;
		flex-direction: column-reverse;

		@include media-q(min, 1024) {
			flex-direction: row;
		}
	}

	&__left,
	&__right {
		@include media-q(max, 1023) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__left {
		padding: rem-calc(0 15);

		@include media-q(min, 1024) {
			width: 44%;
			padding: rem-calc(0 40 80 0);
		}
	}

	&__right {
		background-color: $c_light_green;
		padding: rem-calc(40 15);
		margin-bottom: rem-calc(30);
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media-q(min, 1024) {
			width: 56%;
			padding: rem-calc(50);
			margin-bottom: 0;
		}

		@include media-q(min, 1850) {
			padding: rem-calc(80 50 15 50);
		}
	}

	.main-title {
		color: $c_dark_blue;
		margin-bottom: rem-calc(30);

		@include media-q(min, 1024) {
			@include font-size(36);
			text-align: left;
			margin-bottom: 2.25em;
		}
	}

	&__left-content {

		@include media-q(min, 1024) {
			min-height: rem-calc(428);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}