.request-hero {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	overflow: auto;
	background-color: $white !important;
	display: none;

	.active-request-popup & {
		display: block;
	}

	.mobile-active {
		margin-top: 20px;

		@include media-q(min, 768) {
			display: none;
		}
	}

	.home-container {
		flex-direction: column;
		min-height: 100%;

		@include media-q(min, 768) {
			flex-direction: row;
		}
	}

	&__left {
		width: 100%;

		@include media-q(min, 768) {
			width: 25%;
		}

		img {
			display: none;

			@include media-q(min, 768) {
				padding-top: 50px;
				display: block;
			}
		}
	}

	.request-text {
		@include font-size(24);
		color: $c_light_green;
		text-align: center;

		@include media-q(min, 768) {
			@include font-size(18);
		}

		@include media-q(min, 1280) {
			@include font-size(28);
		}

		@include media-q(min, 1600) {
			@include font-size(36);
		}
	}

	&.contacts {
		background: transparent;

		.hero-section {
			&__form {
				background: url("../img/request-recor.svg") no-repeat right $c_dark_blue;
				background-size: contain;
				margin-top: 20px;
				margin-left: 0;
				margin-right: 0;

				@include media-q(min, 768) {
					padding: rem-calc(30);
					margin-top: 50px;
					margin-bottom: 55px;
				}

				@include media-q(min, 1280) {
					padding-left: 13%;
					width: 75%;
				}

				@include media-q(min, 1600) {
					margin-top: 74px;
					//padding-top: rem-calc(120);
				}

				&-content {
					width: 100%;

					@include media-q(min, 1024) {
						width: 80%;
					}

					@include media-q(min, 1600) {
						width: 60%;
					}

					form {
						@include media-q(min, 768) {
							padding: 0 55px;
						}
					}
				}

				.form-type-text {
					input {
						color: $c_light_green;

						&::placeholder {
							color: $c_light_green;
						}
					}
				}

				.form-type-textarea textarea,
				.form-type-text,
				.form-type-checkbox label::before {
					border-color: $c_light_green;
				}

				.form-type-checkbox label::after {
					background-color: $c_light_green;
				}

				label {
					color: $c_light_green;
				}
			}

			&__title {
				@include font-size(40);
				text-align: center;
				color: $c_light_green;

				@include media-q(min, 1280) {
					@include font-size(50);
				}

				@include media-q(min, 600) {
					@include font-size(68);
				}
			}
		}
	}

	&__link {
		@include font-size(18);
		padding: rem-calc(23);
		width: 100%;
		background-color: $c_green;
		color: $white;
		text-align: center;
		transition: background-color .2s ease;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: $fw_semibold;

		@include media-q(min, 768) {
			height: 50px;
		}

		@include media-q(min, 1280) {
			@include font-size(24);
		}

		@include media-q(min, 1600) {
			height: 74px;
		}

		&::before {
			@include font-size(10);
			@extend %font-icon;
			@extend %icon-arrow-small;
			transform: rotate(90deg);
			display: block;
			margin-right: 12px;

			@include media-q(min, 1280) {
				@include font-size(14);
			}
		}

		&:hover {
			color: $white;
			background-color: $c_dark_blue;
		}
	}

	&-thanks.contacts {
		.btn__light {
			width: 100%;
		}

		.home-container {
			@include media-q(max, 767) {
				flex-direction: row;
			}
		}

		.hero-section__title {
			@include media-q(min, 1850) {
				font-size: 96px !important;
			}
		}

		.request-hero__left {
			@include media-q(max, 767) {
				display: none;
			}
		}

		.hero-section__form {
			display: flex;
			align-items: center;
			flex-direction: column;
			background: url("../img/thanks-bg.svg") no-repeat left $c_dark_blue;
			background-size: cover;
			height: auto;

			@include media-q(max, 767) {
				width: 100%;
			}

			@include media-q(max, 1023) {
				justify-content: center;
				margin-top: 0;
			}

			@include media-q(min, 768) {
				flex-direction: row;
			}
		}

		.hero-section__form-content {
			@include media-q(min, 1024) {
				width: 70% !important;
			}
			@include media-q(min, 1600) {
				width: 51% !important;
			}
		}

		.request-text {
			margin-bottom: rem-calc(93);
		}
	}
}