.section-contacts {
	background: #f2f6f9;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	padding-top: 47px;
	padding-bottom: 19px;

	.equipment-title {
		display: inline-block;
	}

	.header-cont {
		display: inline-flex;
		justify-content: center;
		margin-top: -9px;
		font-size: 14px;

		@include media-q(min, 768) {
			margin-left: 110px;	
		}
	}

	.header-address {
		max-width: 289px;
	}

	.header-group {
		margin: 0 31px;

	  @include media-q(min, 768) {
			margin: 0 81px;
		}
	}

	.header-item {
		padding-bottom: 24px;
	}

	.header-phone {
		display: flex;
		flex-direction: column;
		padding-bottom: 16px;

		a {
			margin-bottom: 5px;
		}
	}
}

.contacts-cont {
	display: flex;
	flex-direction: column;

	@include media-q(min, 768) {
		flex-direction: row;
	}
}

.contacts-social {
	display: inline-flex;
	flex-direction: column;
}

.contacts-social-text {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 18px;
}

.contacts-social-group {
	display: flex;
	justify-content: space-around;

	@include media-q(min, 768) {
		justify-content: space-between;	
	}
}

.contacts-shop {
	.equipment-title {
		color: #000;
		span {
			color: #d44623;
		}
	}
}






