.section-types {
	padding-top: 62px;
	padding-bottom: 15px;
	background: url(../img/types-bg.jpg) no-repeat center;
	background-size: cover;

	.equipment-title {
		margin-bottom: 4px;
	}
}

.types-text {
	font-size: 15px;
	margin-bottom: 36px;
}

.types-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 65px;
}

.types-item-text {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	padding-top: 86px;
}

.types-item-01 {
	background-image: url(../img/types-01.png);

	&:hover {
		background-image: url(../img/types-01-hover.png), linear-gradient(to top, #ce6428, #fc9721);
		// background-color: linear-gradient(#ce6428, #fc9721);
	}
}
.types-item-02 {
	background-image: url(../img/types-02.png);

	&:hover {
		background-image: url(../img/types-02-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-03 {
	background-image: url(../img/types-03.png);

	&:hover {
		background-image: url(../img/types-03-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-04 {
	background-image: url(../img/types-04.png);

	&:hover {
		background-image: url(../img/types-04-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-05 {
	background-image: url(../img/types-05.png);

	&:hover {
		background-image: url(../img/types-05-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-06 {
	background-image: url(../img/types-06.png);

	&:hover {
		background-image: url(../img/types-06-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-07 {
	background-image: url(../img/types-07.png);

	&:hover {
		background-image: url(../img/types-07-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-08 {
	background-image: url(../img/types-08.png);

	&:hover {
		background-image: url(../img/types-08-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}
.types-item-09 {
	background-image: url(../img/types-09.png);

	&:hover {
		background-image: url(../img/types-09-hover.png), linear-gradient(to top, #ce6428, #fc9721);
	}
}

.types-item {
	background-color: #fff;
	background-repeat: no-repeat;
	// background-size: 65px 65px;
  background-position: 50% 34%; 
	flex-basis: 390px;
	border: 1px solid #f2f6f9;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		padding-top: 47%;
		display: block;
	}

	&:hover {
		// background-image: linear-gradient(to top, #ce6428, #fc9721);

		.types-item-text {
			color: #fff;
		}
	}
}

.types-shop {
	background: #fff;

	.equipment-form-wrap {
		background: #f0f4f7;

		@include media-q(min, 768) {
			background: url(../img/equipment-shop-form-bg.jpg) no-repeat center;
		}
	}

	.equipment-form-title,
	.equipment-form-text,
	.equipment-form-text-ps {
		color: #000;

		a {
			color: #000;
			border-bottom: 1px solid #000;
		}
	}

	input {
		background-color: #fff;
	}

	.input-name {
		background: url(../img/input-name.png) no-repeat 96% 46% #fff;
		background-size: 12px 14px;
	}

	.input-phone {
		background: url(../img/input-phone.png) no-repeat 96% 46% #fff;
		background-size: 15px 14px;

	}

	.input-email {
		background: url(../img/input-email.png) no-repeat 96% 46% #fff;
		background-size: 16px 12px;
	}

	.request {
		border: none;
		background: #f29120;
		color: #fff;
	}

	.types-item-01 {
	background-image: url(../img/types-shop-01.png);

		&:hover {
			background-image: url(../img/types-shop-01-hover.png), linear-gradient(to top, #ce6428, #fc9721);
			// background-color: linear-gradient(#ce6428, #fc9721);
		}
	}

	.types-item-02 {
		background-image: url(../img/types-shop-02.png);

		&:hover {
			background-image: url(../img/types-shop-02-hover.png), linear-gradient(to top, #ce6428, #fc9721);
		}
	}
	.types-item-03 {
		background-image: url(../img/types-shop-03.png);

		&:hover {
			background-image: url(../img/types-shop-03-hover.png), linear-gradient(to top, #ce6428, #fc9721);
		}
	}
	.types-item-04 {
		background-image: url(../img/types-04.png);

		&:hover {
			background-image: url(../img/types-04-hover.png), linear-gradient(to top, #ce6428, #fc9721);
		}
	}
	.types-item-05 {
		background-image: url(../img/types-shop-05.png);

		&:hover {
			background-image: url(../img/types-shop-05-hover.png), linear-gradient(to top, #ce6428, #fc9721);
		}
	}
	.types-item-06 {
		background-image: url(../img/types-shop-06.png);

		&:hover {
			background-image: url(../img/types-shop-06-hover.png), linear-gradient(to top, #ce6428, #fc9721);
		}
	}
}




