//- ---------------------------------------------------------------------------
//- Variables

-
	var main_menu = [
		{
			title: 'Главная',
			href: 'home',
		},
		{
			title: 'Преимущества',
			href: 'advantages',
		},
		{
			title: 'Услуги',
			class: 'has-children',
			href: 'services',
			items: [
				{
					title: 'Услуга',
					href: '#',
				},
				{
					title: 'Услуга',
					href: '#',
				},
			]
		},
		{
			title: 'Цены',
			href: 'services',
		},
		{
			title: 'Врачи',
			href: 'doctors',
		},
		{
			title: 'Видео',
			href: 'video',
		},
		{
			title: 'Отзывы',
			href: 'reviews',
		},
		{
			title: 'Контакты',
			href: 'contacts',
		}
	];

-
	var advantages_items = [
		{
			icon: 'icon-advantages-material',
			text: 'Новейшие материалы и методики работы'
		},
		{
			icon: 'icon-advantages-qualification',
			text: 'Постоянное повышение квалификации'
		},
		{
			icon: 'icon-advantages-equipment',
			text: 'Новейшее оборудование'
		},
		{
			icon: 'icon-advantages-treatment',
			text: 'Многоступенчатая  обработка кабинетов, индивидуальный набор инструментария \n'
		},
		{
			icon: 'icon-advantages-staff',
			text: 'Высококвалифициронный персонал, есть все врачи всех специальностей'
		},
		{
			icon: 'icon-advantages-approach',
			text: 'Индивидуальный подход к каждому пациенту, лечение без боли и страха'
		}
	]

-
	var cost_items = [
		{
			text: 'Лечение кариеса',
			price: 'от  1 500  руб.'
		},
		{
			text: 'Лечение пультита',
			price: 'от  3 850  руб.'
		},
		{
			text: 'Периодонтит',
			price: 'от  4 450  руб.'
		},
		{
			text: 'Ортопедическое лечение',
			price: 'от  4 000  руб.'
		},
		{
			text: 'Хирургия и имплантация',
			price: 'от  25 000  руб.'
		},
		{
			text: 'Гигиена полости рта',
			price: 'от  3 000  руб.'
		},
		{
			text: 'Ортодонтическое лечение',
			price: 'от  40 000  руб.'
		}
	];

-
	var doctors_items = [
		{
			name: 'Поздний <br> Евгений Юрьевич',
			position: 'главный врач, стоматолог \n' +
							'универсал, член общества \n' +
							'ортодонтов России',
		},
		{
			name: 'Новикова <br> Кристина Сергеевна',
			position: 'врач-стоматолог терапевт, пародонтолог, эндодонт работает \n' +
							'на микроскопе',
		},
		{
			name: 'Зиганьшина <br> Ольга Викторовна',
			position: 'врач стоматолог терапевт, \n' +
							'дет врач, ортодонт',
		},
		{
			name: 'Кийко <br> Анастасия Алексеевна',
			position: 'врач-космететолог, \n' +
							'челюстно-лицевой хирург',
		},
		{
			name: 'Фомичева <br> Елена Вениаминовна',
			position: 'косметолог-эстетист',
		},
		{
			name: 'Сеидов <br> Тогрул Акперович',
			position: 'врач стоматолог, хирург, \n' +
							'ортопед',
		},
		{
			name: 'Татаринцев <br> Герман Эдуардович',
			position: 'врач стоматолог, \n' +
							'ортокраниодонт',
		},
		{
			name: 'Денисов <br>Максим Анатольевич',
			position: 'врач стоматолог, \n' +
							'ортокраниодонт',
		},
	]