.breadcrumbs {
  padding-top: 20px;
  margin-bottom: 20px;

  @include media-q(min, 768) {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}

.bs-list {
  display: flex;
  flex-wrap: wrap;
}

.bs-item {
  color: $c_blue;

  &::after {
    content: '\203A';
    margin: 0 10px;
    color: $c_blue;
  }

  a {
    @include links($c_blue, $c_blue);
    font-size: 16px;
  }
}
