.header {
	padding-top: 20px;
	position: relative;
	z-index: 2;
	background: transparent;

	@include media-q(min, 1280) {
		padding-top: 30px;
	}

	.container {
		align-items: center;
		justify-content: space-between;
	}

	&__logo {

		@include media-q(min, 1280) {
			margin-right: 2%;
		}

		@include media-q(min, 1280) {
			margin-right: 5%;
		}

		svg {
			max-width: 150px;

			@include media-q(min, 768) {
				width: 100%;
				max-width: none;
			}
		}
	}

	&__phone {
		font-weight: $f_medium;
		letter-spacing: 2px;
		font-size: 18px;
		transition: color .2s ease;

		@include media-q(max, 1279) {
			display: none;
		}

		@include media-q(min, 1366) {
			font-size: 16px;
		}

		@include media-q(min, 1920) {
			font-size: 24px;
		}

		&:hover {
			color: $c_blue;
		}
	}

	&__cart {

		&-mob {
			display: block;
			position: relative;

			span {
				padding: 0 4px;
				right: -9px;
				top: -10px;
			}

			@include media-q(min, 1280) {
				display: none;
			}
		}

		&-desktop {
			display: none;

			@include media-q(min, 1280) {
				display: flex;
				align-items: center;
				position: relative;
			}
		}

		p {
			@include font-size(14);
			font-weight: $f_medium;
			letter-spacing: 2px;
			margin-bottom: 0;
			margin-right: 10px;
		}

		span {
			position: absolute;
			font-size: 14px;
			font-weight: $f_medium;
			color: $white;
			background-color: $red;
			border: 2px solid $white;
			box-sizing: border-box;
			border-radius: 50%;
			top: -12px;
			right: 0;

			@include media-q(min, 768) {
				right: -17px;
				padding: 2px 7px;
				font-size: 18px;
			}
		}

		.font-icon-cart {
			margin-right: 10px;

			@include media-q(min, 768) {
				margin-right: 0;
			}

			&:before {
				font-size: 32px;
			}
		}
	}

	&__signin {

		@include media-q(max, 1279) {
			order: -1;
			margin-bottom: 18px;
			display: flex;
			align-items: center;
		}

		span {
			display: none;

			@include media-q(max, 1279) {
				display: inline-block;
				font-size: 24px;
			}
		}

		.font-icon-user {

			@include media-q(max, 1279) {
				margin-right: 10px;
			}

			&::before {
				font-size: 40px;

				@include media-q(max, 1279) {
					font-size: 30px;
				}
			}
		}
	}

	&__menu-icon {
		display: block;
		cursor: pointer;

		@include media-q(min, 1280) {
			display: none;
		}

		span {
			width: 30px;
			height: 1px;
			background-color: $c_blue;
			display: block;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	.toggle-mobile-menu {
		@include font-size(16);
		font-weight: $f_medium;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		height: 30px;
		position: static;
		z-index: 10;
		text-transform: uppercase;

		@extend %reset-button;

		@include media-q(min, 1024) {
			display: none;
		}

		span {
			display: block;
			width: 50px;
			height: 2px;
			background-color: $c-blue;
			margin-right: 20px;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: $c-blue;
			}

			&::before {
				transform: translateY(-11px);
			}

			&::after {
				width: 40px;
				transform: translateY(10px);
			}
		}
	}

	&-content {
		display: none;

		@include media-q(min, 1280) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}

	@keyframes mobileMenuFadeIn {
		from {
			transform: translateX(-30px);
			opacity: 0;
		}
		to {
			transform: none;
			opacity: 1;
		}
	}

	&__socials {

		a {
			padding-right: 12px;
		}
	}

	&__land-switcher {
		margin-top: auto;

		@include media-q(min, 768) {
			margin-top: 20%;
		}

		@include media-q(max, 1279) {
			margin-bottom: 25px;
		}

		@include media-q(min, 1280) {
			margin-top: inherit;
		}

		a {
			@include media-q(max, 1279) {
				font-size: 18px;
				font-weight: $f_bold;
				text-decoration: underline;
				text-underline-offset: .3rem;
				color: $c_blue;
				margin: 0 5px;
				display: inline-block;

				&.active {
					color: $c_dark;
				}
			}
		}
	}
}

.close-menu {
	display: none;
}

.active-mobile-menu {

	.header {
		background: $white;
	}

	.container {
		justify-content: center;
	}

	.header-content {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 40px 15px 30px;
		background-color: $white;
		width: 100%;
		height: 100vh;

		@include media-q(min, 768) {
			height: auto;
		}
	}

	.header__cart {
		display: none;
	}

	.close-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px;

		.font-icon-close {
			&::before {
				font-size: 15px;
			}
		}
	}

	.header__menu-icon {
		display: none;
	}
}