.header {
	&__nav {

		&-list {
			display: flex;

			@include media-q(max, 1279) {
				display: block;
			}
		}

		&-catalog {

			&-item {
				color: $c_green;
				font-weight: $f_medium;
				display: flex;
				align-items: center;
				font-size: 18px;

				@include media-q(max, 1279) {
					font-size: 24px;
					color: $c_dark;
					font-weight: $f_normal;
					margin-bottom: 18px;
				}

				@include media-q(min, 1920) {
					font-size: 24px;
				}

				.font-icon-arrow-small {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 13px;
					margin-top: 3px;

					&::before {
						font-size: 7px;
					}
				}
			}

			&-wrap {
				display: none;

				.container {
					display: flex;
					justify-content: center;
					align-items: baseline;
				}
			}

			&-title {
				font-size: 36px;
				font-weight: $f_medium;
				margin-bottom: 40px;
				display: block;

				@include media-q(max, 1279) {
					font-size: 24px;
					margin-bottom: 30px;
					display: flex;
					align-items: center;
				}

				&.active {
					color: $c_blue;

					.font-icon-arrow {
						color: $c_blue;
						transform: rotate(180deg);
						margin-bottom: -20px;

						@include media-q(min, 1280) {
							margin-bottom: -28px;
						}
					}
				}

				.font-icon-arrow {
					margin-left: 15px;
					margin-top: -7px;

					&::before {
						font-size: 7px;
					}
				}

				.font-icon {
					margin-right: 20px;

					@include media-q(max, 1279) {
						margin-right: 10px;
					}

					&::before {
						font-size: 56px;

						@include media-q(max, 1279) {
							font-size: 30px;
						}
					}
				}
			}

			&-list {
				padding-left: 118px;
				padding-right: 12px;

				@include media-q(max, 1279) {
					padding-left: 63px;
				}
			}

			&.active {
				.header__nav-catalog-wrap {
					background-color: $white;
					display: block;

					@include media-q(max, 1279) {
						.container {
							display: block;
						}
					}

					@include media-q(min, 1280) {
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						padding: 20px 22%;
					}
				}

				.header__nav-catalog-item {
					color: $c_green;
					font-weight: $f_medium;
				}
			}

			&-content {
				margin-right: 11%;
			}

			&-group {
				display: none;

				@include media-q(max, 1279) {
					&.active {
						display: block;
					}
				}

				@include media-q(min, 1280) {
					display: flex;
				}
			}

			&-showmore {
				color: $c_blue;
				text-decoration: underline;
				font-weight: $f_medium;
				font-size: 24px;

				@include media-q(max, 1279) {
					margin-bottom: 30px;
					margin-left: -20px;
					display: block;
					margin-top: -8px;
				}
			}
		}
	}

	.catalog-item {
		font-size: 18px;
		margin-bottom: 30px;
		position: relative;
		display: block;
		transition: color .2s ease;

		@include media-q(max, 1279) {
			font-size: 24px;
		}

		@include media-q(min, 1441) {
			font-size: 24px;
		}

		&::before {
			content: '';
			position: absolute;
			left: -40px;
			top: calc(50% - 10px);
			width: 20px;
			height: 20px;
			background-color: $c_dark;
			border-radius: 50%;
			transition: background-color .2s ease;

			@include media-q(max, 1279) {
				width: 10px;
				height: 10px;
				left: -20px;
				top: calc(50% - 5px);
			}
		}

		&:hover {
			color: $c_blue;

			&::before {
				background-color: $c_blue;
			}
		}
	}

	.menu-item {

		@include media-q(max, 1279) {
			font-size: 24px;
			display: block;
			margin-bottom: 18px;
		}

		a {
			font-size: 18px;
			padding: rem-calc(5);

			@include media-q(max, 1279) {
				font-size: 24px;
				padding: 0;
				margin-bottom: 18px;
				display: block;
			}

			@include media-q(min, 1920) {
				padding: rem-calc(20);
				font-size: 24px;
			}
		}
	}
}