.slick-arrow,
.slick-dots li button {
	@extend %reset-button;
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 20px;

	@include media-q(min, 768) {
		margin-top: 40px;
	}

	@include media-q(min, 1441) {
		margin-top: 60px;
	}

	li {
		margin: 0 3px;

		button {
			font-size: 0;
			width: 35px;
			height: 7px;
			border: 1px solid $c_dark;

			@include media-q(min, 768) {
				width: 60px;
			}
		}

		&.slick-active {
			button {
				background-color: $c_dark;
			}
		}
	}
}

.slick-arrow {
	font-size: 0;
	background: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	border: 1px solid $c_green;
	padding: 15px;

	@include media-q(min, 1441) {
		padding: 17px 20px;
	}

	&::after {
		@include font-size(18);
		color: $c_green;

		@extend %font-icon;
		@extend %icon-slider-arrow;

		@include media-q(min, 1441) {
			@include font-size(25);
		}

		&:hover {
			color: $c_green;

		}
	}
}

.slick-prev {
	right: 0;
	&::after {
	}
}

.slick-next {
	left: 0;
	&::after {
		transform: rotate(-180deg);
	}
}

