//- ---------------------------------------------------------------------------
//- Variables

-
  var collections_group = [
    {
      img: 'collection-01.png',
      title: 'Selva',
    },
    {
      img: 'collection-02.png',
      title: 'Expedition',
    },
    {
      img: 'collection-03.png',
      title: 'Atelier',
    },
    {
      img: 'collection-04.png',
      title: 'Paleo',
    },
    {
      img: 'collection-05.png',
      title: 'Vanguard',
    },
    {
      img: 'collection-06.png',
      title: 'Cantalia',
    },
    {
      img: 'collection-07.png',
      title: 'Timber',
    },
    {
      img: 'collection-08.png',
      title: 'Wildwalk',
    },
  ]

-
  var brands_group = [
    {
      img: 'brand-01.png',
      title: 'omexco',
    },
    {
      img: 'brand-02.png',
      title: 'arte',
    },
    {
      img: 'brand-03.png',
      title: 'khroma',
    },
    {
      img: 'brand-04.png',
      title: 'coleson',
    },
    {
      img: 'brand-05.png',
      title: 'elitis',
    },
    {
      img: 'brand-06.png',
      title: 'exlusive',
    },
    {
      img: 'brand-07.png',
      title: 'the trend setter',
    },
    {
      img: 'brand-08.png',
      title: 'hookedonwalls',
    },
  ]

-
  var products_group = [
    {
      img: 'product-01.jpg',
      title: 'Лепнина Orac Decor',
    },
    {
      img: 'product-02.jpg',
      title: 'Фрески Affresco',
    },
    {
      img: 'product-03.jpg',
      title: 'Декоративные штукатурки',
    },
    {
      img: 'product-04.jpg',
      title: 'Краски',
    },
    {
      img: 'product-05.jpg',
      title: 'Шторы и текстильные принадлежности',
    },
    {
      img: 'product-06.jpg',
      title: 'Зеркала',
    },
  ]