header.header
  .container.flex
    a(href="/").header__logo
      i.font-icon.icon-logo
    include main-menu
    a.header__phone(href="tel: +1 347-456-375")
      i.font-icon.icon-phone
      | +1 347-456-375

