-
  var menu = [
    {
      title: 'advantages',
      href: '#advantages',
    },
    {
      title: 'price',
      href: '#',
    },
    {
      title: 'objects',
      href: '#',
    },
    {
      title: 'FAQ',
      href: '#',
    },
    {
      title: 'contacts',
      href: '#',
    },
  ];


.menu-wrap
  a.open-main-menu.icon-menu-inside(href='#')
    i.icon-menu
      span
      span
      span
  nav.header__nav
    ul.header__nav-list.flex
      each item in menu
        li.menu-item
          a(href=item.href)=item.title
