//-
- var show_breadcrumbs = false

-
    var category_tabs = [
        {
            nav_item: 'Все 54'
        },
        {
            nav_item: 'Бюджетный 24'
        },
        {
            nav_item: 'Средний 12'
        },
        {
            nav_item: 'Высокий 7'
        },
        {
            nav_item: 'Экспертный 3'
        }
    ]

-
    var product_list = [
        {
            product_img: 'product-01.png',
            product_title: 'DC-90',
            product_price: '1 529 999 ₽',
        },
        {
            product_img: 'product-02.png',
            product_title: 'Resona i9',
            product_price: '2 529 999 ₽',
        },
        {
            product_img: 'product-03.png',
            product_title: 'MX8',
            product_price: '1 254 999 ₽',
        },
        {
            product_img: 'product-04.png',
            product_title: 'DC-80',
            product_price: '1 865 999 ₽',
        },
        {
            product_img: 'product-01.png',
            product_title: 'DC-90',
            product_price: '1 529 999 ₽',
        },
        {
            product_img: 'product-02.png',
            product_title: 'Resona i9',
            product_price: '2 529 999 ₽',
        },
        {
            product_img: 'product-03.png',
            product_title: 'MX8',
            product_price: '1 254 999 ₽',
        },
        {
            product_img: 'product-04.png',
            product_title: 'DC-80',
            product_price: '1 865 999 ₽',
        },
    ]