// -----------------------------------------------------------------------------
// All icons font set
@font-face {
  font-family: 'font-icon';
  src: url('../f-icons/f-icons.eot');
  src: url('../f-icons/f-icons.eot?#iefix') format('embedded-opentype'),
  url('../f-icons/f-icons.woff') format('woff'),
  url('../f-icons/f-icons.ttf') format('truetype'),
  url('../f-icons/f-icons#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

%font-icon {
  @include font-size(30);
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons set
%icon-search {
  content: '\e900';
}

%icon-zoom {
  content: '\e90d';
}

%icon-mail {
  content: '\e901';
}

%icon-pdf {
  content: '\e902';
}

%icon-phone {
  content: '\e903';
}

%icon-user-plus {
  content: '\e904';
}

%icon-apple {
  content: '\e909';
}

%icon-paper {
  content: '\e90a';
}

%icon-r-arr {
  content: '\e90b';
}

%icon-warning {
  content: '\e90c';
}

%icon-cog-mgf {
  content: '\e905';
}

%icon-doc {
  content: '\e906';
}

%icon-heart {
  content: '\e907';
}

%icon-info {
  content: '\e908';
}

%icon-ok {
  content: '\e90e';
}

// Custom arrow icon which created with pure styles
%icon-arrow-r {
  content: '';
  width: 10px;
  height: 10px;
  border: solid $white;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  display: inline-block;
  transform-origin: center;
}

.icon-arrow-long:before {
  content: "\e90f";
  color: #dbe8ad;
}

%icon-product-tab-arrow,
.icon-product-tab-arrow:before {
  content: "\e90e";
  color: #dbe8ad;
}

.icon-internet:before {
  content: "\e90d";
}

.icon-phone-2:before {
  content: "\e90d";
}

.icon-instagram-logo:before {
  content: "\e90a";
}

.icon-telegram:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}

%icon-arrow-small,
.icon-arrow-small:before {
  content: "\e908";
  color: #dbe8ad;
}

%icon-search,
.icon-search:before {
  content: "\e909";
  color: #dbe8ad;
}

.icon-location:before {
  content: "\e905";
}
.icon-mail-contacts:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}

.icon-arrows-down:before {
  content: "\e900";
  color: #fff;
}
.icon-facebook:before {
  content: "\e901";
  color: #dbe8ad;
}
.icon-instagram:before {
  content: "\e902";
  color: #dbe8ad;
}
.icon-linkedin:before {
  content: "\e903";
  color: #dbe8ad;
}
.icon-mail:before {
  content: "\e904";
  color: #dbe8ad;
}
