//-----------------------------------------------------------------------------
// Fonts variable(s).
$sans: Helvetica, Arial, sans-serif;
$ff_raleway: 'Raleway', $sans;

// Font weight variants
$fw_thin: 100;
$fw_light: 300;
$fw_normal: 400;
$fw_medium: 500;
$fw_semibold: 600;
$fw_bold: 700;
$fw_extrabold: 900;

//-----------------------------------------------------------------------------
// Image paths
$images: '../img/';

//-----------------------------------------------------------------------------
// Main theme colors

// Default colors
$white: #fff;
$black: #000;

// Main site color palette
$c_dark_green: #071F27;
$c_light_green: #DBE8AD;
$c_green: #668526;
$c_dark_main: #0B3442;
$c_grey: #C4C4C4;
$c_dark_blue: #0A2B36;
$c_dark: #000C0F;


// These colors for the Drupal messages style
// but also could be used for the other purposes
$red: #f4371e;
$green: #56c02b;
$orange: #f87c00;

//-----------------------------------------------------------------------------
// Other settings

// Font sizes
// Site base font size and line height
$fs-base: 16px;
$line-height-base: 1.14;

// Headings line-height
$headings-line-height: 1.1;
