.footer {
  background-color: #f6f8f9;
  padding: 15px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-text {
  font-size: 13px;
  color: $black;
}

.footer-develop {
  height: 27px;
  width: auto;
}
