.site-header {
  width: 100%;
  position: fixed;
  z-index: 10;

  @include media-q(min, 768) {
    z-index: 10;
    background: transparent;
  }
}

.header-top {
  background-color: $white;
  z-index: 10;
  position: relative;

  @include media-q(min, 768) {
  }

    .container {

    @include media-q(min, 768) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.header-item {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 15px;


  @include media-q(min, 768) {
    margin-bottom: 0;
  }

  .font-icon {
    margin-right: 15px;

    &::before {
      font-size: 18px;
    }
  }

  &__phone {
    font-size: 20px;
    font-weight: $f_bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-wrap {
  margin-bottom: -1px;

  .container {
    padding: 0;
  }

  @include media-q(min, 768) {
  }

    //.fixed-menu & {
  //  @include media-q(max, 767) {
  //    position: fixed;
  //    z-index: 10;
  //    top: 0;
  //    left: 0;
  //    right: 0;
  //  }
  //
  //  .section-firstscreen {
  //    @include media-q(max, 767) {
  //      margin-top: 60px;
  //    }
  //  }
  //}
}

.menu-item {
  color: $c_main;
  font-size: 14px;
  font-weight: $f_normal;
  margin-left: 11px;
  padding: 13px 0;
  letter-spacing: -0.3px;
  margin-right: 45px;

  @include media-q(min, 768) {
  }

    &:hover {
  }
}

.menu-group {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
  padding: 15px 0;

  &>li {
    font-size: 18px;
    padding: 5px 0;

    @include media-q(min, 768) {
      font-size: 15px;
    }
  }

  &>li>a {
    font-size: 15px;

    &:hover {
    }
  }

  @include media-q(min, 768) {
    flex-direction: row;
  }
}

.menu {
  display: none;

  @include media-q(min, 1024) {
    display: block;
  }

  .opened-mobile-main-menu & {
    display: block;
  }
}

.open-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 60px;

  @include media-q(min, 1024) {
    display: none;
  }

  .icon-menu {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 6px;
      transition: transform .2s, opacity .2s ease;
      background-color: #000;

      &:nth-of-type(3) {
        margin-bottom: 0;
      }

      .opened-mobile-main-menu & {
        &:nth-of-type(1) {
          transform: rotate(-135deg);
          margin-bottom: -11px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(135deg);
        }
      }
    }
  }
}

.fixed-menu {
  .section-firstscreen {
    @include media-q(max, 767) {
      margin-top: 60px;
    }
  }
}