section.section-brands#brands
	.container
		.brands-left
			.title-wrap
				h2.title В наличии большой ассортимент масел <br>#[span различных брендов]
				.title-group
					.title-item.title-item1
					.title-item.title-item2
					.title-item.title-item3
			.brands-group-wrap
				.brands-group.brands-group-top
					each item in brands_group_top
						.brands-item
							img.brands-img(src='img/' + item.img alt=item.title)
				.brands-group.brands-group-bottom
					each item in brands_group_bottom1
						.brands-item
							img.brands-img(src='img/' + item.img alt=item.title)
				.brands-group.brands-group-bottom
					each item in brands_group_bottom2
						.brands-item
							img.brands-img(src='img/' + item.img alt=item.title)
			.brands-text ...и многие другие

		.site-form-wrapper.inview.fade-in-left
			.site-form-top
				h3.site-form-title Подберем Вам автомасла
				p.site-form-text по цене до #[span 20%] ниже <br>среднерыночной

			form.site-form.js-form-submit
				input(type="hidden" name="recaptcha_response" id="recaptchaResponse")
				input.input-text.input-name(type="text" placeholder='Ваше имя:')
				input.input-text.input-phone(type="text" placeholder='Ваш телефон:')
				input.input-text.input-volume(type="text" placeholder='Примерный объем:')
				input.request.yandex-metrika-event(type="submit" value='ОТПРАВИТЬ' data-goal='otpravit-verh')
				.form-errors-cont
			p.site-form-text-ps Нажимая на кнопку отправить, вы даете согласие <br>на обработку своих #[a(href="#") персональных данных.]
