section.section-contacts#contacts
	.container
		.contacts-wrap
			h2.title наши <br>контакты
			.header-group
				.header-item-left
					.header-item
						i.font-icon.icon-phone
						.header-item__right-first
							a(href="tel:+7 (812) 425-30-55") +7 (812) 425-30-55
							a(href="tel:+7 (812) 907-03-88") +7 (812) 907-03-88
					.header-item
						i.font-icon.icon-mail
						a(href="mailto: office@oilpost.ru") office@oilpost.ru


				.header-item-right
					.header-item.header-item-location
						i.font-icon.icon-location
						p 198320 м, офис 346
					.header-item
						i.font-icon.icon-clock
						p Время работы: Пн.-Пт. 9.00-18.00


