section.section-delivery#delivery
	.container
		.title-wrap
			h2.title Удобные способы доставки <br>#[span поможем Вам выбрать наиболее выгодный способ доставки среди доступных ТК]
			.title-group
				.title-item.title-item1
				.title-item.title-item2
				.title-item.title-item3
		.delivery-group
			each item in delivery_group
				.delivery-item
					img.delivery-item__img(src='img/' + item.img alt=item.title)

