section.section-payment#payment
	.container
		.title-wrap
			h2.title способы оплаты
			.title-group
				.title-item.title-item1
				.title-item.title-item2
				.title-item.title-item3
		.payment-group
			.payment-item
				img.payment-img(src='img/payment-01.png')
				h3.payment-title Безналичный расчет
			.payment-item
				img.payment-img(src='img/payment-02.png')
				h3.payment-title Оплата картой
			.payment-item
				img.payment-img(src='img/payment-03.png')
				h3.payment-title Наличный расчет