section.section-popup-thanks.popup-thanks-call.section-popup-form
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				i.font-icon.icon-check
				h2.popup-form-title спасибо за заявку!
				p.popup-form-text Мы перезвоним Вам в течение 5 минут